html,
body,
.-elv-media-wallet-frame,
.app,
.wallet-target,
.page-container {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  margin: 0;
  min-height: 100%;
  height: 100%;
  padding: 0;
  width: 100%;
  max-width: 100vw;
}

.lds-default__element {
  background: gray!important;
}

body {
  align-items: center;
  display: flex;
  justify-content: center;
}

h1,
h2 {
  display: block;
  text-align: center;
  margin: 10px 0;
}

h1 {
  font-size: 32px;
}

h2 {
  font-size: 20px;
}

pre {
  white-space: pre-wrap;
  background: #EEE;
  padding: 40px;
}

code {
  font-family: monospace;
}

select {
  border: 1px solid gray;
  text-align: center;
  border-radius: 5px;
  cursor: pointer;
  margin: 20px 0;
  padding: 5px 20px;
}

.description {
  margin: 15px auto;
  max-width: 800px;
  text-align: center;
}

.section {
  margin: 20px 0;
}

.wallet-route {
  width: 75%;
  margin: 50px auto 0;
  padding: 15px;
  font-size: 14px;
  color: white;
  letter-spacing: 0.5px;
  background: black;
}

.wallet-target {
  display: block;
  height: 75%;
  margin: 50px auto;
  width: 90%;
  //height: 2250px;
}

.-elv-media-wallet-frame {
  border: 0;
  min-height: 75vh;
  height: 100%;
  outline: 0;
  //height: 2250px;
}

@media screen and (max-width: 600px) {
  .wallet-route,
  .wallet-target,
  .-elv-media-wallet-frame {
    width: 100vw;
  }
}

.button-row {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: auto;
  margin-bottom: 10px;
  width: 75%;

  p {
    margin-right: 10px;
  }

  button {
    background-color: #fff;
    border: 1px solid #d3d3d3;
    border-radius: 0;
    cursor: pointer;
    flex: 1 1 auto;
    outline: 0;
    padding: 3px 10px;
    max-width: 400px;

    &.active,
    &:hover {
      background-color: #6495ed;
      color: #fff;
    }

    &:not(:last-child) {
      margin-right: 5px;
    }
  }
}

.client-events,
.client-results {
  background-color: #fff;
  border: 1px solid #d3d3d3;
  display: block;
  margin: 10px auto;
  padding: 10px;
  white-space: pre-wrap;
  width: 75%;
  word-wrap: break-word;

  &:empty {
    display: none;
  }
}

.preformat-header {
  font-size: 16px;
  padding-top: 20px;
  padding-left: 20px;
}

label {
  float: left;
  clear: left;
  width: 13em;
  //padding-right: .5em;
}

input {
  margin-right: 1em;
}