@import "./variables";

.modal {
  &__overlay {
    @include page-fade-in(0.25s);

    backdrop-filter: blur(3px);
  }

  &__inner {
    padding: 0;
    width: 100%;
  }

  &__container {
    @include page-fade-in(0.25s);

    background-color: var(--property-background-secondary);
  }

  &__content {
    background-color: var(--property-background-secondary);
    position: relative;
    width: 100%;

    &:empty {
      display: none;
    }
  }

  &__header {
    background-color: var(--property-background-secondary);
  }

  &__close {
    cursor: pointer;
    display: none;
    filter: drop-shadow(0 0 2px #000);
    height: 25px;
    position: fixed;
    right: 15px;
    top: 15px;
    width: 25px;
    z-index: 1;

    * {
      color: var(--property-text-secondary);
    }
  }

  @media screen and (width <= 600px) {
    &__container {
      height: 100%;
      max-height: var(--property-full-page-height);
      width: 100%;
    }

    &__content {
      max-width: unset;
      padding-top: 25px;
    }

    &__close {
      display: block;
    }
  }
}

.back-link {
  align-items: center;
  background: rgb(100 100 100 / 35%);
  border-radius: 5px;
  display: flex;
  font-size: 1em;
  gap: 10px;
  height: max-content;
  opacity: 0.5;
  padding: 5px 10px;
  transition: opacity 0.5s ease, background-color 0.5s ease;
  width: max-content;

  &--visible {
    opacity: 1;
  }

  &:hover,
  &:focus-visible {
    background: rgb(100 100 100 / 50%);
    opacity: 1;
  }

  svg {
    height: 13px;
  }

  @media screen and (width <= 800px) {
    &__back-link {
      left: 20px;
    }
  }
}

.page-container {
  @include page-fade-in(0.25s, ease-out, 0.1s);

  background-color: var(--property-background);
  height: max-content;
  max-width: 100%;
  min-height: var(--property-full-content-height);
  padding: 25px 25px 100px;
  position: relative;

  &__links {
    display: block;
    position: relative;
    z-index: 1;
  }

  @media screen and (width <= 800px) {
    padding-inline: 15px;

    &__links {
      margin-bottom: 20px;
    }
  }
}

.page-background {
  width: max-content;

  &__image,
  &__gradient {
    height: 100%;
    left: 0;
    max-height: var(--property-full-content-height);
    object-fit: cover;
    object-position: center;
    position: absolute;
    top: 0;
    width: 100%;
  }

  &__image {
    object-position: top;
  }

  &__gradient {
    background: linear-gradient(rgb(0 0 0 / 35%) 70%, var(--property-background));
  }
}

.page-header {
  height: max-content;
  margin: 20px 0;
  position: relative;
  width: 100%;

  &__content {
    display: flex;
    flex-direction: column;
    height: max-content;
    max-width: 800px;
    position: relative;
    width: 100%;

    /* Only apply page content position if wide enough */
    @media screen and (width >= 801px) {
      &--right {
        position: absolute;
        right: 0;
        text-align: right;

        .page-header__logo {
          align-self: flex-end;
        }
      }

      &--center {
        align-items: center;
        margin: 0 auto;

        .page-header__logo {
          align-self: center;
        }
      }
    }
  }

  &__logo {
    align-self: flex-start;
    margin-bottom: 30px;
    max-height: 250px;
    max-width: 100%;
  }

  &__title {
    margin-bottom: 10px;
    width: 100%;
  }

  &__description {
    font-size: 16px;
  }

  @media screen and (width <= 800px) {
    &__content {
      align-items: center;
    }

    &__logo {
      align-self: center;
      max-height: 200px;
    }

    &__title {
      text-align: center;
    }

    &__description {
      font-size: 14px;

      * {
        text-align: center;
      }
    }
  }
}

.description {
  white-space: pre-wrap;

  &--expandable {
    cursor: pointer;
  }
}

.lazy-image {
  &__background {
    /* stylelint-disable-next-line no-important */
    animation: gradient 15s ease infinite!important;
    background: linear-gradient(-55deg, #fff, #617d91, #354b54, #000);
    /* stylelint-disable-next-line no-important */
    background-size: 1000% 1000%!important;
    display: block;
    max-width: 100%;
    opacity: 0;
    overflow: hidden;

    &--visible {
      /* stylelint-disable-next-line no-important */
      opacity: 0.5!important;
    }
  }

  &__loader-image {
    display: block;
    /* stylelint-disable-next-line no-important */
    height: 1px!important;
    /* stylelint-disable-next-line no-important */
    opacity: 0!important;
    position: absolute;
    user-select: none;
    /* stylelint-disable-next-line no-important */
    width: 1px!important;
  }
}

.countdown {
  position: relative;
}

@keyframes image-background {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}


@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}


.rich-text {
  display: grid;
  gap: 0.8em;

  h1,
  h2 {
    font-weight: 600;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  p {
    line-height: 1.3em;
  }

  h1 {
    font-size: 3em;
  }

  h2 {
    font-size: 2em;
  }

  h3 {
    font-size: 1.5em;
  }

  h4 {
    font-size: 1.2em;
  }

  h5 {
    font-size: 1.1em;
  }

  p {
    font-size: 1em;
  }

  strong {
    font-weight: 600;
  }

  em {
    font-style: italic;
  }

  u {
    text-decoration: underline;
  }

  s {
    text-decoration: line-through;
  }

  a {
    /* stylelint-disable-next-line no-important */
    color: var(--color-text-highlight) !important;

    * {
      color: var(--color-text-highlight) !important;
    }

    &:hover {
      /* stylelint-disable-next-line no-important */
      color: var(--color-text-highlight) !important;

      * {
        color: var(--color-text-highlight) !important;
      }
    }
  }

  blockquote {
    margin: 30px 0 20px 20px;
  }

  ol {
    counter-reset: item;
    list-style: none;

    li {
      counter-increment: item;
      margin-bottom: 5px;

      &::before {
        content: counter(item);
        display: inline-block;
        margin-right: 10px;
        text-align: center;
        width: 0.8em;
      }
    }
  }

  ul {
    list-style: disc;
    margin-left: 1em;
  }

  @media screen and (width <= 1000px) {
    font-size: 14px;
  }
}

.carousel {
  max-width: 100%;
  position: relative;

  &:hover {
    .carousel__arrow {
      &:not(:disabled) {
        opacity: 1;
      }
    }
  }

  &__slide {
    height: max-content;
    width: max-content;

    &--last {
      margin-right: 50px;
    }
  }

  &__arrow {
    display: block;
    font-size: 1.5em;
    font-weight: 400;
    height: 100%;
    opacity: 0;
    padding: 0 15px;
    position: absolute;
    top: 0;
    transition: opacity 0.25s ease-out;
    width: max-content;
    z-index: 1;

    &:disabled {
      opacity: 0;
      pointer-events: none;
    }

    svg {
      filter: drop-shadow(1px 1px 3px black);
      height: 24px;
      position: relative;
      stroke-width: 2px;
      z-index: 1;
    }

    &--previous {
      left: 0;
      padding-right: 20px;
    }

    &--next {
      padding-left: 20px;
      right: 0;
    }

    &.swiper-button-disabled {
      cursor: auto;
      opacity: 0;
    }  }


  @media screen and (width <= 800px) {
    &__arrow {
      opacity: 1;
    }
  }
}

.video {
  height: auto;
  max-width: 100vw;
}

.button {
  align-items: center;
  border-radius: 5px;
  display: flex;
  font-weight: 500;
  justify-content: center;
  min-height: 50px;
  padding-inline: 20px;
  position: relative;
  transition: background-color 0.2s ease, border 0.2s ease, color 0.1s ease;
  width: max-content;

  &:disabled {
    height: 0;
    max-height: 0;
    min-height: unset;
    opacity: 0;
  }

  &--primary {
    background-color: var(--property-button-background);
    border: 1px solid var(--property-button-background);
    color: var(--property-button-text);

    * {
      color: var(--property-button-text);
    }

    &:hover,
    &:focus-visible,
    .button--active {
      color: var(--property-button-text);

      * {
        color: var(--property-button-text);
      }
    }
  }

  &--outline {
    border: 1px solid var(--property-button-outline-border);
    color: var(--property-button-outline-text);

    * {
      color: var(--property-button-outline-text);
    }

    &:hover,
    &:focus-visible,
    .button--active {
      background-color: var(--property-button-background);
      border: 1px solid var(--property-button-background);
      color: var(--property-button-text);

      * {
        color: var(--property-button-text);
      }
    }
  }

  &--option {
    border: 1px solid var(--property-button-option-background-hover);
    color: var(--property-button-option-text);

    * {
      color: var(--property-button-option-text);
    }

    &:not(.button--active) {
      &:hover,
      &:focus-visible {
        background-color: var(--property-button-option-background-hover);
      }
    }

    &.button--active {
      background-color: var(--property-button-background);
      border: 1px solid var(--property-button-background);
      color: var(--property-button-text);

      * {
        color: var(--property-button-text);
      }
    }
  }

  &__loader {
    height: 30px;
    position: absolute;

    :global(.spinner) {
      --spinner-width: 4px;
      --spinner-color: --property-button-text;
    }
  }

  &__loading-content {
    opacity: 0;
  }
}
