@import "./variables";

.page-container {
  @include page-fade-in(0.25s, ease-out, 0.1s);
  background-color: var(--property-background);
  height: max-content;
  min-height: 100vh;
  max-width: 100%;
  padding: 40px 75px 150px;
  position: relative;

  &__back-link {
    display: flex;
    align-items: center;
    font-size: 1.2em;
    gap: 10px;
    margin-bottom: 30px;
    width: max-content;

    position: relative;
    z-index: 1;

    * {
      color: var(--property-text-faded);
    }

    svg {
      height: 13px;
    }
  }

  @media screen and (max-width: 800px) {
    padding: 20px 20px 300px;
  }
}

.page-background {
  width: max-content;

  &__image,
  &__gradient {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    max-height: 100vh;
    object-position: center;
    object-fit: cover;
  }

  &__image {
    object-position: top;
  }

  &__gradient {
    background: linear-gradient(rgba(0, 0, 0, 0.35) 70%, black);
  }
}

.page-header {
  width: 100%;
  height: max-content;
  position: relative;

  &__content {
    position: relative;
    max-width: 1000px;
    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: column;

    /* Only apply page content position if wide enough */
    @media screen and (min-width: 801px) {

      &--right {
        position: absolute;
        right: 0;

        .page-header__logo {
          align-self: flex-end;
        }
      }

      &--center {
        margin: 0 auto;
        align-items: center;

        .page-header__logo {
          align-self: center;
        }
      }
    }
  }

  &__logo {
    max-width: 100%;
    max-height: 400px;
    align-self: flex-start;
    margin-bottom: 30px;
  }

  &__title {
    margin-bottom: 10px;
    width: 100%;
  }

  @media screen and (max-width: 800px) {
    &__content {
      align-items: center;
    }

    &__logo {
      align-self: center;
      max-height: 300px;
      max-width: 300px;
    }

    &__title {
      text-align: center;
    }

    &__description {
      * {
        text-align: center;
      }
    }
  }
}

.description {
  white-space: pre-wrap;

  &--expandable {
    cursor: pointer;
  }
}

.lazy-image {
  &__background {
    overflow: hidden;
    background: linear-gradient(-55deg, #ffffff, #617d91, #354b54, #000000);
    background-size: 1000% 1000%;
    animation: gradient 15s ease infinite;
    opacity: 0.5;
  }

  &__loader-image {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    opacity: 0;
    user-select: none;
  }
}

.countdown {
  align-items: center;
  background: var(--property-background-secondary);
  border: 0;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  padding: 0 20px;
  user-select: none;
  color: var(--property-text-primary);

  .countdown__unit-container {
    max-height: 43px;
    padding: 0 10px;
  }

  .countdown__unit,
  .countdown__value {
    text-align: center;
  }

  .countdown__value {
    font-size: 28px;
    font-weight: 600;
    height: 100%;
  }

  .countdown__unit {
    font-size: 12px;
    font-weight: 600;
    margin-top: 7px;
    min-width: 55px;
    text-transform: uppercase;
  }
}

@keyframes image-background {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}


@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}


.rich-text {
  display: grid;
  gap: 0.8em;

  h1,
  h2,
  h3,
  h4,
  h5,
  p {
    line-height: 1.3em;
  }

  h1 {
    font-size: 3em;
  }

  h2 {
    font-size: 2em;
  }

  h3 {
    font-size: 1.5em;
  }

  h4 {
    font-size: 1.2em;
  }

  h5 {
    font-size: 1.1em;
  }

  p {
    font-size: 1em;
  }

  strong {
    font-weight: 600;
  }

  em {
    font-style: italic;
  }

  u {
    text-decoration: underline;
  }

  s {
    text-decoration: line-through;
  }

  a {
    // sass-lint:disable no-important
    color: var(--color-text-highlight) !important;

    * {
      color: var(--color-text-highlight) !important;
    }

    &:hover {
      // sass-lint:disable no-important
      color: var(--color-text-highlight) !important;

      * {
        color: var(--color-text-highlight) !important;
      }
    }
  }

  blockquote {
    margin: 30px 0 20px 20px;
  }

  ol {
    counter-reset: item;
    list-style: none;

    li {
      counter-increment: item;
      margin-bottom: 5px;

      &::before {
        content: counter(item);
        display: inline-block;
        margin-right: 10px;
        text-align: center;
        width: 0.8em;
      }
    }
  }

  ul {
    list-style: disc;
    margin-left: 1em;
  }

  @media screen and (max-width: 1000px) {
    font-size: 14px;
  }
}

.carousel {
  max-width: 100%;
  position: relative;

  &:hover {
    .carousel__arrow {
      &:not(:disabled) {
        opacity: 1;
      }
    }
  }

  &__slide {
    width: max-content;
    height: max-content;
  }

  &__arrow {
    opacity: 0;
    padding: 0 15px;
    position: absolute;
    transition: opacity 0.25s ease-out;
    width: max-content;
    display: block;
    z-index: 1;
    height: 100%;
    top: 0;
    font-size: 1.5em;
    font-weight: 400;

    &:disabled {
      opacity: 0;
      pointer-events: none;
    }

    svg {
      height: 24px;
      stroke-width: 2px;
      z-index: 1;
      position: relative;
    }

    &--previous {
      left: 0;
      padding-right: 20px;

      .carousel__arrow-background{
        background: linear-gradient(90deg, rgba(0,0,0,0.75) 20%, transparent);
      }
    }

    &--next {
      right: 0;
      padding-left: 20px;

      .carousel__arrow-background{
        background: linear-gradient(90deg, transparent, rgba(0,0,0,0.75));
      }
    }

    &.swiper-button-disabled {
      cursor: auto;
      opacity: 0;
    }
  }

  &__arrow-background {
    position: absolute;
    inset: 0 0 0 0;
    height: 100%;
    width: 100%;
    transition: opacity 0.25s ease;
    pointer-events: none;
  }
}

.video {
  height: auto;
  max-width: 100vw;
}
