@import "./variables";

.modal {
  &--no-background {
    .modal__container {
      background: transparent;
      border-radius: 0;
    }

    .modal__content {
      background: transparent;
      padding: 0;
    }

    .modal__header {
      background: transparent;
    }
  }

  &__overlay {
    @include page-fade-in(0.25s);

    backdrop-filter: blur(3px);
  }

  &__inner {
    padding: 0;
    width: 100%;
  }

  &__container {
    @include page-fade-in(0.25s);

    background: var(--property-background-modal);
    box-shadow: 0 0 20px rgb(0 0 0 / 50%);
  }

  &__content {
    background: var(--property-background-modal);
    position: relative;
    width: 100%;

    &:empty {
      display: none;
    }
  }

  &__header {
    background: var(--property-background-modal);
  }

  &__close {
    cursor: pointer;
    display: none;
    filter: drop-shadow(0 0 2px #000);
    height: 25px;
    position: fixed;
    right: 15px;
    top: 15px;
    width: 25px;
    z-index: 1;

    * {
      color: var(--property-text-secondary);
    }
  }

  @media screen and (width <= 600px) {
    &__container {
      min-height: 100vh;
      width: 100%;
    }

    &__content {
      align-items: center;
      display: flex;
      max-width: unset;
      min-height: 100vh;
      padding-top: 25px;
    }

    &__close {
      display: block;
    }
  }
}


.rich-text {
  display: grid;
  font-size: 16px;
  gap: 0.8em;

  h1,
  h2,
  h3,
  h4,
  h5 {
    font-weight: 600;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  p {
    line-height: 1.3em;

    * {
      font-size: 1em;
    }
  }

  h1 {
    font-size: 3em;
  }

  h2 {
    font-size: 2em;
  }

  h3 {
    font-size: 1.6em;
  }

  h4 {
    font-size: 1.2em;
  }

  h5 {
    font-size: 1.2em;
  }

  p {
    font-size: 1.2em;
  }

  strong {
    font-weight: 600;
  }

  em {
    font-style: italic;
  }

  u {
    text-decoration: underline;
  }

  s {
    text-decoration: line-through;
  }

  blockquote {
    margin: 30px 0 20px 20px;
  }

  a {
    color: var(--property-text-highlight);
    display: inline;
  }

  ol {
    counter-reset: item;
    list-style: none;

    li {
      counter-increment: item;
      margin-bottom: 5px;

      &::before {
        content: counter(item);
        display: inline-block;
        margin-right: 10px;
        text-align: center;
        width: 0.8em;
      }
    }
  }

  ul {
    list-style: disc;
    margin-left: 1em;
  }

  @media screen and (width <= 1000px) {
    font-size: 14px;

    h1 {
      font-size: 2.5em;
    }

    h2 {
      font-size: 1.6em;
    }

    h3 {
      font-size: 1.4em;
    }

    h4,
    h5,
    p {
      font-size: 1.1em;
    }
  }
}

.back-link {
  align-items: center;
  background: rgb(100 100 100 / 35%);
  border-radius: 5px;
  display: flex;
  font-size: 1em;
  gap: 10px;
  height: max-content;
  opacity: 0.5;
  padding: 5px 10px;
  transition: opacity 0.5s ease, background-color 0.5s ease;
  width: max-content;

  &--visible {
    opacity: 1;
  }

  &:hover,
  &:focus-visible {
    background: rgb(100 100 100 / 50%);
    opacity: 1;
  }

  svg {
    height: 13px;
  }

  @media screen and (width <= 800px) {
    &__back-link {
      left: 20px;
    }
  }
}

.page-container {
  @include page-fade-in(0.25s, ease-out, 0.1s);

  background-color: var(--property-background);
  height: max-content;
  max-width: 100%;
  min-height: var(--property-full-content-height);
  padding: 25px 25px 100px;
  position: relative;

  &__links {
    display: block;
    position: relative;
    z-index: 1;
  }

  @media screen and (width <= 800px) {
    padding-inline: 15px;

    &__links {
      margin-bottom: 20px;
    }
  }
}

.page-background {
  width: max-content;

  &__image,
  &__video,
  &__gradient {
    height: 100%;
    left: 0;
    max-height: var(--property-full-content-height);
    min-height: var(--property-full-content-height);
    object-fit: cover;
    object-position: center;
    position: absolute!important;
    top: 0;
    width: 100%;

    video {
      object-fit: cover;
      z-index: 0;
    }
  }

  &__image {
    object-position: top;
  }

  &__gradient {
    background: linear-gradient(rgb(0 0 0 / 35%) 70%, var(--property-background));
  }
}

.description {
  text-align: left;
  white-space: pre-wrap;

  &--expandable {
    cursor: pointer;
  }
}

.expandable-description {
  border-radius: 5px;
  cursor: unset;
  font-size: 16px;
  position: relative;

  &--toggleable {
    cursor: pointer;
    padding-bottom: 30px;
  }

  &--contracted {
    overflow: hidden;

    .expandable-description__description-container {
      max-height: 6.5em;

      &--mask {
        mask-image: linear-gradient(black 65%, transparent);
      }
    }

    .expandable-description__toggle {
      align-items: flex-end;
    }
  }

  &--expanded {
    cursor: unset;
    height: max-content;
    max-height: unset;
    padding-bottom: 55px;
  }

  &__overlay {
    inset: 0;
    position: absolute;
  }

  &__toggle {
    align-items: center;
    bottom: 0;
    color: var(--property-text-faded);
    display: flex;
    font-size: 0.9em;
    font-weight: 600;
    height: 45px;
    position: absolute;
    width: 120px;
    z-index: 1;

    &--left {
      left: 0;
    }

    &--center {
      justify-content: center;
      text-align: center;
      width: 100%;
    }

    &--right {
      justify-content: center;
      right: 0;
    }
  }

  &__description {
    height: max-content;
    padding: 0;
  }
}

.lazy-image {
  &__background {
    /* stylelint-disable-next-line no-important */
    animation: gradient 15s ease infinite!important;
    backdrop-filter: blur(20px);
    background: linear-gradient(-55deg, #fff, #617d91, #354b54, #000);
    /* stylelint-disable-next-line no-important */
    background-size: 1000% 1000%!important;
    display: block;
    max-width: 100%;
    opacity: 0;
    overflow: hidden;

    &--visible {
      /* stylelint-disable-next-line no-important */
      opacity: 0.5!important;
    }
  }

  &__loader-image {
    display: block;
    /* stylelint-disable-next-line no-important */
    height: 1px!important;
    /* stylelint-disable-next-line no-important */
    opacity: 0!important;
    position: absolute;
    user-select: none;
    /* stylelint-disable-next-line no-important */
    width: 1px!important;
  }
}

.countdown {
  position: relative;
}

.page-header {
  height: max-content;
  margin-top: 60px;
  position: relative;
  width: 100%;

  @media screen and (width >= 801px) {
    &--right {
      align-items: flex-end;
      display: flex;
      flex-direction: column;
    }

    &--center {
      align-items: center;
      display: flex;
      flex-direction: column;
    }
  }

  &__content-container {
    max-width: 950px;
    width: 100%;
  }

  &__content {
    display: flex;
    flex-direction: column;
    height: max-content;
    max-width: 950px;
    padding-bottom: 20px;
    position: relative;
    width: 100%;

    &:empty {
      display: none;
    }

    /* Only apply page content position if wide enough */
    @media screen and (width >= 801px) {
      &--right {
        right: 0;

        * {
          text-align: right!important;
        }

        .page-header__logo {
          align-self: flex-end;
        }

        .page-header__title-container,
        .page-header__description {
          margin-left: auto;
        }
      }

      &--center {
        align-items: center;
        margin: 0 auto;

        * {
          text-align: center!important;
        }

        .page-header__logo {
          align-self: center;
        }
      }
    }
  }

  &__logo {
    align-self: flex-start;
    height: auto;
    margin: 30px 0 40px;
    max-height: 250px;
    max-width: 100%;
    object-fit: contain;
    width: auto;
  }

  &__title-container,
  &__description {
    max-width: 800px;
  }

  &__title-container {
    align-items: center;
    display: flex;
    gap: 15px;
    margin-bottom: 15px;
    max-width: 700px;
    width: 100%;
  }

  &__title-icon {
    height: 30px;
    width: auto;
  }

  &__title {
    font-weight: 700;
    width: 100%;
  }

  &__description {
    font-size: 18px;

    .rich-text {
      font-size: 18px;
    }
  }

  @media screen and (width <= 800px) {
    max-width: 100vw;

    &__content {
      align-items: center;
    }

    &__title {
      width: max-content;
    }

    &__title-icon {
      height: 25px;
    }

    &__logo {
      align-self: center;
      width: 100%;
    }

    &__description {
      font-size: 14px;
      text-align: left;
    }
  }
}

@keyframes image-background {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}


@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.carousel {
  max-width: 100%;
  position: relative;

  &:hover {
    .carousel__arrow {
      &:not(:disabled) {
        opacity: 1;
      }
    }
  }

  &__slide {
    height: max-content;
    width: max-content;

    &--last {
      margin-right: 50px;
    }
  }

  &__arrow {
    display: block;
    font-size: 1.5em;
    font-weight: 400;
    height: 100%;
    opacity: 0;
    padding: 0 15px;
    position: absolute;
    top: 0;
    transition: opacity 0.25s ease-out;
    width: max-content;
    z-index: 1;

    &:disabled {
      opacity: 0;
      pointer-events: none;
    }

    svg {
      filter: drop-shadow(1px 1px 3px black);
      height: 24px;
      position: relative;
      stroke-width: 2px;
      z-index: 1;
    }

    &--previous {
      left: 0;
      padding-right: 20px;
    }

    &--next {
      padding-left: 20px;
      right: 0;
    }

    &.swiper-button-disabled {
      cursor: auto;
      opacity: 0;
    }
  }


  @media screen and (width <= 800px) {
    &__arrow {
      opacity: 1;
    }
  }
}

.video {
  align-items: center;
  display: flex;
  height: auto;
  justify-content: center;
  max-width: 100vw;
  position: relative;

  &__loader {
    height: 50px;
    max-height: 50px;
    max-width: 50px;
    position: absolute;
    width: 50px;
    z-index: 100;
  }
}

.button {
  align-items: center;
  border-radius: var(--property-button-border-radius);
  cursor: pointer;
  display: flex;
  font-weight: 600;
  gap: 15px;
  justify-content: center;
  min-height: 50px;
  padding-inline: 20px;
  position: relative;
  transition: background-color 0.15s ease, border 0.15s ease, color 0.1s ease, opacity 0.15s ease;
  user-select: none;

  &__icon {
    height: 25px;
    object-fit: contain;
    width: 25px;
  }

  &--disabled,
  &:disabled {
    opacity: 0.5;
  }

  &--primary {
    background-color: var(--property-button-background);
    border: 1px solid var(--property-button-border-color);
    color: var(--property-button-text);

    * {
      color: var(--property-button-text);
    }

    &:hover,
    &:focus-visible,
    .button--active {
      color: var(--property-button-text);
      opacity: 0.95;

      * {
        color: var(--property-button-text);
      }
    }
  }

  &--secondary {
    background-color: var(--property-button-secondary-background);
    border: 1px solid var(--property-button-secondary-border-color);
    color: var(--property-button-secondary-text);

    * {
      color: var(--property-button-secondary-text);
    }

    &:hover,
    &:focus-visible,
    .button--active {
      color: var(--property-button-secondary-text);
      opacity: 0.95;

      * {
        color: var(--property-button-secondary-text);
      }
    }
  }

  &--outline {
    border: 1px solid var(--property-button-outline-border);
    color: var(--property-button-outline-text);

    * {
      color: var(--property-button-outline-text);
    }

    &:hover,
    &:focus-visible,
    .button--active {
      opacity: 0.85;
    }
  }

  &--option {
    border: 1px solid var(--property-button-option-background-hover);
    color: var(--property-button-option-text);

    * {
      color: var(--property-button-option-text);
    }

    &:not(.button--active) {
      &:hover,
      &:focus-visible {
        background-color: var(--property-button-option-background-hover);
      }
    }

    &.button--active {
      background-color: var(--property-button-option-background-active);
      border: 1px solid var(--property-button-option-background-active);
      color: var(--property-button-option-text-active);

      * {
        color: var(--property-button-option-text-active);
      }
    }
  }

  &__loader {
    height: 30px;
    position: absolute;

    :global(.spinner) {
      --spinner-width: 4px;
      --spinner-color: --property-button-text;
    }
  }

  &__loading-content {
    opacity: 0;
  }
}

.attribute-filter {
  max-width: 100%;
  min-height: max-content;
  padding: 20px 0;
  user-select: none;
  width: max-content;

  &__attribute--box {
    background-color: #414141;
    border: 1px solid transparent;
    border-radius: 5px;
    min-width: 65px;
    padding: 10px;
    transition: border 0.25s ease;
    white-space: nowrap;

    &.attribute-filter__attribute--active {
      border: 1px solid white;
    }
  }

  &__attribute--text {
    align-items: center;
    color: var(--property-text-faded);
    display: flex;
    font-size: 1.2em;
    font-weight: 600;
    justify-content: center;
    padding-bottom: 3px;
    transition: color 0.25s ease;

    &.attribute-filter__attribute--active {
      color: var(--property-text-primary);
    }
  }

  &__attribute--image {
    border-radius: 13px;
    height: 100px;
    opacity: 0.5;
    overflow: hidden;
    transition: opacity 0.25s ease;
    width: auto;

    &:hover {
      opacity: 0.75;
    }

    &.attribute-filter__attribute--active {
      opacity: 1;
    }
  }

  &__attribute-image {
    height: 100%;
    object-fit: cover;
    width: 100%;
  }

  @media screen and (width <= 800px) {
    &--box {
      font-size: 0.8em;
    }

    &--text {
      font-size: 0.8em;
    }

    &__attribute--image {
      height: 75px;
    }
  }
}
