.discover-page {
  animation: var(--animation-fade-in) 1s ease;
  background: #191919;
  min-height: var(--property-full-content-height);
  padding-bottom: 100px;
}

.row {
  padding: 30px;

  &__title {
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 30px;

    @media screen and (width <= 850px) {
      font-size: 20px;
    }
  }
}

.featured {
  background: linear-gradient(180deg, #191919 0%, #2C2C2C 100%);
  padding-bottom: 55px;
}

.carousel {
  overflow: initial;

  :global(.swiper-pagination) {
    bottom: -35px;
  }
}

.slide {
  width: max-content;
}

.discover-card {
  --transition-duration: 0.5s;
  --brightness--inactive: 85%;
  --brightness--active: 105%;
  --scale: 1.05;

  aspect-ratio: 2/3;
  background-color: black;
  border-radius: 12px;
  box-shadow: 5px 5px 5px rgb(0 0 0 / 30%);
  cursor: pointer;
  display: block;
  height: 400px;
  position: relative;
  transition: all var(--transition-duration) ease;
  transition-delay: 0s;
  user-select: none;
  will-change: transform;

  &--featured {
    height: 600px;
  }

  &--standard {
    filter: brightness(var(--brightness--inactive));
  }

  * {
    transition: all var(--transition-duration) ease;
    transition-delay: 0s;
  }

  &__image {
    animation: var(--animation-fade-in) 0.5s ease;
  }

  &__image-container,
  &__image,
  &__video,
  &__video-container {
    border-radius: 12px;
    display: block;
    height: 100%;
    object-fit: cover;
    position: absolute;
    width: 100%;
  }

  &__video-container {
    background: transparent;
    opacity: 0;

    &--active {
      background: black;
      opacity: 1;
    }
  }

  &__video-container {
    pointer-events: none;
    z-index: 1;

    video {
      border-radius: 12px;
      object-fit: cover;
    }
  }

  &__content {
    align-items: center;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    inset: 0;
    justify-content: flex-end;
    padding: 40px 30px 0;
    position: absolute;
    text-align: center;
    z-index: 2;

    * {
      color: white;
      z-index: 1;
    }

    &::before {
      background: linear-gradient(transparent 30%, black);
      border-radius: 12px;
      content: "";
      inset: 0;
      position: absolute;
    }
  }

  &__logo-container {
    align-items: center;
    aspect-ratio: 3;
    display: flex;
    justify-content: center;
    object-fit: contain;
    object-position: center;
    width: 100%;
  }

  &__logo {
    animation: var(--animation-fade-in) 1s ease;
    max-width: 100%;
  }

  &__title,
  &__description {
    text-shadow: 0 0 2px black;
  }

  &__title {
    font-size: 18px;
    font-weight: 600;
    height: 30px;
    white-space: nowrap;
  }

  &__description {
    align-items: flex-start;
    display: flex;
    font-size: 16px;
    max-height: 85px;
    min-height: 85px;
  }

  &__button-container {
    display: flex;
    height: 40px;
    justify-content: center;
    overflow: hidden;
    padding-top: 40px;
  }

  &__button {
    align-items: center;
    background: white;
    border-radius: 10px;
    color: black;
    display: flex;
    font-size: 18px;
    font-weight: 700;
    height: 45px;
    justify-content: center;
    width: 100px;
  }

    // Only transition on non-mobile
    &:hover,
    &:focus-visible,
    &--active {
      transform: scale3d(var(--scale), var(--scale), 1);

      &.discover-card--featured {
        transition-delay: 0.25s;

        * {
          transition-delay: 0.25s;
        }
      }

      &.discover-card--standard {
        filter: brightness(var(--brightness--active));
      }

      .discover-card__button-container {
        height: 100px;
        padding: 5px 0 20px;
      }
    }


  @media screen and (width <= 850px) {
    --scale: 1;
    --brightness-inactive: 100%;

    height: 350px;
    max-height: 75vh;

    &--featured {
      height: 450px;
    }

    &__title {
      font-size: 16px;
    }

    &__description {
      font-size: 14px;
      font-weight: 600;
      max-height: 120px;
      min-height: 120px;
    }

    &__content {
      &::before {
        background: linear-gradient(rgb(0 0 0 / 10%) 0%, black);
      }
    }
  }
}

.video {
  opacity: 0;

  &--loaded {
    background-color: black;
    opacity: 1;
  }
}
