.faq-page {
  display: flex;
  flex-direction: column;
  padding: 0;

  --header-text-color: var(--property-text-primary);
}

.header-image {
  object-fit: cover;
  object-position: top;
  width: 100%;
}

.title {
  font-size: 32px;
  font-weight: 600;
  margin: 30px 0 10px;
  padding-inline: 2px;
}

.description {
  margin: 10px 0;
  padding-inline: 3px;
}

.container {
  padding: 10px 0 50px;
  width: 90vw;
  margin: 0 auto;
}

.questions {
  font-size: 20px;
  user-select: none;
  width: 100%;
}

.question {
  border-bottom: 1px solid var(--property-border-color-secondary);

  [data-rotate] {
    transform: none;
  }

  &__label {
    align-items: center;
    color: var(--header-text-color);
    display: flex;
    font-size: 24px;
    font-weight: 600;
    min-height: 60px;
    padding: 10px 0;
    padding-right: 10px;
  }

  & + .images {
    margin-top: 30px;
  }
}

.answer {
  font-size: 14px;
  margin-bottom: 50px;
  max-width: 700px;

  h1,
  h2,
  h3,
  h4 {
    color: var(--header-text-color);
  }

  blockquote {
    margin-bottom: 0;
    margin-top: 0;
  }
}

.images {
  align-items: center;
  display: grid;
  flex-direction: column;
  width: 100%;

  &--centered {
    justify-content: center;
  }

  & + .question {
    margin-top: 30px;
  }
}

.image-container,
.image {
  display: block;
  object-fit: contain;
  width: auto;
}

.video {
  margin-bottom: 30px;
  max-width: 700px;
}

.chevron {
  height: 30px;
  transform: none;
  width: 30px;

  * {
    color: var(--header-text-color);
  }
}

@media screen and (width < 1000px) {
  .question {
    &__label {
      font-size: 14px;
    }
  }
}
