.faq-page {
  padding: 0;

  --header-text-color: var(--property-text-primary);
}

.header-image {
  max-height: 50vh;
  object-fit: cover;
  object-position: top;
  width: 100%;
}

.container {
  margin: 0 auto;
  padding-inline: 100px;
}

.title {
  font-size: 32px;
  font-weight: 600;
  margin: 30px 0 10px;
  padding-inline: 3px;
}

.description {
  margin: 10px 0;
  padding-inline: 3px;
}

.questions {
  font-size: 20px;
  margin-top: 30px;
}

.question {
  border-bottom: 1px solid var(--property-border-color-secondary);

  [data-rotate] {
    transform: none;
  }

  &__label {
    align-items: center;
    color: var(--header-text-color);
    display: flex;
    font-size: 28px;
    font-weight: 600;
    height: 100px;
  }
}

.answer {
  font-size: 14px;
  margin-bottom: 50px;
  max-width: 700px;

  h1,
  h2,
  h3,
  h4 {
    color: var(--header-text-color);
  }

  blockquote {
    margin-bottom: 0;
    margin-top: 0;
  }
}

.video {
  margin-bottom: 30px;
  max-width: 700px;
}

.chevron {
  height: 30px;
  transform: none;
  width: 30px;

  * {
    color: var(--header-text-color);
  }
}

@media screen and (width < 1000px) {
  .container {
    padding-inline: 15px;
  }

  .question {
    border: 0;

    &__label {
      font-size: 24px;
    }
  }
}
