.media-card {
  &--disabled {
    opacity: 0.5!important;
    user-select: none;
  }
}

.media-card-banner {
  display: block;
  flex: 1 0 100%;
  max-width: unset;
  width: 100%;
  word-break: break-word;

  &__image-container,
  &__image {
    width: 100%;
  }
}

.media-card-vertical {
  --max-card-width-landscape: var(--max-card-width);
  --max-card-width-square: calc(var(--max-card-width) - 100px);
  --max-card-width-portrait: calc(var(--max-card-width) - 100px);

  display: block;
  flex: 1 1 100%;
  max-width: min(90vw, var(--max-card-width));
  word-break: break-word;

  &__image-container {
    overflow: hidden;
    position: relative;
  }

  &__image {
    height: 100%;
    object-fit: cover;
    object-position: center;
    width: 100%;
  }

  &__indicator {
    bottom: 15px;
    position: absolute;
    right: 15px;
    text-align: center;
    user-select: none;
    z-index: 1;
  }

  &__live-indicator {
    background-color: #F00;
    border-radius: 5px;
    font-weight: 600;
    padding: 3px 8px;
    text-transform: uppercase;
  }

  &__upcoming-indicator {
    background: rgb(39 39 39 / 80%);
    border-radius: 5px;
    padding: 5px 10px;
  }

  &__text {
    margin-top: 5px;
    padding-inline: 4px;
  }

  &__headers {
    align-items: flex-end;
    color: var(--property-text-headers);
    display: flex;
    font-size: 0.9em;
    gap: 1.5em;
    height: max-content;
    margin-bottom: 2px;
  }

  &__title,
  &__subtitle {
    position: relative;
    width: 100%;
  }

  &__title {
    font-weight: 700;
    height: max-content;
    min-height: 1.6em;
  }

  &__subtitle {
    color: var(--property-text-faded);
    min-height: 1.4em;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &--landscape {
    max-width: min(90vw, var(--max-card-width));

    .media-card-vertical__image {
      aspect-ratio: 16/9;
    }
  }

  &--square {
    max-width: min(90vw, var(--max-card-width-square));

    .media-card-vertical__image {
      aspect-ratio: 1;
    }
  }

  &--portrait {
    max-width: min(90vw, var(--max-card-width-portrait));

    .media-card-vertical__image {
      aspect-ratio: 2/3;
    }

    .media-card-vertical__indicator {
      font-size: 12px;
    }
  }

  /* Fixed size, e.g. carousel with set aspect ratio */
  &--size-fixed {
    &.media-card-vertical--landscape {
      width: var(--max-card-width);
    }

    &.media-card-vertical--square {
      width: var(--max-card-width-square);
    }

    &.media-card-vertical--portrait {
      width: var(--max-card-width-portrait);
    }
  }

  /* Fixed size, potentially mixed with other aspect ratios - scale with based on aspect ratio to match height */
  &--size-mixed {
    max-width: min(90vw, var(--max-card-width));

    &.media-card-vertical--landscape {
      max-width: min(90vw, var(--max-card-width));
      width: var(--max-card-width);
    }

    &.media-card-vertical--square {
      max-width: min(90vw, calc(var(--max-card-width) * 0.5625));
      width: calc(var(--max-card-width) * 0.5625);
    }

    &.media-card-vertical--portrait {
      max-width: min(90vw, calc(var(--max-card-width) * 0.375));
      width: calc(var(--max-card-width) * 0.375);

      .media-card-vertical__indicator {
        font-size: 12px;
      }
    }
  }

  @media screen and (width <= 800px) {
    &__image {
      padding: 0;
    }
  }
}

.media-card-horizontal {
  align-items: center;
  backdrop-filter: blur(10px);
  background: var(--property-card-background);
  border-radius: 3px;
  display: flex;
  gap: 20px;
  height: 150px;
  padding: 10px 20px 10px 10px;
  transition: background 0.25s ease;
  width: 100%;
  word-break: break-word;

  &:hover {
    background: var(--property-card-background-active);
  }

  &__image-container {
    border-radius: 3px;
    height: 100%;
    overflow: hidden;
    position: relative;
  }

  &__image {
    height: 100%;
    object-fit: cover;
    object-position: center;
    width: 100%;
  }

  &--landscape {
    .media-card-horizontal__image-container {
      aspect-ratio: 16/9;
    }
  }

  &--square {
    .media-card-horizontal__image-container {
      aspect-ratio: 1;
    }
  }

  &--portrait {
    .media-card-horizontal__image-container {
      aspect-ratio: 2/3;
    }
  }

  &__indicator {
    bottom: 0;
    font-size: 12px;
    position: absolute;
    right: 0;
    text-align: center;
    user-select: none;
    z-index: 2;
  }

  &__live-indicator {
    background-color: #F00;
    border-radius: 5px;
    bottom: 5px;
    font-weight: 600;
    padding: 3px 8px;
    right: 5px;
    text-transform: uppercase;
  }

  &__upcoming-indicator {
    background: rgb(39 39 39 / 80%);
    padding: 5px 10px;
  }

  &__text {
    display: flex;
    flex: 1 1 0;
    flex-direction: column;
    height: 100%;
  }

  &__headers {
    align-items: center;
    color: var(--property-text-headers);
    display: flex;
    font-size: 10px;
    gap: 20px;
    height: 20px;
  }

  &__title,
  &__subtitle {
    overflow: hidden;
    position: relative;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
  }

  &__subtitle {
    color: var(--property-text-secondary);
  }

  &__description {
    color: var(--property-text-secondary);
    font-size: 0.9em;
    margin-top: 7px;
  }

  @media screen and (width <= 800px) {
    height: max-content;

    &__image-container {
      display: none;
    }
  }
}
