@import "./variables";

.sidebar {
  @include page-fade-in(0.5s);

  background: linear-gradient(0deg, rgb(25 25 25 / 60%) 0%, rgb(25 25 25 / 60%) 100%), linear-gradient(0deg, rgb(0 0 0 / 20%) 0%, rgb(0 0 0 / 20%) 100%), radial-gradient(98.64% 29.9% at 50% -2.68%, #525151 0%, #000 100%);
  display: flex;
  flex-direction: column;
  height: 100%;
  max-height: calc(var(--property-full-content-height));
  min-height: calc(var(--property-full-content-height));
  min-width: 420px;
  position: relative;
  width: 420px;
  z-index: 100;

  &--with-multiview {
    .header {
      padding-right: 90px;
    }
  }

  &__actions {
    align-items: center;
    display: flex;
    gap: 5px;
    padding: 15px 0 10px 10px;
    position: absolute;
    right: 0;
    top: 0;
    width: max-content;
    z-index: 1;
  }

  @media screen and (width <= 1200px) {
    margin-bottom: 50px;
    min-width: 350px;
    width: 350px;

    .header {
      padding-bottom: 10px;

      &__title {
        font-size: 16px;
      }

      &__header,
      &__subtitle {
        font-size: 12px;
      }
    }

    .content {
      &__mode-tab {
        font-size: 12px;
      }
    }
  }
}

.hidden-sidebar {
  position: absolute;
  right: 20px;
  top: 10px;
  z-index: 10;

  .show-button {
    align-items: center;
    background: var(--property-button-background);
    border: 1px solid var(--property-button-outline-border);
    border-radius: 100%;
    display: flex;
    height: 30px;
    justify-content: center;
    opacity: 0.5;
    padding-right: 2px;
    transition: opacity 0.35s ease;
    width: 30px;

    &:hover {
      opacity: 1;
    }

    svg {
      height: 15px;
      max-height: 15px;
      max-width: 15px;
      width: 15px;

      * {
        color: var(--property-button-text);
      }
    }
  }

  @media screen and (width <= 650px) {
    display: none;
  }
}

.hide-button {
  cursor: pointer;
  height: 25px;
  padding: 4px;
  width: 25px;
  z-index: 1;

  * {
    color: var(--property-text-extra-faded);
  }

  svg {
    height: 100%;
    width: 100%;
  }
}

.live-badge {
  background: red;
  border-radius: 3px;
  font-size: 12px;
  font-weight: 800;
  height: max-content;
  padding: 2px 8px;
  text-transform: uppercase;
  width: max-content;
}

.header {
  display: flex;
  flex-direction: column;
  gap: 3px;
  height: max-content;
  padding: 15px 35px 20px 15px;
  position: relative;

  &__title {
    align-items: center;
    display: flex;
    font-size: 20px;
    font-weight: 600;
    gap: 15px;
    padding-right: 10px;

    svg {
      height: 30px;
      margin-bottom: 2px;
    }
  }

  &__headers {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    font-size: 14px;
    gap: 0 10px;
  }

  &__header {
    color: var(--property-text-faded);
  }

  &__subtitle {
    color: var(--property-text-faded);
    font-size: 14px;
    padding-right: 50px;
  }

  .live-badge {
    margin-bottom: 5px;
  }

  &__close {
    height: 25px;
    position: absolute;
    right: 10px;
    top: 15px;
    transition: opacity 0.15s ease;
    width: 25px;

    * {
      color: var(--property-text-faded);
    }

    &:hover,
    &:focus-visible {
      opacity: 0.8;
    }
  }
}

.search-container {
  padding: 15px;
}

.search {
  &__input {
    background-color: #d7d7d7;
    border-radius: 31px;
    color: black;
    font-size: 18px;
    font-weight: 600;
    height: 45px;
    padding-left: 55px;

    &::placeholder {
      color: #333;
      font-size: 16px;
    }
  }

  &__icon {
    margin-left: 10px;
    padding: 10px;

    * {
      color: #333;
    }
  }
}

.tags {
  @include page-fade-in(0.5s);

  overflow-y: auto;
  scrollbar-width: none;
}

.tag {
  border-bottom: 1px solid var(--property-border-color);
  display: flex;
  padding: 15px;
  text-align: left;
  transition: background-color 0.25s ease;
  width: 100%;

  &--active {
    background-color: var(--property-background-tertiary);
  }

  * {
    color: var(--property-text-secondary);
  }

  &__time {
    width: 80px;
  }

  &__content {
    width: 100%;
  }
}

.content {
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 100%;
  max-height: 100%;
  overflow-y: scroll;
  overscroll-behavior-y: contain;
  scrollbar-color: #343434 #141414;
  scrollbar-width: thin;

  &__title {
    font-weight: 600;
    padding: 20px 15px 10px;
    text-transform: uppercase;
    top: 0;
    z-index: 10;
  }

  &__subtitle {
    font-size: 12px;
    font-weight: 600;
    margin: 5px 0;
    padding-left: 25px;
  }

  &__section {
    @include page-fade-in;
  }

  &__fullscreen-button {
    @include page-fade-in;

    height: 30px;
    margin-right: 18px;
    padding: 6px;
    transition: opacity 0.25s ease;
    width: 30px;
    z-index: 1;

    * {
      opacity: 0.7;
      transition: opacity 0.25s ease;
    }

    &:hover {
      * {
        opacity: 1;
      }
    }
  }

  &__actions {
    align-items: center;
    bottom: 2px;
    display: flex;
    gap: 10px;
    position: absolute;
    right: 5px;
    z-index: 1;
  }

  &__views-container {
    position: relative;
  }

  @media screen and (width <= 850px) {
    overscroll-behavior-y: auto;
  }
}

.multiview-switch {
  align-items: center;
  background: var(--property-button-background);
  background-color: #3C3C3C;
  border-radius: 3px;
  display: flex;
  overflow: hidden;

  * {
    transition: background-color 0.25s ease, color 0.25s ease, opacity 0.25s ease;
  }

  &__button {
    height: 30px;
    padding: 7px;
    width: 30px;

    &:hover {
      opacity: 0.7;
    }

    &--active {
      background-color: white;
      color: black;

      * {
        color: black;
      }
    }

    svg {
      height: 100%;
      width: 100%;
    }
  }
}

.tabs-container {
  align-items: center;
  border-bottom: 1px solid var(--border-color);
  display: flex;
  max-width: 100%;
  padding-right: 50px;
  position: relative;
  width: 100%;

  &:empty {
    display: none;
  }
}

.tabs {
  align-items: flex-end;
  display: flex;
  gap: 20px;
  max-width: 100%;
  overflow-x: auto;
  padding-bottom: 0;
  padding-inline: 15px;
  position: relative;
  scrollbar-color: #343434 #141414;
  scrollbar-width: thin;
  white-space: nowrap;
  width: 100%;
}

.tab {
  border-bottom: 2px solid transparent;
  font-size: 14px;
  font-weight: 500;
  height: min-content;
  line-height: 2em;
  transition: border 0.25s ease;

  &--active {
    border-bottom: 2px solid white;
  }
}

.item {
  align-items: center;
  border-top: 1px solid #2C2C2C;
  display: flex;
  gap: 5px;
  height: max-content;
  min-height: 50px;
  padding: 12px 7px 12px 15px;
  text-align: left;
  transition: background-color 0.1s ease, opacity 0.1s ease, color 0.25s ease;
  user-select: none;
  width: 100%;

  * {
    transition: background-color 0.1s ease, opacity 0.1s ease, color 0.1s ease;
  }

  &--disabled {
    opacity: 0.8;
  }

  &--no-border {
    border-top: 0;
  }

  &--primary {
    background-color: #262626;
  }

  &--live {
    .item__text {
      padding: 0;
    }
  }

  &--hover {
    background-color: var(--property-background-tertiary);
    transition: background-color 0.25s ease;
  }

  &:last-child {
    //border-bottom: 1px solid #2C2C2C;
  }

  &__image-container {
    aspect-ratio: 16/9;
    border-radius: 5px;
    margin-right: 10px;
    overflow: hidden;
    position: relative;
    width: 140px;

    &--square {
      aspect-ratio: 1;
      width: 100px;
    }

    &--portrait {
      aspect-ratio: 2/3;
      width: 100px;
    }

    .item__order-badge {
      bottom: 3px;
      position: absolute;
      right: 0;
    }
  }

  &__image {
    height: 100%;
    object-fit: cover;
    width: 100%;
  }

  .live-badge {
    bottom: 5px;
    position: absolute;
    right: 5px;
  }

  &__text {
    align-items: center;
    display: grid;
    flex: 1 1 0;
    height: max-content;
    max-width: 100%;
    min-height: 40px;
    padding-right: 5px;
    text-align: left;
  }

  &__headers {
    color: var(--property-text-headers);
    font-size: 10px;
  }

  &__title {
    font-size: 16px;
    font-weight: 600;
  }

  &__subtitle {
    color: var(--property-text-faded);
    font-size: 12px;
  }

  &__title,
  &__subtitle {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &__date {
    color: var(--property-text-secondary);
    font-size: 14px;
  }

  &__actions {
    align-items: center;
    display: flex;
    gap: 5px;
    height: 100%;
    justify-content: center;
    max-height: 100%;
    padding-left: 5px;
  }

  &__action {
    align-items: center;
    border-radius: 5px;
    display: flex;
    font-size: 14px;
    font-weight: 900;
    height: 30px;
    justify-content: center;
    margin-right: 5px;
    opacity: 0.5;
    padding: 6px;
    transition: opacity 0.25s ease, background-color 0.25s ease, color 0.25s ease;
    width: 30px;

    svg {
      height: 100%;
      width: 100%;
    }

    &:hover {
      opacity: 1;
    }

    &:disabled {
      opacity: 0.2;
    }

    &--active {
      background-color: white;
      opacity: 1;

      * {
        color: black;
      }
    }
  }

  &__order-badge {
    @include page-fade-in;

    align-items: center;
    background-color: rgb(0 0 0 / 65%);
    border-radius: 100%;
    color: white;
    display: flex;
    font-size: 20px;
    font-weight: 900;
    height: 25px;
    justify-content: center;
    margin-right: 5px;
    text-shadow: 2px 2px 0 black;
    width: 25px;
    z-index: 1;
  }
}

@media screen and (width <= 850px) {
  // Hide / adjust elements for mobile sidebar

  .sidebar {
    background: var(--property-background-secondary);
    border-radius: 0;
    border-top: 1px solid var(--property-border-color);
    margin-inline: auto;
    max-height: 75vh;
    min-height: unset;
    min-width: unset;
    width: 100%;

    .content {
      padding-bottom: 0;

      &__views-container {
        display: none;
      }
    }

    .item {
      &__actions {
        display: none;
      }
    }
  }

  .header--sidebar,
  .multiview-switch,
  .hide-button,
  .content__fullscreen-button {
    display: none;
  }

  .tabs-container {
    padding-top: 10px;
  }

  .item {
    padding-left: 15px;

    * {
      font-size: 14px;
    }

    &__image-container {
      width: 100px;
    }

    &__subtitle {
      font-size: 12px;
    }

    &--live,
    &__text {
      max-width: 100%;
    }

    &__actions {
      padding-right: 5px;
    }

    &--active {
      background-color: #262626;
    }
  }
}


.multiview-selection-modal {
  max-height: calc(100 * var(--vh));
  min-width: 450px;

  .tabs-container {
    padding-top: 10px;
  }

  &__content {
    background: linear-gradient(0deg, rgb(25 25 25 / 60%) 0%, rgb(25 25 25 / 60%) 100%), linear-gradient(0deg, rgb(0 0 0 / 20%) 0%, rgb(0 0 0 / 20%) 100%), radial-gradient(98.64% 29.9% at 50% -2.68%, #525151 0%, #000 100%);
    height: calc(var(--vh) * 100 - 60px);
    overflow: hidden;
    padding: 0;
    position: relative;
  }

  &__top-header {
    background: black!important;
  }

  &__header {
    align-items: center;
    display: flex;
    justify-content: center;
    position: relative;
    width: 100%;
  }

  &__back {
    align-items: center;
    background-color: #525252;
    border-radius: 100%;
    color: white;
    display: flex;
    height: 35px;
    justify-content: center;
    left: 0;
    padding-right: 2px;
    position: absolute;
    width: 35px;

    svg {
      height: 50%;
      width: 50%;
    }
  }

  &__items {
    margin-bottom: 75px;
    max-height: calc(75 * var(--vh) - 250px);
    min-height: 100px;
    overflow-y: auto;
    padding: 10px 0 60px;
  }

  &__mode {
    align-items: center;
    border-bottom: 1px solid var(--border-color);
    display: flex;
    gap: 20px;
    margin: 10px 20px 0;
  }

  &__mode-option {
    border-bottom: 1px solid transparent;
    cursor: pointer;
    padding: 5px 0;
    transition: border 0.25s ease;
    user-select: none;

    &--selected {
      border-bottom: 1px solid white;
    }
  }

  &__limit {
    color: var(--property-text-primary);
    font-size: 14px;
    font-weight: 500;
    padding: 15px 15px 7px;
  }

  &__actions {
    align-items: center;
    background-color: #0f0f0f;
    bottom: 0;
    display: flex;
    gap: 10px;
    height: 75px;
    padding: 0 30px 0 20px;
    padding-inline: 20px;
    position: absolute;
    width: 100%;
  }

  &__action {
    min-height: 40px;
    width: 100%;
  }

  @media screen and (width <= 600px), ((height <= 600px) and (orientation: landscape)) {
    height: calc(100 * var(--vh));
    max-height: calc(100 * var(--vh));
    max-width: unset;
    min-height: calc(100 * var(--vh));
    min-width: 100vw;

    &__items {
      max-height: calc(100 * var(--vh) - 150px);
    }
  }

  @media screen and (height <= 600px) and (orientation: landscape) {
    &__back {
      display: none;
    }

    &__content {
      padding-inline: 30px;
      width: 100%;
    }

    &__actions {
      padding: 0;
      width: calc(100vw - 60px);
    }
  }
}
