.media-card {
  &--disabled {
    filter: brightness(65%)!important;
    pointer-events: none;
    user-select: none;

    button {
      cursor: auto;
    }
  }

  &--centered {
    text-align: center;

    * {
      text-align: center;
    }
  }

  &__unauthorized-indicator {
    align-items: center;
    background: rgb(0 0 0 / 60%);
    display: flex;
    font-size: 20px;
    font-weight: 600;
    inset: 0;
    justify-content: center;
    opacity: 0;
    position: absolute;
    text-align: center;
    text-shadow: 0 0 5px black;
    transition: opacity 0.25s ease;
    z-index: 10;
  }

  &:hover,
  &:focus-visible {
    .media-card__unauthorized-indicator {
      opacity: 1;
    }
  }
}

.media-card-banner {
  display: block;
  flex: 1 0 100%;
  height: max-content;
  max-width: unset;
  overflow-wrap: anywhere;
  width: 100%;

  &__image-container,
  &__image,
  &__video {
    border-radius: 5px;
    max-width: 100%;
    width: 100%;
  }

  &__video {
    &--loading {
      aspect-ratio: 5;
      max-height: 200px;
    }
  }

  &__video-loader {
    height: 300px;
    inset: 0;
    position: absolute;
    width: 100%;
    z-index: 100;
  }

  &__video-cover {
    inset: 0;
    position: absolute;
    z-index: 10;
  }

  &__image-container {
    display: flex;
    height: max-content;
    overflow: hidden;
    position: relative;

    &--full-bleed {
      &,
      .media-card-banner__image,
      .media-card-banner__video {
        border-radius: 0;
      }
    }
  }

  &__text {
    padding: 10px 0;

    &--full-bleed {
      padding: 10px 100px 10px 30px;
    }
  }

  &__title {
    font-size: 20px;
    margin-top: 10px;
  }

  &__subtitle {
    font-size: 14px;
    margin-top: 5px;
  }

  &__description {
    margin-top: 10px;
  }
}

.media-card-vertical {
  color: white;
  text-align: left;

  &--center {
    * {
      text-align: center;
    }
  }

  &--right {
    * {
      text-align: right;
    }
  }

  &__text {
    padding: 4px;
    user-select: none;
  }

  &__title {
    font-weight: 700;
  }

  &__subtitle {
    color: #a6a6a6;
    font-size: 15px;
  }

  &__headers {
    color: var(--property-text-headers);
    font-size: 0.9em;
    gap: 1.3em;
    margin-bottom: 2px;
    min-height: 1.25em;
    overflow-x: hidden;
    text-overflow: ellipsis;
    white-space: pre;
  }
}

.media-card-button-vertical {
  border-radius: 10px;
  box-shadow: 0 0 10px rgb(0 0 0 / 50%);
  display: flex;
  flex-direction: column;
  height: 100%;
  max-width: 375px;
  min-height: 100%;
  overflow: hidden;
  width: 100%;

  &--center {
    * {
      text-align: center;
    }
  }

  &--right {
    * {
      text-align: right;
    }
  }

  &--landscape {
    .media-card-button-vertical__image,
    .media-card-button-vertical__image-container {
      aspect-ratio: 16/9;
    }
  }

  &--square {
    .media-card-button-vertical__image,
    .media-card-button-vertical__image-container {
      aspect-ratio: 1;
    }
  }

  &--portrait {
    .media-card-button-vertical__image,
    .media-card-button-vertical__image-container {
      aspect-ratio: 2/3;
    }
  }

  &--modal {
    box-shadow: 0 0 30px rgb(0 0 0 / 50%);
    opacity: 1;
  }

  &__image-container {
    box-shadow: 0 0 10px rgb(0 0 0 / 50%);
    display: flex;
    position: relative;
    width: 100%;
  }

  &__image {
    height: 100%;
    object-fit: cover;
    width: 100%;
  }

  &__text {
    background: linear-gradient(180deg, #2D2D2D 0%, #0E0E0E 100%);
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 20px 25px;
    z-index: 1;
  }

  &__headers {
    color: var(--property-text-secondary);
    font-size: 14px;
    gap: 1.3em;
    margin-bottom: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: pre;
  }

  &__title,
  &__subtitle {
    overflow: hidden;
    position: relative;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
  }

  &__title {
    font-size: 20px;
    font-weight: 700;
    height: max-content;
  }

  &__subtitle {
    color: var(--property-text-secondary);
    margin-top: 5px;
    min-height: 1.4em;
  }

  &__price {
    color: var(--property-text-primary);
    font-size: 28px;
    font-weight: 600;
    margin: 10px 0 0;
  }

  &__description {
    font-size: 16px;
    margin: 10px 0;

    * {
      color: var(--property-text-faded);
    }

    p {
      font-size: 16px;
    }
  }

  &__actions {
    display: flex;
    flex: 1 1 0;
    flex-direction: column;
    gap: 10px;
    justify-content: flex-end;
    margin-top: 20px;
    width: 100%;
  }

  &__action {
    font-size: 18px;
    font-weight: 600;
    height: 50px;
    width: 100%;
  }

  &__indicator {
    bottom: 15px;
    position: absolute;
    right: 15px;
    text-align: center;
    user-select: none;
    z-index: 1;
  }

  &__live-indicator {
    background-color: #F00;
    border-radius: 5px;
    font-weight: 600;
    padding: 3px 8px;
    text-transform: uppercase;
  }

  &__upcoming-indicator {
    background: rgb(39 39 39 / 80%);
    border-radius: 5px;
    padding: 5px 10px;
  }
}

.media-card-button-horizontal {
  background: linear-gradient(180deg, #2D2D2D 0%, #0E0E0E 100%);
  border-radius: 10px;
  display: grid;
  gap: 20px;
  grid-template-columns: 40% 1fr;
  height: 100%;
  max-width: 850px;
  overflow: hidden;
  padding: 20px;
  width: 100%;

  &--center {
    * {
      text-align: center;
    }
  }

  &--right {
    * {
      text-align: right;
    }
  }

  &--landscape {
    .media-card-button-horizontal__image,
    .media-card-button-horizontal__image-container {
      aspect-ratio: 16/9;
    }
  }

  &--square {
    .media-card-button-horizontal__image,
    .media-card-button-horizontal__image-container {
      aspect-ratio: 1;
    }
  }

  &--portrait {
    .media-card-button-horizontal__image,
    .media-card-button-horizontal__image-container {
      aspect-ratio: 2/3;
    }
  }

  &__image-container {
    border-radius: 5px;
    display: flex;
    overflow: hidden;
    position: relative;
    width: 100%;
  }

  &__image {
    height: 100%;
    object-fit: cover;
    width: 100%;
  }

  &__text {
    display: flex;
    flex-direction: column;
    height: 100%;
    max-width: 100%;
    overflow: hidden;
  }

  &__headers {
    color: var(--property-text-secondary);
    font-size: 14px;
    gap: 1.3em;
    margin-bottom: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: pre;
  }

  &__title,
  &__subtitle {
    max-width: 100%;
    overflow: hidden;
    position: relative;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
  }

  &__title {
    font-size: 20px;
    font-weight: 700;
    height: max-content;
  }

  &__subtitle {
    color: var(--property-text-secondary);
    margin-top: 5px;
    min-height: 1.4em;
  }

  &__price {
    color: var(--property-text-primary);
    font-size: 20px;
    font-weight: 700;
    margin-top: 5px;
  }

  &__description {
    color: var(--property-text-secondary);
    font-size: 14px;
    margin: 10px 0;

    * {
      color: var(--property-text-faded);
    }

    p {
      font-size: 16px;
    }
  }

  &__actions {
    display: flex;
    flex: 1 1 0;
    flex-direction: column;
    gap: 10px;
    justify-content: flex-end;
    margin-top: 10px;
    width: 100%;
  }

  &__action {
    font-size: 18px;
    font-weight: 600;
    height: 50px;
    width: 100%;
  }

  &__indicator {
    bottom: 15px;
    position: absolute;
    right: 15px;
    text-align: center;
    user-select: none;
    z-index: 1;
  }

  &__live-indicator {
    background-color: #F00;
    border-radius: 5px;
    font-weight: 600;
    padding: 3px 8px;
    text-transform: uppercase;
  }

  &__upcoming-indicator {
    background: rgb(39 39 39 / 80%);
    border-radius: 5px;
    padding: 5px 10px;
  }
}

.button-card-modal-container {
  align-items: center;
  display: flex;
  height: max-content;
  justify-content: center;
  min-height: 100vh;
  padding: 30px 0;
  width: 100%;
  z-index: 0;

  @media screen and (width <= 600px) {
    padding: 0;
  }
}


.attribute-filter {
  --max-card-width: 200px;

  margin-bottom: 10px;
  max-height: 200px;
  max-width: 100%;
  min-height: max-content;
  overflow: visible;
  user-select: none;
  width: 100%;

  & > div {
    align-items: flex-end;
    justify-content: center;
    width: max-content;
  }

  &--centered {
    & > div {
      margin: 0 auto;
    }
  }

  &--secondary {
    --max-card-width: 180px;
  }

  &__attribute-title {
    font-size: 14px;
    height: 23px;
    margin: 5px auto 0;
    max-width: 100%;
    overflow: hidden;
    position: relative;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
  }

  &__option {
    transition: opacity 0.25s ease;

    &--loading {
      opacity: 0;
    }

    &:hover,
    &:focus-visible,
    &.styled-card--active,
    &.styled-card--mobile-active {
      .attribute-filter__attribute-title {
        opacity: 1;
      }
    }

    &--image {
      .attribute-filter__attribute-title {
        opacity: 0;
      }
    }

    &--box {
      align-items: center;
      border: 1px solid var(--property-text-secondary);
      border-radius: var(--property-filter-border-radius);
      color: var(--property-text-secondary);
      display: flex;
      font-weight: 600;
      justify-content: center;
      margin-right: 5px;
      min-width: 120px;
      padding: 5px 20px;
      transition: all 0.25s ease;
      white-space: nowrap;
      width: max-content;

      &:hover,
      &:focus-visible,
      &.attribute-filter__option--active {
        background-color: var(--property-text-primary);
        border: 1px solid var(--property-text-primary);
        transform: scale(1.08);

        * {
          color: black;
        }
      }
    }

    &--text {
      align-items: flex-end;
      color: var(--property-text-faded);
      display: flex;
      font-size: 20px;
      margin-right: 10px;
      min-width: max-content;
      transition: all 0.1s ease;

      &:hover,
      &:focus-visible,
      &.attribute-filter__option--active {
        color: var(--property-text-primary);
      }

      &.attribute-filter__option--active {
        font-weight: 800;
      }
    }
  }

  &__option-image-container {
    max-height: calc(var(--max-card-width) * 9 / 16 * 4 / 3);
  }

  @media screen and (width <= 850px) {
    --max-card-width: 150px;

    &__attribute-title {
      font-size: 12px;
    }

    &__option {
      &--text {
        font-size: 14px;
      }

      &--box {
        font-size: 14px;
        margin-right: 0;
        min-width: 80px;
      }
    }
  }
}

.hover-card-container {
  --width: 300px;

  background: linear-gradient(#3c3c3c, #2c2c2c);
  border: 2px solid var(--property-button-outline-border);
  border-radius: var(--border-radius);
  overflow: hidden;
  padding: 0;
  z-index: 100!important;
}

.hover-card-target {
  // Delay transition return animation so it is not visible as the card pops up
  position: relative;

  &--delay-transition {
    * {
      transition-delay: 0.5s !important;
    }
  }
}

.hover-card {
  display: block;
  max-width: var(--width);
  text-align: left;
  width: var(--width);

  &__image,
  &__image-container {
    width: 100%;
  }

  &__image-container {
    align-items: center;
    display: flex;
    filter: drop-shadow(0 0 10px rgb(0 0 0 / 25%));
    justify-content: center;
  }

  &__image {
    object-fit: cover;
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 10px;
  }

  &__actions {
    align-items: center;
    display: flex;
    gap: 8px;
    margin-bottom: 10px;
  }

  &__action {
    align-items: center;
    background: black;
    border: 2px solid var(--property-text-faded);
    border-radius: 100%;
    display: flex;
    height: 40px;
    justify-content: center;
    padding: 5px;
    width: 40px;

    * {
      color: var(--property-text-faded);
    }

    &:hover,
    &:focus-visible {
      border: 2px solid var(--property-text-primary);

      * {
        color: var(--property-text-primary);
      }
    }
  }

  &__separator {
    flex-grow: 1;
  }

  &__title {
    font-size: 18px;
    font-weight: 800;
    margin: 5px 0;
  }

  &__subtitle {
    color: var(--property-text-faded);
    font-size: 12px;
  }

  &__description {
    color: var(--property-text-faded);
    margin: 10px 0;

    * {
      color: var(--property-text-faded);
      font-size: 14px;
    }
  }

  &__headers {
    color: var(--property-text-faded);
  }
}

.details-modal {
  background: linear-gradient(#2c2c2c, #1c1c1c);
  border-radius: 10px;
  display: block;
  max-height: calc(97 * var(--vh));
  overflow-y: auto;
  padding-bottom: 20px;
  position: relative;
  transition: all 0.25s ease;
  width: 800px;

  * {
    transition: all 0.5s ease;
  }

  &__top,
  &__content,
  &__list-header {
    padding-inline: 20px;
  }

  &__card {
    cursor: initial;
  }

  &__top {
    display: grid;
    gap: 30px;
    grid-template-columns: 1fr 1fr;
  }

  &__top-content {
    padding-right: 30px;
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin: 10px 0;
  }

  &__actions {
    align-items: center;
    display: flex;
    gap: 8px;
    margin-top: 20px;
  }

  &__action {
    align-items: center;
    background: black;
    border: 2px solid var(--property-text-faded);
    border-radius: 100%;
    display: flex;
    height: 40px;
    justify-content: center;
    padding: 5px;
    width: 40px;

    * {
      color: var(--property-text-faded);
    }

    &:hover,
    &:focus-visible {
      border: 2px solid var(--property-text-primary);

      * {
        color: var(--property-text-primary);
      }
    }
  }

  &__button {
    align-items: center;
    background-color: var(--property-background-tertiary);
    border-radius: 22px;
    color: var(--property-text-secondary);
    display: flex;
    font-size: 16px;
    font-weight: 400;
    gap: 10px;
    padding: 7px 40px 7px 20px;

    svg {
      height: 15px;
      width: 15px;
    }

    * {
      color: var(--property-text-secondary);
    }

    &:hover {
      background-color: var(--property-card-background-active);

      * {
        color: var(--property-text-primary);
      }
    }
  }

  &__title {
    font-size: 28px;
    font-weight: 800;
    margin: 5px 0;
  }

  &__subtitle {
    color: var(--property-text-faded);
    font-size: 14px;
  }

  &__description {
    color: var(--property-text-secondary);
    font-size: 14px;
    line-height: 1.6em;
    margin: 10px 0;
    transition: none;

    p {
      font-size: 14px;
    }

    * {
      color: var(--property-text-secondary);
    }

    button {
      color: var(--property-text-faded);
    }
  }

  &__headers {
    color: var(--property-text-faded);
  }

  &__close-header {
    height: 20px;
    padding-right: 5px;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1;
  }

  &__close {
    height: 30px;
    position: absolute;
    right: 5px;
    top: 50%;
    width: 30px;

    * {
      color: var(--property-text-faded);
    }
  }

  &__list-header {
    align-items: center;
    display: flex;
    justify-content: space-between;
  }

  &__list-header-text {
    font-size: 24px;
    font-weight: 500;
  }

  @media screen and (width <= 850px) {
    border-radius: 0;
    max-width: 100vw;
    min-height: 100vh;
    padding-bottom: 100px;
    width: 100vw;

    &__close-header {
      height: 45px;
    }

    &__close {
      right: 15px;
      top: 10px;
    }

    &__top,
    &__content,
    &__list-header {
      padding-inline: 12px;
    }

    &__top {
      gap: 20px;
      grid-template-columns: 1fr;
    }

    &__action {
      border: 2px solid var(--property-text-secondary);

      * {
        color: var(--property-text-secondary);
      }
    }

    &__title {
      font-size: 20px;
    }

    &__list-header {
      align-items: flex-start;
      flex-direction: column;
      gap: 5px;
    }
  }
}

.media-list {
  animation: var(--animation-fade-in) 0.5s ease;
  margin-top: 20px;
}

.media-list-item {
  --scale: 1.05;
  --max-card-width: 150px;

  border-top: 1px solid var(--property-border-color);
  display: flex;
  flex-direction: column;
  padding: 15px 40px 15px 20px;

  &:hover,
  &:focus-visible {
    background: var(--property-background-secondary);
  }

  &__info {
    display: flex;
    gap: 20px;
  }

  &__index {
    align-items: center;
    display: flex;
    font-size: 18px;
    justify-content: center;
    min-width: 35px;
    width: 35px;
  }

  &__image-container {
    border-radius: calc(var(--border-radius) / 2);
  }

  &__title {
    font-size: 20px;
    font-weight: 600;
  }

  &__subtitle,
  &__headers {
    color: var(--property-text-faded);
    font-size: 14px;
  }

  &__description {
    background-color: var(--property-background-tertiary);
    border-radius: calc(var(--border-radius) / 2);
    font-size: 14px;
    margin-left: 55px;
    margin-top: 10px;
    padding: 15px 20px 20px;
  }

  &__description-expand {
    font-size: 12px;
    justify-content: flex-end;
    left: unset;
    padding: 0 10px 2px 0;
    right: 0;
  }

  @media screen and (width <= 850px) {
    --max-card-width: 100px;

    padding: 12px 25px 12px 0;

    &__info {
      gap: 10px;
    }

    &__index {
      font-size: 14px;
    }

    &__text {
      padding: 0;
    }

    &__title {
      font-size: 14px;
    }

    &__subtitle,
    &__headers {
      font-size: 12px;
    }

    &__description {
      margin-left: 45px;
    }
  }
}
