@import "./variables";

.sidebar {
  background: linear-gradient(0deg, rgb(0 0 0 / 20%) 0%, rgb(0 0 0 / 20%) 100%), radial-gradient(98.64% 29.9% at 50% -2.68%, #525151 0%, #000 100%);
  display: flex;
  flex-direction: column;
  height: 100%;
  margin-right: 10px;
  max-height: calc(var(--property-full-content-height));
  min-width: 400px;
  padding: 15px 0 15px 15px;
  position: relative;
  width: 400px;
  z-index: 100;

  @media screen and (width <= 1200px) {
    min-width: 350px;
    width: 350px;

    .header {
      padding-bottom: 10px;

      &__title {
        font-size: 16px;
      }

      &__header,
      &__subtitle {
        font-size: 12px;
      }
    }

    .content {
      &__mode-tab {
        font-size: 12px;
      }
    }

    .item {
      padding-left: 10px;

      * {
        font-size: 12px;
      }

      &__image-container {
        width: 90px;
      }

      &--live,
      &__text {
        max-width: 100%;
      }

      &__actions {
        padding-right: 5px;
      }
    }
  }
}

.hidden-sidebar {
  position: absolute;
  right: 20px;
  top: 10px;
  z-index: 10;

  .show-button {
    align-items: center;
    background: var(--property-button-background);
    border: 1px solid var(--property-button-outline-border);
    border-radius: 100%;
    display: flex;
    height: 30px;
    justify-content: center;
    opacity: 0.5;
    padding-right: 2px;
    transition: opacity 0.35s ease;
    width: 30px;

    &:hover {
      opacity: 1;
    }

    svg {
      height: 13px;
      max-height: 13px;
      max-width: 13px;
      width: 13px;

      * {
        color: var(--property-button-text);
      }
    }
  }

  @media screen and (width <= 650px) {
    display: none;
  }
}

.hide-button {
  cursor: pointer;
  height: 25px;
  position: absolute;
  right: 10px;
  top: 10px;
  width: 25px;
  z-index: 1;

  svg {
    height: 25px;
    width: 25px;
  }
}

.live-badge {
  background: red;
  border-radius: 3px;
  font-size: 12px;
  font-weight: 800;
  height: max-content;
  padding: 2px 8px;
  text-transform: uppercase;
  width: max-content;
}

.header {
  display: flex;
  flex-direction: column;
  gap: 3px;
  height: max-content;
  padding: 0 35px 20px 0;
  position: relative;

  &__title {
    font-size: 24px;
    font-weight: 600;
  }

  &__headers {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    font-size: 14px;
    gap: 0 10px;

    &:not(:empty) {
      margin-bottom: 10px;
    }
  }

  &__header {
    color: var(--property-text-faded);
  }

  &__subtitle {
    color: var(--property-text-faded);
    font-size: 14px;
  }

  .live-badge {
    margin-bottom: 5px;
  }
}

.content {
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 100%;
  max-height: 100%;
  overflow-y: auto;
  overscroll-behavior-y: contain;
  padding-bottom: 10px;

  &__title {
    font-weight: 600;
    padding-bottom: 10px;
    text-transform: uppercase;
    top: 0;
    z-index: 10;
  }

  &__mode {
    align-items: center;
    border-bottom: 1px solid var(--border-color);
    display: flex;
    gap: 30px;
    height: max-content;
    padding-bottom: 0;
    position: relative;
  }

  &__mode-tab {
    border-bottom: 2px solid transparent;
    line-height: 2em;
    transition: border 0.25s ease;

    &--active {
      border-bottom: 2px solid white;
    }
  }

  &__fullscreen-button {
    @include page-fade-in;

    height: 20px;
    position: absolute;
    right: 10px;
    width: 20px;
    z-index: 100;
  }
}

.item {
  align-items: center;
  border-top: 1px solid #2C2C2C;
  display: flex;
  gap: 5px;
  height: max-content;
  min-height: 50px;
  padding: 12px 0 12px 12px;
  text-align: left;
  transition: background-color 0.1s ease, opacity 0.1s ease, color 0.25s ease;
  user-select: none;
  width: 100%;

  * {
  transition: background-color 0.1s ease, opacity 0.1s ease, color 0.1s ease;
  }

  &--disabled {
    opacity: 0.8;
  }

  &--no-border {
    border: 0;
  }

  &--active {
    .item__title {
      color: var(--property-text-highlight);
    }
  }

  &--live {
    .item__text {
      padding: 0;
    }
  }

  &--additional-view {
    cursor: pointer;
    padding-left: 10px;

    .item__title {
      color: var(--property-text-secondary);
      font-size: 14px;
    }
  }

  &--hover {
    background-color: var(--property-background-tertiary);
    transition: background-color 0.25s ease;
  }

  &__image-container {
    aspect-ratio: 16/9;
    border-radius: 5px;
    margin-right: 10px;
    overflow: hidden;
    position: relative;
    width: 120px;

    &--square {
      aspect-ratio: 1;
      width: 100px;
    }

    &--portrait {
      aspect-ratio: 2/3;
      width: 100px;
    }

    .item__order-badge {
      bottom: 3px;
      position: absolute;
      right: 0;
    }
  }

  &__image {
    height: 100%;
    object-fit: cover;
    width: 100%;
  }

  .live-badge {
    left: 5px;
    position: absolute;
    top: 5px;
  }

  &__text {
    display: grid;
    flex: 1 1 0;
    gap: 5px;
    height: max-content;
    max-width: 100%;
    padding-right: 20px;
  }

  &__headers {
    color: var(--property-text-headers);
    font-size: 10px;
  }

  &__title {
    font-size: 16px;
    font-weight: 600;
  }

  &__subtitle {
    color: var(--property-text-faded);
    font-size: 10px;
  }

  &__title,
  &__subtitle {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &__date {
    color: var(--property-text-secondary);
    font-size: 14px;
  }

  &__actions {
    align-items: center;
    display: flex;
    gap: 5px;
    justify-content: center;
  }

  &__action {
    align-items: center;
    border-radius: 5px;
    display: flex;
    font-size: 14px;
    font-weight: 900;
    height: 25px;
    justify-content: center;
    margin-right: 5px;
    opacity: 0.5;
    padding: 4px;
    transition: opacity 0.25s ease, background-color 0.25s ease, color 0.25s ease;
    width: 25px;

    svg {
      height: 100%;
      width: 100%;
    }

    &--active {
      background-color: white;
      opacity: 1;

      * {
        color: black;
      }
    }
  }

  &__order-badge {
    @include page-fade-in;

    align-items: center;
    background-color: rgb(0 0 0 / 65%);
    border-radius: 100%;
    color: white;
    display: flex;
    font-size: 20px;
    font-weight: 900;
    height: 25px;
    justify-content: center;
    margin-right: 5px;
    text-shadow: 2px 2px 0 black;
    width: 25px;
    z-index: 1;
  }
}

@media screen and (width <= 650px) {
  .sidebar {
    border-radius: 0;
    margin-inline: auto;
    max-width: 500px;
    min-width: unset;
    width: 100%;
  }

  .hide-button {
    display: none;
  }

  .content {
    overscroll-behavior-y: initial;
  }

  .item__actions {
    display: none;
  }
}


.multiview-selection-modal {
  max-height: calc(100 * var(--vh));
  min-width: 450px;
  padding: 0;

  &__content {
    overflow: hidden;
    padding: 0;
  }

  &__header {
    align-items: center;
    display: flex;
    justify-content: center;
    position: relative;
    width: 100%;
  }

  &__back {
    align-items: center;
    background-color: #525252;
    border-radius: 100%;
    color: white;
    display: flex;
    height: 25px;
    justify-content: center;
    left: 0;
    padding: 7px;
    position: absolute;
    width: 25px;

    svg {
      height: 100%;
      width: 100%;
    }
  }

  &__items {
    margin-bottom: 75px;
    max-height: calc(75 * var(--vh) - 250px);
    min-height: 100px;
    overflow-y: auto;
    padding: 10px;
  }

  &__mode {
    align-items: center;
    border-bottom: 1px solid var(--border-color);
    display: flex;
    gap: 20px;
    margin: 10px 20px 0;
  }

  &__mode-option {
    border-bottom: 1px solid transparent;
    cursor: pointer;
    padding: 5px 0;
    transition: border 0.25s ease;
    user-select: none;

    &--selected {
      border-bottom: 1px solid white;
    }
  }

  &__limit {
    color: var(--property-text-primary);
    font-size: 14px;
    font-weight: 500;
    padding: 15px 20px 7px;
  }

  &__actions {
    align-items: center;
    background-color: var(--property-background-secondary);
    bottom: 0;
    display: flex;
    gap: 10px;
    height: 75px;
    padding: 0 30px 0 20px;
    padding-inline: 20px;
    position: absolute;
    width: 100%;
  }

  &__action {
    min-height: 40px;
    width: 100%;
  }

  @media screen and (width <= 600px), ((height <= 600px) and (orientation: landscape)) {
    height: calc(100 * var(--vh));
    max-height: calc(100 * var(--vh));
    max-width: unset;
    min-height: calc(100 * var(--vh));
    min-width: 100vw;

    &__items {
      max-height: calc(100 * var(--vh) - 175px);
    }
  }

  @media screen and (height <= 600px) and (orientation: landscape) {
    &__back {
      display: none;
    }

    &__content {
      padding-left: 30px;
    }
  }
}
