.media-card {
  &--disabled {
    opacity: 0.5!important;
    user-select: none;
  }

  &__unauthorized-indicator {
    align-items: center;
    background: rgb(0 0 0 / 60%);
    border: 2px solid rgb(255 255 255 / 30%);
    border-radius: 10px;
    display: flex;
    font-size: 20px;
    font-weight: 600;
    inset: 0;
    justify-content: center;
    opacity: 0;
    position: absolute;
    text-align: center;
    text-shadow: 0 0 5px black;
    transition: opacity 0.25s ease;
    z-index: 1;
  }

  &--unauthorized {
    opacity: 0.75;
    transition: opacity 0.25s ease;

    &:hover,
    &:focus-visible {
      opacity: 1;
      transition: opacity 0.5s ease;

      .media-card__unauthorized-indicator {
        opacity: 1;
        transition: opacity 0.5s ease;
      }
    }
  }
}

.media-card-banner {
  display: block;
  flex: 1 0 100%;
  height: max-content;
  max-width: unset;
  width: 100%;
  word-break: break-word;

  &__image-container,
  &__image,
  &__video {
    border-radius: 5px;
    max-width: 100%;
    width: 100%;
  }

  &__video {
    &--loading {
      aspect-ratio: 6.6;
      max-height: 200px;
    }
  }

  &__video-loader {
    height: 300px;
    inset: 0;
    position: absolute;
    width: 100%;
    z-index: 100;
  }

  &__image-container {
    display: flex;
    height: max-content;
    overflow: hidden;
    position: relative;

    &--full-bleed {
      &,
      .media-card-banner__image,
      .media-card-banner__video {
        border-radius: 0;
      }
    }
  }

  &__text {
    padding: 10px 0;

    &--full-bleed {
      padding: 10px 100px 10px 30px;
    }
  }

  &__title {
    font-size: 20px;
    margin-top: 10px;
  }

  &__subtitle {
    font-size: 14px;
    margin-top: 5px;
  }

  &__description {
    margin-top: 10px;
  }
}

.media-card-vertical {
  --max-card-width-landscape: var(--max-card-width);
  --max-card-width-square: calc(var(--max-card-width) - 100px);
  --max-card-width-portrait: calc(var(--max-card-width) - 100px);

  display: block;
  flex: 1 1 100%;
  max-width: min(calc(100vw - 50px), var(--max-card-width));
  word-break: break-word;

  &__image-container {
    overflow: hidden;
    position: relative;
  }

  &__image {
    border-radius: 14px;
    height: 100%;
    object-fit: cover;
    object-position: center;
    width: 100%;
  }

  &__indicator {
    bottom: 15px;
    position: absolute;
    right: 15px;
    text-align: center;
    user-select: none;
    z-index: 1;
  }

  &__live-indicator {
    background-color: #F00;
    border-radius: 5px;
    font-weight: 600;
    padding: 3px 8px;
    text-transform: uppercase;
  }

  &__upcoming-indicator {
    background: rgb(39 39 39 / 80%);
    border-radius: 5px;
    padding: 5px 10px;
  }

  &__text {
    margin-top: 5px;
    padding-inline: 4px;
  }

  &__headers {
    color: var(--property-text-headers);
    font-size: 0.9em;
    gap: 1.3em;
    margin-bottom: 2px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: pre;
  }

  &__title,
  &__subtitle {
    overflow: hidden;
    position: relative;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
  }

  &__title {
    font-weight: 700;
    height: max-content;
    min-height: 1.6em;
  }

  &__subtitle {
    color: var(--property-text-faded);
    min-height: 1.4em;
  }

  &--center {
    * {
      text-align: center;
    }
  }

  &--right {
    * {
      text-align: right;
    }
  }

  &--landscape {
    max-width: min(calc(100vw - 50px), var(--max-card-width));

    .media-card-vertical__image-container,
    .media-card-vertical__image {
      aspect-ratio: 16/9;
    }
  }

  &--square {
    max-width: min(calc(100vw - 50px), var(--max-card-width-square));

    .media-card-vertical__image-container,
    .media-card-vertical__image {
      aspect-ratio: 1;
    }
  }

  &--portrait {
    max-width: min(calc(100vw - 50px), var(--max-card-width-portrait));

    .media-card-vertical__image-container,
    .media-card-vertical__image {
      aspect-ratio: 2/3;
    }

    .media-card-vertical__indicator {
      font-size: 12px;
    }
  }

  /* Fixed size, e.g. carousel with set aspect ratio */
  &--size-fixed {
    &.media-card-vertical--landscape {
      max-width: var(--max-card-width);
      width: var(--max-card-width);
    }

    &.media-card-vertical--square {
      max-width: var(--max-card-width-square);
      width: var(--max-card-width-square);
    }

    &.media-card-vertical--portrait {
      max-width: var(--max-card-width-portrait);
      width: var(--max-card-width-portrait);
    }
  }

  /* Fixed size, potentially mixed with other aspect ratios - scale with based on aspect ratio to match height */
  &--size-mixed {
    &.media-card-vertical--landscape {
      max-width: var(--max-card-width);
      width: var(--max-card-width);
    }

    &.media-card-vertical--square {
      max-width: calc(var(--max-card-width) * 9 / 16);
      width: calc(var(--max-card-width) * 9 / 16);
    }

    &.media-card-vertical--portrait {
      max-width: calc(var(--max-card-width) * (9 / 16) * (2 / 3));
      width: calc(var(--max-card-width) * (9 / 16) * (2 / 3));
    }
  }

  @media screen and (width <= 800px) {
    &__image {
      padding: 0;
    }

    &--size-mixed {
      --mixed-card-width: 275px;
    }
  }
}

.media-card-horizontal {
  align-items: center;
  backdrop-filter: blur(10px);
  background: var(--property-card-background);
  border-radius: 3px;
  display: flex;
  gap: 20px;
  max-width: 100%;
  min-height: 175px;
  overflow-x: hidden;
  padding: 10px 20px 10px 10px;
  transition: background 0.25s ease;
  width: 100%;
  word-break: break-word;

  &:hover {
    background: var(--property-card-background-active);
  }

  &__image-container {
    border-radius: 3px;
    height: 100%;
    overflow: hidden;
    position: relative;
  }

  &__image {
    height: 100%;
    max-height: 155px;
    object-fit: cover;
    object-position: center;
    width: 100%;
  }

  &--landscape {
    .media-card-horizontal__image,
    .media-card-horizontal__image-container {
      aspect-ratio: 16/9;
    }

    .media-card-horizontal__text {
      max-width: calc(100% - 300px);
    }
  }

  &--square {
    .media-card-horizontal__image,
    .media-card-horizontal__image-container {
      aspect-ratio: 1;
    }

    .media-card-horizontal__text {
      max-width: calc(100% - 250px);
    }
  }

  &--portrait {
    .media-card-horizontal__image,
    .media-card-horizontal__image-container {
      aspect-ratio: 2/3;
    }

    .media-card-horizontal__text {
      max-width: calc(100% - 200px);
    }
  }

  &__indicator {
    bottom: 0;
    font-size: 12px;
    position: absolute;
    right: 0;
    text-align: center;
    user-select: none;
    z-index: 2;
  }

  &__live-indicator {
    background-color: #F00;
    border-radius: 5px;
    bottom: 5px;
    font-weight: 600;
    padding: 3px 8px;
    right: 5px;
    text-transform: uppercase;
  }

  &__upcoming-indicator {
    background: rgb(39 39 39 / 80%);
    padding: 5px 10px;
  }

  &__text {
    display: flex;
    flex: 1 1 0;
    flex-direction: column;
    height: 100%;
    max-width: 100%;
  }

  &__headers {
    align-items: center;
    color: var(--property-text-headers);
    display: flex;
    font-size: 10px;
    gap: 20px;
    height: 20px;
  }

  &__title,
  &__subtitle {
    max-width: 100%;
    overflow: hidden;
    position: relative;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
  }

  &__title {
    font-size: 20px;
  }

  &__subtitle {
    color: var(--property-text-secondary);
    font-size: 12px;
  }

  &__description {
    color: var(--property-text-secondary);
    font-size: 0.9em;
    margin-top: 7px;

    * {
      color: var(--property-text-secondary);
    }
  }

  @media screen and (width <= 800px) {
    height: max-content;

    &__image-container {
      display: none;
    }

    .media-card-horizontal__text {
      max-width: 100%;
    }
  }
}

.media-card-button-vertical {
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  height: 100%;
  max-width: 375px;
  overflow: hidden;
  width: 100%;

  &--center {
    * {
      text-align: center;
    }
  }

  &--right {
    * {
      text-align: right;
    }
  }

  &--landscape {
    .media-card-button-vertical__image,
    .media-card-button-vertical__image-container {
      aspect-ratio: 16/9;
    }
  }

  &--square {
    .media-card-button-vertical__image,
    .media-card-button-vertical__image-container {
      aspect-ratio: 1;
    }
  }

  &--portrait {
    .media-card-button-vertical__image,
    .media-card-button-vertical__image-container {
      aspect-ratio: 2/3;
    }
  }

  &--modal {
    box-shadow: 0 0 30px rgb(0 0 0 / 50%);
  }

  &__image-container {
    box-shadow: 0 0 10px rgb(0 0 0 / 50%);
    display: flex;
    position: relative;
    width: 100%;
  }

  &__image {
    height: 100%;
    object-fit: cover;
    width: 100%;
  }

  &__text {
    background: linear-gradient(180deg, #2D2D2D 0%, #0E0E0E 100%);
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 20px 25px;
  }

  &__headers {
    color: var(--property-text-secondary);
    font-size: 14px;
    gap: 1.3em;
    margin-bottom: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: pre;
  }

  &__title,
  &__subtitle {
    overflow: hidden;
    position: relative;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
  }

  &__title {
    font-size: 20px;
    font-weight: 700;
    height: max-content;
  }

  &__subtitle {
    color: var(--property-text-secondary);
    margin-top: 5px;
    min-height: 1.4em;
  }

  &__price {
    color: var(--property-text-primary);
    font-size: 28px;
    font-weight: 600;
    margin: 10px 0 0;
  }

  &__description {
    font-size: 16px;
    margin: 10px 0;

    * {
      color: var(--property-text-faded);
    }

    p {
      font-size: 16px;
    }
  }

  &__actions {
    display: flex;
    flex: 1 1 0;
    flex-direction: column;
    gap: 10px;
    justify-content: flex-end;
    margin-top: 20px;
    width: 100%;
  }

  &__action {
    font-size: 18px;
    font-weight: 600;
    height: 50px;
    width: 100%;
  }

  &__indicator {
    bottom: 15px;
    position: absolute;
    right: 15px;
    text-align: center;
    user-select: none;
    z-index: 1;
  }

  &__live-indicator {
    background-color: #F00;
    border-radius: 5px;
    font-weight: 600;
    padding: 3px 8px;
    text-transform: uppercase;
  }

  &__upcoming-indicator {
    background: rgb(39 39 39 / 80%);
    border-radius: 5px;
    padding: 5px 10px;
  }
}

.media-card-button-horizontal {
  background: linear-gradient(180deg, #2D2D2D 0%, #0E0E0E 100%);
  border-radius: 10px;
  display: grid;
  gap: 20px;
  grid-template-columns: 40% 1fr;
  height: max-content;
  max-width: 850px;
  overflow: hidden;
  padding: 20px;
  width: 100%;

  &--center {
    * {
      text-align: center;
    }
  }

  &--right {
    * {
      text-align: right;
    }
  }

  &--landscape {
    .media-card-button-horizontal__image,
    .media-card-button-horizontal__image-container {
      aspect-ratio: 16/9;
    }
  }

  &--square {
    .media-card-button-horizontal__image,
    .media-card-button-horizontal__image-container {
      aspect-ratio: 1;
    }
  }

  &--portrait {
    .media-card-button-horizontal__image,
    .media-card-button-horizontal__image-container {
      aspect-ratio: 2/3;
    }
  }

  &__image-container {
    border-radius: 5px;
    display: flex;
    overflow: hidden;
    position: relative;
    width: 100%;
  }

  &__image {
    height: 100%;
    object-fit: cover;
    width: 100%;
  }

  &__text {
    display: flex;
    flex-direction: column;
    height: 100%;
    max-width: 100%;
    overflow: hidden;
  }

  &__headers {
    color: var(--property-text-secondary);
    font-size: 14px;
    gap: 1.3em;
    margin-bottom: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: pre;
  }

  &__title,
  &__subtitle {
    max-width: 100%;
    overflow: hidden;
    position: relative;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
  }

  &__title {
    font-size: 20px;
    font-weight: 700;
    height: max-content;
  }

  &__subtitle {
    color: var(--property-text-secondary);
    margin-top: 5px;
    min-height: 1.4em;
  }

  &__price {
    color: var(--property-text-primary);
    font-size: 20px;
    font-weight: 700;
    margin-top: 5px;
  }

  &__description {
    color: var(--property-text-secondary);
    font-size: 14px;
    margin: 10px 0;

    * {
      color: var(--property-text-faded);
    }

    p {
      font-size: 16px;
    }
  }

  &__actions {
    display: flex;
    flex: 1 1 0;
    flex-direction: column;
    gap: 10px;
    justify-content: flex-end;
    margin-top: 10px;
    width: 100%;
  }

  &__action {
    font-size: 18px;
    font-weight: 600;
    height: 50px;
    width: 100%;
  }

  &__indicator {
    bottom: 15px;
    position: absolute;
    right: 15px;
    text-align: center;
    user-select: none;
    z-index: 1;
  }

  &__live-indicator {
    background-color: #F00;
    border-radius: 5px;
    font-weight: 600;
    padding: 3px 8px;
    text-transform: uppercase;
  }

  &__upcoming-indicator {
    background: rgb(39 39 39 / 80%);
    border-radius: 5px;
    padding: 5px 10px;
  }
}

.button-card-modal-container {
  align-items: center;
  display: flex;
  height: max-content;
  justify-content: center;
  min-height: 100vh;
  padding: 30px 0;
  width: 100%;
  z-index: 0;

  @media screen and (width <= 600px) {
    padding: 0;
  }
}
