@import "./variables";

.section-page {
  &.page {
    padding-inline: 75px;
  }

  @media screen and (width <= 800px) {
    &.page {
      padding-inline: 25px;
    }
  }
}

.section-container {
  align-items: center;
  background-size: cover;
  display: flex;
  gap: 50px;
  max-width: 100vw;
  overflow: hidden;
  padding-bottom: 50px;
  padding-top: 50px;
  z-index: 1;

  &--carousel {
    padding-right: 0;
  }

  &--grid {
    align-items: flex-start;

    .section__logo-container {
      &--top {
        margin-top: 50px;
      }

      &--center {
        align-self: center;
      }

      &--bottom {
        align-self: end;
      }
    }
  }

  &--banner {
    padding-bottom: 30px;
    padding-top: 30px;

    &:first-child {
      padding-top: 0;
    }
  }

  &--full-bleed {
    padding-inline: 0;
  }

  @media screen and (width <= 800px) {
    gap: 30px;
  }
}

.section {
  font-size: 16px;
  height: max-content;
  max-width: 100%;
  overflow: hidden;
  position: relative;
  width: 100%;

  --max-card-width: 450px;

  &--page {
    .section__content--grid {
      width: 100%;
    }
  }

  &--center {
    max-width: 100%;

    .section__title-container {
      justify-content: center;
    }
  }

  &--right {
    margin-left: auto;

    .section__title-container {
      justify-content: flex-end;
    }
  }

  &__logo-container {
    display: grid;
    gap: 40px;

    &--with-text {
      padding-top: 40px;
    }
  }

  &__logo-text {
    font-size: 18px;
    font-weight: 500;
    text-align: center;
  }

  &__logo {
    height: auto;
    max-height: 300px;
    max-width: 200px;
    object-fit: contain;
    width: 200px;
  }

  &__title-container {
    align-items: center;
    display: flex;
    gap: 30px;
    margin-bottom: 20px;
  }

  &__title {
    align-items: center;
    display: flex;
    font-size: 1.5em;
    gap: 10px;
  }

  &__title-icon {
    height: 25px;
    object-fit: contain;
    width: auto;
  }

  &__subtitle {
    color: var(--property-text-secondary);
    margin-bottom: 10px;
  }

  &__title-link {
    align-items: center;
    display: flex;
    gap: 10px;
    margin-top: 5px;
    text-transform: uppercase;

    * {
      color: var(--property-text-faded);
      transition: color 0.25s ease;
    }

    &:hover {
      * {
        color: var(--property-text-highlight);
      }
    }

    svg {
      height: 10px;
    }
  }

  &__page-filter {
    font-size: 14px;
    margin: 10px 0 20px;
    padding: 0;

    @media screen and (width <= 800px) {
      font-size: 12px;
    }
  }

  &__groups {
    display: grid;
    gap: 50px;
  }

  &__group-title {
    font-size: 1.5em;
    font-weight: 600;
    margin-bottom: 20px;
  }

  &__content {
    @include page-fade-in;

    margin-top: 10px;
    width: 100%;

    &--grid {
      display: grid;
      gap: 25px 25px;
      max-width: 100%;
      width: 100%;

      &.section__content--center {
        justify-content: center;
        margin-inline: auto;
        width: max-content;
      }

      &.section__content--right {
        justify-content: flex-end;
        margin-left: auto;
        margin-right: 0;
        width: max-content;
      }
    }

    &--carousel {
      --max-card-width: 400px;

      height: 100%;

      &.section__content--center,
      &.section__content--right {
        width: max-content;
      }
    }

    /* Mixed aspect ratio grid */
    &--flex {
      display: flex;
      flex-wrap: wrap;

      --max-card-width: 350px;
    }

    &--banner {
      display: grid;
      margin: 0;

      &--spacing-sm {
        gap: 25px;
      }

      &--spacing-md {
        gap: 50px
      }

      &--spacing-lg {
        gap: 100px;
      }
    }
  }

  @media screen and (width <= 1200px) {
    &__logo {
      max-height: 150px;
      max-width: 200px;
    }

    &__logo-text {
      font-size: 14px;
    }
  }

  @media screen and (width <= 800px) {
    --max-card-width: 350px;

    width: 100%;

    &--page {
      max-width: calc(100vw - 30px);
      width: 100%;
    }

    &--grid {
      margin-inline: auto;
      width: max-content;
    }

    &--center {
      .section__title-container {
        align-items: center;
      }
    }

    &--right {
      .section__title-container {
        align-items: flex-end;
      }
    }

    &__logo {
      max-height: 125px;
      max-width: 125px;
    }

    &__title-container {
      flex-wrap: wrap;
      gap: 20px;
      max-width: 85vw;
    }

    &__title {
      font-size: 1.3em;
    }

    &__title-link {
      font-size: 0.8em;
      margin: 0;
      min-width: max-content;
    }

    &__content--grid {
      gap: 30px 10px;
      margin: auto;
      width: max-content;
    }

    &__content--carousel {
      --max-card-width: 275px;
    }
  }

  @media screen and (width <= 600px) {
    &__logo-container {
      display: none;
    }

    &__title-container {
      margin-bottom: 5px;
      max-width: var(--max-card-width);
    }

    &__page-filter {
      margin-top: 20px;
    }
  }
}

.hero-section {
  @include page-fade-in;

  background-color: var(--property-background);
  height: min-content;
  max-width: 100%;
  min-height: var(--property-full-content-height);
  overflow: visible;
  position: relative;
  width: 100%;

  &__header {
    padding-inline: var(--property-page-padding);
  }

  &__background {
    min-height: var(--property-full-content-height);
  }

  &__background-image,
  &__background-video {
    @include page-fade-in(1s, ease-out);
  }

  &__content {
    height: max-content;
    margin-bottom: 20px;
    max-width: 100vw;
    overflow: hidden;

    &--active {
      transition: opacity 1s ease-out;
    }
  }

  &__arrow {
    display: block;
    font-size: 1.5em;
    font-weight: 400;
    height: 100%;
    opacity: 0.5;
    padding: 0 15px;
    position: absolute;
    top: 0;
    transition: opacity 0.25s ease-out;
    width: max-content;
    z-index: 5;

    &:hover {
      opacity: 1;
    }

    &:disabled {
      opacity: 0;
      pointer-events: none;
    }

    svg {
      filter: drop-shadow(1px 1px 3px black);
      height: 24px;
      position: relative;
      stroke-width: 2px;
      z-index: 1;
    }

    &--previous {
      left: 0;
      padding-right: 20px;
    }

    &--next {
      padding-left: 20px;
      right: 0;
    }

    &.swiper-button-disabled {
      cursor: auto;
      opacity: 0;
    }
  }

  .actions {
    align-items: center;
    display: flex;
    gap: 20px;
    margin: 30px 0;
  }

  .action {
    &__modal {
      background: red;

      &:global(.modal) {
        overflow-y: visible;
      }
    }
  }

  @media screen and (width <= 800px) {
    .actions {
      flex-wrap: wrap;
      justify-content: center;
      margin-top: 20px;
    }

    &__header,
    &__section {
      padding-inline: var(--property-page-padding);
    }

    .button {
      flex: 1 1 100%;
      font-size: 0.9em;
      height: 36px;
      max-width: 450px;
    }

    &__arrow {
      svg {
        height: 15px;
      }
    }
  }
}

.container-section {
  &__filter-container {
    align-items: center;
    display: flex;
    justify-content: center;
    margin-bottom: -20px;
    max-width: 100%;
    overflow: hidden;
    width: 100%;
  }

  &__filter {
    margin-top: 25px;
    max-width: 100%;
    padding-inline: var(--property-page-padding);
  }
}
