.footer {
  padding: 75px;
  position: relative;
  width: 100%;
  z-index: 1;

  &--custom-background {
    .footer__separator {
      background: var(--property-text-extra-faded);
    }
  }

  * {
    color: var(--property-text-secondary);
    text-align: center;
  }

  &__items {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
  }

  &__item {
    transition: color 0.25s ease;

    &:hover {
      color: var(--property-text-primary);
    }
  }

  &__item-image {
    height: 50px;
  }

  &__separator {
    background: linear-gradient(90deg, #000, #202023, #323232, #202023, #000);
    height: 1px;
    margin: 30px 0
  }

  &__rich-text {
    font-size: 14px;
  }

  &__html {
    border: 0;
    height: 85vh;
    max-width: 1200px;
    width: 100%;
  }

  &__modal {
    &--rich-text {
      border-radius: 5px;
      padding: 15px;
    }
  }

  @media screen and (width <= 800px) {
    padding-inline: 25px;

    &__html {
      height: 100vh;
    }
  }
}

.social-links {
  align-items: center;
  display: flex;
  gap: 30px;
  justify-content: center;
  margin-bottom: 50px;
  width: 100%;

  &__text {
    font-size: 24px;
    font-weight: 600;
  }

  &__links {
    align-items: center;
    display: flex;
    gap: 20px;

    * {
      color: var(--property-text-faded);
      transition: color 0.25s ease;
    }
  }

  &__link {
    height: 40px;
    width: 40px;

    &:hover {
      * {
        color: var(--property-text-primary);
      }
    }
  }

  &__link-icon {
    height: 100%;
    width: 100%;
  }

  @media screen and (width <= 800px) {
    flex-direction: column;
    margin-bottom: 50px;
  }
}
