@import "variables";

.loader {
  height: 200px;
  max-width: 100%;
  width: 100%;
}

.form {
  @include page-fade-in(0.5s);

  max-width: 400px;
  min-width: 400px;
  padding: 15px 25px 35px 15px;
  width: 100%;

  &--with-images {
    max-width: 700px;
    min-width: 700px;

    .item-container {
      grid-template-columns: auto 1fr;
    }
  }

  @media screen and (width <= 750px) {
    margin-inline: auto;
    max-width: 400px;
    min-width: 400px;

    &--with-images {
      .item-container {
        grid-template-columns: 1fr;
      }

      .item-image-container {
        margin-inline: auto;
      }
    }
  }
}

.button {
  @include page-fade-in(0.5s);

  height: 40px;
  width: 100%;
}

.actions {
  display: grid;
  gap: 10px;
  margin-top: 15px;
}

.items {
  display: grid;
  gap: 60px;
  max-width: 800px;
  width: 100%;
}

.item-container {
  display: grid;
  gap: 30px;
  grid-template-columns: 1fr;
  width: 100%;
}

.item-image-container {
  display: flex;
  height: 100%;
  justify-content: center;
  max-width: 250px;
  min-width: 250px;
  padding-top: 10px;
}

.item-image {
  max-height: 300px;
  object-fit: contain;
  object-position: top;
}

.item {
  display: flex;
  flex-direction: column;
  width: 100%;

  &__price {
    font-size: 1.4em;
    font-weight: 500;
  }

  &__title,
  &__subtitle,
  &__description {
    color: var(--property-text-secondary);
  }

  &__subtitle {
    font-size: 1.2em;
  }

  &__description {
    margin: 10px 0;
  }
}

.payment {
  @include page-fade-in(0.75s);

  margin-top: 20px;

  &__input-label {
    font-size: 1em;
    margin-bottom: 5px;
    text-align: center;
    width: 100%;
  }

  &__input {
    font-size: 1.2em;
    min-height: 50px;
    text-align: center;
  }

  &__message {
    font-size: 1.1em;
    font-weight: 600;
    margin: 20px 0;
    text-align: center;
  }

  &__error {
    color: #C00;
  }
}

.summary {
  display: grid;
  width: 100%;

  &__error {
    margin-bottom: 0;
  }

  &__box {
    background-color: var(--property-background-tertiary);
    border-radius: 5px;
    margin-top: 20px;
    padding: 10px;
  }

  &__line {
    align-items: center;
    display: flex;
    font-size: 1.1em;
    gap: 20px;
    justify-content: space-between;
  }

  &__separator {
    border: 0.5px solid var(--property-border-color);
    height: 1px;
    margin: 10px 0;
  }
}

.status {
  @include page-fade-in(0.25s);

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  min-height: 175px;
  padding: 30px 0 10px;

  &__loader {
    height: 150px;
  }

  &__message {
    font-size: 1.5em;
    font-weight: 500;
    text-align: center;

    &--info {
      font-size: 1em;
      margin-top: 10px;
    }
  }

  &__error {
    color: #C00;
    font-size: 1.1em;
  }
}
