.section-card {
  display: block;
  flex: 1 1 100%;
  max-width: var(--max-card-width);
  padding: 3px 0 0;
  transition: padding 0.25s ease-out;

  &:hover {
    padding: 0 0 3px;
    transition-delay: 0.2s;
  }

  &__image-container {
    border-radius: 3px;
    overflow: hidden;
    position: relative;
  }

  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }

  &--landscape {
    width: var(--max-card-width);
    max-width: var(--max-card-width);

    .section-card__image-container {
      aspect-ratio: 16/9;
    }
  }

  &--square {
    width: calc(var(--max-card-width) * 0.5625);
    max-width: calc(var(--max-card-width) * 0.5625);

    .section-card__image-container {
      aspect-ratio: 1;
    }
  }

  &--portrait {
    width: calc(var(--max-card-width) * 0.375);
    max-width: calc(var(--max-card-width) * 0.375);

    .section-card__image-container {
      aspect-ratio: 2/3;
    }

    .section-card__indicator {
      font-size: 12px;
    }
  }

  &__indicator {
    position: absolute;
    z-index: 2;
    bottom: 15px;
    right: 15px;
    text-align: center;
    user-select: none;
  }

  &__live-indicator {
    padding: 3px 8px;
    border-radius: 5px;
    background-color: #F00;
    text-transform: uppercase;
    font-weight: 600;
  }

  &__upcoming-indicator {
    background: rgba(39, 39, 39, 0.8);
    border-radius: 5px;
    padding: 5px 10px;
  }

  &__text {
    margin-top: 10px;
  }

  &__headers {
    display: flex;
    align-items: center;
    gap: 20px;
    color: var(--property-text-headers);
    font-size: 14px;
    height: 20px;
  }

  &__title,
  &__subtitle {
    position: relative;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  &__title {
    min-height: 30px;
  }

  &__subtitle {
    color: var(--property-text-faded);
    min-height: 20px;
  }
}
