@import "variables";
.purchase-modal {
  &__overlay {
    @include page-fade-in(0.25s);
    backdrop-filter: blur(3px);
  }

  &__inner {
    padding: 0;
    width: 100%;
  }

  &__container {
    @include page-fade-in(0.25s);
    background-color: var(--property-background-secondary);
  }

  &__content {
    position: relative;
    width: 100%;
    max-width: max-content;
    background-color: var(--property-background-secondary);

    &:empty {
      display: none;
    }
  }

  &__close {
    height: 25px;
    width: 25px;
    position: fixed;
    right: 15px;
    top: 15px;
    cursor: pointer;
    z-index: 1;
    display: none;
    filter: drop-shadow(0 0 2px #000);

    * {
      color: var(--property-text-secondary);
    }
  }

  @media screen and (max-width: 600px) {
    &__container {
      max-height: var(--property-full-page-height);
      height: 100%;
      width: 100%;
    }

    &__content {
      padding-top: 25px;
      max-width: unset;
    }

    &__close {
      display: block;
    }
  }
}

.loader {
  width: 100%;
  //min-width: 300px;
  max-width: 100%;
  height: 400px;
}

.form {
  @include page-fade-in(0.5s);
  width: 100%;
  min-width: 400px;
  max-width: 400px;
  padding: 15px;

  @media screen and (max-width: 600px) {
    min-width: 100%;
    width: 100%;
  }
}

.items {
  max-width: 400px;
  display: grid;
  gap: 60px;
}

.item {
  display: grid;

  &__price {
    font-size: 1.4em;
    font-weight: 500;
  }

  &__title,
  &__subtitle,
  &__description {
    color: var(--property-text-secondary);
  }

  &__subtitle {
    font-size: 1.2em;
  }

  &__description {
    margin: 15px 0;
  }
}

.payment {
  @include page-fade-in(0.75s);
  margin-top: 20px;

  &__input-label {
    font-size: 1em;
    text-align: center;
    width: 100%;
    margin-bottom: 5px;
  }

  &__input {
    min-height: 50px;
    font-size: 1.2em;
    text-align: center;
  }

  &__message {
    margin: 20px 0;
    text-align: center;
    font-size: 1.1em;
    font-weight: 600;
  }

  &__error {
    color: #CC0000;
  }

  &__option,
  &__button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 50px;
    border-radius: 5px;
    margin-top: 15px;
    font-weight: 500;
    padding-inline: 10px;
    transition: background-color 0.2s ease, border 0.2s ease, color 0.2s ease;

    &:disabled {
      opacity: 0;
      height: 0;
      max-height: 0;
      min-height: unset;
    }
  }

  &__option {
    border: 1px solid #CCC;

    &:not(&--active) {
      &:hover,
      &:focus-visible {
        background-color: #555;
      }
    }

    &--active {
      border: 1px solid #FFF;
      background-color: #FFF;
      color: #000;
    }
  }

  &__button {
    border: 1px solid #FFF;

    &:hover,
    &:focus-visible,
    &--active {
      border: 1px solid #FFF;
      background-color: #FFF;
      color: #000;
    }
  }

  &__button-loader {
    height: 30px;

    :global(.spinner) {
      --spinner-width: 4px;
      --spinner-color: var(--property-text-faded);
      --spinner-color-background: var(--property-text-secondary);
    }
  }

  &__submit {
    @include page-fade-in(0.5s);

    background-color: #FFF;
    color: #000;

    * {
      color: #000;
    }
  }
}

.summary {
  display: grid;
  width: 100%;

  &__error {
    margin-bottom: 0;
  }

  &__box {
    background-color: var(--property-background-tertiary);
    padding: 10px;
    border-radius: 5px;
    margin-top: 20px;
  }

  &__line {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    font-size: 1.1em;
  }

  &__separator {
    border: 0.5px solid var(--property-border-color);
    margin: 10px 0;
    height: 1px;
  }
}

.status {
  @include page-fade-in(0.25s);
  padding: 30px 0 10px;
  min-height: 175px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  &__loader {
    height: 150px;
  }

  &__message {
    font-size: 1.5em;
    font-weight: 500;
    text-align: center;

    &--info {
      font-size: 1em;
      margin-top: 10px;
    }
  }

  &__error {
    color: #CC0000;
    font-size: 1.1em;
  }
}
