@import "./variables";

.media-page {
  @include page-fade-in(0.5s, ease-out, 0.5s);

  height: 100%;
  max-width: 100%;
  min-height: var(--property-full-content-height);
  position: relative;

  &__back-link {
    align-items: center;
    background: rgb(0 0 0 / 15%);
    border-radius: 5px;
    display: flex;
    font-size: 1em;
    gap: 10px;
    left: 10px;
    opacity: 0;
    padding: 5px 10px;
    position: absolute;
    top: 10px;
    transition: opacity 0.5s ease, background-color 0.5s ease;
    width: max-content;
    z-index: 10;

    &--visible {
      opacity: 0.8;
    }

    &:hover,
    &:focus-visible {
      background: rgb(0 0 0 / 30%);
      opacity: 1;
    }

    svg {
      height: 13px;
    }
  }

  &--full {
    .media {
      max-height: var(--property-full-content-height);
    }
  }

  &--extended {
    .media {
      max-height: calc(var(--property-full-content-height) - 175px);
    }
  }

  &--sidebar {
    min-height: unset;
    padding-bottom: 50px;
  }

  &__additional-content {
    margin-top: 30px;
  }

  @media screen and (width <= 800px) {
    height: max-content;
    min-height: unset;
  }
}

.media-nav-button {
  align-items: center;
  background: var(--property-background-secondary);
  border: 1px solid var(--property-border-color);
  border-radius: var(--property-button-border-radius);
  bottom: 5px;
  display: flex;
  font-size: 14px;
  height: 30px;
  justify-content: center;
  opacity: 0.35;
  position: absolute;
  transition: opacity 0.15s ease;
  width: 85px;

  &:hover {
    opacity: 1;
  }

  &--previous {
    left: 30px;
  }

  &--next {
    right: 30px;
  }
}

.media-container,
.media {
  height: max-content;
  width: 100%;
}

.media-container {
  background-color: var(--property-background);
  height: 100%;
  position: relative;
  z-index: 1;

  &__single-media {
    max-height: calc(var(--property-full-content-height) - 250px);

    * {
      max-height: calc(var(--property-full-content-height) - 250px);
    }
  }
}

.media {
  background: #000;
  height: var(--property-full-content-height);
  min-height: 400px;
  position: relative;

  &__video {
    height: max-content;
    margin: 0 auto;
    max-width: 100vw;
  }

  &__image {
    height: 100%;
    max-height: 100%;
    object-fit: contain;
    width: 100%;
  }

  &__empty {
    @include page-fade-in(0.75s);

    align-items: center;
    display: flex;
    font-size: 24px;
    height: 100%;
    justify-content: center;
    user-select: none;
  }

  &__error {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: var(--property-full-content-height);
    justify-content: center;
    padding-bottom: 100px;
    position: relative;
    width: 100%;
    z-index: 1;

    &--countdown {
      gap: 30px;
    }
  }

  &__countdown {
    font-size: 2em;
    font-weight: 600;
  }

  &__error-icon {
    height: 50px;
    margin-bottom: 10px;
    width: 50px;
    z-index: 1;
  }

  &__error-message {
    font-size: 2em;
    font-weight: 500;
    text-align: center;
    z-index: 1;
  }

  &__error-cover,
  &__error-image {
    height: 100%;
    inset: 0;
    object-fit: cover;
    position: absolute;
    width: 100%;
  }

  &__error-cover {
    /* stylelint-disable no-color-literals */
    background: rgb(0 0 0 / 50%);
  }

  &__error-headers {
    align-items: center;
    background: rgb(0 0 0 / 60%);
    border-radius: 5px;
    display: flex;
    gap: 30px;
    justify-content: center;
    padding: 5px 30px;
    position: relative;
  }

  &__error-header {
    color: var(--property-text-secondary);
    font-size: 1.4em;
  }

  &__error-title {
    font-size: 1.5em;
    font-weight: 700;
    position: relative;
  }

  &__error-content-icons {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: center;
    margin-bottom: 30px;
    position: relative;
  }

  &__error-content-icon {
    border-radius: 100%;
    height: 150px;
    overflow: hidden;
    width: 150px;
  }

  @media screen and (width <= 800px) {
    min-height: unset;

    &__error {
      padding-inline: 20px;
    }

    &__error-title {
      text-align: center;
    }

    &__error--countdown {
      gap: 20px;
    }

    &__error-content-icons {
      margin: 125px 0 10px;
    }

    &__error-content-icon {
      height: 120px;
      min-width: 120px;
      width: 120px;
    }

    &__error-headers {
      flex-direction: column;
      font-size: 0.9em;
      gap: 10px;
      min-width: 250px;
      padding: 20px;
    }

    &__countdown {
      font-size: 1.2em;
      text-align: center;
    }
  }
}

@keyframes fadein {
  from { opacity: 0; }
  to { opacity: 1; }
}


.media-with-sidebar {
  display: grid;
  grid-template-columns: 1fr auto;
  height: max-content;
  max-width: 100%;
  min-height: 500px;
  overflow: hidden;
  padding: 0;
  position: relative;
  width: 100%;

  &__fullscreen {
    .media-with-sidebar__video {
      max-height: unset!important;
    }
  }

  &__media {
    align-items: center;
    display: grid;
    height: max-content;
  }

  &__media-container {
    align-items: center;
    display: flex;
    height: max-content;
    max-height: calc(var(--property-full-content-height) - 175px);
    position: relative;

    * {
      max-height: calc(var(--property-full-content-height) - 175px);
    }
  }

  &__media-grid-container {
    align-items: center;
    background-color: var(--property-background-secondary);
    display: flex;
    height: 100%;
    min-height: calc(var(--vh, 1vh) * 100 - 200px);
    position: relative;
    width: 100%;

    &--single {
      background-color: transparent;
      margin: 0;
      padding: 0;
    }
  }

  &__media-grid {
    align-items: center;
    display: grid;
    gap: 2px;
    justify-content: center;
    margin-inline: auto;
    width: 100%;

    .media__error {
      aspect-ratio: 16/9;
      height: 100%;
      padding-bottom: 0;
    }

    &--1 {
      grid-template-areas: "video-1";
      justify-content: unset;
    }

    &--2 {
      grid-template-areas: "video-1 video-2";
      grid-template-columns: 1fr 1fr;
    }

    &--3 {
      grid-template-areas:
              "video-1 video-1 video-2 video-2"
              ". video-3 video-3 .";
      grid-template-columns: 1fr 1fr 1fr 1fr;
      max-width: calc(83vh * 16 / 9);
    }

    &--4 {
      grid-template-areas:
              "video-1 video-2"
              "video-3 video-4";
      grid-template-columns: 1fr 1fr;
      max-width: calc(83vh * 16 / 9);
    }

    &--5 {
      grid-template-areas:
              "video-1 video-2 ."
              "video-1 video-2 video-5"
              "video-3 video-4 video-5"
              "video-3 video-4 .";
      grid-template-columns: 1fr 1fr 1fr;
    }

    &--6 {
      grid-template-areas:
              "video-1 video-2 video-3"
              "video-4 video-5 video-6";
      grid-template-columns: 1fr 1fr 1fr;
    }

    &--7 {
      grid-template-areas:
              "video-1 video-2 video-3"
              "video-4 video-5 video-6"
              ". video-7 .";
      grid-template-columns: 1fr 1fr 1fr;
    }

    &--8 {
      grid-template-areas:
              "video-1 video-1 video-2 video-2 video-3 video-3"
              "video-4 video-4 video-5 video-5 video-6 video-6"
              ".  video-7 video-7 video-8 video-8 .";
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    }

    &--9 {
      grid-template-areas:
              "video-1 video-2 video-3"
              "video-4 video-5 video-6"
              "video-7 video-8 video-9";
      grid-template-columns: 1fr 1fr 1fr;
    }

    &--1,
    &--2 {
      .media {
        max-height: calc(var(--property-full-content-height));
      }
    }

    &--3,
    &--4,
    &--5,
    &--6 {
      .media {
        max-height: calc(var(--property-full-content-height) / 2);
      }
    }

    &--7,
    &--8,
    &--9 {
      .media {
        max-height: calc(var(--property-full-content-height) / 3);
      }
    }
  }

  .media__error {
    max-height: calc(var(--property-full-content-height) - 10px)!important;
  }

  &__video {
    flex: 1 1 100%;
    max-height: calc(var(--property-full-content-height) - 100px);
    min-height: unset;

    &.media__error {
      aspect-ratio: 16/9;
      flex: 1 1 100%;
      height: auto;
      padding: 0;
      width: 100%;
    }
  }

  &__pip-video {
    animation: 0.75s fadein ease;
    bottom: 85px;
    box-shadow: none;
    cursor: pointer;
    min-height: unset;
    min-width: 200px;
    position: absolute;
    right: 15px;
    transition: opacity 0.15s ease, outline 0.25s ease, box-shadow 0.25s ease;
    width: 25%;
    z-index: 10;

    &:hover {
      box-shadow: 5px 5px 15px rgb(0 0 0 / 50%);
    }

    &.media__error {
      font-size: 12px;
      height: 200px;
      padding: 0;
      z-index: 0;

      .media__error-icon {
        height: 35px;
      }
    }

    &--under-menu {
      opacity: 0.5;
      z-index: 0;
    }
  }

  .media__error-message {
    font-size: 1.5em;
  }

  &__stream-selection {
    align-items: center;
    background-color: var(--property-background-secondary);
    display: none;
    font-size: 20px;
    padding: 10px 25px;
  }

  &__stream-selection-button {
    font-size: 14px;
    min-height: 35px;
  }

  @media screen and (width <= 1200px) {
    grid-column-gap: 0;
    grid-template-columns: 1fr max-content;
    margin-top: 0;
    padding: 0 15px;

    &__video {
      max-height: calc(var(--property-full-content-height) - 10px);
      min-height: unset;

      * {
        max-height: calc(var(--property-full-content-height) - 10px);
      }
    }
  }

  @media screen and (width <= 1000px) and (orientation: portrait) {
    &__media-grid-container {
      min-height: unset;
    }

    &__media-grid {
      height: max-content;
      min-height: unset;

      &--2 {
        display: flex;
        flex-direction: column;

        .media {
          max-height: calc(var(--property-full-content-height) / 2);
        }
      }

      &--3 {
        display: flex;
        flex-direction: column;

        .media {
          height: calc(var(--property-full-content-height) / 3);
          max-height: calc(var(--property-full-content-height) / 3);
        }
      }

      &--4 {
        display: flex;
        flex-direction: column;

        .media {
          height: calc(var(--property-full-content-height) / 4);
          max-height: calc(var(--property-full-content-height) / 4);
        }
      }

      &--5,
      &--6,
      &--7,
      &--8 {
        .media {
          width: 50vw;
        }
      }

      &--5,
      &--6 {
        .media {
          height: calc(var(--property-full-content-height) / 3);
          max-height: calc(var(--property-full-content-height) / 3);
        }
      }

      &--7,
      &--8 {
        .media {
          height: calc(var(--property-full-content-height) / 4.5);
          max-height: calc(var(--property-full-content-height) / 4.5);
        }
      }

      &--5 {
        grid-template-areas:
                "video-1 video-1 video-2 video-2"
                "video-3 video-3 video-4 video-4"
                ". video-5 video-5 .";
        grid-template-columns: 1fr 1fr 1fr 1fr;
      }

      &--6 {
        grid-template-areas:
                "video-1 video-2"
                "video-3 video-4"
                "video-5 video-6";
        grid-template-columns: 1fr 1fr;
      }

      &--7 {
        grid-template-areas:
                "video-1 video-1 video-2 video-2"
                "video-3 video-3 video-4 video-4"
                "video-5 video-5 video-6 video-6"
                ". video-7 video-7 .";
        grid-template-columns: 1fr 1fr 1fr 1fr;
      }

      &--8 {
        grid-template-areas:
                "video-1 video-2"
                "video-3 video-4"
                "video-5 video-6"
                "video-7 video-8";
        grid-template-columns: 1fr 1fr;
      }
    }
  }

  @media screen and (height <= 600px) and (orientation: landscape) {
    &__media-grid {
      height: max-content;
      min-height: unset;

      &--2 {
        .media {
          height: var(--property-full-content-height);
          max-height: var(--property-full-content-height);
          width: 50vw;
        }
      }

      &--3,
      &--4 {
        .media {
          height: calc(var(--property-full-content-height) / 2);
          max-height: calc(var(--property-full-content-height) / 2);
        }
      }

      &--5 {
        grid-template-areas:
                "video-1 video-2 ."
                "video-1 video-2 video-5"
                "video-3 video-4 video-5"
                "video-3 video-4 .";
        grid-template-columns: 1fr 1fr 1fr;
      }

      &--6 {
        grid-template-areas:
                "video-1 video-2 video-3"
                "video-4 video-5 video-6";
        grid-template-columns: 1fr 1fr 1fr;
      }
    }
  }

  @media screen and (width <= 850px) {
    gap: 30px;
    grid-template-columns: 1fr;
    margin-top: 0;
    padding: 0;

    &__stream-selection {
      display: flex;
    }

    &__video {
      max-height: unset;
    }
  }
}

.media-info {
  background: var(--property-background-secondary);
  min-height: 175px;
  padding: 25px;
  position: relative;

  @media screen and (width <= 800px) {
    margin: 0;
  }
}

.media-text {
  display: grid;
  gap: 5px;

  &__title {
    align-items: center;
    display: flex;
    font-size: 1.8em;
    font-weight: 600;
    margin-bottom: 10px;
  }

  &__icons {
    align-items: center;
    display: flex;
    gap: 10px;
    margin-right: 20px;
  }

  &__icon {
    border-radius: 100%;
    height: 40px;
    min-width: 40px;
    overflow: hidden;
    width: 40px;
  }

  &__subtitle {
    color: var(--property-text-faded);
    font-size: 1em;
    font-weight: 600;
  }

  &__headers {
    align-items: center;
    display: flex;
    font-size: 1em;
    font-weight: 600;
    gap: 20px;
    margin-bottom: 5px;

    * {
      color: var(--property-text-faded);
    }
  }

  &__description-container {
    border-radius: 5px;
    margin-top: 30px;

    * {
      color: var(--property-text-secondary);
    }
  }

  @media screen and (width <= 850px) {
    padding-bottom: 0;

    &__title {
      font-size: 1.3em;
    }

    &__icons {
      margin-right: 10px;
    }

    &__icon {
      height: 30px;
      min-width: 30px;
      width: 30px;
    }
  }
}

.gallery {
  display: flex;
  flex-direction: column;
  height: max-content;
  max-height: unset;
  min-height: var(--property-full-content-height);
  padding: 30px 0;
  position: relative;
  width: 100%;

  &__content {
    display: flex;
    height: 100%;
    justify-content: center;
    max-width: 100vw;
    min-height: calc(var(--vh, 1vh) * 40);
    width: 100%;
  }

  &__image,
  &__video {
    @include page-fade-in(0.35s);

    height: 100%;
    object-fit: contain;
    width: auto;
  }

  &__text {
    height: max-content;
    margin: 0 auto;
    max-width: 800px;
    padding: 30px;
    text-align: center;
    width: 100%;

    &:empty {
      padding: 20px 0 0;
    }
  }

  &__content,
  &__text {
    @include page-fade-in(1s);
  }

  &__title {
    font-size: 1.5em;
  }

  &__subtitle {
    color: var(--property-text-faded);
    font-size: 0.9em;
  }

  &__description-block {
    height: max-content;
    min-height: 5em;
  }

  &__description {
    font-size: 0.9em;
    margin-top: 15px;
    max-width: 1000px;
    white-space: pre-wrap;
  }

  &__carousel-container {
    height: max-content;
    margin: 0 auto;
    max-width: 100%;
    padding: 0 20px;
    width: max-content;
  }

  &__carousel {
    height: 150px;
    min-height: 150px;
    width: 100%;
  }

  &__carousel-slide {
    border-radius: 5px;
    height: 150px;

    &--landscape {
      aspect-ratio: 16/9;
    }

    &--square {
      aspect-ratio: 1;
    }

    &--portrait {
      aspect-ratio: 2/3;
    }
  }

  &__carousel-image {
    height: 100%;
    object-fit: contain;
    opacity: 0.5;
    transition: opacity 0.35s ease;
    width: auto;

    &--active,
    &:hover {
      opacity: 1;
    }
  }

  @media screen and (width <= 850px) {
    padding-top: 60px;

    &__video {
      height: auto;
      width: 100%;
    }

    &__title {
      font-size: 1.2em;
    }

    &__subtitle {
      font-size: 0.7em;
    }

    &__description {
      font-size: 0.7em;
    }
  }
}

.html {
  padding-bottom: 10px;
  padding-top: 50px;

  &__frame {
    background-color: white;
    border: 0;
    height: 100%;
    width: 100%;
  }
}
