@import "variables";

.search {
  background-color: var(--property-background);
  padding-inline: 75px;

  &__content {
    @include page-fade-in;

    display: grid;
    gap: 50px;
  }

  &__results {
    width: 100%;

    --max-card-width: 350px;
  }

  @media screen and (width <= 800px) {
    padding-inline: 25px;

    &__attribute--primary {
      font-size: 0.8em;
    }

    &__attribute--secondary {
      font-size: 1em;
    }
  }
}
