.search {
  background-color: var(--property-background-secondary);
  padding-inline: 75px;

  &__content {
    display: grid;
    gap: 75px;
    margin-top: 10px;
  }

  &__title {
    font-size: 1.5em;
    font-weight: 600;
    margin-bottom: 20px;
  }

  &__results {
    width: 100%;

    --max-card-width: 350px;
  }

  &__primary-attributes {
    width: 100%;
  }

  &__primary-attribute {
    background-color: #414141;
    border: 1px solid transparent;
    border-radius: 5px;
    padding: 10px;
    transition: border 0.25s ease;
    white-space: nowrap;

    &--active {
      border: 1px solid white;
    }
  }

  &__primary-attribute-slide {
    height: max-content;
    width: max-content;

    &:global(.swiper-slide) {
      height: min-content;
      width: max-content!important;
    }
  }

  @media screen and (width <= 800px) {
    padding-inline: 25px;
  }
}
