@import "./variables";

.media-page {
  @include page-fade-in(0.5s, ease-out, 0.5s);
  height: 100%;
  min-height: var(--property-full-content-height);
  max-width: 100%;
  position: relative;

  &__back-link {
    position: absolute;
    display: flex;
    align-items: center;
    font-size: 1em;
    gap: 10px;
    width: max-content;
    padding: 5px 10px;
    border-radius: 5px;
    top: 10px;
    left: 10px;
    z-index: 10;
    background: rgba(0,0,0, 0.15);
    opacity: 0;
    transition: opacity 0.5s ease, background-color 0.5s ease;

    &--visible {
      opacity: 0.8;
    }

    &:hover,
    &:focus-visible {
      opacity: 1;
      background: rgba(0,0,0, 0.3);
    }

    svg {
      height: 13px;
    }
  }

  &--full {
    .media {
      max-height: var(--property-full-content-height);
    }
  }

  &--extended {
    .media {
      max-height: calc(var(--property-full-content-height) - 125px);
    }
  }
}

.media-container,
.media {
  height: max-content;
  width: 100%;
}

.media-container {
  position: relative;
  z-index: 1;
}

.media {
  box-shadow: 0 0 30px black;
  height: var(--property-full-content-height);
  max-height: calc(var(--property-full-content-height) - 175px);
  min-height: 400px;
  background: var(--property-background);

  &.video {
    height: auto;
    max-width: 100vw;
  }

  &__image {
    height: 100%;
    width: 100%;
    max-height: 100%;
    object-fit: contain;
  }

  &__error {
    width: 100%;
    height: var(--property-full-content-height);
    position: relative;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 100px;
  }

  &__countdown {
    margin-top: 30px;
    z-index: 1;
  }

  &__error-icon {
    height: 50px;
    margin-bottom: 10px;
    width: 50px;
    z-index: 1;
  }

  &__error-message {
    z-index: 1;
    font-size: 2em;
    font-weight: 500;
    text-align: center;
  }

  &__error-cover,
  &__error-image {
    bottom: 0;
    height: 100%;
    left: 0;
    object-fit: cover;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    filter: blur(5px);
  }

  &__error-cover {
    // sass-lint:disable no-color-literals
    background: rgba(0, 0, 0, 0.5);
  }

  @media screen and (max-width: 800px) {
    min-height: unset;
    margin-top: 50px;
  }
}

.media-info {
  position: relative;
  padding: 25px 75px 200px 30px;

  @media screen and (max-width: 800px) {
    padding: 20px 15px 200px;
  }
}

.media-text {
  &__title {
    font-size: 1.8em;
  }

  &__subtitle {
    font-size: 1em;
    color: var(--property-text-faded);
  }

  &__headers {
    font-weight: 600;
    font-size: 1em;
    display: flex;
    align-items: center;
    gap: 20px;
  }

  &__description-container {
    margin-top: 15px;
    background-color: var(--property-background-secondary);
    border-radius: 5px;
    padding: 15px 25px 20px 15px;
    max-height: 125px;
    position: relative;
    cursor: unset;

    &--toggleable {
      cursor: pointer;
    }

    &--contracted {
      overflow: hidden;
    }

    &--expanded {
      max-height: unset;
      padding-bottom: 75px;
      cursor: unset;

      .media-text__description-toggle {
        right: unset;
        left: 15px;
        padding: 0;
        justify-content: flex-start;
      }
    }
  }

  &__description-overlay {
    position: absolute;
    inset: 0 0 0 0;
    background: linear-gradient(transparent 70%, var(--property-background-secondary));
  }

  &__description-toggle {
    position: absolute;
    bottom: 0;
    right: 0;
    font-weight: 600;
    display: flex;
    width: 150px;
    padding-left: 10px;
    justify-content: center;
    align-items: center;
    height: 45px;
    font-size: 1.1em;
    background: radial-gradient(var(--property-background-secondary), var(--property-background-secondary), transparent);
    z-index: 1;
  }

  &__description {
    height: 100%;
    padding: 0;
    font-size: 1.1em;
  }
}

.gallery {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: var(--property-full-content-height);
  padding: 30px 0 30px;
  height: max-content;
  max-height: unset;

  &__content {
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
    max-width: 100vw;
    min-height: calc(var(--vh, 1vh) * 40);
  }

  &__image,
  &__video {
    @include page-fade-in(0.35s);
    height: 100%;
    width: auto;
    object-fit: contain;
  }

  &__text {
    padding: 30px;
    max-width: 800px;
    margin: 0 auto;
    width: 100%;
    text-align: center;
    height: max-content;

    &:empty {
      padding: 20px 0 0;
    }
  }

  &__content,
  &__text {
    @include page-fade-in(1s);
  }

  &__title {
    font-size: 1.5em;
  }

  &__subtitle {
    font-size: 0.9em;
    color: var(--property-text-faded);
  }

  &__description-block {
    height: max-content;
    min-height: 5em;
  }

  &__description {
    margin-top: 15px;
    white-space: pre-wrap;
    max-width: 1000px;
    font-size: 0.9em;
  }

  &__carousel-container {
    height: max-content;
    padding: 0 20px;
    //max-width: 1000px;
    width: max-content;
    max-width: 100%;
    margin: 0 auto;
  }

  &__carousel {
    width: 100%;
    height: 150px;
    min-height: 150px;
  }

  &__carousel-slide {
    height: 150px;
    border-radius: 5px;

    &--landscape {
      aspect-ratio: 16/9;
    }

    &--square {
      aspect-ratio: 1;
    }

    &--portrait {
      aspect-ratio: 2/3;
    }
  }

  &__carousel-image {
    height: 100%;
    width: auto;
    object-fit: contain;
    opacity: 0.5;
    transition: opacity 0.35s ease;

    &--active,
    &:hover {
      opacity: 1;
    }
  }

  @media screen and (max-width: 800px) {
    padding-top: 60px;

    &__video {
      width: 100%;
      height: auto;
    }

    &__title {
      font-size: 1.2em;
    }

    &__subtitle {
      font-size: 0.7em;
    }

    &__description {
      font-size: 0.7em;
    }
  }
}

.html {
  padding-top: 50px;
  padding-bottom: 10px;

  &__frame {
    border: 0;
    height: 100%;
    width: 100%;
    background-color: white;
  }
}
