:root {
  --property-header-height: 80px;
  --property-full-page-height: calc(var(--vh, 1vh) * 100);
  --property-full-content-height: calc(var(--property-full-page-height) - var(--property-header-height) - 0px);
  --property-text-primary: #FFF;
  --property-text-secondary: #CCC;
  --property-text-headers: #A5A6A8;
  --property-text-faded: #818590;
  --property-text-highlight: #92a2da;
  --property-background: #000;
  --property-background-secondary: #202020;
  --property-background-tertiary: #333;
  --property-background-modal: linear-gradient(180deg, #2D2D2D 0%, #0E0E0E 100%);
  --property-border-color: #333;
  --property-card-background: rgb(80 80 80 / 25%);
  --property-card-background-active: rgb(80 80 80 / 50%);
  --property-card-background-solid: #141414;
  --property-card-background-solid-active: #343434;
  --property-search-background: #202023;
  --property-search-button-background: #38383C;
  --property-button-background: #FFF;
  --property-button-border-color: var(--property-button-background);
  --property-button-text: #000;
  --property-button-border-radius: 5px;
  --property-button-outline-text: #FFF;
  --property-button-outline-border: #555;
  --property-button-option-background-hover: #555;
  --property-button-option-text: #FFF;

  @media screen and (width <= 800px) {
    --property-header-height: 60px;
  }
}

@mixin page-fade-in($duration: 0.5s, $animation: ease-out, $delay: 0s) {
  animation: $duration fadein $animation $delay forwards;
  opacity: 0;
}

@keyframes fadein {
  from { opacity: 0; }
  to { opacity: 1; }
}
