:root {
  /* General */
  --color-bg-primary: #090909;
  --color-bg-secondary: #242424;

  --color-page-bg: #000000;

  --color-text-primary: #FFFFFF;
  --color-text-secondary: #B0B0B0;

  --color-text-highlight: #9AC0F3;
  --color-text-highlight-rgb: 154, 192, 243;

  --color-loader: rgba(255, 255, 255, 0.5);

  --border: 1px solid #444444;
  --border-faint: 1px solid #333333;


  --border-color: #444444;
  --border-color-faint: #333333;

  --box-shadow: none;



  /* Header */
  --background-page-header: var(--color-bg-primary);
  --background-page-header-profile: var(--color-bg-secondary);

  --background-input: var(--color-bg-primary);
  --color-input-bg-solid: var(--color-bg-primary);

  --background-button-secondary: #000000;

  /* Cards */
  --background-card: var(--color-bg-primary);

  --background-component-primary: var(--color-bg-primary);
  --background-table: var(--color-bg-primary);
  --background-table-header-row: var(--color-bg-secondary);
  --color-table-odd-row-bg: var(--color-bg-primary);
  --color-table-even-row-bg: var(--color-bg-secondary);

  /* User Profile */
  --color-user-profile-bg-primary: var(--color-bg-primary);
  --color-user-profile-bg-secondary: var(--color-bg-secondary);
}
