:root {
  --font-family-primary: 'Albertus MT Std', sans-serif!important;
  --font-family-secondary: 'Albertus MT Std', sans-serif!important;
  --font-family-tertiary: 'Albertus MT Std', monospace!important;

  --yellow-1: #FCBE01;
  --yellow-2: #BF9837;
  --yellow-2-rgb: 191, 152, 55;


  /* General */
  --color-bg-primary: #1c1c1c;
  --color-bg-secondary: #242424;
  --color-bg-highlight: var(--yellow-1);

  --color-page-bg: #101010;
  --color-lower-page-bg: #1c1c1c;

  --color-text-primary: #FFFFFF;
  --color-text-secondary: #E8E8E8;
  --color-text-highlight: var(--yellow-1);
  --color-text-highlight-rgb: 252 190 1;
  --color-text-background-highlight: #000000;

  --color-loader: rgba(255, 255, 255, 0.5);

  --border: 1px solid #444444;
  --border-faint: 1px solid #333333;


  --border-color: #444444;
  --border-color-faint: #333333;

  --box-shadow: none;


  /* Disable borders */
  --border-width-card: 0;
  --border-nft-media-primary: 0;
  --border-nft-media-secondary: 0;
  --border-nft-media-highlight: 0;
  --border-component-primary: 0;
  --border-component-secondary: 0;
  --border-component-highlight: 0;
  --border-button-primary: 0;
  --border-button-secondary: 0;
  --border-button-danger: 0;
  --border-table-primary: 0;
  --border-table-secondary: 0;
  --border-modal-primary: 0;
  --border-nft-media-album-content: 0;
  --border-nft-media-album-list: 0;

  --border-width-feature-card: 1px;
  --border-width-featured-item: 0;
  --border-background-feature-card: transparent;


  /* Buttons */
  --color-button-primary-text: #000000;

  /* Header */
  --background-page-header: var(--color-bg-primary);
  --background-page-header-profile: var(--color-bg-secondary);


  --background-input: var(--color-bg-primary);
  --color-input-bg-solid: var(--color-bg-primary);

  --background-button-secondary: #101010;

  --background-card: #1c1c1c;
  --background-feature-card: transparent;
  --border-radius-feature-card: 10px;
  --background-featured-item: linear-gradient(90deg, #6C5900 0%, #8B7100 50%, #977C00 100%);

  --background-component-primary: var(--color-bg-primary);

  --background-table: #141414;
  --background-table-header-row: var(--yellow-1);
  --color-table-header-row-text: #000000;
  --color-table-even-row-bg: #141414;
  --color-table-odd-row-bg: #1a1a1a;

  --color-feature-card-text-primary: #FFFFFF;

  /* User Profile */
  --color-user-profile-bg-primary: var(--color-bg-primary);
  --color-user-profile-bg-secondary: var(--color-bg-secondary);

  /* Media */
  --background-nft-media-featured: rgba(0, 0, 0, 0.8);
  --background-nft-media-qr-modal: rgba(28, 28, 28, 0.5);
  --color-nft-media-bg-primary: #101010;
  --color-nft-media-bg-secondary: #1c1c1c;
  --color-nft-media-bg-active: rgba(var(--yellow-2-rgb), 0.1);
  --border-nft-media-active: 3px solid var(--yellow-2);
  --background-nft-media-album-content: linear-gradient(90deg, #6C5900 0%, #8B7100 50%, #977C00 100%);
}

/* Remove capitalization on names */
.featured-item__title,
.item-card__title,
.details-page__nft-info__name {
  text-transform: unset;
}

.featured-item__icon {
  padding: 0 !important;
}
