:root {
  --pink-1: #E2A2E7;
  --pink-1-rgb: 226, 162, 231;
  --pink-2: #A20CB3;
  --pink-2-rgb: 162, 12, 179;
  --purple-1: #420647;

  /* Dark theme */

  /* General */
  --color-bg-primary: #090909;
  --color-bg-secondary: #242424;
  --color-bg-highlight: var(--pink-2);
  --color-page-bg: #000;
  --color-text-primary: #FFF;
  --color-text-secondary: #E8E8E8;
  --color-text-background-highlight: #000;
  --color-loader: rgb(255 255 255 / 50%);
  --border-color: #333;
  --border-color-faint: #2A2A2A;
  --border: 1px solid var(--border-color);
  --border-faint: 1px solid var(--border-color-faint);
  --box-shadow: none;


  /* Header */
  --background-page-header: var(--color-bg-primary);
  --background-input: var(--color-bg-primary);
  --color-input-bg-solid: var(--color-bg-primary);
  --background-button-secondary: #000;
  --background-component-primary: var(--color-bg-primary);
  --color-component-bg-highlight: var(--pink-1);
  --background-table: var(--color-bg-primary);
  --background-table-header-row: var(--pink-1);
  --color-table-odd-row-bg: var(--color-bg-primary);
  --color-table-even-row-bg: var(--color-bg-secondary);

  /* User Profile */
  --color-user-profile-bg-primary: var(--color-bg-primary);
  --color-user-profile-bg-secondary: var(--color-bg-secondary);

  /* Custom */


  --color-text-highlight: var(--pink-1);
  --color-text-highlight-rgb: var(--pink-1-rgb);
  --background-card: var(--purple-1);
  --border-background-card: linear-gradient(180deg, #CA33FF 0%, #FF1895 57.81%, #ED21FF 76.56%, #BC02FF 100%);
  --border-width-card: 2px;
  --box-shadow-feature-card: 0 0 12px rgb(237 33 255 / 44%);
  --border-background-feature-card-selected: linear-gradient(180deg, #CA33FF 0%, #FF1895 0.81%, #ED21FF 76.56%, #BC02FF 100%);
  --color-featured-item-slider-handle: var(--pink-1);
  --background-collection-component: linear-gradient(264.96deg, rgb(202 51 255 / 30%) 0.81%, rgb(255 24 149 / 30%) 57.8%, rgb(237 33 255 / 30%) 76.28%, rgb(188 2 255 / 30%) 99.38%);
  --box-shadow-collection-reward-card: 0 0 8px rgb(255 24 149 / 100%);
}
