/* UEFA */

@media screen and (min-width: 2000px) {
  .header-padding {
    height: 150px!important;
  }
}

@media screen and (min-width: 3000px) {
  .header-padding {
    height: 250px!important;
  }
}

@media screen and (min-width: 3500px) {
  .header-padding {
    height: 300px!important;
  }
}

@font-face {
  font-family: 'UEFAEuro-Bold';
  font-style: normal;
  font-weight: bold;
  font-display: swap;
  src: url("https://main.net955305.contentfabric.io/s/main/q/hq__AjHrfaZZ8RGxWPjoVV1iRxD64C3NF6Uyb2TTiovxQeHNLp32z3VYhV9Bn6RsQQB212AuhW44ot/files/fonts/UEFAEuro-Bold.ttf") format("truetype");
}
@font-face {
  font-family: 'UEFAEuro-Book';
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src: url("https://main.net955305.contentfabric.io/s/main/q/hq__AjHrfaZZ8RGxWPjoVV1iRxD64C3NF6Uyb2TTiovxQeHNLp32z3VYhV9Bn6RsQQB212AuhW44ot/files/fonts/UEFAEuro-Book.ttf") format("truetype");
}
@font-face {
  font-family: 'UEFAEuro-MediumNarrow';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("https://main.net955305.contentfabric.io/s/main/q/hq__AjHrfaZZ8RGxWPjoVV1iRxD64C3NF6Uyb2TTiovxQeHNLp32z3VYhV9Bn6RsQQB212AuhW44ot/files/fonts/UEFAEuro-MediumNarrow.ttf") format("truetype");
}

:root {
  --font-family-primary: 'UEFAEuro-Bold', sans-serif!important;
  --font-family-secondary: 'UEFAEuro-Book', sans-serif!important;
  --font-family-tertiary: 'UEFAEuro-MediumNarrow', monospace!important;

  --font-nft-media-text: normal bolder bold 18px var(--font-family-secondary);
  --font-button: normal normal normal 18px var(--font-family-primary);
  --font-input: normal normal normal 18px var(--font-family-tertiary);

  --color-bg-primary: #000000;
  --color-bg-secondary: #000000;

  --color-page-bg: #000000;

  --color-text-primary: #FFFFFF;
  --color-text-secondary: #A0A0A0;

  --color-button-primary-text: var(--color-text-primary);

  --color-login-text-primary: var(--color-text-primary);
  --color-login-text-secondary: var(--color-text-primary);

  --border-input: 1px solid #ccc;

  /*login*/
  --background-login: rgba(0, 0, 0, 0.5);
  --border-login-box: 1px solid var(--background-login-box);
  --color-login-input-background: #fff;
  --border-login-input: 1px solid #fff;
  --border-radius-login-input: 10px;
  --background-login-box: #143CDB;
  --color-login-input-text: #171717;

  --color-text-highlight: #FFFFFF;

  /* color of claim now button bg */
  --background-button-primary: #2D61E4;

  /* border around featured item on storefront (transparent) */
  --border-color-faint: #d2d2d200;

  --color-loader: rgba(255, 255, 255, 0.6);
}


/* space between featured items on storefront */
.marketplace__section {
  padding: 0px 0;
}
.featured-item {
  padding: 0px;
  min-height: 0px;
}

/* width of featured item padded border */
.featured-item__icon {
  padding: 0px;
}

/* color of details dropdown */
.expandable-section {
  background: #091620;
  border: #01BA5D;
}


/* weight of claim now button */
.action {
  font-weight: 650;
}

/* width of store item drilldown image padding */
.item-card.media-card {
  padding: 0px
}

/* Hide main NFT card */
.page-block--nft-owned {
  display: none;
}
.page-block .page-block--lower-content .page-block--nft-content {
  margin-top: 100px;
}
.nft-media-browser__collection, .nft-media-browser__section, .nft-media-browser__section__content  {
  background: rgba(0, 0, 0, 0);
}
.nft-media-browser__section__header {
  padding-top: 0;
}


/* Remove All from nav */
.header__navigation-link {
  display: none;
}

/* Remove preferences from dropdown */
.header__profile-menu__link-secondary, .header__notifications-menu__link-secondary {
  display: none;
}
/* Remove dropdown menu separator */
.header__profile-menu__separator, .header__notifications-menu__separator {
  display: none;
}
/* remove wallet icon from profile header */
.image-icon.header__profile__balance__icon {
  display: none;
}

/* Remove space between additional media header "Live" and "Upcoming" */
.nft-media-browser__collection__header {
  display: none;
}
.nft-media {
  min-height: 0;
  padding-top: 15px;
}
.action.action-with-loader.filters__search-button {
  background: rgba(0,0,0,0)!important;
  border: 1px solid transparent!important;
}
.page-block__content.page-block__content--extra-wide {
  padding-top: 0;
}

/* Login modal style */
.ory-login__title {
  display: none;
}

.action-with-loader {
  border-radius: 10px;
}

.action-with-loader__content {
  font: var(--font-button);
}

.ory-login__secondary-button {
  text-decoration: underline;
}
.action-with-loader__content {
  font-weight: bolder;
}
.ory-login input::placeholder {
  font-size: 18px;
}
.login-page-large-logo-mode .login-page__logo {
  max-height: 270px;
}
/*Hide Eluvio terms and conditions */
.login-page__eluvio-terms {
  display: none;
}
.login-page__tagline {
  margin-top: 10px!important;
  margin-bottom: 10px!important;
}

.autocomplete__input, .styled-select__button {
  border: 1px solid #4A5055;
}
