/* Font imports */

/* DM Sans */
@font-face {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/dmsans/v11/rP2Hp2ywxg089UriCZ2IHTWEBlwu8Q.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/dmsans/v11/rP2Hp2ywxg089UriCZOIHTWEBlw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}


/* Source Code Pro */

/* latin-ext */
@font-face {
  font-family: 'Source Code Pro';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/sourcecodepro/v21/HI_SiYsKILxRpg3hIP6sJ7fM7PqlM-vWnsUnxlC9.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Source Code Pro';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/sourcecodepro/v21/HI_SiYsKILxRpg3hIP6sJ7fM7PqlPevWnsUnxg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
  font-family: 'Source Code Pro';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/sourcecodepro/v21/HI_SiYsKILxRpg3hIP6sJ7fM7PqlM-vWnsUnxlC9.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Source Code Pro';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/sourcecodepro/v21/HI_SiYsKILxRpg3hIP6sJ7fM7PqlPevWnsUnxg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
  font-family: 'Source Code Pro';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/sourcecodepro/v21/HI_SiYsKILxRpg3hIP6sJ7fM7PqlM-vWnsUnxlC9.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Source Code Pro';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/sourcecodepro/v21/HI_SiYsKILxRpg3hIP6sJ7fM7PqlPevWnsUnxg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
  font-family: 'Source Code Pro';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/sourcecodepro/v21/HI_SiYsKILxRpg3hIP6sJ7fM7PqlM-vWnsUnxlC9.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Source Code Pro';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/sourcecodepro/v21/HI_SiYsKILxRpg3hIP6sJ7fM7PqlPevWnsUnxg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face{font-family:"compacta-bd-bt-bold";src:url("https://www.dafontfree.net/data/24/c/119290/CompactaBoldBT.ttf") format("woff"),url("https://www.dafontfree.net/data/24/c/119290/CompactaBoldBT.ttf") format("opentype"),url("https://www.dafontfree.net/data/24/c/119290/CompactaBoldBT.ttf") format("truetype");}

:root {
  --font-family-primary: 'compacta-bd-bt-bold', sans-serif!important;
  --font-family-secondary: 'DM Sans', sans-serif!important;
  --font-family-tertiary: 'Source Code Pro', monospace!important;

  --font-header-links: normal small-caps bold 14px var(--font-family-primary);
  --font-store-header: normal small-caps bold 32px var(--font-family-primary);

  --font-card-title: normal small-caps bold 24px var(--font-family-primary);
  --font-card-misc: normal small-caps bold 14px var(--font-family-tertiary);

  --font-feature-card-title: normal small-caps bold 32px var(--font-family-primary);
  --font-feature-card-misc: normal small-caps bold 14px var(--font-family-tertiary);

  --font-table-header: normal small-caps bold 20px var(--font-family-primary);

  /* Custom */
  --blue-1: #0021F5;
  --blue-2: #1cc1e9;
  --gold-1: #FFCB05;
  --neutral-1: #3D475D;

  /* General */
  --color-bg-primary: var(--neutral-1);
  --color-bg-secondary: var(--neutral-1);

  --color-text-primary: #FFFFFF;
  --color-text-secondary: #CCCCCC;
  --color-text-highlight: var(--blue-2);

  --color-loader: rgba(255, 255, 255, 0.5);

  --border: 0;
  --border-faint: 1px solid rgba(235, 235, 235, 0.1);

  /* Page */
  --color-page-bg-gradient-top: #0900b2;
  --color-page-bg-gradient-bottom: #0d091c;
  --background-page: no-repeat top center / cover url("https://host-66-220-3-86.contentfabric.io/qlibs/ilib3Drbefo7VPfWvY1NVup4VZFzDJ68/q/iq__2FrA2S1XBy4zdRGQn1knakpbrBV4/files/./wwe_background_image.jpg?authorization=eyJxc3BhY2VfaWQiOiJpc3BjM0FOb1ZTek5BM1A2dDdhYkxSNjlobzVZUFBaVSIsImFkZHIiOiIweDU1NTdmODBkMDUzN2U3YmI0MzlkOTE5ODQxZTBlYjllZDQ0OWU2YmIiLCJ0eF9pZCI6IjB4OWUwNWI4MDc2ZGYwNDBjOTA4MjBkMWVjY2E0OWFiZTVkMzA2NDJjZmJiMTBlZWRjNDRmMTExNzAzMDkzMWU5ZCIsInFsaWJfaWQiOiJpbGliM0RyYmVmbzdWUGZXdlkxTlZ1cDRWWkZ6REo2OCJ9.RVMyNTZLXzcxY2RYalZrNUNCUjJqeVRHeEoxQk51RFlwb21waURWclIyZnUzN0RqZW1ORzg0emt1ZlJNQW5zQ2c1WnJGdzRha1pCWHBQY0RaRjJyb2QzWnlzY29kVWlm");
  --background-content: transparent;

  /* Header */
  --background-page-header: transparent;

  /* Modal */
  --background-modal-primary: linear-gradient(var(--color-page-bg-gradient-top), var(--color-page-bg-gradient-bottom));
  --border-modal-primary: 0;

  /* Apply gradient to components */
  --background-input: var(--neutral-1);
  --background-component-primary: var(--neutral-1);
  --background-table: var(--neutral-1);

  /* Inputs */
  --border-input: 0;

  /* Cards */
  --background-card: rgba(16, 39, 254, 0.2);
  --border-card: 2px solid #0E01FA;
  --background-feature-card: transparent;
  --border-feature-card: 2px solid #0E01FA;

  /* Tables */
  --color-table-even-row-bg: rgba(6, 8, 41, 0.2);
  --color-table-odd-row-bg: rgba(241, 241, 241, 0.2);
  --background-table-header-row: var(--color-table-even-row-bg);
  --border-table-primary: 0;

  /* Buttons */
  --background-button-primary: var(--gold-1);
  --color-button-primary-text: black;
  --border-button-primary: 2px solid var(--gold-1);
  --border-radius-button-primary: 3px;

  --background-button-secondary: black;
  --color-button-secondary-text: white;
  --border-button-secondary: 2px solid var(--blue-1);
  --border-radius-button-secondary: 3px;

  --background-button-danger: var(--neutral-1);
  --color-button-danger-text: white;
  --border-button-danger: 2px solid var(--neutral-1);
  --border-radius-button-danger: 3px;

  /* Togglable/selectable options */
  --background-button-selection: rgba(235, 235, 235, 0.2);
  --color-button-selection-text: white;
  --border-button-selection: 2px solid rgba(235, 235, 235, 0.2);
  --border-radius-button-selection: 5px;

  --background-button-selection-active: black;
  --color-button-selection-active-text: white;
  --border-button-selection-active: 2px solid var(--blue-1);
  --border-radius-button-selection-active: 5px;

  /* */
  --background-login: rgba(0, 0, 0, 0.3);
}

/* Custom CSS */
.transfer-table__table__header.transfer-table__table__header {
  position: relative;
}

.card-container {
  backdrop-filter: blur(12px);
}

.card-container:hover {
  box-shadow: 0 0 10px #18D5FF;
  transition: box-shadow 0.15s;
}

.listing-card::after,
.card-container::after {
  content: "";
  position: absolute;
  display: block;
  height: calc(100% + 2px);
  width: calc(100% + 2px);
  top: -1px;
  left: -1px;
  border-radius: var(--border-radius-card);
  z-index: -1;
  background: rgba(16, 39, 254, 0.3);
  filter: blur(1px) drop-shadow(0px 0px 20px #18D5FF) drop-shadow(0px 0px 5px #0E01FA);
  opacity: 0.5;
}

.item-card__title {
  text-transform: uppercase;
}
