/* Font imports */

/* DM Sans */
@font-face {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/dmsans/v11/rP2Hp2ywxg089UriCZ2IHTWEBlwu8Q.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/dmsans/v11/rP2Hp2ywxg089UriCZOIHTWEBlw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}


/* Source Code Pro */

/* latin-ext */
@font-face {
  font-family: 'Source Code Pro';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/sourcecodepro/v21/HI_SiYsKILxRpg3hIP6sJ7fM7PqlM-vWnsUnxlC9.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Source Code Pro';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/sourcecodepro/v21/HI_SiYsKILxRpg3hIP6sJ7fM7PqlPevWnsUnxg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
  font-family: 'Source Code Pro';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/sourcecodepro/v21/HI_SiYsKILxRpg3hIP6sJ7fM7PqlM-vWnsUnxlC9.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Source Code Pro';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/sourcecodepro/v21/HI_SiYsKILxRpg3hIP6sJ7fM7PqlPevWnsUnxg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
  font-family: 'Source Code Pro';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/sourcecodepro/v21/HI_SiYsKILxRpg3hIP6sJ7fM7PqlM-vWnsUnxlC9.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Source Code Pro';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/sourcecodepro/v21/HI_SiYsKILxRpg3hIP6sJ7fM7PqlPevWnsUnxg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
  font-family: 'Source Code Pro';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/sourcecodepro/v21/HI_SiYsKILxRpg3hIP6sJ7fM7PqlM-vWnsUnxlC9.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Source Code Pro';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/sourcecodepro/v21/HI_SiYsKILxRpg3hIP6sJ7fM7PqlPevWnsUnxg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

:root {
  --font-family-primary: 'Compacta Black BT', sans-serif!important;
  --font-family-secondary: 'DM Sans', sans-serif!important;
  --font-family-tertiary: 'Source Code Pro', monospace!important;

  --font-header-links: normal normal normal 14px var(--font-family-primary);
  --font-header-profile: normal normal normal 14px var(--font-family-primary);
  --font-store-header: normal normal normal 32px var(--font-family-primary);

  --font-store-heading: normal normal normal 64px var(--font-family-primary);

  --font-card-title: normal normal normal 40px var(--font-family-primary);
  --font-card-misc: normal normal bold 14px var(--font-family-tertiary);

  --font-feature-card-title: normal normal normal 32px var(--font-family-primary);
  --font-feature-card-text: normal normal normal 16px var(--font-family-secondary);
  --font-feature-card-misc: normal normal bold 16px var(--font-family-tertiary);

  --font-table-header: normal normal normal 20px var(--font-family-primary);

  /* Custom */
  --blue-1: #0021F5;
  --blue-2: #1cc1e9;
  --gold-1: #FFCB05;
  --neutral-1: rgba(235, 235, 235, 0.2);
  --neutral-2: #585a73;
  --neutral-3: #2C2F4C;
  --red-1: #F1493A;
  --red-2: #FF6C3D;


  /* General */
  --color-bg-primary: var(--neutral-1);
  --color-bg-secondary: var(--neutral-2);

  --color-text-primary: #FFFFFF;
  --color-text-secondary: #CCCCCC;
  --color-text-highlight: var(--blue-2);

  --color-loader: rgba(255, 255, 255, 0.5);

  --border: 0;
  --border-faint: 1px solid rgba(235, 235, 235, 0.1);

  /* Page */
  --color-page-bg-gradient-top: #0900b2;
  --color-page-bg-gradient-bottom: #0d091c;
  --background-content: transparent;

  /* Header */
  --background-page-header: transparent;
  --color-header-link-text-active: #FFFFFF;

  /* Modal */
  --background-modal-primary: linear-gradient(var(--color-page-bg-gradient-top), var(--color-page-bg-gradient-bottom));
  --border-modal-primary: 0;

  --background-component-primary: var(--neutral-1);
  --background-component-secondary: var(--neutral-3);
  --background-table: var(--neutral-1);

  /* Inputs */
  --border-input: 0;
  --background-input: var(--neutral-1);
  --color-input-bg-solid: var(--neutral-2);
  --color-input-text-placeholder: #DDDDDD;

  /* Cards */
  --background-card: rgba(6, 8, 41, 0.7);
  --border-card: 2px solid #0E01FA;
  --box-shadow-card: 0 0 12px rgba(16, 39, 254, 0.64);

  --border-background-card: linear-gradient(180deg, #021AFF 0%, #0E01FA 54.17%, #1882FF 75.52%, #021AFF 100%);
  --border-width-card: 2px;

  --background-feature-card: rgba(6, 8, 41, 0.7);
  --background-feature-card-runway: none;
  --border-radius-feature-card: 4px;
  --box-shadow-feature-card: 0 0 24px rgba(16, 39, 254, 0.64);
  --box-shadow-feature-card-selected: 0 0 24px rgba(16, 39, 254, 1);

  --border-width-feature-card: 3px;

  --color-featured-item-slider-handle: #1C77FF;

  --color-feature-card-text-primary: #FFFFFF;
  --color-feature-card-text-secondary: #FFFFFF;
  --color-feature-card-text-highlight: #FFFFFF;


  /* Tables */
  --color-table-even-row-bg: rgba(6, 8, 41, 0.2);
  --color-table-odd-row-bg: rgba(241, 241, 241, 0.2);
  --background-table-header-row: var(--color-table-even-row-bg);
  --border-table-primary: 0;

  /* Buttons */
  --font-button: normal normal bold 14px var(--font-family-tertiary);
  --font-button-selection: normal normal normal 14px var(--font-family-secondary);

  --background-button-primary: var(--gold-1);
  --color-button-primary-text: black;
  --border-button-primary: 2px solid var(--gold-1);
  --border-radius-button-primary: 3px;

  --background-button-secondary: black;
  --color-button-secondary-text: white;
  --border-button-secondary: 2px solid var(--blue-1);
  --border-radius-button-secondary: 3px;

  --background-button-danger: var(--neutral-1);
  --color-button-danger-text: white;
  --border-button-danger: 2px solid var(--neutral-1);
  --border-radius-button-danger: 3px;

  /* Togglable/selectable options */
  --background-button-selection: rgba(235, 235, 235, 0.2);
  --color-button-selection-text: white;
  --border-button-selection: 2px solid rgba(235, 235, 235, 0.2);
  --border-radius-button-selection: 5px;

  --background-button-selection-active: black;
  --color-button-selection-active-text: white;
  --border-button-selection-active: 2px solid var(--blue-1);
  --border-radius-button-selection-active: 5px;

  /* */
  --background-login: rgba(0, 0, 0, 0.3);
  --background-login-box: var(--background-modal-primary);
}

input,
.styled-select__button {
  border: 2px solid transparent!important;
}

input:focus-visible,
.filters__menu-button--active,
.styled-select__button--active {
  background: #07106a;
  border: 2px solid #0E01FA!important;
  box-shadow: 0 0 20px #0E01FA;
  backdrop-filter: blur(16px);
}

.styled-select__menu {
  background: var(--neutral-3);
}

/* Custom CSS */
.action {
  letter-spacing: 0.12em;
}

.action:hover:not(:disabled) {
  box-shadow: 0 0 10px var(--blue-1);
}

.action.action-primary:hover:not(:disabled) {
  box-shadow: 0 0 10px var(--gold-1);
}

.action:not(.action-selection),
.item-card__title,
.featured-item__title,
.subheader__header,
.subheader__navigation-link,
.page-header,
.transfer-table__header,
.listing-stats__label {
  text-transform: uppercase;
}

.subheader__navigation-link.active {
  position: relative;
  overflow: visible;
  display: flex;
  align-items: center;
}

.subheader__navigation-link.active::after {
  animation: 0.25s fadein ease;
  content: "";
  height: 4px;
  width: 110%;
  position: absolute;
  bottom: -6px;
  background: linear-gradient(90deg, rgba(122, 29, 240, 0) 0.22%, #18D5FF 49.07%, rgba(122, 29, 240, 0) 100%);
}

/* Make table header not stick - does not work when background is transparent */
.transfer-table__table__header.transfer-table__table__header {
  position: relative;
}

.card-container--link:hover {
  box-shadow: 0 0 10px #18D5FF;
  transition: box-shadow 0.15s;
}

.item-card {
  border-radius: 3px!important;
}

.item-card__title.item-card__title {
  font-weight: normal;
}

.listing-card * {
  text-transform: uppercase;
}

.header__log-in {
  display: none;
}

.expandable-section__header {
  text-transform: none!important;
}

.stats__label {
  text-transform: uppercase;
}

.stats__item {
  border: 0!important;
}

.stats,
.expandable-section,
.transfer-table,
.listing-card-container,
.wallet-connect,
.profile-page__section {
  backdrop-filter: blur(20px);
}


.featured-item__title {
  font-size: 44px;
}

@media screen and (max-width: 1000px) {
  .featured-item__title {
    font-size: 24px;
  }

  .stats__label {
    font-size: 12px;
  }

  .stats__value {
    font-size: 14px;
  }
}


.card-container--variant-wwe-red,
.featured-item__icon-container--variant-wwe-red,
.feature-gallery__icon-container--variant-wwe-red {
  background: linear-gradient(180deg, #F1493A 0%, #FF823C 54.17%, #FF6C3D 75.52%, #F1493A 100%);
  box-shadow: 0 0 24px rgba(241, 73, 51, 0.64);
}

.card-container--variant-wwe-red {
  box-shadow: 0 0 12px rgba(241, 73, 51, 0.64);
}

.card-container--variant-wwe-red.card-container--link:hover {
  box-shadow: 0 0 12px #ff1820;
}

.feature-gallery__icon-container--variant-wwe-red.feature-gallery__icon-container--selected {
  box-shadow: 0 0 24px rgba(250, 73, 51, 1);
}

.card-container--variant-wwe-red .item-card,
.featured-item__icon-container--variant-wwe-red .featured-item__icon,
.feature-gallery__icon-container--variant-wwe-red .feature-gallery__icon {
  background: #501b2f;
}
