/* Compacta */
@font-face {
  font-family: "Compacta Black BT";
  src: url("./Compacta/files/CompactaBlackBT.woff2") format("woff2"),
  url("./Compacta/files/CompactaBlackBT.woff") format("woff"),
  url("./Compacta/files/CompactaBlackBT.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}


/* Albertus */
@font-face {
  font-family: "Albertus MT Std";
  src: url("./Albertus/files/AlbertusMT.otf") format("opentype"),
  url("./Albertus/files/AlbertusMTStd.otf") format("opentype"),
  url("./Albertus/files/AlbertusMTStdLight.otf") format("opentype"),
  url("./Albertus/files/AlbertusMTStdItalic.otf") format("opentype");
}

/* Heading Pro */
@font-face {
  font-family: "Heading Pro";
  src: url("./Heading Pro/files/HeadingProDouble-ThinItalic.woff") format("woff2");
  font-style: italic;
  font-display: swap;
  font-weight: 100 400;
}

@font-face {
  font-family: "Heading Pro";
  src: url("./Heading Pro/files/HeadingProMedium-BlackItalic.woff") format("woff2");
  font-style: italic;
  font-display: swap;
  font-weight: 500 900;
}

@font-face {
  font-family: "Heading Pro";
  src: url("./Heading Pro/files/HeadingProDouble-Thin.woff") format("woff2");
  font-style: normal;
  font-display: swap;
  font-weight: 100 400;
}

@font-face {
  font-family: "Heading Pro";
  src: url("./Heading Pro/files/HeadingProMedium-Bold.woff") format("woff2");
  font-style: normal;
  font-display: swap;
  font-weight: 500 900;
}
