// sass-lint:disable no-vendor-prefixes, no-color-literals, force-pseudo-nesting

@import "variables";

* {
  -webkit-overflow-scrolling: touch;

  ::-webkit-scrollbar {
    opacity: 1;
    width: 8px;
  }

  ::-webkit-scrollbar-track {
    background: #333;
    opacity: 1;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #777;
    opacity: 1;
  }
}

svg:not(:root) {
  overflow: visible;
}

a {
  color: $black;
  text-decoration: none;

  &:hover {
    color: $black;
  }
}

a,
input,
select,
button {
  &:focus {
    outline: 0;
  }

  &:focus-visible {
    box-shadow: 0 0 7px rgba($blue, 0.8);
    outline: 0;
  }
}

div {
  &[role="button"] {
    &:focus-visible {
      // sass-lint:disable no-important
      border: 1px solid $blue !important;
    }
  }
}

pre {
  white-space: pre-wrap;
}

body {
  -webkit-overflow-scrolling: touch;
  background-color: $black;
  box-sizing: border-box;
  color: #000;
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  overflow-y: scroll;
  position: absolute;
  transition: background-color 1000ms linear;
}

main {
  height: 100%;
  width: 100%;
}

body,
.app,
.app-container,
.site-app,
.main-app,
.page-container,
header,
.navigation {
  transition: background-color 1s, color 0.5s, border 0.5s, box-shadow 0.5s !important;
}

html,
body,
.app,
.app-container,
.site-app,
.main-app,
.page-container {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  max-width: 100vw;
  min-height: 100%;
  overscroll-behavior-y: none; // sass-lint:disable-line no-misspelled-properties
  width: 100%;
  z-index: 1;
}

.app-background {
  background: linear-gradient(180deg, $background-gradient-light-top 0%, $background-gradient-light-bottom 100%);
  height: 100%;
  left: 0;
  min-height: 100vh;
  min-width: 100vw;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 0;
}

select {
  appearance: none;
  background-color: #f2eeea;
  background-image: url("data:image/svg+xml,%3Csvg id='Layer_1' data-name='Layer 1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 35 20.63'%3E%3Cdefs%3E%3Cstyle%3E.cls-1%7Bfill:none;stroke:%23626262;stroke-linecap:round;stroke-miterlimit:10;stroke-width:4px;%7D%3C/style%3E%3C/defs%3E%3Cpolyline class='cls-1' points='2 2 17.8 17.8 33 2.6'/%3E%3C/svg%3E");
  background-position: right 15px center;
  background-repeat: no-repeat;
  background-size: 14px 7px;
  border: 0;
  border-radius: 15px;
  cursor: pointer;
  height: 45px;
  overflow: hidden;
  padding: 0 30px 0 15px;
  position: relative;
  text-overflow: ellipsis;
  white-space: nowrap;
}

input {
  &[type="checkbox"] {
    appearance: none;
    border: 1px solid $gray;
    border-radius: 3px;
    cursor: pointer;
    max-height: 18px;
    max-width: 18px;
    min-height: 18px;
    min-width: 18px;
    position: relative;

    &:checked {
      &::after {
        align-items: center;
        background-color: transparent;
        color: $gray;
        content: "✓";
        display: flex;
        font-size: 12px;
        height: 100%;
        justify-content: center;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
      }
    }
  }
}

.button,
button {
  background-color: transparent;
  border: 0;
  border-radius: 3px;
  color: $black;
  height: 40px;
}

em {
  font-style: italic;
}

.error-section {
  align-items: center;
  display: flex;
  flex: 1 1 100%;
  font-size: 20px;
  font-weight: 300;
  height: 100%;
  justify-content: center;
  max-height: 50vh;
  text-align: center;
}

.page-container {
  height: 100%;

  .page-loader {
    min-height: 60vh;
    width: 100%;
  }

  .page-header,
  .page-subheader,
  .content-header,
  .content-subheader {
    display: flex;
    justify-content: space-between;
    margin: 0;
    position: relative;

    &__icon {
      height: 100%;
      max-height: 100%;
      max-width: 200px;
      width: 100%;
    }
  }

  .page-header,
  .content-header {
    font-size: 32px;
    font-weight: 300;
    letter-spacing: 0.03em;

    &__subtitle {
      color: $darkgray;
    }
  }

  .content-header {
    font-size: 24px;
  }

  .page-subheader,
  .content-subheader {
    color: $darkgray;
    font-size: 18px;
    font-weight: 300;

    &:empty {
      display: none;
    }
  }

  .content-subheader {
    font-size: 16px;
  }

  @media screen and (max-width: $mobile-breakpoint) {
    .content-header,
    .page-header {
      font-weight: 400;
    }
  }
}

.no-header {
  .page-container {
    margin-top: 0;
  }
}

.content {
  border-radius: 10px 10px 0 0;
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  height: max-content;
  max-width: 100%;
  min-height: calc(100vh - 150px);
  padding: 15px 30px 100px;
  width: 100vw;

  &:not(.content--no-background) {
    background-color: $white;
  }
}

.header-dot {
  border-radius: 10px;
  height: 8px;
  margin-right: 10px;
  width: 8px;
}

.action,
.action-loader {
  border: 1px solid $mediumgray;
  border-radius: 6px;
  display: block;
  min-width: 120px;
  text-align: center;

  &-primary {
    background-color: $blue;
    border: 1px solid $blue;
    color: $white;

    &:focus-visible {
      filter: drop-shadow(0 0 5px $black);
    }
  }

  &-danger {
    background-color: $darkergray;
    border: 1px solid $darkergray;
    color: $white;
  }

  &-primary,
  &-danger {
    .lds-default {
      div {
        // sass-lint:disable no-important
        background: $white !important;
      }
    }
  }

  &:disabled {
    opacity: 0.5;
  }

  svg {
    height: 100%;
    width: auto;
  }
}

.action-link {
  border: 0 !important;
  font-size: 14px;
  // sass-lint:disable no-important
  height: 1.8em;
  text-decoration: underline;
}

.hidden {
  display: none;
}

.debug-error-message {
  color: $red !important;
  font-size: 16px;
  margin-top: 100px;
  padding: 20px;
}

// Large
@media screen and (min-width: $breakpoint) {
  .app-container {
    margin: auto;

    .content {
      margin: auto;
      max-width: $breakpoint;
      padding: 25px 30px 100px;
      width: 1250px;
    }
  }
}

// Mid
@media screen and (max-width: $breakpoint) {
  .content {
    border-radius: 0;
  }

  .page-container {
    .page-header {
      font-size: 24px;
    }

    .content-header {
      font-size: 20px;
    }

    .page-subheader {
      font-size: 16px;
    }

    .content-subheader {
      font-size: 14px;
    }
  }
}

// Small
@media screen and (max-width: $mobile-breakpoint) {
  .content {
    padding: 25px 20px 100px;
  }

  .page-container {
    .page-header {
      font-size: 18px;
    }

    .content-header {
      font-size: 16px;
    }

    .page-subheader {
      font-size: 12px;
      margin-top: 3px;
    }

    .content-subheader {
      font-size: 12px;
    }
  }
}

.debug-footer {
  bottom: 10px;
  font-size: 10px;
  left: 10px;
  position: absolute;
  z-index: 1;
}

.dark {
  &.app,
  .app-container,
  .site-app,
  .main-app {
    // sass-lint:disable no-important
    background-color: $black !important;

    * {
      color: $white;
    }
  }

  .app-background {
    background: linear-gradient(180deg, $background-gradient-dark-top 0%, $background-gradient-dark-bottom 100%);
  }

  .action,
  .action-loader {
    border: 1px solid $darkgray;

    &-primary {
      background-color: $blue;
      border: 1px solid $blue;
    }
  }

  input {
    &[type="text"] {
      background-color: $darkgray;
      border: 1px solid $darkestgray;
      color: $white;
    }

    &:focus {
      border: 0.5px solid $gray;
      outline: 0;
    }

    &::placeholder {
      color: $white;
    }
  }

  select {
    background-color: $darkgray;
    background-image: url("data:image/svg+xml,%3Csvg id='Layer_1' data-name='Layer 1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 35 20.63'%3E%3Cdefs%3E%3Cstyle%3E.cls-1%7Bfill:none;stroke:white;stroke-linecap:round;stroke-miterlimit:10;stroke-width:4px;%7D%3C/style%3E%3C/defs%3E%3Cpolyline class='cls-1' points='2 2 17.8 17.8 33 2.6'/%3E%3C/svg%3E");
    border: 1px solid $darkestgray;
  }

  .page-container {
    .page-subheader {
      color: $mediumgray;
    }
  }

  .content-header,
  .page-header {
    &__subtitle {
      color: $gray;
    }
  }

  .content {
    &:not(.content--no-background) {
      background-color: $black;
    }
  }
}
