// sass-lint:disable no-vendor-prefixes, no-color-literals, force-pseudo-nesting

@import "variables";

* {
  -webkit-overflow-scrolling: touch;

  ::-webkit-scrollbar {
    opacity: 1;
    width: 8px;
  }

  ::-webkit-scrollbar-track {
    background: #333;
    opacity: 1;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #777;
    opacity: 1;
  }
}

svg:not(:root) {
  overflow: visible;
}

a {
  color: $black;
  text-decoration: none;

  &:hover {
    color: $black;
  }
}

a,
button,
input {
  &:focus {
    outline: 0;
  }

  &:focus-visible {
    box-shadow: 0 0 2px rgba(225, 225, 255, 0.8);
    outline: 0;
  }
}

div[role="button"] {
  &:focus-visible {
    border: 1px solid $blue !important;
  }
}

pre {
  white-space: pre-wrap;
}

body {
  -webkit-overflow-scrolling: touch;
  background-color: $black;
  box-sizing: border-box;
  color: #000;
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  position: absolute;
}

main {
  height: 100%;
  width: 100%;
}

html,
body,
.app,
.app-container,
.site-app,
.main-app,
.page-container {
  background-color: $white;
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  max-width: 100vw;
  min-height: 100%;
  overscroll-behavior-y: none; // sass-lint:disable-line no-misspelled-properties
  width: 100%;
}

select {
  appearance: none;
  background-color: #f2eeea;
  background-image: url("data:image/svg+xml,%3Csvg id='Layer_1' data-name='Layer 1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 35 20.63'%3E%3Cdefs%3E%3Cstyle%3E.cls-1%7Bfill:none;stroke:%23626262;stroke-linecap:round;stroke-miterlimit:10;stroke-width:4px;%7D%3C/style%3E%3C/defs%3E%3Cpolyline class='cls-1' points='2 2 17.8 17.8 33 2.6'/%3E%3C/svg%3E");
  background-position: right 15px center;
  background-repeat: no-repeat;
  background-size: 14px 7px;
  border: 0;
  border-radius: 15px;
  cursor: pointer;
  height: 45px;
  overflow: hidden;
  padding: 0 30px 0 15px;
  position: relative;
  text-overflow: ellipsis;
  white-space: nowrap;
}

input {
  -webkit-appearance: none;

  &[type="checkbox"] {
    border: 1px solid #6a6a6a;
    border-radius: 2px;
    height: 19px;
    width: 19px;
  }

  &[type="text"] {
    border: 1px solid $gray;
    color: $black;
    font-size: 20px;
    height: 50px;
    padding: 0 10px;
    width: 100%;

    &:focus {
      border: 0.5px solid $gray;
      outline: 0;

      &::placeholder {
        opacity: 0;
      }
    }

    &::placeholder {
      font-size: 16px;
      letter-spacing: 0.08em;
    }
  }
}

.button,
button {
  background-color: transparent;
  border: 0;
  border-radius: 3px;
  color: $black;
  height: 40px;
}

.error-section {
  align-items: center;
  display: flex;
  flex: 1 1 100%;
  font-size: 20px;
  font-weight: 300;
  height: 100%;
  justify-content: center;
  max-height: 50vh;
  text-align: center;
}

.page-container {
  height: 100%;
  margin-top: 60px;

  .page-loader {
    min-height: 60vh;
    width: 100%;
  }

  .page-header,
  .page-subheader,
  .content-header,
  .content-subheader {
    display: flex;
    justify-content: space-between;
    margin: 0;
    position: relative;

    &__icon {
      height: 100%;
      max-height: 100%;
      max-width: 200px;
      width: 100%;
    }
  }

  .page-header,
  .content-header {
    font-size: 32px;
    font-weight: 300;
    letter-spacing: 0.03em;

    &__subtitle {
      color: $darkgray;
    }
  }

  .content-header {
    font-size: 24px;
  }

  .page-subheader,
  .content-subheader {
    color: $darkgray;
    font-size: 18px;
    font-weight: 300;

    &:empty {
      display: none;
    }
  }

  .content-subheader {
    font-size: 16px;
  }

  @media screen and (max-width: $mobile-breakpoint) {
    .content-header,
    .page-header {
      font-weight: 400;
    }
  }
}

.no-header {
  .page-container {
    margin-top: 0;
  }
}

.content {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  height: max-content;
  max-width: 100%;
  padding: 15px 35px 80px 25px;
  width: 100vw;
}

.header-dot {
  border-radius: 10px;
  height: 8px;
  margin-right: 10px;
  width: 8px;
}

.action {
  border: 1px solid $mediumgray;
  border-radius: 6px;
  min-width: 120px;
  text-align: center;

  &-primary {
    background-color: $blue;
    border: 1px solid $blue;
    color: $white;
  }

  &-danger {
    background-color: $darkergray;
    border: 1px solid $darkergray;
    color: $white;
  }

  &:disabled {
    opacity: 0.5;
  }
}

.hidden {
  display: none;
}

// Large
@media screen and (min-width: $breakpoint) {
  .app-container {
    margin: auto;
    max-width: $breakpoint;
    width: $breakpoint;

    .navigation {
      width: $breakpoint;
    }

    .header {
      max-width: $breakpoint;
    }

    .content {
      padding: 25px 30px 80px;
      width: auto;
    }
  }
}

// Mid
@media screen and (max-width: $breakpoint) {
  .page-container {
    .page-header {
      font-size: 24px;
    }

    .content-header {
      font-size: 20px;
    }

    .page-subheader {
      font-size: 16px;
    }

    .content-subheader {
      font-size: 14px;
    }
  }
}

// Small
@media screen and (max-width: $mobile-breakpoint) {
  .content {
    padding: 25px 20px 80px;
  }

  .page-container {
    .page-header {
      font-size: 18px;
    }

    .content-header {
      font-size: 16px;
    }

    .page-subheader {
      font-size: 12px;
      margin-top: 3px;
    }

    .content-subheader {
      font-size: 12px;
    }
  }
}

.dark {
  &.app,
  .app-container,
  .site-app,
  .main-app,
  .page-container {
    // sass-lint:disable no-important
    background-color: $black !important;

    * {
      color: $white;
    }
  }

  .action {
    border: 1px solid $darkgray;

    &-primary {
      background-color: $blue;
      border: 1px solid $blue;
    }
  }

  input {
    &[type="text"] {
      background-color: $darkgray;
      border: 1px solid $darkestgray;
      color: $white;
    }

    &:focus {
      border: 0.5px solid $gray;
      outline: 0;
    }

    &::placeholder {
      color: $white;
    }
  }

  .page-container {
    .page-subheader {
      color: $mediumgray;
    }
  }

  .content-header,
  .page-header {
    &__subtitle {
      color: $gray;
    }
  }
}
