// sass-lint:disable no-vendor-prefixes, no-color-literals, force-pseudo-nesting

@import "variables";

* {
  -webkit-overflow-scrolling: touch;

  ::-webkit-scrollbar {
    opacity: 1;
    width: 8px;
  }

  ::-webkit-scrollbar-track {
    background: #333;
    opacity: 1;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #777;
    opacity: 1;
  }
}

svg:not(:root) {
  overflow: visible;
}

a {
  color: $black;
  text-decoration: none;

  &:hover {
    color: $black;
  }
}

a,
button,
input {
  &:focus {
    outline: 0;
  }

  &:focus-visible {
    box-shadow: 0 0 2px rgba(225, 225, 255, 0.8);
    outline: 0;
  }
}

pre {
  white-space: pre-wrap;
}

body {
  -webkit-overflow-scrolling: touch;
  background-color: $black;
  box-sizing: border-box;
  color: #000;
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  overflow-y: scroll;
  position: absolute;
}


main {
  height: 100%;
  width: 100%;
}

html,
body,
.app,
.app-container,
.site-app,
.main-app,
.page-container {
  background-color: $white;
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  max-width: 100vw;
  min-height: 100%;
  overscroll-behavior-y: none; // sass-lint:disable-line no-misspelled-properties
  width: 100%;
}

select {
  appearance: none;
  background-color: #f2eeea;
  background-image: url("data:image/svg+xml,%3Csvg id='Layer_1' data-name='Layer 1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 35 20.63'%3E%3Cdefs%3E%3Cstyle%3E.cls-1%7Bfill:none;stroke:%23626262;stroke-linecap:round;stroke-miterlimit:10;stroke-width:4px;%7D%3C/style%3E%3C/defs%3E%3Cpolyline class='cls-1' points='2 2 17.8 17.8 33 2.6'/%3E%3C/svg%3E");
  background-position: right 15px center;
  background-repeat: no-repeat;
  background-size: 14px 7px;
  border: 0;
  border-radius: 15px;
  cursor: pointer;
  height: 45px;
  overflow: hidden;
  padding: 0 30px 0 15px;
  position: relative;
  text-overflow: ellipsis;
  white-space: nowrap;
}

input {
  &[type="checkbox"] {
    border: 1px solid #6a6a6a;
    border-radius: 2px;
    height: 19px;
    width: 19px;
  }
}

button {
  background-color: transparent;
  border: 1px solid $mediumgray;
  border-radius: 3px;
  color: $black;
  height: 40px;
}

.error-section {
  align-items: center;
  display: flex;
  font-size: 20px;
  font-weight: 300;
  justify-content: center;
  text-align: center;
}

.page-container {
  margin-top: 60px;
}

.content {
  display: grid;
  flex: 1 1 auto;
  height: max-content;
  max-width: 100%;
  padding: 25px 20px 80px 10px;
  width: 100vw;
}

@media screen and (min-width: $breakpoint) {
  .app-container {
    margin: auto;
    max-width: $breakpoint;
    width: $breakpoint;

    .navigation {
      width: $breakpoint;
    }

    .header {
      max-width: $breakpoint;
    }

    .content {
      padding: 25px 30px 80px;
      width: auto;
    }
  }
}

.dark {
  &.app,
  .app-container,
  .site-app,
  .main-app,
  .page-container {
    // sass-lint:disable-line no-important
    background-color: $black !important;

    * {
      color: $white;
    }
  }
}
