.card-list {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fill, minmax(275px, 1fr));
  height: min-content;
  margin-top: 20px;

  .card-container {
    .card {
      height: 100%;
      padding-bottom: 15px;
    }
  }

  &__loader {
    min-height: 350px;
    min-width: 250px;
  }
}

.card-shadow {
  border: var(--border-card);
  border-radius: var(--border-radius-card);
  box-shadow: var(--box-shadow-card);
}

.card-container {
  position: relative;
  transition: border 0.15s ease-in, margin 0.15s ease-in-out;

  &-selectable {
    cursor: pointer;
    margin: 3px;
  }

  &--selected,
  &-pending-selection {
    border: var(--border-highlight);
    box-shadow: var(--color-highlight) 0 0 8px;
    margin: 0;
  }

  &-marketplace {
    border: 0;

    .card {
      &__title {
        font-size: 18px;
      }
    }
  }

  &.collection-card-unowned {
    opacity: 0.5;
  }
}

.item-card {
  position: relative;
  background: var(--background-card);
  border-radius: var(--border-radius-card);
  color: var(--color-card-text-primary);
  display: flex;
  flex-direction: column;
  font: var(--font-card-text);
  height: 100%;
  left: 0;
  object-fit: cover;
  object-position: center;
  overflow: hidden;
  padding: 30px;
  top: 0;
  width: 100%;

  &--disabled {
    opacity: 0.5;
  }

  &__text {
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  &__title {
    font-weight: 500;
    font-size: 16px;
  }

  &__edition {
    color: var(--color-card-text-secondary);
    font-size: 12px;
    margin-top: 2px;
  }

  &__description {
    margin: 10px 0;
    color: var(--color-card-text-secondary);
    line-height: 1.5em;
  }

  &__status {
    display: flex;
    height: 100%;
    align-items: flex-end;
    justify-content: space-between;
    margin-top: 10px;

    &__price,
    &__text {
      font-weight: 500;
    }

    &__price {
      display: flex;
      align-items: center;

      svg,
      img {
        height: 15px;
        margin-right: 5px;
      }
    }
  }

  &__actions {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: absolute;
    bottom: 5px;
    right: 5px;

    .item-card__action {
      background: var(--color-button-feature-card-bg);
      border: var(--border-button-feature-card);
      border-radius: var(--border-radius-button-feature-card);
      color: var(--color-button-feature-card-text);
      height: 30px;
      width: 30px;
      min-width: unset;

      svg {
        height: 100%;
        padding: 7px;

        * {
          color: var(--color-button-feature-card-text);
        }
      }
    }
  }

  &__side-text-container {
    position: absolute;
    right: 5px;
    top: 32px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
  }

  &__side-text {
    display: flex;
    align-items: center;
    transform: translate(100%) rotate(90deg);
    transform-origin: left top;

    &__primary {
      color: var(--color-card-text-highlight);
    }

    &__secondary {
      margin-left: 5px;
      color: var(--color-card-text-secondary);
    }
  }

  &__badges {
    align-items: center;
    background-color: var(--color-card-badge-bg);
    border-radius: var(--border-radius-card-badge);
    display: flex;
    height: max-content;
    justify-content: center;
    padding: 7px;
    position: absolute;
    left: 7px;
    top: 7px;
    width: max-content;

    &:empty {
      display: none;
    }
  }

  &__badge {
    fill: var(--color-card-badge);
    height: 18px;
    opacity: 0.75;

    stroke: transparent;
    width: auto;
  }

  // Modifications for NFT details card
  &--nft-card {
    .item-card {
      &__side-text-container {
        font-size: 18px;
        font-weight: 500;
      }
    }
  }

  // Image
  &__image-container {
    margin-bottom: 15px;
    padding-top: 100%;
    position: relative;
    width: 100%;
  }

  &__image {
    border-radius: var(--border-radius-card);
    height: 100%;
    left: 0;
    object-fit: contain;
    object-position: center;
    position: absolute;
    top: 0;
    width: 100%;
  }

  &__image__full-screen {
    align-items: center;
    bottom: 12px;
    display: flex;
    height: 22px;
    justify-content: center;
    padding: 3px;
    position: absolute;
    right: 8px;
    width: 22px;

    svg {
      height: 100%;
      opacity: 0.75;
      width: 100%;

      * {
        stroke: var(--color-feature-card-text-highlight);
        stroke-width: 5px;
      }
    }
  }

  &__image-modal {
    overflow-y: hidden;

    .modal__content {
      align-items: center;
      display: flex;
      height: 100vh;
      justify-content: center;
      overflow-y: hidden;
      width: 100vw;
    }

    img,
    svg {
      max-height: 100%;
      max-width: 100%;
      object-fit: contain;
    }
  }

  &__image-placeholder {
    * {
      stroke: var(--color-card-text-primary);
      stroke-width: 0.5px;
    }
  }

  &__image-video-embed {
    border: 0;
    height: 100%;
    max-width: 100%;
    outline: 0;
    width: 100%;

    &__frame {
      background: var(--background-content);
      border: 0;
      height: 100%;
      outline: 0;
      width: 100%;
    }
  }
}

.side-panel {
  .card-list {
    margin-left: auto;
    margin-right: auto;
    max-width: 400px;
  }
}
