$card-shadow: rgba(0, 0, 0, 0.1);
$overlay-background: rgba($black, 0.25);
$pending-color: rgba($blue, 0.5);

.card-list {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fill, minmax(275px, 1fr));
  margin-top: 20px;

  // Force aspect ratio of cards in a card list
  .card-container {
    &::before {
      content: "";
      display: block;
      padding-top: 130%;
    }

    .card {
      padding-bottom: 15px;
      position: absolute;
    }
  }
}

.card-shadow {
  border: 1px solid $mediumgray;
  border-radius: 4px;
  box-shadow: 2px 2px 4px $card-shadow;
}

.card-container {
  height: min-content;
  max-width: calc(100vw - 50px);
  position: relative;
  transition: border 0.15s ease-in, margin 0.15s ease-in-out;

  &-selectable {
    cursor: pointer;
    margin: 3px;
  }

  &-selected {
    border: 1px solid $blue;
    box-shadow: $blue 0 0 8px;
    margin: 0;
  }

  &-pending-selection {
    border: 1px solid $pending-color;
    box-shadow: $pending-color 0 0 8px;
    margin: 0;
  }

  &-marketplace {
    border: 0;

    .card {
      &__title {
        font-size: 18px;
      }
    }
  }

  &.collection-card-unowned {
    opacity: 0.5;
  }
}

.card {
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  left: 0;
  object-fit: cover;
  object-position: center;
  overflow: hidden;
  padding: 15px 15px 30px;
  top: 0;
  width: 100%;

  &-disabled {
    opacity: 0.5;
    pointer-events: none;
  }

  &__image-container {
    padding-top: 100%;
    position: relative;
    width: 100%;
  }

  &__image {
    height: 100%;
    left: 0;
    object-fit: contain;
    object-position: center;
    position: absolute;
    top: 0;
    width: 100%;
  }

  &__image-loading {
    @include background-gradient-loader;
  }

  &__image-placeholder {
    padding: 25%;

    * {
      stroke: $black;
    }
  }

  &__image-video-embed {
    border: 0;
    height: 100%;
    max-width: 100%;
    outline: 0;
    width: 100%;

    &__frame {
      border: 0;
      height: 100%;
      outline: 0;
      width: 100%;
    }
  }

  &__text {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    margin-top: 10px;
  }

  &__titles {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  &__title,
  &__subtitle {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.1em;
  }

  &__title {
    align-items: center;
    display: flex;
    font-size: 18px;
    font-weight: 500;
    justify-content: space-between;
    line-height: 1.1em;
  }

  &__subtitle {
    color: $gray;
    font-size: 14px;
    font-weight: 300;
    margin-top: 7px;
  }

  &__title__title,
  &__subtitle__title {
    padding-right: 10px;
  }

  &__title__price {
    font-size: 14px;
    font-weight: 500;
  }

  &__stock {
    align-items: center;
    color: $gray;
    display: flex;
    font-size: 12px;
    font-weight: 600;
    justify-content: flex-end;
    margin-top: 5px;
  }

  &__stock__indicator {
    background: $red;
    border-radius: 100%;
    height: 7px;
    margin-right: 7px;
    width: 7px;

    &-unavailable {
      background: $darkgray;
    }
  }

  @media screen and (max-width: $mobile-breakpoint) {
    padding: 15px 15px 25px;

    &__subtitle {
      font-size: 13px;
    }
  }
}

.dark {
  .card-shadow {
    border: 1px solid $darkgray;
    box-shadow: none;
  }

  .card-container {
    background: $black;

    &-selected {
      border: 1px solid $gold;
      box-shadow: $gold 0 0 8px;
    }

    &-pending-selection {
      border: 1px $pending-color;
      box-shadow: $pending-color 0 0 8px;
      margin: 0;
    }

    &-marketplace {
      border: 0;
    }
  }

  .card {
    &__image {
      background: $black;
    }

    &__image-placeholder {
      * {
        stroke: $white;
      }
    }

    &__title {
      font-weight: 600;
    }

    &__subtitle {
      color: $mediumgray;
    }
  }
}

.side-panel {
  .card-list {
    margin-left: auto;
    margin-right: auto;
    max-width: 400px;
  }
}
