.card-list {
  display: flex;
  flex-wrap: wrap;
  // sass-lint:disable no-misspelled-properties
  gap: 10px;
  // sass-lint:enable no-misspelled-properties

  .card-container {
    flex: 1 1 100%;
    max-width: 390px;
  }

  &__loader {
    min-height: 350px;
    min-width: 250px;
  }

  @media screen and (max-width: $breakpoint) {
    &:not(&--centered) {
      display: grid;
      grid-gap: 10px;
      grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
      height: min-content;
      justify-content: center;

      .card-container {
        max-width: unset;
      }
    }
  }

  @media screen and (max-width: $mobile-breakpoint) {
    grid-gap: 20px;
  }
}

.card-shadow {
  border: var(--border-card);
  border-radius: var(--border-radius-card);
  box-shadow: var(--box-shadow-card);
}

.card-container {
  position: relative;
  transition: border 0.15s ease-in, margin 0.15s ease-in-out;

  &--disabled {
    opacity: 0.5;
  }

  &--centered {
    .item-card__text {
      * {
        text-align: center;
      }
    }

    .item-card__status__price,
    .item-card__status__text {
      &:first-child {
        &:last-child {
          justify-content: center;
          text-align: center;
          width: 100%;
        }
      }
    }
  }

  &-selectable {
    cursor: pointer;
    margin: 3px;
  }

  &--selected,
  &-pending-selection {
    border: var(--border-highlight);
    box-shadow: var(--color-highlight) 0 0 8px;
    margin: 0;
  }
}

.item-card {
  background: var(--background-card);
  border-radius: var(--border-radius-card);
  color: var(--color-card-text-primary);
  display: flex;
  flex-direction: column;
  font: var(--font-card-text);
  height: 100%;
  left: 0;
  object-fit: cover;
  object-position: center;
  overflow: hidden;
  padding: 30px 30px 20px;
  position: relative;
  top: 0;
  width: 100%;

  &--disabled {
    opacity: 0.5;
  }

  &__text {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  &__title {
    font: var(--font-card-title);
    font-size: 20px;
    font-weight: 700;
    line-height: 1.25;
    text-transform: uppercase;
    word-break: break-word;
  }

  &__edition {
    color: var(--color-card-text-secondary);
    font: var(--font-card-misc);
    font-size: 12px;
    margin-top: 5px;
    text-transform: uppercase;
  }

  &__description {
    align-items: center;
    color: var(--color-card-text-secondary);
    line-height: 1.5em;
    margin: 15px 0 30px;
    min-height: 75px;

    * {
      color: var(--color-card-text-secondary);
    }
  }

  &__status {
    align-items: flex-end;
    display: flex;
    height: 100%;
    justify-content: space-between;
    margin-top: 10px;
    text-transform: uppercase;

    &__price,
    &__text {
      font: var(--font-card-misc);
      font-weight: 500;

      &:not(:first-child),
      &:not(:last-child) {
        max-width: 50%;
      }
    }

    &__price {
      align-items: center;
      display: flex;

      svg,
      img {
        height: 15px;
        margin-right: 5px;
      }
    }
  }

  &__actions {
    align-items: center;
    bottom: 5px;
    display: flex;
    justify-content: flex-end;
    position: absolute;
    right: 5px;

    .item-card__action {
      background: var(--color-button-card-bg);
      border: var(--border-button-card);
      border-radius: var(--border-radius-button-card);
      color: var(--color-button-card-text);
      height: 30px;
      min-width: unset;
      width: 30px;

      svg {
        height: 100%;
        padding: 7px;

        * {
          color: var(--color-button-card-text);
        }
      }
    }
  }

  &__side-text {
    align-items: center;
    display: flex;
    max-height: 2px;
    max-width: 2px;
    overflow: visible;
    position: absolute;
    right: 1em;
    top: 32px;
    transform: rotate(90deg);
    white-space: nowrap;
    word-break: keep-all;

    * {
      font: var(--font-card-misc);
      font-size: 15px;
    }

    &__primary {
      color: var(--color-card-text-highlight);
      margin-right: 0.4em;
    }

    &__secondary {
      color: var(--color-card-text-secondary);
    }
  }

  &__badges {
    align-items: center;
    background-color: var(--color-card-badge-bg);
    border-radius: var(--border-radius-card-badge);
    display: flex;
    height: max-content;
    justify-content: center;
    left: 7px;
    padding: 7px;
    position: absolute;
    top: 7px;
    width: max-content;

    &:empty {
      display: none;
    }
  }

  &__badge {
    color: var(--color-card-badge);
    height: 18px;
    stroke: transparent;
    width: auto;
  }

  // Image
  &__image-container {
    margin-bottom: 15px;
    overflow: hidden;
    padding-top: 100%;
    position: relative;
    width: 100%;
  }

  &__image {
    border-radius: var(--border-radius-card);
    height: 100%;
    left: 0;
    object-fit: contain;
    object-position: center;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 100%;
  }

  &__image__full-screen {
    align-items: center;
    bottom: 12px;
    display: flex;
    height: 22px;
    justify-content: center;
    padding: 3px;
    position: absolute;
    right: 8px;
    width: 22px;

    svg {
      height: 100%;
      opacity: 0.75;
      width: 100%;

      * {
        stroke: var(--color-card-text-highlight);
        stroke-width: 5px;
      }
    }
  }

  &__image-modal {
    overflow-y: hidden;

    .modal__content {
      align-items: center;
      display: flex;
      height: 100%;
      justify-content: center;
      overflow-y: hidden;
      width: 100vw;
    }

    img,
    svg {
      max-height: 100%;
      max-width: 100%;
      object-fit: contain;
    }
  }

  &__image-placeholder {
    * {
      stroke: var(--color-card-text-primary);
      stroke-width: 0.5px;
    }
  }

  &__image-video-embed {
    border: 0;
    height: 100%;
    max-width: 100%;
    outline: 0;
    width: 100%;

    &__frame {
      background: var(--background-content);
      border: 0;
      height: 100%;
      outline: 0;
      width: 100%;
    }
  }
}

.app--centered {
  .card-list--marketplace {
    justify-content: center;
  }
}

.side-panel {
  .card-list {
    margin-left: auto;
    margin-right: auto;
    max-width: 400px;
  }
}
