.drop {
  margin-top: 10px;

  .countdown {
    display: none;
  }

  .card-container {
    &::before {
      padding-top: calc(100% + 35px);
    }
  }

  .card-list {
    grid-template-columns: repeat(auto-fill, minmax(255px, 1fr));

    .card {
      &__title {
        font-size: 14px;
        justify-content: center;
      }
    }
  }
}
