.drop {
  .countdown {
    display: none;
  }

  .card-list {
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));

    .card {
      &__image {
        padding-bottom: 0;
      }
    }
  }
}
