$max-height-icon: 80vh;

.featured-item {
  @include page-fade-in;

  align-items: center;
  background: var(--border-background-featured-item);
  border-radius: var(--border-radius-featured-item);
  display: grid;
  font: var(--font-feature-card-text);
  grid-gap: 80px;
  grid-template-columns: 1fr 1fr;
  min-height: 650px;
  padding: 65px 85px;
  position: relative;

  &--disabled {
    opacity: 0.85;

    .featured-item__icon-container {
      opacity: 0.5;
    }
  }

  &__text,
  &__icon-container {
    @include page-fade-in;
    z-index: 1;
  }

  &__text {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    position: relative;
  }

  &__title {
    font: var(--font-feature-card-title);
    font-size: 28px;
    font-weight: 500;
    text-transform: uppercase;
  }

  &__edition {
    color: var(--color-feature-card-text-secondary);
    font: var(--font-feature-card-misc);
    font-size: 14px;
    margin-top: 5px;
    text-transform: uppercase;
  }

  &__description {
    align-items: center;
    color: var(--color-feature-card-text-primary);
    display: flex;
    margin: 20px 0 10px;
    min-height: 50px;

    &,
    p {
      font-size: 20px;
      line-height: 1.5em;
    }
  }

  &__price,
  &__status {
    color: var(--color-feature-card-text-secondary);
    font: var(--font-feature-card-misc);
    font-weight: 500;
    margin-top: 20px;
    text-transform: uppercase;
  }

  &__price {
    align-items: center;
    display: flex;

    svg,
    img {
      margin-right: 5px;
    }
  }

  &__actions {
    margin-top: 30px;
    max-width: 200px;

    .action {
      height: 45px;
    }
  }

  &__side-text {
    align-items: center;
    display: flex;
    justify-content: center;
    left: -25px;
    max-height: 1px;
    max-width: 1px;
    overflow: visible;
    position: absolute;
    text-align: center;
    text-transform: uppercase;
    transform: rotate(-90deg);
    white-space: nowrap;
    word-break: keep-all;

    &__primary {
      color: var(--color-feature-card-text-highlight);
      font: var(--font-feature-card-misc);
      margin-left: 10px;
    }

    &__secondary {
      color: var(--color-feature-card-text-secondary);
      font: var(--font-feature-card-misc);
    }
  }

  &__background {
    background: var(--background-featured-item);
    border: var(--border-background-featured-item);
    border-radius: var(--border-radius-featured-item);
    bottom: var(--border-width-featured-item);
    left: var(--border-width-featured-item);
    position: absolute;
    right: var(--border-width-featured-item);
    top: var(--border-width-featured-item);
    z-index: 0;
  }

  &__icon-container {
    background: var(--border-background-feature-card);
    border-radius: var(--border-radius-feature-card);
    box-shadow: var(--box-shadow-feature-card);
    max-height: $max-height-icon;
    max-width: $max-height-icon;
    padding: var(--border-width-feature-card);
    position: relative;
  }

  &__icon {
    background: var(--background-feature-card);
    border-radius: var(--border-radius-feature-card);
    max-height: $max-height-icon;
    max-width: $max-height-icon;
    padding: 32px;

    div {
      margin: 0;
    }

    img {
      background: $black;
      border-radius: calc(var(--border-radius-feature-card) / 2);
      max-height: $max-height-icon;
      max-width: $max-height-icon;
    }
  }

  &__badges {
    background-color: var(--color-card-badge-bg);
    border-radius: var(--border-radius-card-badge);
    display: flex;
    height: max-content;
    left: 12px;
    padding: 5px;
    position: absolute;
    top: 12px;
    z-index: 1;
  }

  .item-card__image-container {
    background: $black;
    border-radius: var(--border-radius-feature-card);
  }

  @media screen and (max-width: $breakpoint) {
    grid-gap: 30px;
    padding: 30px 50px;

    &__title {
      font-size: 24px;
    }

    &__text {
      padding: 0;
    }

    &__description {
      &,
      p {
        font-size: 16px;
      }
    }
  }

  @media screen and (max-width: $tablet-breakpoint) {
    grid-gap: 10px;
    min-height: 300px;
    padding: 30px 50px 30px 20px;

    &__title {
      font-size: 24px;
    }

    &__description {
      &,
      p {
        font-size: 12px;
      }
    }

    &__side-text {
      display: none;
    }

    &__icon {
      padding: 20px;
    }

    &__text {
      margin: 0 auto;
      max-width: 500px;
      min-height: 300px;
      padding: 20px;
    }
  }
}

.feature-gallery {
  display: grid;
  grid-gap: 30px;
  margin-top: 30px;

  &__slider {
    background: var(--color-featured-item-slider);
    border-radius: 10px;
    height: 4px;
    margin: 40px auto 0;
    position: relative;
    width: 95%;
  }

  &__slider-handle {
    background: var(--color-featured-item-slider-handle);
    border-radius: 10px;
    height: 100%;
    position: absolute;
    top: 0;
    transition: left 0.15s ease;

    &:focus-visible {
      box-shadow: var(--box-shadow-input-focus);
      outline: var(--outline-input-focus);
    }
  }

  &__slider-drag {
    background: transparent;
    cursor: pointer;
    height: 300%;
    left: 0;
    position: absolute;
    top: -100%;
    width: 100%;
    z-index: 2;
  }

  &__icon-container {
    @include page-fade-in;
    background: var(--border-background-feature-card);
    border-radius: var(--border-radius-feature-card);
    cursor: pointer;
    padding: var(--border-width-feature-card);
    position: relative;

    &--selected {
      background: var(--border-background-feature-card-selected);
      box-shadow: var(--box-shadow-feature-card-selected);
    }
  }

  &__icon {
    background: var(--background-feature-card);
    border-radius: var(--border-radius-feature-card);
    padding: 20px;

    div {
      margin: 0;
    }

    img {
      background: $black;
      border-radius: calc(var(--border-radius-feature-card) / 2);
    }
  }
}
