.featured-item {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 50px;
  padding: 50px 100px 50px;
  position: relative;
  font: var(--font-feature-card-text);
  align-items: center;
  min-height: 650px;

  &__text,
  &__icon {
    @include page-fade-in;
    z-index: 1;
  }

  &__text {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    padding-left: 50px;
  }

  &__title {
    font-weight: 500;
    font-size: 16px;
    font: var(--font-feature-card-title);
    word-break: break-word;
  }

  &__edition {
    font: var(--font-feature-card-misc);
    color: var(--color-feature-card-text-secondary);
    font-size: 12px;
  }

  &__description {
    margin: 20px 0 10px;
    color: var(--color-feature-card-text-primary);
    line-height: 1.5em;
    min-height: 50px;
    display: flex;
    align-items: center;
  }

  &__price,
  &__status {
    margin-top: 20px;
    font-weight: 500;
    font: var(--font-feature-card-misc);
    color: var(--color-feature-card-text-secondary);
  }

  &__price {
    display: flex;
    align-items: center;

    svg,
    img {
      height: 15px;
      margin-right: 5px;
    }
  }

  &__actions {
    margin-top: 40px;
    max-width: 200px;

    .action {
      height: 45px;
    }
  }

  &__side-text {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    writing-mode: sideways-lr;
    text-orientation: sideways;

    &__primary {
      color: var(--color-feature-card-text-highlight);
      margin-bottom: 10px;
      font: var(--font-feature-card-misc);
    }

    &__secondary {
      color: var(--color-feature-card-text-secondary);
      font: var(--font-feature-card-misc);
    }
  }

  &__background {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
    clip-path: polygon(0 100%, 100% 100%, 75% 75%, 25% 75%);
    background: var(--background-feature-card-runway);
    z-index: 0;
  }

  &__icon {
    position: relative;
    border: var(--border-feature-card);
    border-radius: var(--border-radius-feature-card);
    background: var(--background-feature-card);
    padding: 30px;
    box-shadow: var(--box-shadow-feature-card);

    div {
      margin: 0;
    }

    img {
      background: black;
      border-radius: calc(var(--border-radius-feature-card) / 2);
    }
  }

  @media screen and (max-width: $tablet-breakpoint) {
    grid-template-columns: 1fr 1.5fr;
    padding: 10px;
    grid-gap: 20px;

    &--right-just {
      grid-template-columns: 1.5fr 1fr;
    }

    &__icon {
      padding: 20px;
    }

    &__text {
      min-height: 300px;
      max-width: 500px;
      margin: 0 auto;
    }
  }
}

.feature-gallery {
  display: grid;
  grid-gap: 30px;
  margin-top: 30px;

  &__slider {
    height: 4px;
    width: 95%;
    position: relative;
    background: var(--color-featured-item-slider);
    border-radius: 10px;
    margin: 40px auto 0;
  }

  &__slider-handle {
    transition: left 0.15s ease;
    position: absolute;
    height: 100%;
    background: var(--color-featured-item-slider-handle);
    border-radius: 10px;
    top: 0;

    &:focus-visible {
      box-shadow: var(--box-shadow-input-focus);
      outline: var(--outline-input-focus);
    }
  }

  &__slider-drag {
    width: 100%;
    height: 300%;
    position: absolute;
    left: 0;
    top: -100%;
    z-index: 2;
    background: transparent;
    cursor: pointer;
  }

  &__icon {
    @include page-fade-in;
    position: relative;
    border: var(--border-feature-card);
    border-radius: var(--border-radius-feature-card);
    background: var(--background-feature-card);
    padding: 20px;
    cursor: pointer;

    &--selected {
      border: var(--border-feature-card-selected);
      box-shadow: var(--box-shadow-feature-card-selected);
    }

    div {
      margin: 0;
    }

    img {
      background: black;
      border-radius: calc(var(--border-radius-feature-card) / 2);
    }
  }
}
