.featured-item {
  align-items: center;
  display: grid;
  font: var(--font-feature-card-text);
  grid-gap: 50px;
  grid-template-columns: 1fr 1fr;
  min-height: 650px;
  padding: 50px 100px;
  position: relative;

  &__text,
  &__icon-container {
    @include page-fade-in;
    z-index: 1;
  }

  &__text {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    padding-left: 50px;
    position: relative;
  }

  &__title {
    font: var(--font-feature-card-title);
    font-size: 16px;
    font-weight: 500;
    word-break: break-word;
  }

  &__edition {
    color: var(--color-feature-card-text-secondary);
    font: var(--font-feature-card-misc);
    font-size: 12px;
  }

  &__description {
    align-items: center;
    color: var(--color-feature-card-text-primary);
    display: flex;
    line-height: 1.5em;
    margin: 20px 0 10px;
    min-height: 50px;
  }

  &__price,
  &__status {
    color: var(--color-feature-card-text-secondary);
    font: var(--font-feature-card-misc);
    font-weight: 500;
    margin-top: 20px;
  }

  &__price {
    align-items: center;
    display: flex;

    svg,
    img {
      height: 15px;
      margin-right: 5px;
    }
  }

  &__actions {
    margin-top: 40px;
    max-width: 200px;

    .action {
      height: 45px;
    }
  }

  &__side-text {
    align-items: center;
    display: flex;
    justify-content: center;
    left: 0;
    max-height: 1px;
    max-width: 1px;
    overflow: visible;
    position: absolute;
    text-align: center;
    transform: rotate(-90deg);
    white-space: nowrap;
    word-break: keep-all;

    &__primary {
      color: var(--color-feature-card-text-highlight);
      font: var(--font-feature-card-misc);
      margin-left: 10px;
    }

    &__secondary {
      color: var(--color-feature-card-text-secondary);
      font: var(--font-feature-card-misc);
    }
  }

  &__background {
    background: var(--background-feature-card-runway);
    bottom: 0;
    clip-path: polygon(0 100%, 100% 100%, 75% 75%, 25% 75%);
    height: 100%;
    left: 0;
    position: absolute;
    width: 100%;
    z-index: 0;
  }

  &__icon-container {
    border: var(--border-feature-card);
    border-radius: var(--border-radius-feature-card);
    box-shadow: var(--box-shadow-feature-card);
    position: relative;
  }

  &__icon {
    background: var(--background-feature-card);
    border-radius: var(--border-radius-feature-card);
    padding: 30px;

    div {
      margin: 0;
    }

    img {
      background: $black;
      border-radius: calc(var(--border-radius-feature-card) / 2);
    }
  }

  @media screen and (max-width: $tablet-breakpoint) {
    grid-gap: 20px;
    grid-template-columns: 1fr 1.5fr;
    padding: 10px;

    &__side-text {
      display: none;
    }

    &--right-just {
      grid-template-columns: 1.5fr 1fr;
    }

    &__icon {
      padding: 20px;
    }

    &__text {
      margin: 0 auto;
      max-width: 500px;
      min-height: 300px;
    }
  }
}

.feature-gallery {
  display: grid;
  grid-gap: 30px;
  margin-top: 30px;

  &__slider {
    background: var(--color-featured-item-slider);
    border-radius: 10px;
    height: 4px;
    margin: 40px auto 0;
    position: relative;
    width: 95%;
  }

  &__slider-handle {
    background: var(--color-featured-item-slider-handle);
    border-radius: 10px;
    height: 100%;
    position: absolute;
    top: 0;
    transition: left 0.15s ease;

    &:focus-visible {
      box-shadow: var(--box-shadow-input-focus);
      outline: var(--outline-input-focus);
    }
  }

  &__slider-drag {
    background: transparent;
    cursor: pointer;
    height: 300%;
    left: 0;
    position: absolute;
    top: -100%;
    width: 100%;
    z-index: 2;
  }

  &__icon-container {
    @include page-fade-in;
    border: var(--border-feature-card);
    border-radius: var(--border-radius-feature-card);
    cursor: pointer;
    position: relative;

    &--selected {
      border: var(--border-feature-card-selected);
      box-shadow: var(--box-shadow-feature-card-selected);
    }
  }

  &__icon {
    background: var(--background-feature-card);
    border-radius: var(--border-radius-feature-card);
    padding: 20px;

    div {
      margin: 0;
    }

    img {
      background: $black;
      border-radius: calc(var(--border-radius-feature-card) / 2);
    }
  }
}
