@keyframes PlaceholderGradient {
  0% {
    background-position: 0 0;
  }

  50% {
    background-position: 100% 100%;
  }
}

.header {
  position: relative;
  z-index: 2;

  * {
    font-weight: 300;
  }

  &--side-panel {
    background-color: transparent;
    height: 40px;
    padding: 10px;

    svg {
      height: 100%;
    }
  }

  &__log-in {
    font: var(--font-header-profile);
    height: 10px;
    max-height: 30px;
    padding: 10px;
    text-transform: uppercase;
  }

  &__profile {
    @include page-fade-in;
    align-items: center;
    display: flex;
    font-size: 14px;
    justify-content: flex-end;
    max-width: 250px;
    position: absolute;
    right: 0;

    svg,
    img {
      height: 20px;
      min-width: 20px;
      width: 20px;
    }

    &__user,
    &__balance {
      align-items: center;
      background: var(--background-page-header-profile);
      border-radius: 6px;
      display: flex;
      height: 35px;
      padding: 0 10px;
    }

    &__user {
      margin-right: 10px;
    }

    &__balance {
      align-items: center;
      display: flex;

      &__icon {
        margin-right: 8px;
      }
    }

    &__usdc {
      align-items: center;
      display: flex;
    }
  }
}

.global-header-container,
.subheader-container {
  align-items: center;
  display: flex;
  justify-content: center;
}

.subheader,
.global-header {
  width: 100%;

  &__navigation {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: space-between;
  }

  &__navigation-link {
    align-items: center;
    color: var(--color-header-link-text);
    display: flex;
    font: var(--font-header-links);
    height: 100%;
    justify-content: center;
    transition: border 0.25s ease;

    &.active {
      color: var(--color-header-link-text-active);
    }
  }
}

.global-header {
  align-items: center;
  display: flex;
  height: 55px;
  justify-content: space-between;

  * {
    color: var(--color-page-header-text);
  }

  &__logo-container {
    height: 100%;
    padding: 2px 0;
  }

  &__logo {
    height: 100%;
    min-width: 80px;
    object-fit: contain;
  }

  &__navigation-link {
    border-bottom: 2px solid transparent;
    font-size: 14px;
    font-weight: normal;
    letter-spacing: 0.07em;
    text-transform: uppercase;

    &:not(:last-child) {
      margin-right: 20px;
    }
  }

  &--marketplace {
    justify-content: center;
    position: relative;

    .global-header__logo {
      padding: 5px 20px 8px 0;
    }

    .global-header__navigation-link {
      font-size: 12px;
      letter-spacing: 0.03em;
    }
  }
}

.subheader {
  align-items: center;
  background: var(--background-marketplace-header);
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  position: relative;
  transition: height 0.15s ease;
  width: 100%;

  * {
    color: var(--color-marketplace-header-text);
  }

  &--marketplace {
    display: block;
    height: max-content;
  }

  &__preview-indicator {
    color: var(--color-text-highlight);
    font: var(--font-store-header);
    font-size: 10px;
    left: 25px;
    position: absolute;
    top: 2px;
  }

  &__header-container {
    align-items: center;
    display: flex;
    height: 100px;
    justify-content: center;
    position: relative;
    width: 100%;
  }

  &__logo-container {
    height: 100%;
    left: 10px;
    max-width: 200px;
    position: absolute;
  }

  &__logo {
    height: 100%;
    object-fit: contain;
    padding: 5px 0;
  }

  &__header {
    align-items: flex-end;
    color: var(--color-page-header-text);
    display: flex;
    font: var(--font-store-header);
    justify-content: center;
    letter-spacing: 1px;
    max-width: 700px;
    text-align: center;

    &__image-container {
      align-items: center;
      display: flex;
      height: 100%;
      justify-content: center;
      padding: 5px 0;
    }

    &__image {
      max-height: 100%;
      object-fit: contain;
    }
  }

  &__navigation-container {
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 10px 0;
    min-height: 20px;
    position: relative;
    width: 100%;
  }

  &__navigation--personal {
    align-items: center;
    display: flex;
    position: absolute;
    right: 0;
    width: max-content;

    .subheader__navigation-link {
      font-size: 12px;

      &:not(:last-child) {
        margin-right: 20px;
      }
    }

    .header__profile {
      position: relative;
    }
  }

  &__navigation-link {
    align-items: flex-end;
    color: var(--color-header-link-text);
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;

    &:not(:last-child) {
      margin-right: 20px;
    }
  }

  .mobile-navigation {
    height: 100px;
    position: absolute;
    right: 0;
    top: 0;
  }
}

.mobile-navigation {
  align-items: center;
  display: none;
  height: 100px;
  justify-content: center;
  margin-left: 15px;
  min-width: 30px;
  padding-right: 25px;

  &__menu-button {
    height: 100%;
    padding: 10px 0;
    width: 30px;

    svg {
      height: 100%;
      opacity: 0.5;
      width: 100%;

      * {
        color: var(--color-page-header-text);
      }
    }
  }

  &__menu {
    @include page-fade-in(0.15s);
    background-color: var(--color-bg-secondary);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding: 50px 0;
    width: 100vw;

    * {
      color: var(--color-text-primary);
    }
  }

  &__link {
    align-items: center;
    display: flex;
    font-family: var(--font-family-primary);
    font-size: 24px;
    font-weight: normal;
    justify-content: flex-start;
    letter-spacing: 1px;
    padding: 15px 0 15px 25px;
    text-align: left;
    text-transform: uppercase;
    white-space: nowrap;
    width: 100%;

    * {
      font-family: var(--font-family-primary);
    }

    &:hover {
      background-color: var(--color-bg-secondary);
    }

    &.active {
      color: var(--color-header-link-text-active);
    }
  }

  &__separator {
    border-bottom: var(--border-faint);
    margin: 0 auto 10px;
    padding: 10px 5px 0;
    width: 85%;
  }
}

@media screen and (min-width: $tablet-breakpoint) {
  .global-header {
    &:not(&--marketplace) {
      justify-content: center;
      position: relative;

      .global-header__logo-container {
        left: 15px;
        position: absolute;
      }
    }
  }
}

@media screen and (max-width: $breakpoint) {
  .subheader {
    &__header {
      font-size: 32px;

      &__image-container {
        max-width: 300px;
      }
    }

    &__logo-container {
      max-width: 200px;
    }
  }

  .header__profile {
    font-size: 12px;
    padding-right: 50px;
  }
}

@media screen and (max-width: $tablet-breakpoint) {
  .header__profile {
    max-width: unset;
    position: relative;
    width: 100%;
  }

  .global-header--marketplace {
    .global-header__logo {
      padding: 0;
    }
  }

  .mobile-navigation {
    display: flex;
    padding-right: 0;
  }

  .global-header__navigation,
  .subheader__navigation--personal {
    display: none;
  }

  .global-header {
    justify-content: space-between;

    &__logo-container {
      flex: 1 1 100%;
    }
  }

  .subheader-container {
    &:not(.subheader-container--marketplace) {
      display: none;
    }
  }

  .subheader {
    &__logo-container {
      display: none;
    }
  }
}

@media screen and (max-width: $mobile-breakpoint) {
  .header__profile {
    display: none;
  }

  .subheader__header {
    font-size: 24px;

    &__image-container {
      padding-right: 60px;
    }
  }

  .mobile-navigation__link {
    font-size: 18px;
  }
}
