@keyframes PlaceholderGradient {
  0% {
    background-position: 0 0;
  }

  50% {
    background-position: 100% 100%;
  }
}

.header {
  background-color: $white;
  border-bottom: 1px solid $lightgray;
  height: 60px;
  max-width: 100%;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;

  &__content {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: space-between;
    margin: 0 auto;
    max-width: $breakpoint;
    padding: 0 15px;
    width: 100%;
  }

  &__breadcrumbs {
    align-items: center;
    display: flex;
    height: 100%;
    max-width: calc(100% - 200px);
    overflow: hidden;
  }

  &__breadcrumbs__marketplaces-button,
  &__breadcrumbs__back-button {
    align-items: center;
    color: $white;
    display: flex;
    height: 20px;
    justify-content: center;
    margin-right: 12px;
    text-align: center;
    width: 20px;

    svg {
      height: 100%;
    }
  }

  &__breadcrumbs__marketplaces-button {
    &:hover,
    &-active {
      * {
        fill: $lightblue;
      }
    }
  }

  &__breadcrumbs__back-button {
    * {
      stroke: $black;
      stroke-width: 1px;
    }
  }

  &__breadcrumb {
    align-items: center;
    display: flex;
    height: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    &__link {
      font-size: 12px;
      font-weight: 300;
      letter-spacing: 0.03em;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;

      &.active {
        font-weight: bold;
      }
    }

    &__separator {
      margin: 0 5px;
    }
  }

  &__profile {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: flex-end;
    margin-left: 10px;
    max-width: 190px;
    user-select: none;
  }

  &__profile__info {
    margin-right: 10px;
  }

  &__profile__name {
    font-size: 12px;
    max-width: 15em;
    overflow: hidden;
    text-align: right;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &__profile__balance {
    align-items: center;
    color: $darkgray;
    display: flex;
    font-size: 12px;
    font-weight: 300;
    height: 100%;
    justify-content: flex-end;
  }

  &__profile__image {
    height: 30px;
    min-width: 30px;
    width: 30px;
  }

  &__profile__pending-indicator {
    color: lighten($blue, 5%);
    font-size: 16px;
    line-height: 1em;
    margin-left: 3px;
  }

  @media screen and (max-width: 700px) {
    &__profile__name {
      display: none;
    }

    &__breadcrumbs {
      max-width: calc(100% - 50px);
    }

    &__breadcrumb {
      max-width: 120px;
    }

    &__breadcrumb__separator,
    &__breadcrumb__link {
      display: none;
      font-size: 9px;

      &:nth-last-child(1),
      &:nth-last-child(2),
      &:nth-last-child(3) {
        display: block;
      }
    }
  }
}

.profile-image {
  border-radius: 100%;
  max-height: 100%;
  overflow: hidden;

  &__image,
  &__placeholder {
    border: 0;
    color: transparent;
    height: 100%;
    object-fit: cover;
    object-position: center;
    width: 100%;
  }

  &__placeholder {
    border: 0;
    stroke: $gray;
  }
}

.dark {
  .header {
    background-color: $black;
    border-bottom: 1px solid $darkergray;

    &__breadcrumbs__back-button {
      * {
        stroke: $white;
      }
    }

    &__search__input {
      background-color: $black;
    }

    &__profile__balance {
      color: $mediumgray;
    }

    &__profile__pending-indicator {
      color: lighten($blue, 5%);
    }

    &__separator {
      border-bottom: 0.5px solid $darkergray;
    }
  }
}

.side-panel {
  .header__profile {
    display: none;
  }
}
