@keyframes PlaceholderGradient {
  0% {
    background-position: 0 0;
  }

  50% {
    background-position: 100% 100%;
  }
}

.header {
  position: relative;
  z-index: 2;

  * {
    font-weight: 300;
  }

  &--side-panel {
    background-color: transparent;
    height: 40px;
    padding: 10px;

    svg {
      height: 100%;
    }
  }

  &__log-in {
    font: var(--font-header-profile);
    height: 10px;
    max-height: 30px;
    padding: 10px;
  }

  &__profile {
    @include page-fade-in;
    align-items: center;

    display: flex;
    height: 100%;
    justify-content: flex-end;
    margin-left: 10px;
    max-width: 250px;
    position: relative;
    user-select: none;
  }

  &__profile__info {
    margin-right: 10px;
  }

  &__profile__name {
    font: var(--font-header-profile);
    overflow: hidden;
    text-align: right;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
  }

  &__profile__balances {
    align-items: center;
    display: flex;
    justify-content: flex-end;

    * {
      font: var(--font-header-balance);
      font-size: 14px;
    }
  }

  &__profile__usdc {
    display: flex;
    height: 20px;
    margin-right: 10px;
  }

  .header__profile__connected-icon--disconnected {
    &:not(:hover) {
      filter: grayscale(100%);
    }
  }

  &__profile__balance {
    align-items: center;
    display: flex;
    font-size: 12px;
    height: 20px;
    justify-content: flex-end;

    svg,
    img {
      height: 15px;
      min-width: 15px;

      * {
        color: var(--color-page-header-text);
      }
    }
  }

  &__profile__balance__amount {
    align-items: center;
    display: flex;
    margin-left: 5px;
  }

  &__profile__image {
    height: 30px;
    min-width: 30px;
    width: 30px;
  }

  &__profile__pending-indicator {
    color: var(--color-highlight);
    font-size: 16px;
    line-height: 1em;
    margin-left: 3px;
  }
}

.global-header-container,
.subheader-container {
  align-items: center;
  display: flex;
  justify-content: center;
}

.subheader,
.global-header {
  max-width: $breakpoint;
  padding: 0 15px;
  width: 100%;

  &__navigation {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: space-between;
  }

  &__navigation-link {
    align-items: center;
    color: var(--color-header-link-text);
    display: flex;
    font: var(--font-header-links);
    height: 100%;
    justify-content: center;
    margin: 0 8px;
    padding: 0 10px;
    transition: border 0.25s ease;

    &.active {
      color: var(--color-header-link-text-active);
    }
  }
}

.global-header-container {
  background: var(--background-page-header);
}

.global-header {
  align-items: center;
  display: flex;
  height: 55px;
  justify-content: space-between;

  * {
    color: var(--color-page-header-text);
  }

  &__logo-container {
    height: 100%;
    padding: 2px 0;
  }

  &__logo {
    height: 100%;
    min-width: 80px;
    object-fit: contain;
  }

  &__navigation-link {
    border-bottom: 2px solid transparent;
    font-size: 14px;
    font-weight: normal;
    letter-spacing: 0.07em;
    text-transform: uppercase;
  }

  &--marketplace {
    justify-content: center;
    position: relative;

    .global-header__logo {
      padding: 5px 10px 8px 0;
    }

    .global-header__navigation-link {
      font-size: 12px;
      letter-spacing: 0.03em;
      margin: 0 3px;
    }
  }
}

.subheader {
  align-items: center;
  background: var(--background-marketplace-header);
  display: flex;
  height: 40px;
  justify-content: center;
  position: relative;
  transition: height 0.15s ease;
  width: 100%;

  * {
    color: var(--color-marketplace-header-text);
  }

  &--marketplace {
    display: block;
    height: max-content;
  }

  &__header-container {
    align-items: center;
    display: flex;
    height: 100px;
    justify-content: center;
    position: relative;
    width: 100%;
  }

  &__logo-container {
    height: 100%;
    left: 10px;
    max-width: 200px;
    position: absolute;
  }

  &__logo {
    height: 100%;
    object-fit: contain;
    padding: 5px 0;
  }

  &__header {
    align-items: flex-end;
    color: var(--color-page-header-text);
    display: flex;
    font: var(--font-store-header);
    justify-content: center;
    letter-spacing: 1px;
    text-align: center;
  }

  &__navigation-container {
    align-items: center;
    display: flex;
    justify-content: center;
    margin-top: 10px;
    position: relative;
  }

  &__navigation--personal {
    align-items: center;
    display: flex;
    position: absolute;
    right: 0;
    width: max-content;

    .subheader__navigation-link {
      font-size: 12px;
      margin: 0;
    }
  }

  &__navigation-link {
    align-items: flex-end;
    color: var(--color-header-link-text);
    font-size: 16px;
    font-weight: 500;
    padding-bottom: 3px;
    text-transform: uppercase;
  }

  .mobile-navigation {
    height: 50px;
    position: absolute;
    right: 0;
    top: 10px;
  }

  .header__profile {
    position: absolute;
    right: 0;
  }
}

.mobile-navigation {
  align-items: center;
  display: none;
  height: 100%;
  justify-content: center;
  margin-left: 15px;
  min-width: 30px;
  padding-right: 15px;

  &__menu-button {
    height: 100%;
    padding: 10px 0;
    width: 100%;

    svg {
      height: 100%;
      opacity: 0.5;

      * {
        color: var(--color-page-header-text);
      }
    }
  }

  &__menu {
    @include page-fade-in(0.15s);
    background-color: var(--color-bg-secondary);
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding-top: 40px;
    position: absolute;
    right: 0;
    width: 100vw;

    * {
      color: var(--color-text-primary);
    }
  }

  &__link {
    align-items: center;
    display: flex;
    font-size: 24px;
    font-weight: 300;
    justify-content: center;
    letter-spacing: 1px;
    padding: 15px 0;
    text-align: center;
    white-space: nowrap;
    width: 100%;

    &:hover {
      background-color: var(--color-bg-secondary);
    }

    span {
      padding: 0 5px;
    }

    &.active {
      color: var(--color-header-link-text-active);
    }
  }

  &__separator {
    border-bottom: var(--border-faint);
    margin: 0 auto 10px;
    padding: 10px 5px 0;
    width: 85%;
  }
}

@media screen and (min-width: $tablet-breakpoint) {
  .global-header {
    .header__profile {
      position: absolute;
      right: 15px;
    }

    &:not(&--marketplace) {
      justify-content: center;
      position: relative;

      .global-header__logo-container {
        left: 15px;
        position: absolute;
      }
    }
  }

  .subheader {
    .header__profile {
      max-width: 200px;
    }
  }
}

@media screen and (max-width: $breakpoint) {
  .global-header {
    .header__profile__usdc {
      .header__profile__balance__amount {
        display: none;
      }
    }
  }

  .subheader {
    &__header {
      font-size: 32px;
    }

    &__logo-container {
      max-width: 200px;
    }

    .subheader__navigation-link {
      margin: 0 5px;
    }
  }

  .header__profile {
    max-width: 200px;

    &__name {
      font-size: 14px;
    }

    &__balance__amount {
      font-size: 12px;
    }
  }
}

@media screen and (max-width: $tablet-breakpoint) {
  .global-header--marketplace {
    .global-header__logo {
      padding: 0;
    }
  }

  .header {
    &__profile {
      flex: 1 1 100%;

      &__usdc {
        .header__profile__balance__amount {
          display: none;
        }
      }
    }
  }

  .mobile-navigation {
    display: flex;
    padding-right: 0;
  }

  .global-header__navigation,
  .subheader__navigation--personal {
    display: none;
  }

  .global-header {
    justify-content: space-between;

    &__logo-container {
      flex: 1 1 100%;
    }
  }

  .subheader-container {
    &:not(.subheader-container--marketplace) {
      display: none;
    }
  }

  .subheader {
    &__logo-container {
      display: none;
    }

    .header__profile {
      display: none;
    }
  }
}

@media screen and (max-width: $mobile-breakpoint) {
  .subheader__header {
    font-size: 24px;
  }
}
