@keyframes PlaceholderGradient {
  0% {
    background-position: 0 0;
  }

  50% {
    background-position: 100% 100%;
  }
}


.header {
  position: relative;
  z-index: 2;

  * {
    font-weight: 300;
  }

  &--side-panel {
    background-color: transparent;
    height: 40px;
    padding: 10px;

    svg {
      height: 100%;
    }
  }

  &__log-in {
    font-size: 14px;
    font-weight: 400;
    height: 10px;
    max-height: 30px;
    padding: 10px;
  }

  &__profile {
    @include page-fade-in;
    align-items: center;

    display: flex;
    height: 100%;
    justify-content: flex-end;
    margin-left: 10px;
    position: relative;
    user-select: none;
  }

  &__profile__info {
    margin-right: 10px;
  }

  &__profile__name {
    font-size: 12px;
    overflow: hidden;
    text-align: right;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
  }

  &__profile__balances {
    align-items: center;
    display: flex;
  }

  &__profile__usdc {
    display: flex;
    height: 20px;
    margin-right: 5px;
  }

  .header__profile__connected-icon--disconnected {
    &:not(:hover) {
      filter: grayscale(100%);
    }
  }

  &__profile__balance {
    align-items: center;
    border-radius: 3px;
    color: $darkgray;
    display: flex;
    font-size: 12px;
    height: 20px;
    justify-content: flex-end;

    svg,
    img {
      height: 15px;
      min-width: 15px;
    }

    &--wallet {
      svg {
        filter: invert(100%);
      }
    }
  }

  &__profile__balance__amount {
    align-items: center;
    display: flex;
    margin-left: 5px;
  }

  &__profile__image {
    height: 30px;
    min-width: 30px;
    width: 30px;
  }

  &__profile__pending-indicator {
    color: $lightblue;
    font-size: 16px;
    line-height: 1em;
    margin-left: 3px;
  }
}

.profile-image {
  border-radius: 100%;
  max-height: 100%;
  overflow: hidden;

  &__image,
  &__placeholder {
    border: 0;
    color: transparent;
    height: 100%;
    object-fit: cover;
    object-position: center;
    width: 100%;
  }

  &__placeholder {
    border: 0;
    stroke: $gray;
  }
}

.global-header-container,
.subheader-container {
  align-items: center;
  display: flex;
  justify-content: center;
}

.subheader,
.global-header {
  max-width: $breakpoint;
  padding: 0 15px;
  width: 100%;

  &__navigation {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: space-between;
  }

  &__navigation-link {
    align-items: center;
    border-bottom: 2px solid transparent;
    display: flex;
    font-size: 14px;
    font-weight: 300;
    height: 100%;
    justify-content: center;
    margin: 0 8px;
    padding: 0 5px;
    transition: border 0.25s ease;

    &.active {
      border-bottom: 2px solid $lightblue;
      text-shadow: 0 0 1px $white;
    }
  }
}

.global-header-container {
  background-color: $header-color-light;
}

.global-header {
  align-items: center;
  display: flex;
  height: 45px;
  justify-content: space-between;

  &__logo-container {
    height: 100%;
    padding: 2px 0;
  }

  &__logo {
    height: 100%;
    min-width: 80px;
    object-fit: contain;
  }

  &__navigation-link {
    border-bottom: 3px solid transparent;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 0.07em;
    text-transform: uppercase;

    &.active {
      border-bottom: 3px solid $lightblue;
      text-shadow: 0 0 1px $white;
    }
  }

  &--marketplace {
    justify-content: center;
    position: relative;

    .global-header__logo {
      padding: 5px 10px 8px 0;
    }

    .global-header__navigation-link {
      font-size: 10px;
      letter-spacing: 0.03em;
      margin: 0 3px;
    }
  }
}

.subheader {
  align-items: center;
  display: flex;
  height: 40px;
  justify-content: center;
  position: relative;
  transition: height 0.15s ease;
  width: 100%;

  &--marketplace {
    height: 100px;
  }

  &__logo-container {
    height: 100%;
    left: 10px;
    max-width: 300px;
    position: absolute;
  }

  &__logo {
    height: 100%;
    object-fit: contain;
    padding: 5px 0;
  }

  &__marketplace {
    display: grid;
    grid-auto-rows: 1fr 1fr;
    height: 100%;
    justify-items: center;

    .mobile-navigation {
      margin-right: 30px;
    }
  }

  &__navigation--personal {
    align-items: flex-end;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: absolute;
    right: 10px;

    .header__profile {
      width: 100%;
    }

    &__links {
      display: flex;
    }
  }

  &__header {
    align-items: flex-end;
    display: flex;
    font-size: 28px;
    justify-content: center;
    letter-spacing: 1px;
    text-align: center;
    text-shadow: 0 0 1px $white;
  }

  &__navigation--marketplace {
    height: 100%;
    max-width: 300px;

    .subheader__navigation-link {
      font-size: 18px;
      margin: 0 20px;
    }
  }

  &__navigation-link {
    align-items: flex-end;
    padding-bottom: 3px;
  }

  .mobile-navigation {
    height: 50px;
    position: absolute;
    right: 0;
    top: 10px;
  }
}

.mobile-navigation {
  align-items: center;
  display: none;
  height: 100%;
  justify-content: center;
  margin-left: 15px;
  padding-right: 15px;

  &__menu-button {
    padding: 5px 0;

    svg {
      height: 100%;
      stroke: $darkgray;
    }
  }

  &__menu {
    @include page-fade-in(0.15s);
    background-color: $white;
    border-top: 1px solid $lightgray;
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding-top: 40px;
    position: absolute;
    right: 0;
    width: 100vw;
  }

  &__link {
    align-items: center;
    display: flex;
    font-size: 24px;
    font-weight: 300;
    justify-content: center;
    letter-spacing: 1px;
    padding: 15px 0;
    text-align: center;
    white-space: nowrap;
    width: 100%;

    &:hover {
      background-color: $lightestgray;
    }

    span {
      border-bottom: 2px solid transparent;
      padding: 0 5px;
      transition: border 0.15s linear;
    }

    &.active {
      span {
        border-bottom: 2px solid $lightblue;
      }
    }
  }

  &__separator {
    border-bottom: 1px solid $lightgray;
    margin: 0 auto 10px;
    padding: 10px 5px 0;
    width: 85%;
  }
}

@media screen and (min-width: $tablet-breakpoint) {
  .global-header {
    .header__profile {
      position: absolute;
      right: 15px;
    }

    &:not(&--marketplace) {
      justify-content: center;
      position: relative;

      .global-header__logo-container {
        left: 15px;
        position: absolute;
      }
    }
  }
}

@media screen and (max-width: $breakpoint) {
  .global-header {
    &__navigation-link {
      font-size: 12px;
    }

    .header__profile__usdc {
      .header__profile__balance__amount {
        display: none;
      }
    }
  }

  .subheader {
    &__header {
      font-size: 20px;
    }

    &__logo-container {
      max-width: 200px;
    }

    .subheader__navigation-link {
      margin: 0 5px;
    }
  }

  .header__profile {
    max-width: 240px;
  }

  .header__profile__balance__amount {
    font-size: 10px;
  }
}

@media screen and (max-width: $tablet-breakpoint) {
  .global-header--marketplace {
    .global-header__logo {
      padding: 0;
    }
  }

  .header {
    &__profile {
      flex: 1 1 100%;
      max-width: unset;

      &__usdc {
        .header__profile__balance__amount {
          display: none;
        }
      }
    }
  }

  .mobile-navigation {
    display: flex;
    padding-right: 0;
  }

  .global-header__navigation,
  .subheader__navigation--personal__links {
    display: none;
  }

  .subheader__navigation--personal {
    .header__profile {
      display: none;
    }
  }

  .global-header {
    justify-content: space-between;

    &__logo-container {
      flex: 1 1 100%;
    }
  }

  .subheader-container {
    &:not(.subheader-container--marketplace) {
      display: none;
    }
  }

  .subheader {
    &__header {
      font-size: 20px;
      padding-top: 8px;
    }

    &__logo-container {
      display: none;
    }
  }

  .subheader--marketplace {
    .subheader__navigation-link {
      font-size: 16px;
      margin: 0 25px;
    }
  }
}

@media screen and (max-width: $mobile-breakpoint) {
  .header__profile__image {
    display: none;
  }
}

.dark {
  .global-header-container {
    background-color: $header-color-dark;
  }

  .mobile-navigation {
    &__menu {
      background-color: $black;
      border-top: 1px solid $darkergray;
    }

    &__link {
      &:hover {
        background-color: $darkestgray;
      }
    }

    &__separator {
      border-bottom: 1px solid $darkergray;
    }
  }

  .header {
    &__profile__pending-indicator {
      color: $lightblue;
    }

    &__profile__balance {
      color: $white;

      svg {
        filter: none;
      }
    }
  }
}
