@keyframes PlaceholderGradient {
  0% {
    background-position: 0 0;
  }

  50% {
    background-position: 100% 100%;
  }
}

.header-container {
  z-index: 10;
}

.header {
  &__content {
    align-items: center;
    display: flex;
    height: 80px;
    justify-content: center;
    position: relative;

    &:empty {
      display: none;
    }

    &__header {
      font: var(--font-store-header);
      font-size: 42px;
      padding-inline: 200px;
      text-align: center;
    }

    &__logo-container {
      height: 100%;
      left: 0;
      max-width: 200px;
      position: absolute;

      &--global {
        svg {
          * {
            color: var(--color-text-primary);
            fill: var(--color-text-primary);
          }
        }
      }
    }

    &__image-container {
      height: 100%;
      max-height: 100%;
      max-width: 100%;
    }

    &__logo,
    &__image,
    svg {
      height: 100%;
      max-width: 100%;
      object-fit: contain;
    }

    @media screen and (max-width: $breakpoint) {
      &__header {
        font-size: 36px;
      }
    }

    @media screen and (max-width: $tablet-breakpoint) {
      &__logo-container {
        &:not(&--global) {
          display: none;
        }

        &--global {
          display: flex;
          justify-content: center;
          max-width: 100%;
          width: 100%;

          .header__content__logo {
            max-width: 200px;
          }
        }
      }

      &__header {
        font-size: 24px;
        padding-inline: 0;
      }
    }
  }

  &__navigation-container {
    align-items: center;
    display: flex;
    height: 100px;
    position: relative;

    &--compact {
      height: 50px;
    }
  }

  &--wallet {
    .header__content {
      height: 60px;

      &__logo-container,
      &__logo {
        height: 40px;
      }
    }
  }

  &--marketplace {
    @media screen and (min-width: $mobile-breakpoint) {
      .header__navigation {
        margin: 0 auto;
      }

      .header__profile {
        position: absolute;
        right: 0;
      }
    }
  }

  &__navigation {
    align-items: center;
    display: flex;
    gap: 30px; // sass-lint:disable-line no-misspelled-properties
  }

  &__navigation-link {
    font: var(--font-header-links);
    font-size: 18px;
    transition: color 0.25s ease;

    &:hover,
    &.active {
      color: var(--color-header-link-text-active);
    }
  }

  @media screen and (max-width: $tablet-breakpoint) {
    &__navigation {
      gap: 20px; // sass-lint:disable-line no-misspelled-properties
    }

    &__navigation-link {
      font-size: 14px;
    }
  }

  &__profile {
    align-items: center;
    display: flex;
    gap: 30px; // sass-lint:disable-line no-misspelled-properties
    height: 55px;
    padding: 15px 0;
    position: absolute;
    right: 0;

    &__sign-in-button {
      font-size: 16px;
    }

    &__link {
      height: 100%;

      * {
        transition: color 0.25s ease;
      }

      &:hover,
      &.active {
        svg {
          * {
            color: var(--color-text-highlight);
          }
        }
      }

      svg {
        height: 100%;
      }
    }

    @media screen and (max-width: $tablet-breakpoint) {
      display: none;
    }
  }

  &__wallet-menu {
    @include component;
    @include page-fade-in(0.2s, ease-out);

    height: max-content;
    max-width: 450px;
    padding: 0 15px;
    position: absolute;
    right: 0;
    top: calc(100% + 5px);
    z-index: 10;

    * {
      text-align: center;
    }

    &__header {
      font: var(--font-component-header);
      font-size: 26px;
      padding: 25px 0 15px;
    }

    &__section {
      background: var(--color-component-bg-secondary);
      margin-top: 10px;
      padding: 25px;

      .header__wallet-menu__section-header {
        color: var(--color-component-text-highlight);
      }
    }

    &__section-header {
      font-size: 16px;
      font-weight: 500;
    }

    &__message {
      font: var(--font-component-misc);
      font-size: 12px;
    }

    &__address-container {
      align-items: center;
      background: var(--color-component-bg-secondary);
      display: flex;
      height: 35px;
      margin: 15px 0;
      padding: 5px 10px;
    }

    &__address {
      font: var(--font-component-misc);
      font-size: 18px;
    }

    &__address-copy {
      height: 100%;
      margin-left: 10px;

      svg {
        height: 100%;
        padding: 3px;
      }
    }

    &__balance {
      margin-top: 10px;

      * {
        justify-content: center;
        text-align: center;
      }

      .formatted-price {
        &,
        * {
          font: var(--font-component-header);
          font-size: 24px;
        }
      }
    }

    &__link {
      display: block;
      font-size: 18px;
      font-weight: 500;
      padding: 20px 0;
      width: 100%;

      &:hover {
        color: var(--color-text-highlight);
      }
    }
  }

  &__profile-menu {
    @include component;
    @include page-fade-in(0.2s, ease-out);

    display: flex;
    flex-direction: column;
    height: max-content;
    max-width: 300px;
    min-width: 300px;
    padding-top: 15px;
    position: absolute;
    right: 0;
    top: calc(100% + 5px);
    z-index: 10;

    &__info {
      font-size: 18px;

      svg,
      img {
        height: 23px;
      }

      &__account {
        align-items: center;
        display: flex;
        gap: 20px; // sass-lint:disable-line no-misspelled-properties
        padding: 7px 20px 10px 30px;
        width: 100%;
      }

      &__type {
        text-align: center;
      }

      &__email,
      &__address {
        width: 100%;
      }

      &__address {
        font-size: 14px;
      }

      &__address-copy {
        height: 18px;

        svg {
          height: 100%;
        }
      }
    }

    &__links {
      background: var(--color-component-bg-secondary);
      display: flex;
      flex-direction: column;
      padding: 20px 30px;
    }

    &__link {
      font-size: 18px;
      padding: 8px 0;
      text-align: left;

      &-secondary {
        color: var(--color-header-link-text-secondary);
      }

      &.active,
      &:hover {
        * {
          color: var(--color-header-link-text-active);
        }
      }
    }

    &__log-out-button {
      font-size: 18px;
      font-weight: 500;
      padding: 20px 0;
      width: 100%;

      &:hover {
        color: var(--color-text-highlight);
      }
    }

    &__separator {
      background: var(--color-component-text-secondary);
      height: 1px;
      margin: 10px 0 20px;
      opacity: 0.5;
      width: 100%;
    }

    &__header {
      color: var(--color-component-text-highlight);
      font-size: 18px;
    }

    &__currency-select {
      margin-top: 10px;

      .styled-select__button {
        height: 40px;
      }
    }
  }


  &__preferences-menu-modal {
    align-items: center;
    display: flex;
    justify-content: center;
    width: 100%;

    .modal__content {
      height: max-content;
      max-width: 550px;
      overflow: visible;
      padding: 20px;
      width: 100%;
    }
  }

  &__preferences-menu {
    @include modal;
    height: max-content;
    overflow-y: visible;
    padding: 25px 50px 35px;
    width: 100%;

    &__label,
    &__hint {
      margin-bottom: 15px;
      text-align: center;
      width: 100%;
    }

    &__label {
      font-size: 20px;
      font-weight: 500;
    }

    &__hint {
      font-family: var(--font-family-tertiary);
    }

    &__currency-select {
      margin-top: 20px;
      width: 100%;

      .styled-select__button {
        border: 0;
        height: 50px;
      }
    }

    @media screen and (max-width: $mobile-breakpoint) {
      padding-inline: 30px;

      &__label {
        font-size: 16px;
      }

      &__hint {
        font-size: 14px;
      }

      .styled-select__button {
        font-size: 12px;
      }
    }
  }
}

.mobile-navigation {
  align-items: center;
  display: none;
  height: 100%;
  justify-content: center;
  margin-left: 15px;
  min-width: 30px;
  position: absolute;
  right: 0;

  &__modal {
    height: 100%;
    width: 100%;

    .modal__content {
      min-height: 100vh;
      min-width: 100vw;
      overflow-y: auto;
      top: 0;
    }
  }

  &__menu-button {
    height: 100%;
    padding: 10px 0;
    width: 30px;

    svg {
      height: 100%;
      opacity: 0.5;
      width: 100%;

      * {
        color: var(--color-page-header-text);
      }
    }
  }

  @media screen and (max-width: $tablet-breakpoint) {
    display: flex;
  }
}

.mobile-menu {
  @include component;
  @include page-fade-in(0.2s, ease-out);

  border: 0;
  height: max-content;
  min-height: 100vh;
  padding: 45px 0;

  * {
    transition: color 0.25s ease;
  }

  &__header {
    font-size: 24px;
    padding: 0 30px 30px;
  }

  &__account {
    padding: 10px 30px 30px;

    &__type {
      font-size: 20px;
      margin-bottom: 10px;
    }

    &__icon {
      height: 25px;
    }

    &__account {
      align-items: center;
      display: flex;
      gap: 20px; // sass-lint:disable-line no-misspelled-properties
    }

    &__address {
      font: var(--font-component-misc);
      font-size: 14px;
    }

    &__address-copy {
      height: 18px;
      width: 18px;

      svg {
        height: 100%;
      }
    }
  }

  &__address-container {
    align-items: center;
    background: var(--color-component-bg-primary);
    border-radius: 3px;
    display: flex;
    gap: 20px; // sass-lint:disable-line no-misspelled-properties
    margin: 10px 0;
    padding: 10px;
  }

  &__address {
    font: var(--font-component-misc);
    font-size: 14px;
  }

  &__address-copy {
    height: 18px;
    width: 18px;

    svg {
      height: 100%;
    }
  }

  &__message {
    color: var(--color-component-text-secondary);
    font: var(--font-component-misc);
    font-size: 12px;
  }

  &__content {
    background: var(--color-component-bg-secondary);
    padding: 15px 30px;
  }

  &__section {
    padding: 10px 0;
  }

  &__section-header {
    color: var(--color-component-text-highlight);
    font: var(--font-component-misc);
    font-size: 16px;
    margin-bottom: 10px;
  }

  &__separator {
    background: var(--color-component-text-secondary);
    height: 1px;
    margin: 10px 0;
    opacity: 0.5;
    width: 100%;
  }

  &__balance {
    font-size: 20px;
  }

  &__link {
    font-size: 20px;
    margin: 5px 0;
    padding: 10px 0;

    &:hover,
    &.active {
      * {
        color: var(--color-component-text-highlight);
      }
    }
  }

  &__sign-in-button {
    font-size: 20px;
    height: 80px;
    text-align: center;
    width: 100%;
  }
}
