@keyframes PlaceholderGradient {
  0% {
    background-position: 0 0;
  }

  50% {
    background-position: 100% 100%;
  }
}

.header {
  background-color: $white;
  border-bottom: 1px solid $lightgray;
  display: flex;
  height: 60px;
  max-width: 100%;
  padding: 10px 15px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;

  &__search {
    align-items: center;
    display: flex;
    flex: 1 1 auto;
    height: 100%;
    max-height: 100%;
  }

  &__search__icon {
    height: 20px;
    margin-right: 5px;
    max-height: 100%;
    stroke: $gray;
  }

  &__search__input {
    border: 0;
    height: 100%;
    padding: 0 10px;
    width: 100%;

    &:focus,
    &:active {
      // sass-lint:disable-block no-important
      box-shadow: none !important;
      outline: none !important;
    }
  }

  &__profile {
    align-items: center;
    display: flex;
    flex: 1 1 auto;
    height: 100%;
    justify-content: flex-end;
    user-select: none;
  }

  &__profile__name {
    font-size: 12px;
    margin-right: 10px;
    max-width: 10em;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    &:empty {
      @include background-gradient-loader;

      border-radius: 5px;
      height: 15px;
      width: 10em;
    }
  }

  &__profile__image {
    height: 40px;
    width: 40px;
  }
}

.profile-image {
  @include background-gradient-loader;
  border: 1px solid transparent;
  border-radius: 100%;
  height: 100%;
  max-height: 100%;
  overflow: hidden;

  &-image {
    border: 1px solid $blue;
  }

  &__image,
  &__placeholder {
    color: transparent;
    height: 100%;
    object-fit: cover;
    object-position: center;
    width: 100%;
  }

  &__placeholder {
    border: 0;
    stroke: $gray;
  }
}

.dark {
  .header {
    background-color: $black;
    border-bottom: 1px solid $darkgray;

    &__search__input {
      background-color: $black;
    }
  }
}
