.listing-modal-container {
  .modal__content {
    max-width: 620px;
    overflow-y: auto;
    padding-right: 8px;
    width: 100%;
  }
}

.listing-modal {
  background-color: $white;
  border: 1px solid $mediumgray;
  border-radius: 3px;

  &__header {
    border-bottom: 1px solid $mediumgray;
    font-weight: 300;
    padding: 10px 0;
    text-align: center;
  }

  &__content {
    padding: 0 25px 35px;
  }

  &__image-container {
    margin: 0 auto;
    max-height: 325px;
    max-width: 325px;
    padding: 20px;
  }

  &__active-listings {
    border: 1px solid $mediumgray;
    border-radius: 3px;
    margin: 30px 0;
    padding: 20px 20px 10px;

    &__header {
      font-size: 18px;
      font-weight: 300;
    }

    .transfer-table {
      max-height: 200px;
    }
  }

  &__form__inputs {
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 20px 0;
  }

  &__form__price-input {
    border: 1px solid $mediumgray;
    border-radius: 3px;
    font-size: 20px;
    height: 50px;
    padding: 0 15px;
    width: 100%;
  }

  &__form__price-input-label {
    font-weight: bold;
    margin-left: 35px;
    text-align: center;
  }

  &__details {
    margin: 35px 0 20px;
  }

  &__detail {
    display: flex;
    height: 30px;
    justify-content: space-between;
  }

  &__detail-separator {
    border-bottom: 2px solid $mediumgray;
    margin-bottom: 15px;
    padding-top: 15px;
    width: 100%;
  }

  &__detail-faded {
    * {
      color: $gray;
    }
  }

  &__actions {
    align-items: center;
    display: flex;
    justify-content: center;
    margin-top: 35px;
  }

  &__action {
    min-width: 150px;

    &:not(:last-child) {
      margin-right: 10px;
    }

    &-primary {
      background-color: $blue;
      border: 1px solid $blue;
      color: $white;
    }

    &-delete {
      background-color: $darkergray;
      color: $white;
    }

    &:disabled {
      opacity: 0.5;
    }
  }
}

@media screen and (max-width: $mobile-breakpoint) {
  .listing-modal-container {
    .modal__content {
      height: 100%;
      max-width: unset;
      padding: 0;
    }
  }

  .listing-modal {
    min-height: 100%;

    &__header {
      font-size: 24px;
      padding-left: 35px;
      padding-top: 20px;
      text-align: start;
    }

    &__image-container {
      max-height: 250px;
      max-width: 250px;
    }

    &__actions {
      flex-direction: column-reverse;
    }

    &__action {
      width: 100%;

      &:not(:last-child) {
        margin: 10px 0 0;
      }
    }
  }
}

.dark {
  .listing-modal {
    background-color: $black;
    border: 1px solid $darkgray;

    &__header {
      border-bottom: 1px solid $darkgray;
    }

    &__form__price-input {
      background-color: $black;
      border: 1px solid $darkgray;
    }

    &__detail-faded {
      * {
        color: $gray;
      }
    }

    &__detail-separator {
      border-bottom: 2px solid $darkgray;
    }

    &__active-listings {
      border: 1px solid $darkergray;
    }

    &__action {
      &-primary {
        border: 1px solid $blue;
      }
    }
  }
}
