.listing-modal-container {
  min-height: 100vh;
  overflow-y: auto;

  .modal__content {
    height: max-content;
    max-height: unset;
    max-width: 550px;
    overflow-y: hidden;
    padding-bottom: 5vh;
    padding-right: 8px;
    top: 5vh;
    width: 100%;
  }
}

$content-width: 475px;

.listing-modal {
  @include component;
  @include modal;

  &__header {
    border-bottom: var(--border-component-secondary);
    font: var(--font-component-header);
    font-size: 20px;
    font-weight: 300;
    padding: 15px 25px;
    text-align: center;
    text-transform: uppercase;
  }

  &__content {
    margin: 0 auto;
    max-width: $content-width;
    padding: 25px 35px 45px;
  }

  &__image-container {
    margin: 0 auto;
    max-height: 325px;
    max-width: 325px;
    padding: 20px;
  }

  &__active-listings {
    @include component;
    background: transparent;
    border: 0;
    margin: 50px auto;
    max-width: $content-width;
    width: 100%;

    &__header {
      font: var(--font-table-header);
      margin-bottom: 10px;
      text-align: center;
      text-transform: uppercase;
    }

    .transfer-table {
      &__table {
        max-height: 240px;
      }
    }
  }

  &__form__inputs {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 20px auto;
    max-width: $content-width;
    position: relative;
    width: 100%;

    .listing-modal__form__error {
      bottom: -20px;
      position: absolute;
      text-align: left;
      width: 100%;
    }
  }

  &__form__error {
    color: var(--color-text-error);
    font-size: 10px;
  }

  &__form__labelled-input {
    width: 100%;

    &:not(:last-child) {
      margin-bottom: 20px;
    }

    label {
      display: block;
      margin-bottom: 10px;
    }
  }

  &__form__input {
    padding: 0 20px;
    width: 100%;

    &:disabled {
      color: var(--color-text-secondary);
    }

    &--address {
      font-size: 14px;
    }

    &--error {
      box-shadow: 0 0 3px var(--color-text-error);
    }
  }

  &__form__price-input {
    border: var(--border-highlight);
    font-size: 20px;
    height: 50px;
    padding: 0 75px;
    width: 100%;

    &::placeholder {
      font-size: 20px;
    }

    &-error {
      box-shadow: 0 0 3px var(--color-text-error);
    }
  }

  &__form__price-input-label {
    align-items: center;
    display: flex;
    font-weight: bold;
    left: 10px;
    position: absolute;
    text-align: center;

    svg,
    img {
      height: 20px;
      margin-left: 5px;
    }
  }

  &__wallet-connect {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .wallet-connect {
    max-width: $content-width;
  }

  .card-container {
    margin: 0 auto 35px;
  }

  &__details {
    margin: 10px auto 20px;
    max-width: $content-width;
  }

  &__detail {
    display: flex;
    height: 30px;
    justify-content: space-between;

    &--bold {
      font-weight: bold;
    }
  }

  &__detail-separator {
    border-bottom: var(--border-modal-primary);
    margin-bottom: 15px;
    padding-top: 15px;
    width: 100%;
  }

  &__detail-faded {
    * {
      color: var(--color-component-text-secondary);
    }
  }

  &__payout {
    align-items: center;
    display: flex;

    svg,
    img {
      height: 20px;
      margin-right: 10px;
    }
  }

  &__message {
    color: var(--color-component-text-secondary);
    font-size: 12px;
    margin: 30px auto 0;
    max-width: $content-width;
    text-align: center;
  }

  &__error-message {
    color: var(--color-text-error);
    font-size: 14px;
    margin-top: 20px;
    text-align: center;
  }

  &__actions {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 35px auto 0;
    max-width: $content-width;
  }

  &__action {
    min-width: 150px;
    width: 100%;

    &:not(:last-child) {
      margin-bottom: 10px;
    }

    &:disabled {
      opacity: 0.5;
    }
  }
}

@media screen and (max-width: $mobile-breakpoint) {
  .listing-modal-container {
    .modal__content {
      max-width: unset;
      min-height: 100%;
      padding: 0;
      top: 0;
    }
  }

  .listing-modal {
    border: 0;
    border-radius: 0;
    min-height: 100vh;

    &__header {
      font-size: 24px;
      padding: 25px 0;
    }

    &__content {
      padding-bottom: 50px;
    }

    &__image-container {
      max-height: 250px;
      max-width: 250px;
    }
  }
}
