.listing-purchase-modal-container {
  .modal__content {
    height: max-content;
    max-height: unset;
    max-width: 600px;
    overflow-y: hidden;
    padding-bottom: 5vh;
    padding-right: 8px;
    top: 5vh;
    width: 100%;
  }
}

.listing-purchase-modal,
.listing-purchase-confirmation-modal {
  .nft-card {
    margin: 0 auto 20px;
    max-width: 350px;
    width: 100%;

    .card__description {
      font-size: 12px;
    }
  }
}

.listing-purchase-modal {
  @include modal;
  display: flex;
  flex-direction: column;
  overflow-y: hidden;
  position: relative;

  &__header {
    align-items: center;
    display: flex;
    flex-direction: column;
    font-size: 20px;
    justify-content: space-between;
    padding: 25px 25px 10px;
  }

  &__max-owned-message {
    font-size: 12px;
    font-weight: 300;
    margin: 20px 0 0;
  }

  &__direct-price {
    align-items: center;
    display: flex;
    width: 100%;
  }

  &__buy-container {
    @include component;

    align-items: center;
    display: flex;
    justify-content: space-between;
    max-width: 400px;
    padding: 15px 25px;
    width: 100%;
  }

  .price-container {
    width: 100%;
  }

  &__buy-container-with-quantity {
    flex-direction: column;
    padding-top: 5px;

    .listing-purchase-modal__direct-price {
      margin-bottom: 5px;
    }
  }

  &__stock {
    align-items: center;
    display: flex;
    font-size: 12px;
    margin: 5px 0 0 15px;
    max-width: 400px;
    width: 100%;
  }

  &__listing-info {
    align-items: center;
    border-top: var(--border-component-primary);
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    padding: 10px 25px;
  }

  &__listing-count-label {
    font-size: 16px;
    font-weight: 300;
  }

  &__listing-count {
    align-items: center;
    display: flex;
    font-size: 14px;
  }

  &__prices-container {
    background-color: var(--color-component-bg-secondary);
    border-radius: var(--border-radius-component);
    display: flex;
    justify-content: space-between;
    min-width: 250px;
    padding: 10px 15px;
  }

  &__price-container {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__price-label {
    font-size: 14px;
    font-weight: 300;
  }

  &__price {
    font-size: 18px;
    font-weight: bold;
  }

  .transfer-table {
    margin: 0;

    .transfer-table__table {
      max-height: 300px;
    }
  }

  &__footer {
    align-items: center;
    display: flex;
    height: 100px;
    justify-content: space-between;
    min-height: 100px;
    padding: 25px;

    &:empty {
      display: none;
    }
  }

  &__actions {
    align-items: center;
    display: flex;
    justify-content: center;
    margin-top: 35px;

    &.listing-purchase-wallet-balance-actions {
      flex-direction: column;

      .action {
        margin-bottom: 10px;
        width: 100%;
      }
    }
  }

  &__action,
  .action-loader {
    min-width: 150px;

    &:not(:last-child) {
      margin-right: 10px;
    }
  }


  &__order-details {
    border-radius: var(--border-radius-component);
    padding: 20px;

    &-box {
      background: var(--background-component-secondary);
      margin-top: 30px;
    }
  }

  &__order-line-item {
    display: flex;
    justify-content: space-between;
    line-height: 1.8em;
  }

  &__order-label {
    align-items: center;
    display: flex;
    font-weight: bold;
  }

  &__order-price {
    align-items: center;
    display: flex;

    img,
    svg {
      height: 20px;
      margin-right: 5px;
    }
  }

  &__quantity {
    font-weight: 300;
  }

  &__order-separator {
    border-bottom: var(--border-component-secondary);
    margin-bottom: 10px;
    padding-top: 10px;
  }
}

.listing-purchase-confirmation-modal {
  @include modal;
  display: flex;
  flex-direction: column;
  position: relative;

  &__header {
    border-bottom: var(--border-component-primary);
    font-size: 20px;
    font-weight: 300;
    padding: 15px 0;
    text-align: center;
  }

  &__content {
    padding: 25px 35px;
  }

  &__price-details,
  &__payment-options {
    @include component;
    padding: 25px;
  }

  &__price-details {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 25px auto;
    max-width: 350px;

    .price-container__label {
      font-size: 16px;
    }

    .price-container__price {
      font-size: 24px;
    }
  }

  &__payment-options {
    margin-top: 25px;
  }

  &__payment-message {
    margin-bottom: 10px;
  }

  &__error-message {
    color: var(--color-text-error);
    margin-top: 20px;
    text-align: center;
  }

  &__payment-selection-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-bottom: 25px;
  }

  &__payment-selection {
    font-size: 12px;
    position: relative;
    width: 100%;

    &:not(:last-child) {
      margin: 0 0 5px;
    }

    &:not(&--selected) {
      color: var(--color-component-text-primary);

      * {
        color: var(--color-component-text-primary);
      }
    }
  }

  &__payment-selection-icons {
    display: flex;
    height: 100%;
    left: 0;
    padding: 12px 8px;
    position: absolute;
    top: 0;

    &-crypto {
      padding: 9px 7px;
    }
  }

  &__payment-selection-icon {
    height: 100%;
    min-width: 20px;
    width: auto;
  }

  &__payment-cancel,
  &__payment-submit {
    width: 100%;
  }

  &__payment-cancel {
    margin-top: 10px;
  }

  &__wallet-connect {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 30px 0;
  }
}

.quantity {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;

  &__label {
    color: var(--color-component-text-secondary);
    font-size: 12px;
    margin-left: -7px;
  }

  &__inputs {
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 5px 0;
  }

  // TODO: Switch to SVG icons
  &__button {
    align-items: center;
    border-radius: 100%;
    display: flex;
    font-size: 24px;
    font-weight: 200;
    height: 30px;
    justify-content: center;
    padding: 5px;
    min-width: 0;
    user-select: none;
    width: 30px;

    * {
      height: 100%;
      width: 100%;
    }
  }

  &__input {
    appearance: textfield;
    font-size: 20px;
    font-weight: 300;
    height: 40px;
    margin: 0 5px;
    max-width: 50px;
    min-width: 50px;
    text-align: center;

    // sass-lint:disable no-vendor-prefixes
    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      appearance: none;
      margin: 0;
    }

    // sass-lint:enable no-vendor-prefixes
  }
}

@media screen and (max-width: $tablet-breakpoint) {
  .listing-purchase-modal {
    &__listing-info {
      align-items: unset;
      flex-direction: column;
    }

    &__prices-container {
      margin-top: 10px;
    }
  }
}

@media screen and (max-width: $mobile-breakpoint) {
  .listing-purchase-modal-container {
    min-height: 100%;

    .modal__content {
      max-width: unset;
      min-height: 100%;
      padding: 0;
      top: 0;
    }
  }

  .listing-purchase-modal {
    border: 0;
    min-height: 100vh;
    padding-bottom: 50px;

    &__price-label {
      font-size: 12px;
    }

    &__listing-count-label {
      font-size: 14px;
    }

    &__order-line-item {
      font-size: 13px;
    }
  }

  .listing-purchase-confirmation-modal {
    border: 0;
    min-height: 100%;

    &__content {
      padding: 25px 25px 50px;
    }

    &__header {
      font-size: 18px;
    }

    &__payment-selection-container {
      flex-direction: column;
      margin-bottom: 25px;
    }

    &__payment-selection {
      flex: unset;
      padding: 0;
      width: 100%;

      &:not(:last-child) {
        margin: 0 0 5px;
      }
    }

    &__payment-selection-icons {
      padding: 10px 15px;
    }
  }
}
