.listing-filters {
  align-items: flex-end;
  display: flex;
  padding: 0 0 20px;
  width: 100%;

  & > div {
    &:not(:first-child) {
      margin-left: 15px;
    }
  }

  &__dropdown,
  &__autocomplete-container {
    display: flex;
    flex-direction: column;
  }

  &__dropdown {
    flex: 1 1 auto;

    max-width: 310px;
    min-width: 150px;
  }

  &__autocomplete-container {
    flex: 2 1 auto;
    max-width: 400px;
    min-width: 200px;

    input {
      border-radius: 6px;
      height: 40px;
      padding-right: 40px;
      width: 100%;
    }
  }

  &__label {
    font-size: 12px;
    margin-bottom: 5px;
  }

  &__select-container {
    align-items: center;
    display: flex;
  }

  &__select {
    align-items: center;
    background-color: $white;
    background-image: none;
    border: 1px solid $mediumgray;
    border-radius: 6px;
    height: 40px;
    padding: 0 15px;
    width: 100%;

    &-placeholder {
      color: $darkgray;
    }
  }

  &__actions {
    align-items: center;
    display: flex;

    .action,
    .action-loader {
      max-width: 80px;
      min-width: 80px;
      padding: 3px;

      svg {
        stroke-width: 1.5px;
      }

      &:not(:last-child) {
        margin-right: 10px;
      }
    }
  }

  @media screen and (max-width: $tablet-breakpoint) {
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;

    & > div {
      &:not(:first-child) {
        margin: 10px 0 0;
      }
    }

    &__dropdown,
    &__autocomplete-container {
      max-width: 100%;
      width: 100%;
    }

    &__actions {
      width: 100%;
      justify-content: center;
      // sass-lint:disable no-important
      margin: 20px 0!important;

      .action {
        max-width: 120px;
        min-width: 120px;
      }
    }
  }
}

.listing-pagination {
  font-size: 12px;
  font-weight: 300;
  text-align: center;
}


.listing-stats {
  display: grid;
  align-items: center;
  justify-content: center;
  padding: 10px;
  width: 100%;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  border-radius: 6px;
  margin-bottom: 30px;
  height: 75px;
  max-height: 75px;

  &__loader {
    height: 60px;
  }

  &__item {
    height: 50px;

    &:not(:last-child) {
      border-right: 2px solid rgba($lightblue, 0.35);
    }
  }

  &__label,
  &__value {
    display: block;
    width: 100%;
    text-align: center;
    color: $blue;
  }

  &__label {
    font-size: 12px;
    font-weight: 300;
  }

  &__value {
    font-size: 18px;
    font-weight: 500;
  }

  @media screen and (max-width: $intermediate-breakpoint) {
    height: auto;
    max-height: unset;
    grid-template-columns: repeat(auto-fit, minmax(33%, 1fr));
    padding-bottom: 0;

    &__item {
      margin-bottom: 10px;

      &:not(:last-child) {
        border: 0;
      }
    }
  }

  @media screen and (max-width: $mobile-breakpoint) {
    grid-template-columns: repeat(auto-fit, minmax(50%, 1fr));
  }
}

.dark {
  .listing-stats {
    background-color: $darkestgray;

    &__label,
    &__value {
      color: $lightblue;
    }
  }

  .listing-filters {
    &__select {
      background-color: $black;
      border: 1px solid $darkergray;

      &-placeholder {
        color: $gray;
      }
    }

    &__select-button {
      border: 1px solid $darkergray;
    }
  }
}
