$input-height: 30px;

.listing-filters {
  align-items: flex-end;
  display: flex;
  flex-wrap: wrap;
  padding: 0 0 15px;
  width: 100%;

  & > div {
    &:not(:first-child) {
      margin-left: 15px;
    }
  }

  &__dropdown,
  &__autocomplete-container {
    display: flex;
    flex-direction: column;
  }

  &__dropdown {
    flex: 1 1 auto;

    max-width: 310px;
    min-width: 150px;
  }

  &__autocomplete-container {
    flex: 2 1 auto;
    max-width: 400px;
    min-width: 200px;

    .autocomplete {
      input {
        border-radius: 6px;
        height: $input-height;
        padding: 0 40px 0 12px;
        width: 100%;
      }

      &__clear-button {
        height: $input-height;
        margin-right: 3px;
        padding: 6px 6px 5px;
        width: $input-height;
      }

      &__options {
        margin-top: 1px;
        top: $input-height;
      }
    }
  }

  &__label {
    font-size: 12px;
    margin-bottom: 2px;
  }

  &__select-container {
    align-items: center;
    display: flex;
  }

  &__select {
    align-items: center;
    background-color: $white;
    background-image: none;
    border: 1px solid $mediumgray;
    border-radius: 6px;
    font-size: 12px;
    height: $input-height;
    padding: 0 8px;
    width: 100%;

    &-placeholder {
      color: $darkgray;
    }
  }

  &__actions {
    align-items: flex-start;
    display: flex;
    height: $input-height;

    .action,
    .action-loader {
      height: $input-height;
      max-width: 80px;
      min-width: 80px;
      padding: 3px;

      svg {
        stroke-width: 1.5px;
      }

      &:not(:last-child) {
        margin-right: 10px;
      }
    }
  }

  &__marketplace-selection {
    align-items: flex-end;
    display: flex;
    flex-wrap: wrap;
    // sass-lint:disable no-important
    margin-left: 0 !important;
    margin-top: 5px;
    order: 999;
    width: 100%;

    &__selected {
      align-items: center;
      display: flex;
      margin-left: 15px;
    }

    &__selected__item {
      align-items: center;
      border: 1px solid $lightblue;
      border-radius: 6px;
      color: $lightblue;
      display: flex;
      font-size: 12px;
      height: $input-height;
      margin-right: 10px;
      padding: 0 40px 0 15px;
      position: relative;

      svg {
        height: $input-height;
        padding: 8px;
        position: absolute;
        right: 0;
        stroke: $lightblue;
      }
    }
  }

  @media screen and (max-width: $tablet-breakpoint) {
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;

    & > div {
      &:not(:first-child) {
        margin: 10px 0 0;
      }
    }

    &__dropdown,
    &__autocomplete-container {
      max-width: 100%;
      width: 100%;
    }

    &__actions {
      justify-content: center;
      // sass-lint:disable no-important
      margin: 20px 0 !important;
      width: 100%;

      .action {
        max-width: 120px;
        min-width: 120px;
      }
    }

    &__marketplace-selection {
      order: unset;

      &__selected {
        margin: 10px 0 0;
      }
    }
  }
}

.listing-pagination {
  font-size: 12px;
  font-weight: 300;
  margin-top: 20px;
  text-align: center;
}


.listing-stats {
  align-items: center;
  border: 1px solid $mediumgray;
  border-radius: 6px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  height: 65px;
  justify-content: center;
  margin-bottom: 10px;
  max-height: 65px;
  padding: 8px;
  width: 100%;

  &__loader {
    height: 60px;
  }

  &__item {
    height: 40px;

    &:not(:last-child) {
      // sass-lint:disable no-color-literals
      border-right: 1px solid rgba($mediumgray, 0.35);
    }
  }

  &__label,
  &__value {
    color: $lightblue;
    display: block;
    text-align: center;
    width: 100%;
  }

  &__label {
    font-size: 12px;
    font-weight: 300;
  }

  &__value {
    font-size: 16px;
    font-weight: 500;
  }

  @media screen and (max-width: $intermediate-breakpoint) {
    grid-template-columns: repeat(auto-fit, minmax(33%, 1fr));
    height: auto;
    max-height: unset;
    padding-bottom: 0;

    &__item {
      margin-bottom: 10px;

      &:not(:last-child) {
        // sass-lint:disable no-important
        border: 0 !important;
      }
    }
  }

  @media screen and (max-width: $mobile-breakpoint) {
    grid-template-columns: repeat(auto-fit, minmax(50%, 1fr));
  }
}

.dark {
  .listing-stats {
    background-color: $darkestgray;
    border: 0;

    &__label,
    &__value {
      color: $lightblue;
    }

    &__item {
      &:not(:last-child) {
        // sass-lint:disable no-color-literals
        border-right: 2px solid rgba($lightblue, 0.35);
      }
    }
  }

  .listing-filters {
    &__select {
      background-color: $black;
      border: 1px solid $darkergray;

      &-placeholder {
        color: $gray;
      }
    }

    &__select-button {
      border: 1px solid $darkergray;
    }

    &__marketplace-selection {
      &__selected__item {
        background-color: $darkestgray;
        border: 1px solid $darkestgray;
        color: $lightgray;

        svg {
          stroke: $darkgray;
        }
      }
    }
  }
}
