.filtered-view {
  &__actions {
    display: flex;
    justify-content: center;
    margin-top: 100px;
  }

  &__action {
    min-width: 300px;
  }
}

.marketplace-listings {
  position: relative;

  .page-header {
    margin-bottom: 20px;
  }
}

.listings-page {
  .transfer-table {
    margin: 20px 0;
  }

  &__header {
    align-items: center;
    display: flex;
    font: var(--font-component-header);
    font-size: 20px;
    font-weight: normal;
    margin-bottom: 20px;
    text-transform: uppercase;
  }

  &__message {
    color: var(--color-text-secondary);
    font-size: 10px;
    margin: 40px auto 20px;
    max-width: 700px;
    text-align: center;

    a {
      color: var(--color-text-primary);
      font-size: 10px;
    }
  }
}

.my-listings-transfer-history {
  .transfer-table__table {
    max-height: 300px;
  }
}

.listing-pagination {
  font-size: 14px;
  font-weight: 300;
  margin: 50px 0 10px;
  text-align: center;

  @media screen and (max-width: $mobile-breakpoint) {
    margin-top: 20px;
  }
}

.listing-card-list {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fill, minmax(370px, 1fr));
  margin-bottom: 10px;
  width: 100%;

  @media screen and (max-width: $mobile-breakpoint) {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  }
}

.listing-card-container {
  @include component;
  display: flex;
}

.listing-card {
  align-items: center;
  box-shadow: var(--box-shadow-component);
  display: flex;
  height: 160px;
  padding: 12px;
  position: relative;
  width: 100%;

  &__image-container {
    background: $black;
    border-radius: var(--border-radius-component);
    display: block;
    min-height: 100%;
    min-width: 136px;
    overflow: hidden;
  }

  .item-card__image-container {
    margin-bottom: 0;
  }

  &__left {
    align-items: center;
    display: flex;
    justify-content: center;
    padding-right: 30px;
    position: relative;
  }

  &__side-text {
    align-items: center;
    display: flex;
    justify-content: center;
    max-height: 2px;
    max-width: 2px;
    overflow: visible;
    position: absolute;
    right: 1em;
    transform: rotate(90deg);
    white-space: nowrap;
    word-break: keep-all;

    * {
      font: var(--font-card-misc);
      font-size: 15px;
    }

    &__primary {
      color: var(--color-component-text-highlight);
      margin-right: 0.5em;
    }

    &__secondary {
      color: var(--color-component-text-secondary);
    }
  }

  &__details {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    padding-top: 15px;
    position: relative;
    width: 100%;
  }

  &__name {
    font: var(--font-component-header);
    font-size: 20px;
    padding-right: 25px;
  }

  &__status {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: flex-end;
    padding: 10px 0;
  }

  &__status-label {
    color: var(--color-component-text-highlight);
    font: var(--font-component-misc);
  }

  &__price {
    font: var(--font-component-header);
    font-size: 14px;
    margin-top: 10px;
  }

  &__edit-button {
    align-items: center;
    color: var(--color-component-text-primary);
    display: flex;
    height: 18px;
    justify-content: center;
    position: absolute;
    right: 0;
    top: 0;
    width: 18px;

    svg {
      height: 100%;
      width: 100%;
    }
  }

  @media screen and (max-width: $mobile-breakpoint) {
    height: 130px;

    &__image-container {
      min-width: 106px;
    }

    &__name {
      font-size: 16px;
    }

    &__status-label {
      font-size: 12px;
    }

    &__price {
      font-size: 12px;
    }
  }
}
