@keyframes l1 {
  to {rotate: 1turn}
}

.page-loader {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  min-height: var(--property-full-page-height);
  width: 100%;
  z-index: 100;

  --loader-height: 60px;
}

.loader {
  aspect-ratio: 1;
  border-radius: 50%;
  box-sizing: border-box;
  height: var(--loader-height);
  margin-inline: auto;
  mask: conic-gradient(#000 0 0) content-box exclude,conic-gradient(#000 0 0);
  padding: var(--loader-width);
  position: relative;
  width: var(--loader-height);
}

.loader::before {
  animation: l1 1.5s linear infinite;
  background: conic-gradient(transparent 35%, rgb(var(--loader-color), 50%), rgb(var(--loader-color), 100%) 85%);
  content: "";
  inset: 0;
  position: absolute;
}
