.page-loader {
  height: 100%;
  min-height: 75vh;
}

.page-loader,
.loader {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  width: 100%;
}

// Ball spinner

.lds-default {
  display: inline-block;
  height: 80px;
  position: relative;
  width: 80px;
  transform: scale(0.7);
}

.lds-default__element {
  animation: lds-default 1.2s linear infinite;
  background-color: var(--color-loader);
  border-radius: 50%;
  height: 6px;
  position: absolute;
  width: 6px;
}

.lds-default__element:nth-child(1) {
  animation-delay: 0s;
  left: 66px;
  top: 37px;
}

.lds-default__element:nth-child(2) {
  animation-delay: -0.1s;
  left: 62px;
  top: 22px;
}

.lds-default__element:nth-child(3) {
  animation-delay: -0.2s;
  left: 52px;
  top: 11px;
}

.lds-default__element:nth-child(4) {
  animation-delay: -0.3s;
  left: 37px;
  top: 7px;
}

.lds-default__element:nth-child(5) {
  animation-delay: -0.4s;
  left: 22px;
  top: 11px;
}

.lds-default__element:nth-child(6) {
  animation-delay: -0.5s;
  left: 11px;
  top: 22px;
}

.lds-default__element:nth-child(7) {
  animation-delay: -0.6s;
  left: 7px;
  top: 37px;
}

.lds-default__element:nth-child(8) {
  animation-delay: -0.7s;
  left: 11px;
  top: 52px;
}

.lds-default__element:nth-child(9) {
  animation-delay: -0.8s;
  left: 22px;
  top: 62px;
}

.lds-default__element:nth-child(10) {
  animation-delay: -0.9s;
  left: 37px;
  top: 66px;
}

.lds-default__element:nth-child(11) {
  animation-delay: -1s;
  left: 52px;
  top: 62px;
}

.lds-default__element:nth-child(12) {
  animation-delay: -1.1s;
  left: 62px;
  top: 52px;
}

@keyframes lds-default {
  0%,
  20%,
  80%,
  100% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.5);
  }
}


// Ball inline

.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.lds-ellipsis__element {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background-color: var(--color-loader);
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.lds-ellipsis__element:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}

.lds-ellipsis__element:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis__element:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis__element:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}

@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}
