$key-form-background: rgba(255, 255, 255, 0.8);
$key-form-background-dark: rgba(0, 0, 0, 0.8);

.login-page {
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 0 30px;

  * {
    z-index: 1;
  }

  &__background {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 0;
  }

  h1 {
    filter: drop-shadow(2px 2px 2px $black);
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 10px;
    text-align: center;
  }

  &__login-box {
    align-items: center;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto 20vh;
    max-width: 500px;
    min-height: 300px;
    padding: 30px;
    width: 100%;
  }

  &__private-key-form {
    background: $key-form-background;
    border-radius: 10px;
    max-width: 500px;
    padding: 5px 20px 20px;
    width: 100%;

    &__actions {
      display: flex;
      justify-content: center;
    }

    input {
      font-size: 12px;
    }

    button {
      flex: 1 1 auto;
      height: 40px;
      padding: 5px;
      width: 150px;

      &:not(:last-child) {
        margin-right: 10px;
      }

      &.login-page__private-key-form__button-submit {
        background-color: $blue;
        border: 1px solid $blue;
        color: $white;
      }
    }
  }

  .labelled-field {
    display: flex;
    flex-direction: column;
    margin: 10px 0;

    label {
      font-size: 14px;
      font-weight: 500;
      letter-spacing: 0.03em;
      margin-bottom: 8px;
    }

    input {
      height: 40px;
      padding: 5px 10px;
    }
  }

  &__logo {
    margin-bottom: 20px;
    width: 160px;
  }

  &__login-button {
    background-color: transparent;
    border: 0;
    cursor: pointer;
    font-size: 12px;
    height: 46px;
    margin: 5px 0;
    outline: 0;
    width: 191px;
  }

  &__login-button-auth0 {
    background-color: $blue;
    color: $white;
    font-size: 18px;
  }

  &__login-button-cancel,
  &__login-button-create {
    background-color: $white;
    border: 0.75px solid $gray;
    color: $black;
  }

  &__login-button-pk {
    filter: drop-shadow(2px 2px 2px $black);
    font-size: 10px;
    height: 23px;
  }

  &__login-button-image {
    padding: 0;

    img {
      height: 100%;
      object-fit: contain;
      width: 100%;
    }
  }
}

.dark {
  .login-page {
    &__logo {
      * {
        fill: $white;
        stroke: $white;
      }
    }

    &__private-key-form {
      background: $key-form-background-dark;

      button {
        color: $white;
      }

      input {
        background: $white;
        color: $black;
      }
    }

    &__login-button {
      border: 0;
    }

    &__login-button-cancel,
    &__login-button-create {
      background-color: $black;
      border: 0.75px solid $gray;
      color: $white;
    }
  }
}

