.marketplace-browser {
  .card {
    &__title {
      font-weight: 300;
    }

    &__subtitle {
      font-size: 12px;
    }
  }
}

.marketplace {
  &__empty {
    font-size: 16px;
    font-weight: 300;
    margin: 100px 0;
    text-align: center;
    width: 100%;
  }

  .details-page {
    padding: 15px 0;
  }

  &__section {
    margin: 30px 0;

    &:first-child {
      margin-top: 0;
    }

    .page-header {
      font-size: 16px;
    }

    .page-subheader {
      font-size: 12px;
    }
  }

  .section-header {
    align-items: center;
    display: flex;
    margin-bottom: 10px;

    &__left {
      align-items: center;
      display: flex;
    }

    .page-header {
      &__title,
      &__subtitle {
        align-items: center;
        display: flex;
      }

      &__title {
        border-radius: 10px;
        padding: 10px 30px;
      }

      &__subtitle {
        flex-grow: 1;
        justify-content: flex-end;
      }

      &__icon {
        object-fit: contain;
        padding: 0;
      }
    }

    .page-header__title__title + .page-header__icon {
      margin-left: 15px;
    }

    @media screen and (max-width: 600px) {
      flex-direction: column;

      .page-header {
        &__title {
          padding: 10px 15px;
        }

        &__subtitle {
          margin-top: 15px;
        }
      }
    }
  }

  .collection-info {
    &__button {
      border: 0;
      height: 45px;
      margin-left: 20px;
      opacity: 0.5;
      width: 45px;

      &__icon {
        height: 100%;
        padding: 0;
        width: 100%;
      }
    }
  }
}

.marketplace-price {
  border: 1px solid $mediumgray;
  border-radius: 6px;

  &__loader {
    height: auto;
  }

  &__direct,
  &__listings {
    padding: 15px 25px;
  }

  &__direct {
    align-items: center;
    display: flex;
    justify-content: space-between;

    &__price {
      font-size: 24px;
      font-weight: 500;
      margin-right: 50px;
    }

    &__max-owned-message {
      font-size: 12px;
      font-weight: 300;
      text-align: center;
    }

    .action-primary {
      min-width: 150px;
    }
  }

  &__listings {
    border-top: 1px solid $mediumgray;
  }

  &__listings-count {
    font-size: 16px;
    font-weight: normal;
  }

  .prices-container {
    border-radius: 0;
    margin: 10px 0 0;
    max-width: 300px;
    padding: 0;
  }

  .price-container__label {
    color: $darkgray;
  }
}

.checkout {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 18px;
  width: 100%;

  input {
    text-align: center;
  }

  &__price {
    text-align: center;
    width: 100%;
  }

  &__price__header {
    font-size: 18px;
    font-weight: 300;
  }

  &__price__price {
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 10px;
  }

  &__actions {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
  }

  &__loader {
    height: 90px;
  }

  &__button {
    background: $blue;
    border: 1px solid $blue;
    color: $white;
    height: 40px;
    max-width: 250px;
    width: 100%;

    &:not(:last-child) {
      margin-bottom: 10px;
    }

    &:disabled {
      cursor: auto;
      opacity: 0.5;
    }

    &-coinbase {
      background: $black;
      border: 0.5px solid $gray;
    }
  }
}

.dark {
  .marketplace-price {
    border: 1px solid $darkgray;

    &__listings {
      border-top: 1px solid $darkgray;
    }

    .price-container__label {
      color: $mediumgray;
    }
  }

  .checkout {
    &__button {
      &:not(.checkout__button-coinbase) {
        border: 1px solid $blue;
      }
    }
  }
}

.side-panel {
  .marketplace__header,
  .marketplace-navigation {
    display: none;
  }
}
