.marketplace {
  &.content {
    padding-top: 50px;
    position: relative;
  }

  &__empty {
    font-size: 16px;
    font-weight: 300;
    margin: 100px 0;
    text-align: center;
    width: 100%;
  }

  &__banner {
    display: block;
    height: max-content;
    width: 100%;

    & + .marketplace__banner {
      margin-top: 20px;
    }

    img {
      display: block;
      margin: 0 auto;
      object-fit: contain;
      width: 100%;
    }

    &__video-modal {
      .modal__content {
        max-width: $extra-large-breakpoint;
        overflow-y: hidden;
        padding-inline: 50px;
        width: 100%;
      }

      &__video,
      video {
        width: 100%;
      }
    }
  }

  &__section {
    display: flex;
    flex-direction: column;
    margin: 40px 0;
    position: relative;

    &:first-child {
      margin-top: 0;
    }

    .page-headers {
      &:empty {
        margin: 0;
      }
    }

    .page-header,
    .page-subheader,
    .page-link {
      max-width: 700px;
    }

    .page-header {
      font: var(--font-store-heading);
      text-transform: uppercase;
    }

    .page-subheader {
      font: var(--font-store-subheading);
      margin-top: 10px;
    }
  }

  nav + .marketplace__section {
    margin-top: 0;
  }

  &__collection-header {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    margin: 0 0 20px;

    &__icon {
      height: 200px;
      margin-right: 50px;
      object-fit: contain;
      width: 200px;
    }

    &__banner-container {
      border-radius: var(--border-radius-component);
      display: flex;
      justify-content: flex-start;
      margin-top: 50px;
      overflow: hidden;
    }

    .page-headers {
      margin: 0 0 20px;

      .page-header {
        margin: 0;
      }

      .page-subheader {
        &:last-child {
          margin-bottom: 30px;
        }
      }
    }
  }

  &__collection {
    &__list {
      margin-bottom: 100px;
    }

    &__card {
      &:not(&--owned) {
        opacity: 0.5;
      }
    }

    &__redeem {
      align-items: center;
      background: var(--background-collection-component);
      border-radius: var(--border-radius-component);
      display: flex;
      justify-content: space-between;
      padding: 20px 50px;
      width: 100%;

      &__header {
        font-size: 12px;
      }

      &__message {
        font: var(--font-store-heading);
        font-size: 20px;
        padding-right: 50px;
        text-transform: uppercase;
      }

      &__button {
        min-width: 200px;
        width: 200px;
      }
    }
  }

  @media screen and (max-width: $tablet-breakpoint) {
    .page-header {
      font-size: 24px;
      margin-top: 20px;
    }

    .page-subheader {
      font-size: 16px;
    }

    .page-headers {
      * {
        justify-content: center;
        text-align: center;
      }
    }

    &__collection-header {
      flex-direction: column;

      * {
        justify-content: center;
        text-align: center;
      }

      &__icon {
        margin: 0 0 20px;
      }
    }

    &__collection {
      &__redeem {
        padding: 20px 30px;

        &__message {
          font-size: 16px;
        }
      }
    }
  }

  @media screen and (max-width: $mobile-breakpoint) {
    &__collection {
      &__redeem {
        flex-direction: column;

        &__message {
          margin-bottom: 20px;
          padding: 0;
        }
      }
    }

    &__banner__video-modal {
      .modal__content {
        padding-inline: 10px;
      }
    }
  }
}

.collections-summary {
  &__link {
    align-items: center;
    display: flex;
    font: var(--font-store-link);
    margin-top: 20px;

    svg {
      height: 20px;
      margin-left: 10px;
      width: 20px;
    }
  }

  &__list {
    // sass-lint:disable no-misspelled-properties
    gap: 20px;
    // sass-lint:enable no-misspelled-properties

    .collection-card {
      width: calc(#{$breakpoint} / 3 - 40px);
    }
  }

  @media screen and (max-width: $breakpoint) {
    &__list {
      grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));

      .collection-card {
        max-width: unset;
        //max-width: calc(#{$breakpoint} / 3 - 100px);
        width: auto;
      }
    }
  }
}

.collection-card {
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
  min-width: 300px;

  &__icon-container {
    background: var(--border-background-feature-card);
    border-radius: var(--border-radius-feature-card);
    padding: var(--border-width-feature-card);
    position: relative;
  }

  &__icon {
    background: var(--background-feature-card);
    border-radius: var(--border-radius-feature-card);
    margin: 0;
    padding: 32px;
  }

  .item-card__image-container {
    border-radius: var(--border-radius-feature-card);
    margin: 0;
  }

  &__details {
    display: flex;
    flex-direction: column;
    height: 100%;
    min-height: 300px;
    padding: 30px 0 20px;
  }

  &__header {
    font: var(--font-feature-card-title);
    font-size: 28px;
    text-transform: uppercase;
  }

  &__subheader {
    font: var(--font-feature-card-text);
    font-size: 16px;
    height: 100%;
    padding: 20px 0;
  }

  &__summary {
    font: var(--font-feature-card-misc);
    font-size: 16px;
    padding: 10px 0;

    &--highlight {
      color: var(--color-feature-card-text-highlight);
    }
  }

  &__actions {
    align-items: flex-end;
    display: flex;
    flex-grow: 1;
    margin-top: 10px;
    width: 100%;
  }

  .action {
    width: 100%;
  }

  @media screen and (max-width: $mobile-breakpoint) {
    &__details {
      min-height: unset;
    }
  }
}

.collection-redemption {
  &__list-container {
    margin-bottom: 50px;

    &__header {
      font: var(--font-store-heading);
      font-size: 24px;
      margin-bottom: 20px;
      text-transform: uppercase;
    }
  }

  &__option {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 20px;
    max-width: 390px;
    width: 100%;

    .card-container {
      width: 100%;
    }

    &:not(&--selected) {
      .card-container {
        opacity: 0.75;
      }
    }

    &__button {
      margin-top: 10px;
      width: 200px;
    }
  }

  &__rewards-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 50px;
    width: 100%;

    &__message {
      font: var(--font-feature-card-text);
      text-align: center;
    }

    .card-container {
      box-shadow: var(--box-shadow-collection-reward-card);
    }
  }

  &__rewards {
    margin: 30px 0;
    width: 100%;
  }

  &__redeem {
    align-items: center;
    background: var(--background-collection-component);
    border-radius: var(--border-radius-component);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 30px 50px;
    width: 100%;

    &__headers {
      margin-bottom: 50px;
      max-width: unset;
    }

    &__header {
      &.page-header {
        margin-bottom: 0;
        max-width: unset;
      }
    }

    &__message {
      margin-bottom: 20px;
      text-align: center;
    }

    &__external-wallet-message {
      @include page-fade-in;
      font-size: 24px;
      margin: 20px 0 50px;
      text-align: center;
    }

    &__button {
      width: 200px;
    }
  }

  @media screen and (max-width: $breakpoint) {
    &__option {
      max-width: 380px;
    }
  }

  @media screen and (max-width: $tablet-breakpoint) {
    &__rewards-container {
      padding-inline: 20px;

      &__header {
        font-size: 18px;
      }

      &__message {
        font-size: 16px;
      }
    }

    &__redeem {
      padding-inline: 20px;
    }
  }
}

.side-panel {
  .marketplace-navigation {
    display: none;
  }
}

.app--centered {
  .marketplace {
    &__section {
      .page-header,
      .page-subheader,
      .page-link {
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
      }
    }

    &__collection-header {
      align-items: center;
      display: flex;
      flex-direction: column;
      justify-content: center;

      * {
        text-align: center;
      }

      &__icon {
        margin: 0 0 20px;
      }
    }

    &__collection {
      &__redeem__message {
        text-align: center;
      }
    }
  }

  .collection-redemption {
    &__list-container__header {
      text-align: center;
    }
  }

  .collection-card {
    * {
      text-align: center;
    }
  }
}
