.marketplace {
  &__empty {
    font-size: 16px;
    font-weight: 300;
    margin: 100px 0;
    text-align: center;
    width: 100%;
  }

  .details-page {
    padding: 15px 0;
  }

  &__banner {
    display: block;
    height: max-content;
    width: 100%;

    & + .marketplace__banner {
      margin-top: 20px;
    }

    img {
      display: block;
      margin: 0 auto;
      object-fit: contain;
      width: 100%;
    }
  }

  &__section {
    margin: 30px 0;

    &:first-child {
      margin-top: 0;
    }

    .page-header,
    .page-subheader {
      max-width: 600px;

      &--centered {
        margin: 0 auto;
      }
    }


    .page-header {
      font: var(--font-store-heading);
    }

    .page-subheader {
      margin-top: 5px;
      font: var(--font-store-subheading);
    }
  }

  nav + .marketplace__section {
    margin-top: 0;
  }

  .section-header {
    align-items: center;
    display: flex;
    margin-bottom: 10px;

    &__left {
      align-items: center;
      display: flex;
    }

    .page-header {
      &__title,
      &__subtitle {
        align-items: center;
        display: flex;
      }

      &__title {
        padding: 10px 30px;
      }

      &__subtitle {
        flex-grow: 1;
        justify-content: flex-end;
      }

      &__icon {
        object-fit: contain;
        padding: 0;
      }
    }

    .page-header__title__title + .page-header__icon {
      margin-left: 15px;
    }

    @media screen and (max-width: $mobile-breakpoint) {
      flex-direction: column;

      .page-header {
        &__title {
          padding: 10px 15px;
        }

        &__subtitle {
          margin-top: 15px;
        }
      }
    }
  }

  &__collection-header {
    @include component;
    box-shadow: var(--box-shadow-component);
  }

  .collection-info {
    &__button {
      border: 0;
      height: 45px;
      margin-left: 20px;
      opacity: 0.5;
      width: 45px;

      &__icon {
        height: 100%;
        padding: 0;
        width: 100%;
      }
    }
  }
}

.side-panel {
  .marketplace-navigation {
    display: none;
  }
}
