.marketplace-browser {
  flex: 1 1 100%;
  height: 100%;

  * {
    transition: color 0.25s ease, border 0.25s ease;
  }

  .content {
    padding: 15px 0 80px;
  }

  &__marketplaces {
    display: grid;
    grid-gap: 15px;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    justify-content: center;
    padding-bottom: 50px;
  }

  &__filters {
    margin-bottom: 50px;
    position: relative;
  }

  &__search {
    align-items: center;
    display: flex;
    position: relative;

    &__icon {
      height: 35px;
      left: 10px;
      position: absolute;
    }

    &__input {
      background: transparent;
      border: 0;
      box-shadow: none;
      font-family: var(--font-family-primary);
      font-size: 24px;
      height: 75px;
      padding-left: 60px;
      width: 100%;

      &::placeholder {
        font-size: 24px;
      }
    }
  }

  &__tags {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    gap: 12px;

    &__button {
      align-items: center;
      border: 2px solid var(--color-text-primary);
      border-radius: 32px;
      display: flex;
      font-size: 20px;
      font-weight: 500;
      height: 50px;
      padding-inline: 20px;

      svg {
        height: 20px;
        margin-right: 20px;
      }

      &:hover,
      &.active {
        border: 2px solid var(--color-text-highlight);

        * {
          color: var(--color-text-highlight);
        }
      }
    }
  }

  &__active-tag {
    align-items: center;
    background: var(--color-component-bg-secondary);
    border-radius: 32px;
    display: flex;
    height: 50px;
    padding-inline: 20px;

    svg {
      border: 1px solid var(--color-text-secondary);
      border-radius: 100%;
      height: 18px;
      margin-left: 15px;
      padding: 2px;

      * {
        color: var(--color-text-secondary);
      }
    }
  }

  &__tag-menu {
    background: var(--color-component-bg-secondary);
    border-radius: var(--border-radius);
    left: 0;
    margin-top: 5px;
    padding: 10px 50px 10px 15px;
    position: absolute;
    z-index: 100;

    &__tag {
      align-items: center;
      display: flex;
      font-size: 18px;
      font-weight: 500;
      height: 35px;
      width: 100%;

      &:hover {
        * {
          color: var(--color-text-highlight);
        }

        svg {
          border: 1px solid var(--color-text-highlight);
        }
      }

      &__icon {
        border-radius: 100%;
        height: 20px;
        margin-right: 20px;
        padding: 4px;
        width: 20px;

        * {
          color: var(--color-text-secondary);
        }
      }

      svg {
        border: 1px solid var(--color-text-secondary);
      }
    }
  }

  &__separator {
    background: var(--color-text-secondary);
    height: 1px;
    margin: 0 3px 30px;
  }

  @media screen and (max-width: $tablet-breakpoint) {
    &__marketplaces {
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

      .marketplace-card {
        min-width: unset;
      }
    }

    &__search {
      &__input {
        font-size: 16px;

        &::placeholder {
          font-size: 16px;
        }
      }
    }

    &__tags__button,
    &__active-tag {
      font-size: 14px;
    }
  }
}

.marketplace-card {
  aspect-ratio: 1 / 1;
  border-radius: 32px;
  display: flex;
  min-width: 350px;
  overflow: visible;
  perspective: 1000px;
  position: relative;
  width: 100%;

  &:hover,
  &--flipped {
    .marketplace-card__content {
      transform: rotateY(-180deg);
      transition-delay: 0.25s;
    }

    .marketplace-card__banner-container {
      &--front {
        opacity: 0;
        transition-delay: 0.25s;
      }

      &--back {
        opacity: 1;
        transition-delay: 0s;
      }
    }
  }

  &__content {
    height: 100%;
    position: relative;
    text-align: center;
    transform-style: preserve-3d;
    transition: transform 0.75s;
    transition-delay: 0s;
    width: 100%;
  }

  &__banner-container {
    backface-visibility: hidden;
    border-radius: 32px;
    height: 100%;
    overflow: hidden;
    position: absolute;
    transition: opacity 0.75s ease;
    transition-delay: 0.25s;
    width: 100%;

    &--front {
      opacity: 1;
      transition-delay: 0s;
    }

    &--back {
      opacity: 0;
      transform: rotateY(180deg);
      transition-delay: 0.25s;
    }
  }

  &__banner {
    height: 100%;
    object-fit: cover;
    width: 100%;
  }

  &__notice {
    background: var(--color-bg-primary);
    border-radius: 10px;
    bottom: 20px;
    color: var(--color-text-highlight);
    font-size: 20px;
    font-weight: 500;
    padding-inline: 10px;
    position: absolute;
    right: 20px;
    z-index: 10;
  }

  // Switch to no-flip fade on mobile and all safari (bug in safari re. backface-visibility
  @media screen and (max-width: $mobile-breakpoint), not all and (min-resolution: .001dpcm) {
    &__banner-container--back {
      transform: none;
    }

    &--flipped {
      .marketplace-card__content {
        transform: none;
      }
    }

    &:hover {
      .marketplace-card__content {
        transform: none;
      }
    }
  }
}
