.marketplace {
  .page-headers {
    margin-bottom: 50px;
  }

  &.content {
    padding-top: 50px;
  }

  &__empty {
    font-size: 16px;
    font-weight: 300;
    margin: 100px 0;
    text-align: center;
    width: 100%;
  }

  &__banner {
    display: block;
    height: max-content;
    width: 100%;

    & + .marketplace__banner {
      margin-top: 20px;
    }

    img {
      display: block;
      margin: 0 auto;
      object-fit: contain;
      width: 100%;
    }
  }

  &__section {
    display: flex;
    flex-direction: column;
    margin: 50px 0;

    &:first-child {
      margin-top: 0;
    }

    .page-header,
    .page-subheader,
    .page-link {
      max-width: 700px;
    }

    .page-header {
      font: var(--font-store-heading);
      text-transform: uppercase;
    }

    .page-subheader {
      font: var(--font-store-subheading);
      margin-top: 20px;
    }
  }

  nav + .marketplace__section {
    margin-top: 0;
  }

  &__collection-header {
    align-items: center;
    display: flex;
    margin: 0 0 50px;

    &__icon {
      height: 200px;
      margin-right: 50px;
      object-fit: contain;
      width: 200px;
    }

    .page-headers {
      margin: 0;

      .page-header {
        margin: 0;
      }
    }
  }

  @media screen and (max-width: $tablet-breakpoint) {
    .page-header {
      font-size: 24px;
      margin-top: 20px;
    }

    .page-subheader {
      font-size: 16px;
    }

    .page-headers {
      * {
        justify-content: center;
        text-align: center;
      }
    }

    &__collection-header {
      flex-direction: column;

      * {
        justify-content: center;
        text-align: center;
      }

      &__icon {
        margin: 0 0 20px;
      }
    }
  }
}

.collections-summary {
  &__link {
    align-items: center;
    display: flex;
    font: var(--font-store-link);
    margin-top: 20px;

    svg {
      height: 20px;
      margin-left: 10px;
      width: 20px;
    }
  }

  &__list {
    // sass-lint:disable no-misspelled-properties
    gap: 30px;
    // sass-lint:enable no-misspelled-properties

    .collection-card {
      width: calc(#{$breakpoint} / 3 - 50px);
    }
  }

  @media screen and (max-width: $breakpoint) {
    &__list {
      grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));

      .collection-card {
        max-width: unset;
        //max-width: calc(#{$breakpoint} / 3 - 100px);
        width: auto;
      }
    }
  }
}

.collection-card {
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
  min-width: 300px;

  &__icon-container {
    background: var(--border-background-feature-card);
    border-radius: var(--border-radius-feature-card);
    padding: var(--border-width-feature-card);
    position: relative;
  }

  &__icon {
    background: var(--background-feature-card);
    border-radius: var(--border-radius-feature-card);
    margin: 0;
    padding: 32px;
  }

  .item-card__image-container {
    border-radius: var(--border-radius-feature-card);
    margin: 0;
  }

  &__details {
    display: flex;
    flex-direction: column;
    height: 100%;
    min-height: 300px;
    padding: 30px 0 20px;
  }

  &__header {
    font: var(--font-feature-card-title);
    text-transform: uppercase;
  }

  &__subheader {
    font: var(--font-feature-card-text);
    font-size: 16px;
    padding: 20px 0;
  }

  &__actions {
    align-items: flex-end;
    display: flex;
    flex-grow: 1;
    margin-top: 10px;
    width: 100%;
  }

  .action {
    width: 100%;
  }

  @media screen and (max-width: $mobile-breakpoint) {
    &__details {
      min-height: unset;
    }
  }
}

.side-panel {
  .marketplace-navigation {
    display: none;
  }
}

.app--centered {
  .marketplace {
    &__section {
      .page-header,
      .page-subheader,
      .page-link {
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
      }
    }

    &__collection-header {
      align-items: center;
      display: flex;
      flex-direction: column;
      justify-content: center;

      * {
        text-align: center;
      }

      &__icon {
        margin: 0 0 20px;
      }
    }
  }

  .collection-card {
    * {
      text-align: center;
    }
  }
}
