.marketplace-browser {
  flex: 1 1 100%;
  height: 100%;

  .content {
    padding: 15px 15px 80px;
  }

  &__marketplaces {
    display: grid;
    grid-gap: 15px;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    justify-content: center;
    padding-bottom: 50px;
  }

  &__filters {
    margin-bottom: 10px;
    min-height: 45px;
    width: 100%;
  }

  &__filters__content {
    align-items: flex-end;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
    max-width: $breakpoint;
    padding: 5px 0 10px;
    width: 100%;
  }

  &__tags {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
  }

  &__tag {
    font-size: 14px;
    height: 32px;
    margin: 10px 10px 0 0;
    max-width: 200px;
    min-width: 100px;
    padding: 0 8px;
    transition: border 0.15s, background-color 0.15s, color 0.15s, font-weight 0.15s;

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }
  }

  &__filter {
    align-items: center;
    display: flex;
    justify-content: flex-start;
    position: relative;
  }

  &__filter-input {
    height: 32px;
    padding: 0 10px 0 35px;
    text-align: left;
    width: 225px;
  }

  &__filter-icon {
    height: 24px;
    left: 5px;
    position: absolute;
    width: 24px;

    * {
      color: var(--color-input-text-placeholder);
    }
  }

  @media screen and (max-width: $tablet-breakpoint) {
    &__filter-input {
      width: 400px;
    }

    &__filter {
      margin-top: 10px;
      width: 100%;
    }
  }

  @media screen and (max-width: $mobile-breakpoint) {
    &__tags {
      display: none;
    }

    &__filter {
      margin: 0;
    }
  }
}

.marketplace-card {
  background: var(--background-marketplace-card);
  border: var(--border-marketplace-card);
  border-radius: var(--border-radius-component);
  display: flex;
  min-width: 350px;
  opacity: 0.9;
  overflow: hidden;
  padding-top: 90%;
  position: relative;
  transition: opacity 0.35s ease;
  width: 100%;

  * {
    color: var(--color-marketplace-card-text-primary);
  }

  &:hover {
    opacity: 1;
  }

  &__banner {
    height: calc(100% - 150px);
    left: 0;
    min-width: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    width: 100%;
  }

  &__logo-container {
    align-items: center;
    display: flex;
    height: 65px;
    justify-content: center;
    left: 0;
    position: absolute;
    top: -35px;
    width: 100%;
  }

  &__logo {
    border: var(--border-marketplace-card-logo);
    border-radius: 50%;
    height: 65px;
    object-fit: contain;
    width: 65px;
  }

  &__details {
    bottom: 0;
    height: 150px;
    left: 0;
    padding: 35px 15px;
    position: absolute;
    text-align: center;
    width: 100%;
  }

  &__name {
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 1.2px;
    margin-bottom: 5px;
  }

  &__subheader {
    color: var(--color-marketplace-card-text-secondary);

    font-size: 14px;
    letter-spacing: 1.5px;
  }

  &__description {
    font-size: 14px;
    margin-top: 5px;
  }

  @media screen and (max-width: $tablet-breakpoint) {
    &__description {
      font-size: 12px;
    }
  }
}
