.marketplace-browser {
  .card {
    &__title {
      font-weight: 300;
    }

    &__subtitle {
      font-size: 12px;
    }
  }
}

.marketplace {
  &__empty {
    font-size: 16px;
    font-weight: 300;
    margin-top: 100px;
    text-align: center;
    width: 100%;
  }

  .details-page {
    padding: 15px 0;
  }

  .sub-navigation {
    padding: 0;
  }

  &__section {
    margin: 30px 0;

    &:first-child {
      margin-top: 0;
    }

    .page-header {
      font-size: 16px;
    }

    .page-subheader {
      font-size: 12px;
    }
  }

  .card-list {
    grid-template-columns: repeat(auto-fill, minmax(305px, 1fr));
  }
}

.checkout {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 18px;
  width: 100%;

  &:not(:first-child) {
    margin: 10px auto;
  }

  input {
    text-align: center;
  }

  &__price__header {
    font-size: 16px;
    font-weight: 300;
  }

  &__price__price {
    font-size: 24px;
    font-weight: 500;
  }

  &__actions {
    display: flex;
    flex: 1 1 auto;
    justify-content: center;

    &:not(:first-child) {
      padding-left: 20px;
    }

    .loader {
      height: 40px;
    }
  }

  &__button {
    background: $blue;
    border: 1px solid $blue;
    color: $white;
    height: 40px;
    max-width: 250px;
    width: 100%;

    &:disabled {
      cursor: auto;
      opacity: 0.5;
    }
  }
}

.dark {
  .checkout {
    &__button {
      border: 1px solid $blue;
    }
  }
}

.side-panel {
  .marketplace__header,
  .marketplace-navigation {
    display: none;
  }
}
