.marketplace {
  &__empty {
    font-size: 16px;
    font-weight: 300;
    margin: 100px 0;
    text-align: center;
    width: 100%;
  }

  .details-page {
    padding: 15px 0;
  }

  &__banner {
    display: block;
    height: max-content;
    width: 100%;

    & + .marketplace__banner {
      margin-top: 20px;
    }

    img {
      display: block;
      height: 100%;
      margin: 0 auto;
      object-fit: contain;
    }
  }

  &__section {
    margin: 30px 0;

    &:first-child {
      margin-top: 0;
    }

    .page-header {
      font-size: 20px;
    }

    .page-subheader {
      font-size: 12px;
    }
  }

  nav + .marketplace__section {
    margin-top: 0;
  }

  .section-header {
    align-items: center;
    display: flex;
    margin-bottom: 10px;

    &__left {
      align-items: center;
      display: flex;
    }

    .page-header {
      &__title,
      &__subtitle {
        align-items: center;
        display: flex;
      }

      &__title {
        border-radius: 10px;
        padding: 10px 30px;
      }

      &__subtitle {
        flex-grow: 1;
        justify-content: flex-end;
      }

      &__icon {
        object-fit: contain;
        padding: 0;
      }
    }

    .page-header__title__title + .page-header__icon {
      margin-left: 15px;
    }

    @media screen and (max-width: $mobile-breakpoint) {
      flex-direction: column;

      .page-header {
        &__title {
          padding: 10px 15px;
        }

        &__subtitle {
          margin-top: 15px;
        }
      }
    }
  }

  .collection-info {
    &__button {
      border: 0;
      height: 45px;
      margin-left: 20px;
      opacity: 0.5;
      width: 45px;

      &__icon {
        height: 100%;
        padding: 0;
        width: 100%;
      }
    }
  }
}

.marketplace-price {
  border: 1px solid $mediumgray;
  border-radius: 6px;

  &__loader {
    height: auto;
  }

  &__direct,
  &__listings {
    padding: 15px 25px;
  }

  &__direct {
    align-items: center;
    display: flex;
    justify-content: space-between;

    &__price {
      font-size: 24px;
      font-weight: 500;
      margin-right: 50px;
    }

    &__max-owned-message {
      font-size: 12px;
      font-weight: 300;
      text-align: center;
    }

    .loader-button,
    .action-primary {
      min-width: 150px;
    }
  }

  &__listings {
    border-top: 1px solid $mediumgray;
  }

  &__listings-count {
    font-size: 16px;
    font-weight: normal;
  }

  .prices-container {
    border-radius: 0;
    margin: 10px 0 0;
    max-width: 300px;
    padding: 0;
  }

  .price-container__label {
    color: $darkgray;
  }
}

.dark {
  .marketplace-price {
    border: 1px solid $darkgray;

    &__listings {
      border-top: 1px solid $darkgray;
    }

    .price-container__label {
      color: $mediumgray;
    }
  }

  .checkout {
    &__button {
      &:not(.checkout__button-coinbase) {
        border: 1px solid $blue;
      }
    }
  }
}

.side-panel {
  .marketplace-navigation {
    display: none;
  }
}
