.media-property-browser {
  @include page-fade-in;

  display: grid;
  gap: 15px;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  margin-top: 20px;
}

.media-property-card {
  display: flex;
  opacity: 0.9;
  position: relative;
  transition: opacity 0.25s ease;

  &:focus-visible,
  &:hover {
    opacity: 1;
  }

  &__image {
    width: 100%;
  }

  .media-property-card__video {
    aspect-ratio: 2/3;
    inset: 0;
    position: absolute;
    transition: opacity 0.5s ease;
    width: 100%;
    z-index: 1;

    &--loading {
      opacity: 0;
    }

    video {
      object-fit: cover;
    }
  }
}
