@keyframes card-reveal {
  from {
    opacity: 0;
    transform: scale(0.25);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}

.minting-status,
.minting-status-results {
  overflow-x: visible;

  .page-header,
  .page-subheader {
    justify-content: center;
    text-align: center;
  }

  .page-header {
    font: var(--font-store-heading);
    font-size: 32px;
    text-transform: uppercase;
  }

  .page-subheader {
    font: var(--font-store-subheading);
    margin-top: 10px;
  }

  .action {
    padding: 0 20px;
  }

  @media screen and (max-width: $tablet-breakpoint) {
    .page-header {
      font-size: 20px;
    }

    .page-subheader {
      font-size: 14px;
    }
  }
}

.minting-status {
  align-items: center;
  display: flex;
  flex: 1 0 100%;
  flex-direction: column;
  height: 100%;
  margin-top: 25px;
  padding: 0 0 40px;

  &__transaction-link {
    color: var(--color-text-highlight);
    font-size: 12px;
    margin-top: 10px;
  }

  &__navigation-message {
    color: var(--color-text-secondary);
    font-size: 12px;
    font-weight: 300;
    max-width: 400px;
    padding-top: 50px;
    text-align: center;
  }

  &__loader {
    min-height: 30vh;
  }

  &__video-container {
    align-items: center;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    position: relative;
    width: 100%;

    &--hidden {
      display: none;
    }

    .loader {
      height: 100%;
      left: 0;
      margin: 0;
      position: absolute;
      top: 0;
      width: 100%;
    }

    video {
      max-height: 50vh;
    }

    &--large {
      video {
        max-height: 80vh;
      }
    }
  }

  &__video {
    &.minting-status__video {
      background: transparent;
      flex: 1 1 0;
      width: 100%;

      video {
        background: transparent;
        width: 100%;
      }
    }
  }

  @media screen and (max-width: $mobile-breakpoint) {
    &__video-container {
      width: 100vw;

      video {
        max-height: 90vh;
      }
    }
  }
}

.minting-status-results {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  padding-top: 20px;
  position: relative;
  width: 100%;

  .card-list {
    @include page-fade-in;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    width: 100%;
  }

  .card-container {
    animation: 1s card-reveal ease forwards;
    animation-iteration-count: 1;
    transform: scale(0%);
  }

  &__actions {
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 50px 0;
  }
}

.app--centered {
  .minting-status-results {
    .content-header,
    .content-subheader {
      justify-content: center;
    }
  }
}
