.minting-status,
.minting-status-results {
  .page-header,
  .page-subheader {
    justify-content: center;
    text-align: center;
  }

  .page-header {
    font: var(--font-store-heading);
    font-size: 32px;
    text-transform: uppercase;
  }

  .page-subheader {
    font: var(--font-store-subheading);
    margin-top: 10px;
  }

  .action {
    padding: 0 20px;
  }

  @media screen and (max-width: $tablet-breakpoint) {
    .page-header {
      font-size: 20px;
    }

    .page-subheader {
      font-size: 14px;
    }
  }
}

.minting-status {
  align-items: center;
  display: flex;
  flex: 1 0 100%;
  flex-direction: column;
  height: 100%;
  margin-top: 25px;
  padding: 0 0 40px;

  &__transaction-link {
    color: var(--color-text-highlight);
    font-size: 12px;
    margin-top: 10px;
  }

  &__navigation-message {
    color: var(--color-text-secondary);
    font-size: 12px;
    font-weight: 300;
    max-width: 400px;
    padding-top: 50px;
    text-align: center;
  }

  &__video-container {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
    margin-bottom: 20px;
    max-height: 70vh;
    max-width: 90vw;
    position: relative;
    width: 100%;

    .loader {
      height: 100%;
      left: 0;
      margin: 0;
      position: absolute;
      top: 0;
      width: 100%;
    }
  }

  // sass-lint:disable function-name-format
  &__loader {
    max-height: MIN(90vw * 9 / 16, 50vh);
    max-width: MIN(90vw, calc(50vh * 16 / 9));
    min-height: MIN(90vw * 9 / 16, 50vh);
    min-width: MIN(90vw, calc(50vh * 16 / 9));
  }

  &__video {
    &.minting-status__video {
      background: transparent;
      flex: 1 1 0;
      max-height: MIN(90vw * 9 / 16, 50vh);
      max-width: MIN(90vw, calc(50vh * 16 / 9));
      min-height: MIN(90vw * 9 / 16, 50vh);
      min-width: MIN(90vw, calc(50vh * 16 / 9));

      video {
        background: transparent;
        max-height: MIN(90vw * 9 / 16, 50vh);
        max-width: MIN(90vw, calc(50vh * 16 / 9));
        min-height: MIN(90vw * 9 / 16, 50vh);
        min-width: MIN(90vw, calc(50vh * 16 / 9));
      }

      // sass-lint:enable function-name-format
    }
  }
}

.minting-status-results {
  padding-top: 20px;

  .card-list {
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  }

  &__actions {
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 50px 0;
  }
}

.app--centered {
  .minting-status-results {
    .content-header,
    .content-subheader {
      justify-content: center;
    }
  }
}
