.modal {
  align-items: center;
  background: var(--background-modal-overlay);
  display: flex;
  height: 100vh;
  justify-content: center;
  left: 0;
  margin: auto;
  max-height: 100vh;
  overflow-y: auto;

  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 101;

  * {
    z-index: 100;
  }

  .styled-select,
  .styled-select__menu {
    z-index: 101;
  }

  &:not(&--no-fade) {
    @include page-fade-in;
  }
}

.modal__content {
  max-height: 90vh;
  max-width: 85vw;
  overflow-x: hidden;
  overflow-y: scroll;
  position: absolute;
  width: 1200px;
  z-index: 10001;
}

.modal__close-button {
  height: 35px;
  min-width: 0;
  padding: 8px;
  position: fixed;
  right: 50px;
  top: 35px;
  width: 35px;
  z-index: 10002;

  svg {
    height: 100%;
    width: auto;
  }
}

@media only screen and (max-width: $tablet-breakpoint) {
  .modal {
    // sass-lint:disable no-vendor-prefixes
    -webkit-overflow-scrolling: touch;
    // sass-lint:enable no-vendor-prefixes
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
  }

  .modal__content {
    height: auto;
    max-height: max-content;
    max-width: 100vw;
    min-height: 100vh;
    overflow: visible;
    top: 0;
  }

  .modal__close-button {
    position: fixed;
    right: 25px;
    top: 25px;
  }
}

// Deal with very tall frame
@media screen and (min-height: 1800px) {
  .modal {
    align-items: flex-start;
    padding-top: 300px;
  }

  .login-modal {
    padding-top: 0;

    .login-page {
      align-items: flex-start;
    }
  }
}
