@media screen and (max-width: $mobile-breakpoint) {
  // position: fixed doesn't work right on iOS safari, so we must explicitly
  // hide header and navigation when a modal is active
  .modal-active {
    .header,
    .navigation,
    .header-navigation {
      // sass-lint:disable no-important
      display: none !important;
    }
  }
}

.navigation {
  background-color: $lightergray;
  border: 0.5px solid $mediumgray;
  border-radius: 8px;
  bottom: 50px;
  box-shadow: 2px 2px 2px $mediumgray;
  display: flex;
  height: 50px;
  left: 0;
  margin: auto;
  position: fixed;
  right: 0;
  width: 600px;
  z-index: 1;

  * {
    color: $darkgray;
    text-align: center;
  }

  &__link {
    align-items: center;
    border-radius: 0 8px 8px 0;
    display: flex;
    flex: 1 1 auto;
    height: 100%;
    justify-content: center;
    position: relative;
    transition: background-color 0.25s linear;
    width: 100%;

    &.active {
      background-color: $white;
      color: $black;
    }

    &:not(:last-child) {
      border-radius: 8px 0 0 8px;
      border-right: 0.5px solid $darkergray;
    }

    &:hover {
      background-color: $white;
      color: $black;
    }
  }

  &__logo {
    height: 100%;
    margin: 0 10px;
    max-width: 70px;
    min-width: 70px;
    object-fit: contain;
    padding: 3px 0;
    width: 70px;
  }

  @media screen and (max-width: $tablet-breakpoint) {
    border-bottom: 0;
    border-radius: 0;
    bottom: 0;
    height: 60px;
    max-width: unset;
    width: 100%;

    &__link {
      font-size: 14px;
    }
  }

  @media screen and (max-width: $mobile-breakpoint) {
    &__logo {
      display: none;
    }

    &__link {
      border-radius: 0;

      &:not(:last-child) {
        border-radius: 0;
      }
    }

    @media screen and (min-aspect-ratio: 5 / 7) {
      // Hide bottom nav when on-screen keyboard is shown
      display: none;
    }
  }
}

.dark {
  .navigation {
    background-color: $darkestgray;
    border: 0.5px solid $darkergray;
    box-shadow: none;

    &__link {
      &.active {
        background-color: $darkergray;
        color: $white;
      }

      &:not(:last-child) {
        border-right: 0.5px solid $darkergray;
      }

      &:hover {
        background-color: $darkergray;
        color: $white;
      }
    }
  }
}

.side-panel {
  .navigation {
    display: none;
  }
}

// Loading checkout / success confirmation from embedded frame. Hide everything but the loader
.popup-from-embedded {
  .header,
  .navigation {
    // sass-lint:disable no-important
    display: none !important;
  }

  .content {
    & > * {
      &:not(.page-loader) {
        // sass-lint:disable no-important
        display: none !important;
      }
    }
  }
}
