.media-controls {
  background-color: $mediumgray;
  border-radius: 0 0 3px 3px;
  bottom: 0;
  height: 50px;
  justify-content: space-between;
  padding: 10px;
  position: sticky;
  width: 100%;

  &,
  &__left,
  &__title,
  &__right {
    align-items: center;
    display: flex;
  }

  &__left,
  &__title,
  &__right {
    height: 100%;
  }

  &__button {
    display: flex;
    height: 20px;
    padding: 3px;
    position: relative;
    width: 20px;

    &:not(:last-child) {
      margin-right: 10px;
    }

    &--play-pause {
      height: 30px;
      padding: 0;
      width: 30px;
    }

    svg {
      height: 100%;
      width: 100%;
    }
  }

  &__title {
    background-color: $lightgray;
    border-radius: 4px;
    color: $blue;
    flex: 1 1 auto;
    font-size: 16px;
    justify-content: flex-start;
    margin: 0 10px;
    min-width: 0;
    overflow: hidden;
    padding: 0 10px 0 30px;
    position: relative;

    &__icon {
      fill: $blue;
      height: 15px;
      left: 8px;
      position: absolute;
    }

    &__text,
    &__span {
      color: $blue;
      min-width: 100%;
    }
  }

  &__toggle {
    background-color: $lightgray;
    height: 30px;
    padding: 5px;
    transition: background-color 0.15s ease;
    width: 50px;

    &--active {
      background-color: $blue;

      svg {
        filter: invert(100%);
      }
    }

    &:not(:last-child) {
      margin-right: 10px;
    }

    svg {
      height: 100%;
    }
  }

  @media screen and (max-width: $mobile-breakpoint) {
    &__toggle {
      width: 40px;
    }

    &__title {
      font-size: 12px;
    }
  }
}

.details-page {
  max-width: 100%;
  overflow-x: hidden;
  padding-bottom: 15px;
  width: 100%;

  &-message {
    align-items: center;
    display: flex;
    flex: 1 1 100%;
    height: 100%;
    justify-content: center;
  }

  &__message-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    width: 100%;
  }

  &__message,
  &__sub-message {
    font-size: 24px;
    font-weight: 300;
    max-width: 800px;
    text-align: center;
  }

  &__sub-message {
    font-size: 14px;
  }

  .actions-container {
    align-items: center;
    display: flex;
    margin-top: 100px;

    .action {
      align-items: center;
      display: flex;
      height: 45px;
      justify-content: center;
      padding: 0 15px;
      width: 200px;

      &:not(:last-child) {
        margin-right: 10px;
      }
    }
  }

  &__content__header {
    font-weight: 500;
  }

  &__content__id {
    color: $darkgray;
    font-style: italic;
    letter-spacing: 0.05em;
    text-align: center;
  }

  .card {
    &__title {
      font-size: 20px;
    }

    &__subtitle,
    &__stock {
      font-size: 16px;
    }

    &__subtitle {
      margin: 5px 0;
    }
  }

  // sass-lint:disable force-element-nesting
  &__listing-button .button,
  &__open-button .button,
  &__delete-button .button,
  &__transfer-details__opensea-button,
  .lookout-url {
    align-items: center;
    background-color: $blue;
    border: 0;
    border-radius: 3px;
    color: $white;
    display: flex;
    justify-content: center;
    max-width: 300px;
    padding: 0 30px;
    text-align: center;

    &.button {
      border: 0;
    }

    &:hover {
      color: $white;
    }
  }
  // sass-lint:enable force-element-nesting

  &__actions {
    align-items: center;
    border: 1px solid $mediumgray;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;

    .button-container {
      display: flex;
      justify-content: center;
    }

    button,
    .button-container {
      width: 100%;

      &:not(:last-child) {
        margin-bottom: 10px;
      }
    }
  }

  &__transfer-details {
    font-size: 14px;
    font-weight: 400;
    margin: 15px 0 0;
    text-align: center;
  }

  &__held-message {
    color: $blue;
    font-size: 12px;
  }

  &__transfer-success {
    font-size: 14px;
    margin: 15px 0;

    h3 {
      font-weight: normal;
      margin-bottom: 10px;
    }

    a {
      margin-top: 20px;
      width: max-content;
    }
  }

  &__transfer-details__hash {
    font-size: 10px;
    margin: 30px auto 0;
    word-wrap: anywhere;
  }

  &__transfer-error {
    color: $red;
  }

  &__transfer-buttons {
    margin-top: 20px;
    padding: 0 10px;
    width: 100%;
  }

  &__transfer-button {
    width: 100%;

    &:not(:last-child) {
      margin-bottom: 10px;
    }

    &:disabled {
      cursor: initial;
      opacity: 0.5;
    }
  }

  &__transfer-link {
    align-items: center;
    display: flex;
    justify-content: center;
  }

  .lookout-url {
    padding: 10px 30px;
  }

  &__delete-button {
    .button {
      background: $darkgray;
      border: 0;
    }
  }

  &__description {
    margin-bottom: 20px;
  }

  &__rich-text {
    p,
    a {
      font-size: 12px;
      margin: 10px 0;
    }

    a {
      color: $blue;
    }
  }

  &__listing-info {
    margin-bottom: 20px;

    * {
      text-align: center;
    }
  }

  &__listing-info__header {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 20px;
  }

  &__listing-price-label {
    font-size: 14px;
    font-weight: 300;
  }

  &__listing-price-value {
    font-size: 18px;
    font-weight: bold;
  }

  &__media-container {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    max-height: 400px;
    overflow-y: auto;
    // sass-lint:disable no-misspelled-properties
    overscroll-behavior: contain;
  }

  &__media {
    align-items: center;
    background-color: $lightgray;
    border: 0.5px solid transparent;
    border-radius: 6px;
    display: flex;
    height: 100px;
    padding: 10px;
    width: 100%;

    &--selected {
      border: 0.5px solid $lightblue;
      box-shadow: $lightblue 0 0 5px;

      .details-page__media__name {
        color: $lightblue;
      }
    }

    &__image-container {
      border-radius: 6px;
      height: 100%;
      max-width: 80px;
      position: relative;
      width: 100%;
    }

    &__image {
      border-radius: 6px;
      height: 100%;
      left: 0;
      object-fit: contain;
      position: absolute;
      top: 0;
      width: 100%;

      &--fallback {
        background: radial-gradient(ellipse at top, $darkgray, $black);
      }
    }

    &__hover-icon,
    &__selected-indicator {
      @include page-fade-in(0.25s);
      bottom: 8px;
      height: 20px;
      position: absolute;
      right: 8px;
      width: 20px;
      z-index: 1;
    }

    &:not(:hover) {
      .details-page__media__hover-icon {
        display: none;
      }
    }

    &__details {
      display: flex;
      flex-direction: column;
      height: 100%;
      justify-content: space-between;
      padding: 5px 0 0 10px;
      text-align: left;
      width: 100%;
    }

    &__name {
      font-size: 15px;
      font-weight: 400;
      line-height: 1.2em;
      transition: color 0.25s linear;
    }

    &__subtitle-1 {
      font-size: 11px;
      font-weight: 500;
    }

    &__subtitle-2 {
      font-size: 11px;
      font-weight: 300;
    }
  }

  @media screen and (min-width: $tablet-breakpoint) {
    &:not(.details-page-message) {
      align-content: start;
      display: grid;
      grid-gap: 20px;
      grid-template-columns: 5fr minmax(0, 5fr);
    }

    .expandable-section {
      &:first-child {
        margin-top: 0;
      }
    }
  }

  @media screen and (max-width: $tablet-breakpoint) {
    &__message {
      font-size: 16px;
      padding: 0 20px;
    }

    .actions-container {
      flex-direction: column;
      margin-top: 40px;

      .action {
        &:not(:last-child) {
          margin: 0 0 10px;
        }
      }
    }

    &__info {
      margin-top: 20px;
    }

    .card {
      &__title {
        font-size: 13px;

        &__price {
          font-size: 12px;
        }
      }

      &__subtitle,
      &__stock {
        font-size: 12px;
      }
    }

    &__actions {
      flex-direction: column;

      button,
      .button-container {
        &:not(:last-child) {
          margin: 0 0 10px;
        }
      }
    }
  }
}

.traits {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(175px, 1fr));

  .trait {
    background-color: $lightestgray;
    border: 1.5px solid $lightblue;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    text-align: center;

    &__type {
      font-size: 12px;
      font-weight: 300;
    }

    &__value {
      font-size: 16px;
      font-weight: 500;
      padding: 15px 0;
    }

    &__rarity {
      color: $blue;
      font-size: 12px;
    }
  }
}

.prices-container {
  align-items: center;
  border-radius: 6px;
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
  min-width: 275px;
  padding: 7px 15px;
  width: 100%;
}

.price-container {
  &__label {
    font-size: 14px;
    font-weight: 300;
  }

  &__price {
    font-size: 18px;
    font-weight: 500;
  }
}

.dark {
  .details-page {
    &__content__id {
      color: $gray;
    }

    &__actions {
      border: 1px solid $darkgray;
    }

    &__rich-text {
      a {
        color: $blue;
      }
    }

    &__held-message {
      color: $blue;
    }

    &__transfer-error {
      color: $red;
    }

    &__media {
      background-color: $darkestgray;
    }
  }

  .traits {
    .trait {
      background-color: $darkestgray;
      border: 0.5px solid $lightblue;

      &__rarity {
        color: $lightblue;
      }
    }
  }

  .media-controls {
    background-color: $darkestgray;
    border-top: 1px solid $darkergray;

    &__button {
      &:not(.media-controls__button--play-pause) {
        svg {
          filter: invert(100%);
          opacity: 0.5;
        }
      }
    }

    &__title {
      background-color: $darkergray;

      &__icon {
        fill: $lightblue;
      }

      &__text {
        color: $lightblue;

        span {
          color: $lightblue;
        }
      }
    }

    &__toggle {
      background-color: $darkergray;

      svg {
        filter: invert(100%);
        opacity: 0.5;
      }

      &--active {
        background-color: $blue;

        svg {
          opacity: 1;
        }
      }
    }
  }
}

.side-panel {
  .details-page {
    margin-left: auto;
    margin-right: auto;
    max-width: 400px;
  }
}
