.details-page {
  max-width: 100%;
  overflow: visible;
  padding: 30px 0 15px;
  position: relative;
  width: 100%;

  &__nft-info {
    margin-bottom: 40px;
    position: relative;

    &__name {
      font: var(--font-card-title);
      font-size: 32px;
      font-weight: 600;
      margin-bottom: 15px;
      padding-right: 40px;
      text-transform: uppercase;
    }

    &__status,
    &__subtitle-container {
      align-content: center;
      display: flex;
      font-weight: 600;
      letter-spacing: 0.03em;
      text-transform: uppercase;

      * {
        font: var(--font-card-misc);
        font-size: 14px;
      }
    }

    &__owner {
      align-items: center;
      display: flex;
      margin-top: 30px;
      width: max-content;
    }

    &__owner-image-container {
      height: 50px;
      margin-right: 10px;
      width: 50px;
    }

    &__owner-name {
      color: var(--color-text-secondary);
      font-size: 16px;
    }

    &__owner-address {
      font-size: 12px;
    }

    &__edition {
      margin-right: 20px;
    }

    &__token-container {
      align-content: center;
      display: flex;
    }

    &__token {
      color: var(--color-card-text-secondary);
      margin-right: 4px;
      width: max-content;

      &--highlight {
        color: var(--color-card-text-highlight);
      }
    }

    &__description {
      color: var(--color-card-text-secondary);
      font-size: 14px;
      margin: 20px 0 35px;
    }

    &--default {
      display: none;
    }

    &--mobile {
      margin: 20px 0 40px;
    }

    &__buttons {
      position: absolute;
      right: 0;
      top: 0;
      width: max-content;
    }

    .menu-button {
      height: 35px;
      width: 35px;
    }

    @media screen and (min-width: $tablet-breakpoint) {
      &--default {
        display: block;
      }

      &--mobile {
        display: none;
      }
    }

    @media screen and (max-width: $tablet-breakpoint) {
      text-align: center;

      * {
        justify-content: center;
      }

      &__name {
        font-size: 24px;
      }
    }
  }

  &__tabbed-content {
    &__tabs {
      display: flex;
      justify-content: flex-end;
      margin: 30px 0;
    }

    &__tab {
      font: var(--font-component-misc);
      text-transform: uppercase;

      &:not(:last-child) {
        margin-right: 30px;
      }

      &--active {
        color: var(--color-component-text-highlight);
      }
    }
  }

  &__offer {
    .item-card__title {
      font-size: 24px;
      margin: 10px 0;
    }
  }

  &__back-link {
    align-items: center;
    display: flex;
    font-size: 12px;
    height: 20px;
    left: 0;
    position: absolute;
    text-transform: uppercase;
    top: 0;

    svg {
      height: 20px;
      margin-right: 15px;
      width: 20px;
    }
  }

  &__test-banner {
    background: var(--color-component-bg-primary);
    border: 1px solid var(--color-text-error);
    border-radius: 5px;
    color: var(--color-text-error);
    font-weight: bold;
    margin: 10px 0;
    padding: 10px;
    text-align: center;
    width: 100%;
  }

  &-message {
    align-items: center;
    display: flex;
    flex: 1 1 100%;
    height: 100%;
    justify-content: center;
  }

  &__message-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    width: 100%;
  }

  &__message,
  &__sub-message {
    font-size: 18px;
    font-weight: 300;
    margin: 16px 0;
    max-width: 800px;
    text-align: center;
    word-wrap: anywhere;
  }

  &__sub-message {
    font-size: 14px;
  }

  .actions-container {
    align-items: center;
    display: flex;
    margin-top: 100px;

    .action {
      align-items: center;
      display: flex;
      height: 45px;
      justify-content: center;
      padding: 0 15px;
      width: 200px;

      &:not(:last-child) {
        margin-right: 10px;
      }
    }
  }

  &__content__header {
    font-weight: 500;
  }

  &__actions {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px 0 20px;

    &:empty {
      display: none;
    }

    .action {
      width: 100%;

      & + .action {
        margin-top: 10px;
      }
    }
  }

  &__detail-field {
    margin-top: 5px;
  }

  .expandable-section {
    line-height: 1.25;

    &__actions {
      .action {
        max-width: 475px;
        width: 100%;

        & + .action {
          margin-top: 10px;
        }
      }
    }
  }

  &__transfer-details {
    font-size: 14px;
    font-weight: 400;
    margin: 15px auto 0;
    max-width: 475px;
    text-align: center;
  }

  &__held-message {
    font-weight: 600;
  }

  &__transfer-success {
    font-size: 14px;
    margin: 15px 0;

    h3 {
      font-weight: normal;
      margin-bottom: 10px;
    }

    a {
      margin-top: 20px;
      width: max-content;
    }
  }

  &__transfer-details__hash {
    font-size: 10px;
    margin: 30px auto 0;
    word-wrap: anywhere;
  }

  &__transfer-error {
    color: var(--color-text-error);
  }

  &__transfer-buttons {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 20px;
    padding: 0 10px;
    width: 100%;
  }

  &__transfer-button {
    width: 100%;

    &:disabled {
      cursor: initial;
      opacity: 0.5;
    }
  }

  &__transfer-link {
    align-items: center;
    display: flex;
    justify-content: center;
  }

  &__description {
    margin-bottom: 20px;
  }

  .marketplace__section,
  .transfer-table {
    margin: 0 0 10px;
  }

  &__rich-text {
    margin-bottom: 50px;

    p,
    a {
      font-size: 12px;
      margin: 10px 0;
    }

    a {
      color: var(--color-component-text-highlight);
    }
  }

  &__listing-info {
    margin-bottom: 20px;

    * {
      text-align: center;
    }
  }

  &__listing-info__header {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 20px;
  }

  &__listing-price-label {
    font-size: 14px;
    font-weight: 300;
  }

  &__listing-price-value {
    align-items: center;
    display: flex;
    font-size: 18px;
    font-weight: bold;
    justify-content: center;

    svg,
    img {
      height: 20px;
      margin-right: 5px;
    }
  }

  &__media-container {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    max-height: 400px;
    overflow-y: auto;
    // sass-lint:disable no-misspelled-properties
    overscroll-behavior: contain;
  }

  &__media {
    align-items: center;
    background: var(--background-component-secondary);
    border: 0.5px solid transparent;
    border-radius: var(--border-radius-component);
    display: flex;
    height: 100px;
    padding: 10px;
    width: 100%;

    &--selected {
      border: 0.5px solid var(--color-component-text-highlight);
      box-shadow: var(--color-component-text-highlight) 0 0 5px;

      .details-page__media__name {
        color: var(--color-component-text-highlight);
      }
    }

    &__image-container {
      border-radius: var(--border-radius-component);
      height: 100%;
      max-width: 80px;
      min-width: 80px;
      position: relative;
      width: 100%;
    }

    &__image {
      border-radius: var(--border-radius-component);
      height: 100%;
      left: 0;
      object-fit: contain;
      position: absolute;
      top: 0;
      width: 100%;

      &--fallback {
        // sass-lint:disable no-color-literals
        background: radial-gradient(ellipse at top, #333, #000);
      }
    }

    &__hover-icon,
    &__selected-indicator {
      @include page-fade-in(0.25s);
      bottom: 8px;
      height: 20px;
      position: absolute;
      right: 8px;
      width: 20px;
      z-index: 1;

      * {
        color: var(--color-highlight-container-text);
      }

      circle {
        fill: var(--color-highlight-container-bg);
      }
    }

    &:not(:hover) {
      .details-page__media__hover-icon {
        display: none;
      }
    }

    &__details {
      display: flex;
      flex-direction: column;
      height: 100%;
      justify-content: space-between;
      padding: 0 10px;
      text-align: left;
      width: calc(100% - 80px);
    }

    &__name {
      font-size: 15px;
      font-weight: 400;
      line-height: 1.2em;
      transition: color 0.25s linear;
    }

    &__subtitle-1 {
      font-size: 11px;
      font-weight: 500;
    }

    &__subtitle-2 {
      font-size: 11px;
      font-weight: 300;
    }
  }

  .stats {
    &__label {
      font-size: 14px;
    }

    &__value {
      font-size: 20px;
    }
  }

  .item-card {
    &__image {
      background: $black;
    }
  }

  &__tables {
    margin-top: 20px;
  }

  @media screen and (min-width: $tablet-breakpoint) {
    .details-page__main-content {
      align-content: start;
      display: grid;
      grid-gap: 30px;
      grid-template-columns: minmax(400px, 1fr) minmax(0, 1.5fr);
    }

    .expandable-section {
      &:first-child {
        margin-top: 0;
      }
    }

    .stats {
      &__label {
        font-size: 14px;
      }

      &__value {
        font-size: 16px;
      }
    }
  }

  @media screen and (max-width: $tablet-breakpoint) {
    &__message {
      font-size: 16px;
      padding: 0 20px;
    }

    .actions-container {
      flex-direction: column;
      margin-top: 40px;

      .action {
        &:not(:last-child) {
          margin: 0 0 10px;
        }
      }
    }

    &__info {
      margin-top: 20px;
    }
  }
}

.media-controls {
  background: var(--background-component-secondary);
  bottom: 0;
  height: 50px;
  justify-content: space-between;
  padding: 10px;
  position: sticky;
  width: 100%;

  &,
  &__left,
  &__title,
  &__right {
    align-items: center;
    display: flex;
  }

  &__left,
  &__title,
  &__right {
    height: 100%;
  }

  &__button {
    display: flex;
    height: 20px;
    padding: 3px;
    position: relative;
    width: 20px;

    * {
      color: var(--color-component-text-primary);
    }

    &:not(:last-child) {
      margin-right: 10px;
    }

    &--play-pause {
      height: 30px;
      padding: 0;
      width: 30px;

      circle {
        fill: var(--color-component-bg-primary);
      }
    }

    svg {
      height: 100%;
      width: 100%;
    }
  }

  &__title {
    background-color: var(--background-component-primary);
    border-radius: var(--border-radius-component);
    flex: 1 1 auto;
    justify-content: flex-start;
    margin: 0 10px;
    min-width: 0;
    overflow: hidden;
    padding: 0 10px 0 30px;
    position: relative;

    * {
      color: var(--color-component-text-highlight);
    }

    &__icon {
      height: 15px;
      left: 8px;
      position: absolute;
    }

    &__text,
    &__span {
      min-width: 100%;
    }
  }

  &__toggle {
    height: 30px;
    min-width: 50px;
    padding: 5px;
    width: 50px;

    &:not(:last-child) {
      margin-right: 5px;
    }

    &:not(.action-selection--active) {
      * {
        color: var(--color-component-text-primary);
      }
    }

    svg {
      height: 100%;
    }
  }

  @media screen and (max-width: $mobile-breakpoint) {
    &__toggle {
      width: 40px;
    }

    &__title {
      font-size: 12px;
    }
  }
}

.traits {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(175px, 1fr));

  .trait {
    background: var(--background-component-secondary);
    border: 1px solid var(--color-component-highlight);
    border-radius: var(--border-radius-component);
    display: flex;
    flex-direction: column;
    padding: 10px;
    text-align: center;

    &__type {
      font-size: 12px;
      font-weight: 300;
    }

    &__value {
      flex-grow: 1;
      font-size: 16px;
      font-weight: 500;
      padding: 15px 0;
    }

    &__rarity {
      color: var(--color-component-text-highlight);
      font-size: 12px;
    }
  }
}

.prices-container {
  align-items: center;
  border-radius: 6px;
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
  min-width: 275px;
  padding: 7px 15px;
  width: 100%;
}

.price-container {
  &__label {
    font-size: 14px;
    font-weight: 300;
  }

  &__price {
    font-size: 18px;
    font-weight: 500;
  }
}

.side-panel {
  .details-page {
    margin-left: auto;
    margin-right: auto;
    max-width: 400px;
  }
}










