// sass-lint:disable no-misspelled-properties

.nft-media {
  --elv-gallery-max-height: calc(100vh - 350px);
  --elv-gallery-min-height: 500px;

  padding-bottom: 20px;

  &--with-album-view {
    --elv-gallery-max-height: calc(100vh - 600px);

    .nft-media__content {
      display: grid;
      grid-template-areas:
        "target album"
        "text empty";
      grid-template-columns: 1fr max-content;
      gap: 0 20px;

      &__target-container {
        padding: 0;
      }
    }
  }

  position: relative;
  height: 100%;

  &__content {
    position: relative;
    padding-top: 40px;
    height: 100%;

    &__target-container {
      margin-inline: auto;
      max-height: var(--elv-gallery-max-height);
      height: var(--elv-gallery-max-height);
      min-height: var(--elv-gallery-min-height);
      width: 100%;
      padding: 0 60px;
      max-width: 100%;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      grid-area: target;
    }

    &__target {
      height: max-content;
      max-height: var(--elv-gallery-max-height);
      object-fit: contain;
      width: 100%;
      border: 0;
      border-radius: var(--border-radius-nft-media);

      &--frame {
        height: 100%;
      }
    }

    &__button {
      align-items: center;
      bottom: -45px;
      display: flex;
      justify-content: center;
      left: 0;
      position: absolute;
      padding: 8px;

      svg {
        height: 12px;
        width: 8px;
      }

      &--next {
        padding-right: 0;
        left: unset;
        right: 0;
      }

      &--previous {
        padding-left: 0;
      }
    }

    &__text {
      align-items: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-top: 15px;
      text-align: left;
      grid-area: text;
    }

    &__name {
      font: var(--font-nft-media-header);
      font-size: 16px;
      font-weight: 500;
      padding-inline: 40px;
    }

    &__subtitle-1 {
      font-size: 14px;
    }

    &__subtitle-2 {
      font-size: 12px;
    }

    &__description {
      font-size: 16px;
      margin-top: 20px;

      a {
        color: var(--color-nft-media-text-highlight);
      }

      h1 {
        font-size: 32px;
      }

      h2 {
        font-size: 28px;
      }

      h3 {
        font-size: 24px;
      }

      h4 {
        font-size: 20px;
      }

      h5 {
        font-size: 18px;
      }
    }
  }


  &__album-view {
    width: 400px;
    max-width: 400px;
    position: relative;
    grid-area: album;
    max-height: var(--elv-gallery-max-height);
    height: var(--elv-gallery-max-height);
    min-height: var(--elv-gallery-min-height);
    border-radius: var(--border-radius-nft-media);
    overflow: hidden;

    &__media-container {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
      max-height: 100%;
      overflow-y: auto;
      // sass-lint:disable no-misspelled-properties
      overscroll-behavior: contain;

      &--with-controls {
        padding-bottom: 50px;
      }
    }

    &__media {
      align-items: center;
      background: var(--background-nft-media-secondary);
      border: 0.5px solid transparent;
      display: flex;
      height: 100px;
      padding: 10px;
      width: 100%;
      scroll-margin: 100px;
      position: relative;

      &__image-container {
        border-radius: var(--border-radius-nft-media);
        height: 100%;
        max-width: 80px;
        min-width: 80px;
        position: relative;
        width: 100%;
      }

      &__image {
        border-radius: var(--border-radius-nft-media);
        height: 100%;
        left: 0;
        object-fit: contain;
        position: absolute;
        top: 0;
        width: 100%;

        &--fallback {
          // sass-lint:disable no-color-literals
          background: radial-gradient(ellipse at top, #333, #000);
        }
      }

      &__selected-indicator {
        @include page-fade-in(0.25s);
        bottom: 8px;
        height: 20px;
        position: absolute;
        right: 8px;
        width: 20px;

        * {
          color: var(--color-highlight-container-text);
        }

        circle {
          fill: var(--color-highlight-container-bg);
        }
      }

      &:not(:hover) {
        .details-page__media__hover-icon {
          display: none;
        }
      }

      &__details {
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: space-between;
        padding: 0 10px;
        text-align: left;
        width: calc(100% - 80px);
      }

      &__name {
        font-size: 15px;
        font-weight: 400;
        line-height: 1.2em;
        padding-right: 30px;
      }

      &__subtitle-1 {
        font-size: 11px;
        font-weight: 500;
      }

      &__subtitle-2 {
        font-size: 11px;
        font-weight: 300;
      }
    }
  }

  @media screen and (max-width: $tablet-breakpoint) {
    --elv-gallery-max-height: unset;

    &--with-album-view {
      .nft-media__content {
        grid-template-areas:
          "target"
          "text"
          "album";
      }
    }

    &__content {
      &__target-container {
        padding: 0;
        height: 100%;
        width: 100%;
        max-height: unset;
        flex-direction: column;
      }

      &__name {
        font-size: 20px;
      }

      &__subtitle-1 {
        font-size: 14px;
      }

      &__subtitle-2 {
        font-size: 12px;
      }

      &__description {
        font-size: 14px;
        max-width: unset;
      }
    }

    &__album-view {
      width: 100%;
      max-width: 100%;
      height: auto;
      max-height: 400px;
      min-height: max-content;
      margin-top: 20px;

      &__media-container {
        max-height: 400px;
      }
    }
  }
}

.nft-media-browser {
  --nft-media-carousel-height: 250px;

  &--inactive {
    .nft-media-browser__item {
      opacity: 1;
    }
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
  }

  &__list-item {
    &--active {
      * {
        color: var(--color-nft-media-text-highlight);
      }
    }

    &__image {
      height: 100%;
      width: 100%;
      object-fit: contain;
      border-radius: 6px;
    }

    &__name {
      font: var(--font-nft-media-header);
      font-size: 16px;
      font-weight: 600;
    }

    &__subtitle-1,
    &__subtitle-2 {
      font: var(--font-nft-media-misc);
      font-size: 12px;
    }
  }

  &__featured {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
    flex-wrap: wrap;
    gap: 15px;
    margin: 30px 0;

    &--locked {
      grid-template-columns: 1fr;
    }
  }

  &__locked-featured-item,
  &__featured-item {
    background: var(--color-nft-media-bg-primary);
    border: 0;
    border-radius: var(--border-radius-nft-media-featured);
    display: flex;
    flex: 1 1 50%;
    width: 100%;
    padding: 25px 50px 25px 25px;

    * {
      font-family: var(--font-nft-media-text);
    }

    &__image-container {
      border-radius: var(--border-radius-nft-media-featured);
      height: 150px;
      margin-right: 30px;
      overflow: hidden;
      width: 150px;
    }

    &__image {
      height: 100%;
      object-fit: cover;
      object-position: center;
      width: 100%;
    }

    &__content {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    &__name {
      color: var(--color-nft-media-text-primary);
      font-size: 32px;
      margin-top: 5px;
    }

    &__subtitle-1 {
      color: var(--color-nft-media-text-secondary);
      font-size: 16px;
      margin-top: 5px;
      font-weight: 500;
      text-transform: uppercase;
    }

    &__subtitle-2 {
      color: var(--color-nft-media-text-highlight);
      font-size: 12px;
      text-transform: uppercase;
    }
  }

  &__locked-featured-item {
    max-width: 100%;
    position: relative;
    overflow: hidden;
    padding: 50px 100px 50px 50px;
    min-width: 100%;

    * {
      &:not(.nft-media__locked-featured-item__background-image) {
        z-index: 1;
      }
    }

    &__content {
      margin-right: 30px;
    }

    &__subtitle-1 {
      color: var(--color-nft-media-text-primary);
    }

    &__subtitle-2 {
      color: var(--color-nft-media-text-secondary);
    }

    &__description {
      margin-top: 20px;
      color: var(--color-nft-media-text-secondary);
      font: var(--font-nft-media-misc);
    }

    &__actions {
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;
    }

    &__button {
      background-color: var(--color-nft-media-bg-primary);
      color: var(--color-nft-media-text-highlight);
      padding: 25px 50px;
      border-radius: var(--border-radius-nft-media-featured);
      text-align: center;
      width: max-content;
      text-transform: uppercase;

      &:hover {
        color: var(--color-nft-media-text-highlight);
      }
    }

    &__image-container {
      min-height: 300px;
      min-width: 300px;
      height: 300px;
      width: 300px;
      margin-right: 50px;
    }

    &__background-image {
      display: flex;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      max-height: 100%;
      max-width: 100%;
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }

  &__section {
    background: var(--color-nft-media-bg-primary);
    border: 0;
    border-radius: var(--border-radius-nft-media);
    overflow: hidden;

    &__header {
      font: var(--font-nft-media-misc);
      font-size: 16px;
      padding: 25px 70px 25px 60px;
      text-transform: uppercase;
      display: flex;
      align-items: center;
      position: relative;
      width: 100%;

      * {
        font: var(--font-nft-media-header);
        font-size: 16px;
      }
    }

    &__header-icon {
      height: 18px;
      width: 18px;
      margin-right: 10px;

      svg {
        height: 100%;
        width: 100%;
        object-fit: contain;
      }
    }

    &__content {
      background: var(--color-nft-media-bg-secondary);
    }
  }

  &__collection {
    background: var(--color-nft-media-bg-primary);
    border: 0;
    border-radius: var(--border-radius-nft-media);
    overflow: hidden;

    &--album {
      --nft-media-carousel-height: 215px;
    }

    &:not(:last-child) {
      margin-bottom: 30px;
    }

    &__header {
      padding: 20px 70px 20px 60px;
      position: relative;
      width: 100%;
      display: flex;
      align-items: center;

      * {
        font: var(--font-nft-media-header);
        font-size: 16px;
      }
    }

    &__content {
      padding: 0 60px 10px;
      width: 100%;
      display: flex;
      align-items: center;
      position: relative;
    }
  }

  &__carousel {
    position: relative;
    padding-right: 50px;
    height: calc(var(--nft-media-carousel-height) + 45px);
    width: 100%;

    &__arrow {
      height: max-content;
      width: max-content;
      position: absolute;
      margin-bottom: 20px;
      transition: opacity 0.35s ease-out;
      padding: 6px;

      svg {
        stroke-width: 2px;
        width: 8px;
        height: 14px;
      }

      &--previous {
        left: 25px;
      }

      &--next {
        right: 25px;
      }

      &.swiper-button-disabled {
        opacity: 0;
        cursor: auto;
      }
    }

    .swiper-button-disabled {
      opacity: 0;
    }
  }

  &__item-slide {
    width: var(--nft-media-carousel-height);
    max-width: var(--nft-media-carousel-height);
    height: calc(var(--nft-media-carousel-height));
    max-height: calc(var(--nft-media-carousel-height));

    &--wide {
      max-width: calc(#{var(--nft-media-carousel-height)} * 1.5);
      width: calc(#{var(--nft-media-carousel-height)} * 1.5);
    }

    &--tall {
      max-width: calc(#{var(--nft-media-carousel-height)} * 0.75);
      width: calc(#{var(--nft-media-carousel-height)} * 0.75);
    }
  }

  &__item {
    width: 100%;
    max-width: 100%;
    opacity: 0.65;

    &.active {
      opacity: 1;
    }

    &:not(:last-child) {
      margin-right: 20px;
    }

    &__image-container {
      border-radius: 12px;
      height: 100%;
      overflow: hidden;
      width: 100%;
    }

    &__image {
      height: 100%;
      object-fit: cover;
      object-position: center;
      width: 100%;
    }

    &__name {
      font: var(--font-nft-media-header);
      font-size: 12px;
      font-weight: 500;
      margin-top: 10px;
    }
  }

  @media screen and (max-width: $breakpoint) {
    &__locked-featured-item {
      padding: 30px;

      &__content {
        width: 100%;
      }

      &__button {
        font-size: 14px;
        padding: 20px 40px;
      }

      &__image-container {
        min-width: 200px;
        min-height: 200px;
        width: 200px;
        height: 200px;
      }
    }
  }

  @media screen and (max-width: $tablet-breakpoint) {
    --nft-media-carousel-height: 100px;

    &__carousel {
      &__shadow {
        display: none;
      }
    }

    &__locked-featured-item {
      flex-direction: column;
      justify-content: center;
      align-items: center;

      &__image-container,
      &__content {
        margin: 0 0 30px;
        text-align: center;
      }
    }

    &__section,
    &__collection {
      &__header {
        padding: 15px 40px 15px 15px;
        font-size: 14px;
      }

      &__content {
        padding: 10px;
      }
    }

    &__item {
      &__name {
        font-size: 12px;
      }
    }
  }

  @media screen and (max-width: $mobile-breakpoint) {
    &__featured-item {
      align-items: center;
      flex-direction: column;
      justify-content: center;
      margin: auto;
      padding: 30px;
      width: 100%;

      &__content {
        width: 100%;
      }

      &__image-container {
        aspect-ratio: 1 / 1;
        height: auto;
        margin: 0 0 20px;
        width: 100%;
      }

      &__name {
        margin: 0;
      }
    }
  }
}

.app--centered {
  .nft-media-browser {
    &__list-item {
      * {
        text-align: center;
      }
    }

    &__item {
      &__name {
        text-align: center;
      }
    }
  }
}
