.details-page {
  max-width: 100%;
  overflow-x: hidden;
  padding-bottom: 10px;
  width: 100%;

  &__card-padding-container {
    background: $lightergray;
    border-radius: 10px;
    padding: 0;
  }

  &__card-container {
    background: $white;
    border-radius: 10px;
    display: block;
    margin: 0 auto;
    width: 100%;
  }

  &__content__header {
    font-weight: 500;
  }

  &__content__id {
    color: $darkgray;
    font-style: italic;
    letter-spacing: 0.05em;
    text-align: center;
  }

  .card {
    &__title {
      font-size: 20px;
    }

    &__subtitle,
    &__stock {
      font-size: 16px;
    }

    &__subtitle {
      margin: 5px 0;
    }
  }

  // sass-lint:disable force-element-nesting
  &__open-button .button,
  &__delete-button .button,
  &__transfer-details__opensea-button,
  .lookout-url {
    align-items: center;
    background-color: $blue;
    border: 0;
    border-radius: 3px;
    color: $white;
    display: flex;
    justify-content: center;
    margin: 10px auto;
    max-width: 300px;
    padding: 0 30px;
    text-align: center;

    &.button {
      border: 0;
    }

    &:hover {
      color: $white;
    }
  }
  // sass-lint:enable force-element-nesting

  &__open-button {
    .button {
      margin: 25px auto;
    }
  }

  &__transfer-details {
    font-size: 14px;
    font-weight: 400;
    margin: 15px 0 0;
    text-align: center;
  }

  &__transfer-success {
    font-size: 14px;
    margin: 15px 0;

    h3 {
      font-weight: normal;
      margin-bottom: 10px;
    }

    a {
      margin-top: 20px;
      width: max-content;
    }
  }

  &__transfer-details__hash {
    font-size: 10px;
    margin: 30px auto 0;
    word-wrap: anywhere;
  }

  &__transfer-error {
    color: $red;
  }

  &__transfer-buttons {
    margin-top: 20px;
    padding: 0 10px;
    width: 100%;
  }

  &__transfer-button {
    width: 100%;

    &:not(:last-child) {
      margin-bottom: 10px;
    }

    &:disabled {
      cursor: initial;
      opacity: 0.5;
    }
  }

  &__transfer-link {
    align-items: center;
    display: flex;
    justify-content: center;
  }

  .lookout-url {
    padding: 10px 30px;
  }

  &__delete-button {
    .button {
      background: $darkgray;
      border: 0;
    }
  }

  &__description {
    margin-bottom: 20px;
  }

  &__rich-text {
    p,
    a {
      font-size: 12px;
      margin: 10px 0;
    }

    a {
      color: $blue;
    }
  }

  @media screen and (min-width: $tablet-breakpoint) {
    align-content: start;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 5fr minmax(0, 4fr);

    &__card-padding-container {
      padding: 20px;
    }

    .expandable-section {
      &:first-child {
        margin-top: 0;
      }
    }
  }

  @media screen and (max-width: $tablet-breakpoint) {
    &__info {
      margin-top: 20px;
    }

    .card {
      &__title {
        font-size: 13px;

        &__price {
          font-size: 12px;
        }
      }

      &__subtitle,
      &__stock {
        font-size: 12px;
      }
    }
  }
}

.dark {
  .details-page {
    &__content__id {
      color: $gray;
    }

    &__card-padding-container {
      background: $darkestgray;
    }

    &__rich-text {
      a {
        color: $blue;
      }
    }

    &__transfer-error {
      color: $red;
    }
  }
}

.side-panel {
  .details-page {
    margin-left: auto;
    margin-right: auto;
    max-width: 400px;
  }
}
