.details-page {
  max-width: 100%;
  overflow: visible;
  padding: 40px 0 15px;
  position: relative;
  width: 100%;

  &__tables {
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr;

    .stats {
      margin: 0;
    }
  }

  &__nft-info {
    margin-bottom: 40px;
    position: relative;

    &__name {
      font: var(--font-card-title);
      font-size: 28px;
      font-weight: 600;
      margin-bottom: 15px;
      padding-right: 50px;
      text-transform: uppercase;
    }

    &__status,
    &__subtitle-container {
      align-content: center;
      display: flex;
      font-weight: 600;
      letter-spacing: 0.03em;
      text-transform: uppercase;

      * {
        font: var(--font-card-misc);
        font-size: 14px;
      }
    }

    &__status {
      gap: 20px;
    }

    &__status__offer {
      color: var(--color-text-highlight);
    }

    &__owner {
      align-items: center;
      display: flex;
      margin-top: 30px;
      width: max-content;
    }

    &__owner-image-container {
      height: 50px;
      margin-right: 10px;
      width: 50px;
    }

    &__owner-name {
      color: var(--color-text-secondary);
      font-size: 16px;
    }

    &__owner-address {
      font-size: 12px;
    }

    &__edition {
      margin-right: 20px;
    }

    &__token-container {
      align-content: center;
      display: flex;
    }

    &__token {
      color: var(--color-card-text-secondary);
      margin-right: 4px;
      width: max-content;

      &--highlight {
        color: var(--color-card-text-highlight);
      }
    }

    &__description {
      color: var(--color-card-text-secondary);
      font-size: 14px;
      margin: 20px 0 35px;
    }

    &--default {
      display: none;
    }

    &--mobile {
      margin: 20px 0 40px;
    }

    &__buttons {
      position: absolute;
      right: 0;
      top: 0;
      width: max-content;
    }

    .menu-button {
      height: 35px;
      width: 35px;
    }

    @media screen and (min-width: $tablet-breakpoint) {
      &--default {
        display: block;
      }

      &--mobile {
        display: none;
      }
    }

    @media screen and (max-width: $breakpoint) {
      &__name {
        font-size: 24px;
      }
    }

    @media screen and (max-width: $tablet-breakpoint) {
      text-align: center;

      * {
        justify-content: center;
      }

      &__name {
        font-size: 22px;
      }
    }

    @media screen and (max-width: $mobile-breakpoint) {
      &__name {
        font-size: 20px;
        padding-inline: 40px;
      }

      &__subtitle-container {
        flex-direction: column;
      }

      &__edition {
        margin: 0;
      }
    }
  }

  &__tabbed-content {
    &__tabs {
      display: flex;
      gap: 10px;
      justify-content: flex-start;
      margin: 5px 0 10px;
    }

    &__tab {
      align-items: center;
      display: flex;
      font: var(--font-component-misc);
      justify-content: center;
      text-transform: uppercase;

      svg {
        height: 25px;
        margin-right: 15px;
        width: 25px;
      }

      &--active {
        * {
          color: var(--color-component-text-highlight);
        }
      }
    }
  }

  &__offer {
    .item-card__title {
      font-size: 24px;
      margin: 10px 0;
    }

    .item-card__description {
      p {
        font-size: 14px;
        line-height: 1.5em;
      }
    }
  }

  &__back-link {
    align-items: center;
    display: flex;
    font-size: 12px;
    height: 20px;
    left: 0;
    position: absolute;
    text-transform: uppercase;
    top: 5px;
    z-index: 1;

    svg {
      height: 20px;
      margin-right: 15px;
      width: 20px;
    }

    &__text {
      max-width: 250px;
    }
  }

  &__test-banner {
    background: var(--color-component-bg-primary);
    border: 1px solid var(--color-text-error);
    border-radius: 5px;
    color: var(--color-text-error);
    font-weight: bold;
    margin: 10px 0;
    padding: 10px;
    text-align: center;
    width: 100%;
  }

  &-message {
    align-items: center;
    display: flex;
    flex: 1 1 100%;
    height: 100%;
    justify-content: center;
  }

  &__message-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    width: 100%;
  }

  &__message,
  &__sub-message {
    font-size: 18px;
    font-weight: 300;
    margin: 16px 0;
    max-width: 800px;
    text-align: center;
    word-wrap: anywhere;
  }

  &__sub-message {
    font-size: 14px;
  }

  .actions-container {
    align-items: center;
    display: flex;
    margin-top: 100px;

    .action {
      align-items: center;
      display: flex;
      height: 45px;
      justify-content: center;
      padding: 0 15px;
      width: 200px;

      &:not(:last-child) {
        margin-right: 10px;
      }
    }
  }

  &__content__header {
    font-weight: 500;
  }

  &__actions {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 15px 0 20px;

    &:empty {
      display: none;
    }

    &__message {
      margin-bottom: 20px;
    }

    .action {
      width: 100%;

      & + .action {
        margin-top: 10px;
      }
    }
  }

  &__detail-field {
    margin-top: 5px;

    a {
      color: var(--color-text-highlight);
    }
  }

  .expandable-section {
    line-height: 1.25;

    &__actions {
      .action {
        max-width: 475px;
        width: 100%;

        & + .action {
          margin-top: 10px;
        }
      }
    }
  }

  &__transfer-details {
    font-size: 14px;
    font-weight: 400;
    margin: 15px auto 0;
    max-width: 475px;
    text-align: center;
  }

  &__held-message {
    font-weight: 600;
  }

  &__transfer-success {
    font-size: 14px;
    margin: 15px 0;

    h3 {
      font-weight: normal;
      margin-bottom: 10px;
    }

    a {
      margin-top: 20px;
      width: max-content;
    }
  }

  &__transfer-details__hash {
    font-size: 10px;
    margin: 30px auto 0;
    word-wrap: anywhere;
  }

  &__transfer-error {
    color: var(--color-text-error);
  }

  &__transfer-buttons {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 20px;
    padding: 0 10px;
    width: 100%;
  }

  &__transfer-button {
    width: 100%;

    &:disabled {
      cursor: initial;
      opacity: 0.5;
    }
  }

  &__transfer-link {
    align-items: center;
    display: flex;
    justify-content: center;
  }

  &__description {
    margin-bottom: 20px;
  }

  .marketplace__section,
  .transfer-table {
    margin: 0 0 10px;
  }

  &__rich-text {
    margin-bottom: 50px;

    p,
    a {
      font-size: 12px;
      margin: 10px 0;
    }

    a {
      color: var(--color-component-text-highlight);
    }
  }

  &__listing-info {
    margin-bottom: 20px;

    * {
      text-align: center;
    }
  }

  &__listing-info__header {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 20px;
  }

  &__listing-price-label {
    font-size: 14px;
    font-weight: 300;
  }

  &__listing-price-value {
    align-items: center;
    display: flex;
    font-size: 18px;
    font-weight: bold;
    justify-content: center;

    svg,
    img {
      height: 20px;
      margin-right: 5px;
    }
  }

  .stats {
    &__label {
      font-size: 14px;
    }

    &__value {
      font-size: 20px;
    }
  }

  .item-card {
    &__image {
      background: $black;
    }
  }

  &__voting-button {
    height: max-content;
    min-height: 50px;
    padding-bottom: 10px;
    padding-top: 10px;

    .action-with-loader__content {
      display: flex;
      flex-wrap: wrap;
      gap: 5px 20px;
      justify-content: center;
    }

    &__status {
      align-items: center;
      display: flex;
      gap: 6px;
    }

    &__total {
      color: var(--color-component-text-highlight);
    }

    svg {
      height: 16px;
      width: 16px;
    }
  }

  &__voting-details {
    font-size: 16px;
    line-height: 1.5em;

    &:not(:last-child) {
      margin-bottom: 20px;
    }

    &__title {
      font-size: 18px;
      font-weight: bold;
    }

  }

  @media screen and (min-width: $tablet-breakpoint) {
    .details-page__main-content {
      align-content: start;
      display: grid;
      grid-gap: 30px;
      grid-template-columns: minmax(400px, 1fr) minmax(0, 1.5fr);
    }

    .expandable-section {
      &:first-child {
        margin-top: 0;
      }
    }

    .stats {
      &__label {
        font-size: 14px;
      }

      &__value {
        font-size: 16px;
      }
    }
  }

  @media screen and (max-width: $tablet-breakpoint) {
    &__message {
      font-size: 16px;
      padding: 0 20px;
    }

    .actions-container {
      flex-direction: column;
      margin-top: 40px;

      .action {
        &:not(:last-child) {
          margin: 0 0 10px;
        }
      }
    }

    &__info {
      margin-top: 20px;
    }

    &__tabbed-content {
      &__tabs {
        flex-wrap: wrap;
        justify-content: center;
      }

      &__tab {
        flex: 1 1 100%;
        font-size: 12px;
        height: 30px;
        max-width: 150px;
        min-width: unset;

        svg {
          display: none;
        }
      }
    }
  }

  @media screen and (max-width: $mobile-breakpoint) {
    &__tabbed-content {
      &__tab {
        max-width: unset;
      }
    }
  }
}

.traits {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(175px, 1fr));

  .trait {
    background: var(--background-component-secondary);
    border: 1px solid var(--color-component-highlight);
    border-radius: var(--border-radius-component);
    display: flex;
    flex-direction: column;
    padding: 10px;
    text-align: center;

    &__type {
      font-size: 12px;
      font-weight: 300;
    }

    &__value {
      flex-grow: 1;
      font-size: 16px;
      font-weight: 500;
      padding: 15px 0;
    }

    &__rarity {
      color: var(--color-component-text-highlight);
      font-size: 12px;
    }
  }
}

.prices-container {
  align-items: center;
  border-radius: 6px;
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
  min-width: 275px;
  padding: 7px 15px;
  width: 100%;
}

.price-container {
  &__label {
    font-size: 14px;
    font-weight: 300;
  }

  &__price {
    font-size: 18px;
    font-weight: 500;
  }
}

.side-panel {
  .details-page {
    margin-left: auto;
    margin-right: auto;
    max-width: 400px;
  }
}

.redeemable-offers {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  margin-top: 30px;
}

.redeemable-offer,
.redeemable-offer-modal {
  .modal__content {
    height: max-content;
    max-height: unset;
    max-width: 550px;
    overflow-y: hidden;
    padding-bottom: 5vh;
    padding-right: 8px;
    top: 5vh;
    width: 100%;
  }

  &__container {
    @include component;
    padding: 20px 0;
  }

  &__content {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px 75px 30px;
    width: 100%;
  }

  &__header {
    align-items: center;
    display: flex;
    flex-direction: column;
    font: var(--font-component-header);
    font-size: 32px;
    justify-content: space-between;
    padding: 30px;
    text-align: center;
    text-transform: uppercase;
  }

  &__subheader,
  &__footer {
    color: var(--color-component-text-secondary);
    opacity: 0.8;
    text-align: center;
  }

  &__loader {
    height: 400px;
  }

  &__image-container {
    margin: 10px 0;
    max-width: 325px;
    width: 100%;
  }

  &__image,
  canvas {
    // sass-lint:disable no-important
    border-radius: var(--border-radius-component);
    height: auto !important;
    width: 100% !important;
  }

  &__name {
    font-size: 26px;
    margin-top: 10px;
  }

  &__description {
    font-weight: 300;
    margin-bottom: 20px;
    text-align: center;
  }

  &__message {
    align-items: center;
  }

  &__redeem-message {
    font-size: 20px;
    margin-bottom: 30px;
  }

  &__code-header {
    font-size: 14px;
    margin-top: 50px;
    text-transform: uppercase;
  }

  &__code {
    color: var(--color-component-text-highlight);
    font-size: 32px;
    margin-top: 10px;
  }

  &__link {
    max-width: 300px;
    text-decoration: underline;
  }

  &__cta {
    color: var(--color-component-text-highlight);
    font-size: 20px;
    text-decoration: underline;
    text-transform: uppercase;
  }

  &__date-container {
    margin-top: 20px;
  }

  &__date-header {
    color: var(--color-component-text-highlight);
    font-size: 14px;
    font-weight: 300;
    margin-bottom: 10px;
    text-transform: uppercase;
  }

  &__date {
    font-size: 20px;
    font-weight: 300;
    margin-bottom: 30px;
  }

  &__actions {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
  }

  &__lookout-url {
    color: var(--color-component-text-highlight);
    margin-top: 20px;
  }


  @media screen and (max-width: $mobile-breakpoint) {
    .modal__content {
      border: 0;
      max-width: unset;
      min-height: 100%;
      padding: 0;
      top: 0;
    }

    &__container {
      border: 0;
    }

    &__content {
      padding-inline: 25px;
    }
  }
}

.redeemable-offer {
  @include component;
  align-items: center;
  display: flex;
  flex: 1 1 100%;
  flex-direction: column;
  justify-content: center;
  max-width: calc(#{$extra-large-breakpoint} / 3 - 30px);
  padding: 0 30px 30px;
  width: 100%;

  &__header {
    color: var(--color-component-text-highlight);
    font-size: 26px;
    padding-left: 0;
    padding-right: 0;
  }

  &--redeemed {
    *:not(.redeemable-offer__cta) {
      color: var(--color-component-text-secondary);
      opacity: 0.8;
    }
  }
}
