// sass-lint:disable no-misspelled-properties

.nft-media {
  --elv-gallery-max-height: calc(100vh - 200px);
  --elv-gallery-min-height: 500px;

  position: relative;
  padding: 20px 0;

  &__content {
    position: relative;
    padding-top: 40px;
    height: 100%;

    &__target-container {
      margin-inline: auto;
      max-height: var(--elv-gallery-max-height);
      height: var(--elv-gallery-max-height);
      min-height: var(--elv-gallery-min-height);
      width: 100%;
      max-width: 100%;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      grid-area: target;

      .-elv-player-target,
      video {
        max-height: calc((100vw - 100px) * 9 / 16) !important;
      }
    }

    &__target {
      max-height: var(--elv-gallery-max-height);
      max-width: calc(#{var(--elv-gallery-max-height)} * 16 / 9);
      object-fit: contain;
      width: 100%;
      border: 0;
      border-radius: var(--border-radius-nft-media);

      &--frame {
        height: 100%;
      }

      &--error {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        height: 100%;
        width: 100%;
        position: relative;
        overflow: hidden;
        background: #000;

        * {
          color: #fff;
        }
      }

      &__error-icon {
        margin-bottom: 10px;
        height: 50px;
        width: 50px;
        z-index: 1;
      }

      &__error-message {
        z-index: 1;
      }

      &__error-cover,
      &__error-image {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      &__error-cover {
        background: rgba(0,0,0,0.7);
      }
    }

    &__button {
      align-items: center;
      top: 10px;
      height: max-content;
      display: flex;
      justify-content: center;
      position: absolute;
      padding: 8px;

      svg {
        height: 12px;
        width: 8px;
      }

      &--next {
        position: absolute;
        padding-right: 0;
        left: unset;
        right: 0;
      }

      &--previous {
        position: absolute;
        left: 0;
        padding-left: 0;
      }

      &--qr {
        margin-top: 10px;
        position: relative;
        height: 50px;

        .nft-media__content__button__text {
          color: var(--color-nft-media-text-highlight);
          padding: 0;
        }

        svg {
          height: 22px;
          width: 22px;
          margin-right: 15px;

          * {
            color: var(--color-nft-media-text-highlight);
          }
        }
      }

      &__text {
        font-size: 14px;
        padding: 2px 10px 0;
        max-width: 300px;
        color: var(--color-nft-media-text-secondary);
      }
    }

    &__text {
      position: relative;
      align-items: center;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      margin-top: 15px;
      grid-area: text;
      min-height: 75px;
    }

    &__name,
    &__subtitle-1,
    &__subtitle-2 {
      width: 100%;
      max-width: 600px;
      text-align: center;
    }

    &__name {
      font: var(--font-nft-media-header);
      font-size: 16px;
      font-weight: 500;
    }

    &__subtitle-1 {
      font-size: 14px;
      width: 100%;
    }

    &__subtitle-2 {
      font-size: 12px;
      width: 100%;
    }

    &__description {
      font-size: 16px;
      margin-top: 40px;
      width: 100%;

      a {
        color: var(--color-nft-media-text-highlight);
      }

      h1 {
        font-size: 32px;
      }

      h2 {
        font-size: 28px;
      }

      h3 {
        font-size: 24px;
      }

      h4 {
        font-size: 20px;
      }

      h5 {
        font-size: 18px;
      }
    }
  }




  @media screen and (min-width: $tablet-breakpoint) {
    &__content__text {
      margin-top: 22px;
    }

    &__content__button {
      background: var(--color-nft-media-bg-secondary);
      bottom: -50px;
      border-radius: var(--border-radius-button-secondary);
      padding-inline: 10px;

      &:not(&--qr) {
        svg {
          display: none;
        }
      }

      &--qr {
        padding-inline: 35px;
      }

      &__text {
        font-size: 14px;
        max-width: 250px;
      }

      &--next {
        * {
          color: var(--color-nft-media-text-highlight);
        }
      }
    }
  }

  @media screen and (max-width: $breakpoint) {
    &__content {
      &__name,
      &__subtitle-1,
      &__subtitle-2 {
        max-width: 400px;
        padding-inline: 20px;
      }

      &__button__text {
        max-width: 175px;
        font-size: 12px;
      }
    }
  }

  @media screen and (max-width: $tablet-breakpoint) {
    --elv-gallery-min-height: 50vh;
    --elv-gallery-max-height: 75vh;

    iframe {
      min-height: var(--elv-gallery-max-height);
    }

    &__content {
      &__button--qr {
        display: none;
      }

      &__target-container {
        padding: 0;
        height: 100%;
        width: 100%;
        max-height: unset;
        flex-direction: column;
        justify-content: flex-end;
      }

      &__name {
        font-size: 20px;
      }

      &__subtitle-1 {
        font-size: 14px;
      }

      &__subtitle-2 {
        font-size: 12px;
      }

      &__description {
        font-size: 14px;
        max-width: unset;
      }

      &__button__text {
        display: none;
      }
    }
  }
}

.nft-media-album {
  position: relative;
  padding: 20px 0;

  .nft-media__content__text {
    padding-right: 20px;

    * {
      padding: 0;
      text-align: left;
    }
  }

  .nft-media__content__name {
    font-size: 20px;
    max-width: unset;
  }

  .nft-media__content__description {
    margin-top: 20px;
  }

  .nft-media__content__target {
    height: 100%;

    &:not(&--error) {
      background: #000;
    }
  }

  &__row {
    display: flex;
    width: 100%;
    padding-bottom: 15px;

    &--content {
      aspect-ratio: 2/1;
      margin-top: 20px;
    }
  }

  &__row-placeholder,
  .nft-media__content__text {
    width: 100%;
    height: 100%;
    flex: 1 1 100%;
  }

  &__content {
    &__target-border {
      align-items: center;
      display: flex;
      position: relative;
      margin-right: 30px;
      background: var(--background-nft-media-album-content);
      border: var(--border-nft-media-album-content);
      box-shadow: var(--box-shadow-nft-media-album-content);
      border-radius: var(--border-radius-nft-media-album-content);
    }

    &__target-border,
    &__target-container,
    .nft-media__content__target {
      width: 100%;
      height: 100%;
      border-radius: var(--border-radius-nft-media-album-content);
    }

    &__target-container {
      padding: var(--border-width-nft-media-album-content);
    }

    .nft-media__content__target {
      background: #000;
      height: 100%;
      max-height: unset;
      min-height: unset;
    }
  }

  &__text-container {
    &--description {
      background: var(--background-nft-media-album-content);
      border: var(--border-nft-media-album-content);
      box-shadow: var(--box-shadow-nft-media-album-content);
      border-radius: var(--border-radius-nft-media-album-content);

      .nft-media__content__text {
        padding: var(--border-width-nft-media-album-content);
      }

      .nft-media__content__name {
        font-weight: 600 !important;
      }
    }

    &--mobile {
      .nft-media__content__name,
      .nft-media__content__subtitle1,
      .nft-media__content__subtitle2 {
        text-align: center;
      }

    }
  }

  &__album-view {
    width: 100%;
    position: relative;
    grid-area: album;
    border-radius: var(--border-radius-nft-media);
    height: 100%;
    overflow: hidden;
    box-shadow: var(--box-shadow-nft-media-album-list);
    border: var(--border-nft-media-album-list);

    &__media-container {
      min-height: 100%;
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
      grid-template-rows: max-content;
      max-height: 100%;
      overflow-y: auto;
      // sass-lint:disable no-misspelled-properties
      overscroll-behavior: contain;
      background: var(--background-nft-media-secondary);
      padding-top: 10px;
      align-content: start;

      &--with-controls {
        padding-bottom: 50px;
      }
    }

    &__media {
      align-items: center;
      background: var(--background-nft-media-secondary);
      border: 0.5px solid transparent;
      display: flex;
      height: 100px;
      padding: 10px;
      width: 100%;
      scroll-margin: 100px;
      position: relative;

      &__track-number {
        padding-left: 10px;
        width: 45px;
        font-weight: 500;
      }

      &__image-container {
        border-radius: var(--border-radius-nft-media);
        height: 100%;
        max-width: 80px;
        min-width: 80px;
        position: relative;
        width: 100%;
      }

      &__image {
        border-radius: var(--border-radius-nft-media);
        height: 100%;
        left: 0;
        object-fit: contain;
        position: absolute;
        top: 0;
        width: 100%;

        &--fallback {
          // sass-lint:disable no-color-literals
          background: radial-gradient(ellipse at top, #333, #000);
        }
      }

      &__selected-indicator {
        @include page-fade-in(0.25s);
        bottom: 8px;
        height: 20px;
        position: absolute;
        right: 8px;
        width: 20px;

        * {
          color: var(--color-highlight-container-text);
        }

        circle {
          fill: var(--color-highlight-container-bg);
        }
      }

      &:not(:hover) {
        .details-page__media__hover-icon {
          display: none;
        }
      }

      &__details {
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: center;
        padding: 0 10px;
        text-align: left;
        width: calc(100% - 120px);
      }

      &__subtitles {
        margin-top: 3px;
      }

      &__name {
        font-size: 15px;
        font-weight: 400;
        line-height: 1.2em;
        padding-right: 30px;
      }

      &__subtitle-1 {
        font-size: 11px;
        font-weight: 500;
      }

      &__subtitle-2 {
        font-size: 11px;
        font-weight: 300;
      }
    }
  }

  @media screen and (min-width: $tablet-breakpoint) {
    .nft-media__content__text {
      margin: 0;
    }

    &__text-container--mobile {
      display: none;
    }
  }

  @media screen and (max-width: $tablet-breakpoint) {
    &__text-container--desktop {
      display: none;
    }

    .nft-media__content__text {
      margin-bottom: 40px;
    }

    &__row {
      flex-direction: column;
      aspect-ratio: unset;
      padding: 0;
    }

    &__content__target-border {
      aspect-ratio: 1/1;
    }

    &__album-view {
      &__media__name {
        padding-right: 70px;

      }

      &__album-view {
        max-height: 600px;
      }
    }
  }
}

.nft-media-browser {
  --nft-media-carousel-height: 250px;

  &__list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
  }

  &__list-item {
    &--active {
      * {
        color: var(--color-nft-media-text-highlight);
      }
    }

    &__image {
      height: 100%;
      width: 100%;
      object-fit: contain;
      border-radius: 6px;
    }

    &__name {
      font: var(--font-nft-media-header);
      font-size: 16px;
      font-weight: 600;
    }

    &__subtitle-1,
    &__subtitle-2 {
      font: var(--font-nft-media-misc);
      font-size: 12px;
    }
  }

  &__featured {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin: 30px 0;
  }

  &__large-featured-item,
  &__featured-item {
    background: var(--background-nft-media-featured);
    border: 0;
    border-radius: var(--border-radius-nft-media-featured);
    display: flex;
    flex: 1 1 50%;
    width: 100%;
    padding: 50px 100px 50px 50px;

    * {
      font-family: var(--font-nft-media-text);
    }

    &__image-container {
      border-radius: var(--border-radius-nft-media-featured);
      height: 150px;
      min-height: 150px;
      margin-right: 30px;
      overflow: hidden;
      width: 150px;
      min-width: 150px;
    }

    &__image {
      height: 100%;
      object-fit: cover;
      object-position: center;
      width: 100%;
    }

    &__content {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    &__name {
      color: var(--color-nft-media-text-primary);
      font-size: 28px;
      margin-top: 5px;
    }

    &__subtitle-1 {
      color: var(--color-nft-media-text-secondary);
      font-size: 16px;
      margin-top: 5px;
      font-weight: 500;
      text-transform: uppercase;
    }

    &__subtitle-2 {
      color: var(--color-nft-media-text-highlight);
      font-size: 12px;
      text-transform: uppercase;
    }
  }

  &__large-featured-item {
    max-width: 100%;
    position: relative;
    overflow: hidden;
    min-width: 100%;

    * {
      &:not(.nft-media__large-featured-item__background-image) {
        z-index: 1;
      }
    }

    &__content {
      flex: 1 1 100%;
      margin-right: 30px;
    }

    &__subtitle-1 {
      color: var(--color-nft-media-text-primary);
    }

    &__subtitle-2 {
      color: var(--color-nft-media-text-secondary);
    }

    &__description {
      margin-top: 20px;
      color: var(--color-nft-media-text-secondary);
      font: var(--font-nft-media-misc);
    }

    &__actions {
      display: flex;
      align-items: flex-end;
      flex-direction: column;
      justify-content: center;
      flex: 1 1 0;
    }

    &__button {
      padding: 25px 40px;
      border-radius: var(--border-radius-nft-media-featured);
      min-width: 250px;
      min-height: 80px;
      height: max-content;
      width: max-content;
      text-align: center;
      text-transform: uppercase;
      font-weight: 500;
      font-size: 16px;
    }

    &__image-container {
      min-height: 300px;
      min-width: 300px;
      height: 300px;
      width: 300px;
      margin-right: 50px;
    }

    &__background-image {
      display: flex;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      max-height: 100%;
      max-width: 100%;
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }

  &__section {
    margin-bottom: 25px;
    background: var(--color-nft-media-bg-primary);
    border: 0;
    border-radius: var(--border-radius-nft-media);
    overflow: hidden;

    &--active {
      .nft-media-browser__section__header {
        * {
          color: var(--color-nft-media-text-highlight);
        }
      }
    }

    &--locked {
      margin-bottom: 12px;

      .nft-media-browser__section__header {
        padding-bottom: 25px;
      }
    }

    &__header {
      font: var(--font-nft-media-misc);
      font-size: 16px;
      padding: 25px 70px 15px 60px;
      text-transform: uppercase;
      display: flex;
      align-items: center;
      position: relative;
      width: 100%;

      * {
        font: var(--font-nft-media-header);
        font-size: 16px;
      }
    }

    &__header-icon {
      height: 18px;
      width: 18px;
      margin-right: 10px;

      svg {
        height: 100%;
        width: 100%;
        object-fit: contain;
      }
    }

    &__content {
      background: var(--color-nft-media-bg-primary);
    }
  }

  &__collection {
    background: var(--color-nft-media-bg-primary);
    border: 0;
    border-radius: var(--border-radius-nft-media);
    overflow: hidden;

    &--active {
      background: var(--color-nft-media-bg-active);
    }

    &--album {
      --nft-media-carousel-height: 215px;
    }

    &:not(:last-child) {
      margin-bottom: 20px;
    }

    &__header {
      padding: 15px 70px 10px 60px;
      position: relative;
      width: 100%;
      display: flex;
      align-items: center;

      * {
        font: var(--font-nft-media-header);
        font-size: 16px;
      }
    }

    &__content {
      padding: 0 60px 10px;
      width: 100%;
      display: flex;
      align-items: center;
      position: relative;
    }
  }

  &__carousel {
    position: relative;
    padding-right: 50px;
    height: calc(var(--nft-media-carousel-height) + 45px);
    width: 100%;

    &__arrow {
      height: max-content;
      width: max-content;
      position: absolute;
      margin-bottom: 20px;
      transition: opacity 0.35s ease-out;
      padding: 6px;

      svg {
        stroke-width: 2px;
        width: 8px;
        height: 14px;
      }

      &--previous {
        left: 25px;
      }

      &--next {
        right: 25px;
      }

      &.swiper-button-disabled {
        opacity: 0;
        cursor: auto;
      }
    }

    .swiper-button-disabled {
      opacity: 0;
    }
  }

  &__item-slide {
    width: var(--nft-media-carousel-height);
    max-width: var(--nft-media-carousel-height);
    height: calc(var(--nft-media-carousel-height));
    max-height: calc(var(--nft-media-carousel-height));

    &--wide {
      max-width: calc(#{var(--nft-media-carousel-height)} * 1.5);
      width: calc(#{var(--nft-media-carousel-height)} * 1.5);
    }

    &--tall {
      max-width: calc(#{var(--nft-media-carousel-height)} * 0.75);
      width: calc(#{var(--nft-media-carousel-height)} * 0.75);
    }
  }

  &__item {
    width: 100%;
    max-width: 100%;

    &--active {
      .nft-media-browser__item__image-container {
        border: 3px solid var(--color-nft-media-bg-highlight) !important;
      }

      .nft-media-browser__item__name {
        * {
          color: var(--color-nft-media-text-highlight);
        }
      }
    }

    &:not(:last-child) {
      margin-right: 20px;
    }

    &__image-container {
      border-radius: 12px;
      height: 100%;
      overflow: hidden;
      width: 100%;
    }

    &__image {
      height: 100%;
      object-fit: cover;
      object-position: center;
      width: 100%;
    }

    &__name {
      font: var(--font-nft-media-header);
      font-size: 12px;
      font-weight: 500;
      margin-top: 10px;
      display: flex;
      align-items: center;

      svg {
        height: 20px;
        width: 20px;
        margin-right: 5px;

        circle {
          fill: transparent;
        }
      }
    }
  }

  @media screen and (max-width: $breakpoint) {
    &__featured-item,
    &__large-featured-item {
      padding: 30px;
    }

    &__large-featured-item {
      &__content {
        width: 100%;
      }

      &__button {
        font-size: 14px;
        padding: 20px 40px;
      }

      &__image-container {
        min-width: 200px;
        min-height: 200px;
        width: 200px;
        height: 200px;
      }
    }
  }

  @media screen and (max-width: $tablet-breakpoint) {
    --nft-media-carousel-height: 100px;

    &__carousel {
      &__shadow {
        display: none;
      }

      &__arrow {
        &--next {
          right: 5px;
        }

        &--previous {
          left: 5px;
        }
      }
    }

    &__featured-item {
      &__name {
        font-size: 20px;
      }
    }

    &__large-featured-item {
      flex-direction: column;
      justify-content: center;
      align-items: center;

      &__actions {
        align-items: center;
        width: 100%;
      }

      &__button {
        min-width: 200px;
        min-height: 60px;
        width: 100%;
        max-width: 400px;
      }

      &__image-container,
      &__content {
        margin: 0 0 30px;
        text-align: center;
      }
    }

    &__section,
    &__collection {
      &__header {
        padding: 15px 40px 15px 15px;
        font-size: 14px;
      }
    }

    &__collection {
      &__content {
        padding-inline: 35px;
      }
    }

    &__item {
      &__name {
        font-size: 12px;
      }
    }
  }

  @media screen and (max-width: $mobile-breakpoint) {
    &__featured-item {
      align-items: center;
      flex-direction: column;
      justify-content: center;
      margin: auto;
      padding: 30px;
      width: 100%;

      &__content {
        width: 100%;
      }

      &__image-container {
        aspect-ratio: 1 / 1;
        height: auto;
        margin: 0 0 20px;
        width: 100%;
        max-height: unset;
        max-width: unset;
      }

      &__name {
        margin: 0;
      }
    }
  }
}

.app--centered {
  .nft-media-browser {
    &__list-item {
      * {
        text-align: center;
      }
    }

    &__item {
      &__name {
        text-align: center;
      }
    }
  }
}


.media-controls {
  --controls-background-color: rgba(0, 0, 0, 0.7);
  --controls-foreground-color: #fff;

  background: var(--controls-background-color);
  backdrop-filter: blur(20px);
  bottom: 0;
  height: 40px;
  justify-content: space-between;
  position: absolute;
  width: 100%;
  padding: 5px 20px;

  &,
  &__left,
  &__title,
  &__right {
    align-items: center;
    display: flex;
  }

  &__left,
  &__title,
  &__right {
    height: 100%;
  }

  &__button {
    display: flex;
    height: 18px;
    padding: 3px;
    position: relative;
    width: 18px;

    * {
      color: var(--controls-foreground-color);
    }

    &:not(:last-child) {
      margin-right: 10px;
    }

    &--play-pause {
      height: 23px;
      padding: 0;
      width: 23px;
      color: #000;

      circle {
        fill: var(--controls-foreground-color);
      }

      path,
      rect {
        fill: var(--controls-background-color);
      }
    }

    svg {
      height: 100%;
      width: 100%;
    }
  }

  &__title {
    background-color: transparent;
    border-radius: var(--border-radius-nft-media);
    flex: 1 1 auto;
    justify-content: flex-start;
    margin: 0 10px;
    min-width: 0;
    overflow: hidden;
    padding-inline: 10px;
    position: relative;
    font-size: 12px;

    * {
      color: var(--controls-foreground-color);
    }

    &__text,
    &__span {
      min-width: 100%;
    }
  }

  &__toggle {
    height: 25px;
    min-width: 30px;
    padding: 5px;
    width: 30px;
    border: 0;

    &:not(:last-child) {
      margin-right: 5px;
    }

    * {
      color: var(--controls-foreground-color);
    }

    &--active {
      background: var(--controls-background-color);
    }

    svg {
      height: 100%;
    }
  }

  @media screen and (max-width: $mobile-breakpoint) {
    &__toggle {
      width: 40px;
    }

    &__title {
      font-size: 12px;
    }
  }
}


.nft-media__qr-modal-container {
  .modal__content {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
    overflow-y: hidden;
  }
}

.nft-media__qr-modal {
  @include modal;
  width: 550px;
  background: var(--background-nft-media-qr-modal);
  backdrop-filter: blur(20px);

  &__header {
    border-bottom: var(--border-component-primary);
    font: var(--font-component-header);
    font-size: 20px;
    font-weight: 300;
    padding: 15px 25px;
    text-align: center;
    color: var(--color-nft-media-text-highlight);
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px 20px 40px;
  }

  &__icon {
    height: 40px;
    width: 40px;
    margin: 20px 0;

    * {
      color: var(--color-nft-media-text-highlight);
      stroke-width: 2px;
    }
  }

  &__text {
    font-weight: 300;
  }
}
