.profile-page {
  display: flex;
  flex-direction: column;
  padding: 0 30px;

  &__section {
    border-radius: 3px;
    margin: 0 auto;
    max-width: 600px;
    padding: 20px 10px;
    width: 100%;

    &-actions,
    &-message {
      align-items: flex-end;
      display: flex;
      flex: 1 1 100%;
      justify-content: center;
    }

    &-message {
      align-items: center;
      flex-direction: column;
      justify-content: flex-end;
      padding-bottom: 100px;
    }
  }

  &__section-header {
    color: $darkgray;
    font-size: 16px;
    font-weight: 300;
    margin-bottom: 10px;
    text-align: center;
  }

  &__balance {
    align-items: center;
    display: flex;
    font-size: 24px;
    font-weight: 500;
    justify-content: center;

    svg {
      height: 30px;
      margin-right: 10px;
      width: 30px;
    }
  }

  &__address {
    margin: 0 auto;
    width: max-content;
  }

  &__address-field {
    .copyable-field__content {
      background-color: $lightgray;
      border-radius: 6px;
      font-size: 14px;
      font-weight: 300;
      margin-right: 10px;
      max-width: unset;
      padding: 3px 10px;
    }
  }

  &__message {
    color: $gray;
    font-size: 12px;
    margin-top: 10px;
    text-align: center;

    a {
      color: $darkgray;
    }
  }

  &__actions {
    align-items: center;
    display: flex;
    justify-content: center;
  }

  .address {
    font-size: 10px;
    letter-spacing: 0.01em;
  }

  @media screen and (max-width: $mobile-breakpoint) {
    &__address-field {
      flex-direction: column;

      .copyable-field__content {
        font-size: 10px;
        margin: 0 0 10px;
      }
    }
  }
}

.dark {
  .profile-page {
    &__section-header {
      color: $mediumgray;
    }

    &__address-field {
      .copyable-field__content {
        background-color: $darkergray;
      }
    }

    &__message {
      color: $darkgray;

      a {
        color: $gray;
      }
    }
  }
}
