.profile-page {
  display: flex;
  flex-direction: column;
  padding: 0 30px;

  &__section {
    border-radius: 6px;
    margin: 0 auto;
    max-width: 700px;
    padding: 20px 10px;
    width: 100%;

    &-actions,
    &-message {
      align-items: flex-end;
      display: flex;
      flex: 1 1 100%;
      justify-content: center;
    }

    &-message {
      align-items: center;
      flex-direction: column;
      justify-content: flex-end;
      padding-bottom: 100px;
    }

    &-box {
      background-color: $lightergray;
      margin-bottom: 10px;
      padding: 20px;
    }
  }

  &__section-header {
    color: $darkgray;
    font-size: 20px;
    font-weight: 300;
    margin-bottom: 10px;
    text-align: center;
  }

  &__balance {
    align-items: center;
    display: flex;
    font-size: 24px;
    font-weight: 500;
    justify-content: center;

    &-highlight {
      color: $blue;
    }
  }

  &__address {
    margin: 0 auto;
    width: max-content;
  }

  &__address-field {
    .copyable-field__content {
      background-color: $lightgray;
      border-radius: 6px;
      font-size: 14px;
      font-weight: 300;
      margin-right: 10px;
      max-width: unset;
      padding: 3px 10px;
    }
  }

  &__message {
    color: $gray;
    font-size: 12px;
    margin-top: 10px;
    text-align: center;

    a {
      color: $darkgray;
    }
  }

  &__actions {
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 20px auto;
    padding: 0;
    width: 100%;
  }

  .loader-button,
  .action {
    max-width: 200px;
    width: 100%;
  }

  .address {
    font-size: 10px;
    letter-spacing: 0.01em;
  }

  &__withdrawal-setup-message {
    font-size: 14px;
    margin: 30px auto 0;
    max-width: 500px;
    text-align: center;
  }

  .profile-page__pending-transactions-table {
    margin: 20px 0;

    .transfer-table__table {
      max-height: 300px;
    }
  }

  &__transactions-link {
    display: block;
    font-size: 14px;
    margin: 20px auto;
    text-align: center;
    text-decoration: underline;
    width: max-content;
  }

  @media screen and (max-width: $mobile-breakpoint) {
    &__address-field {
      flex-direction: column;

      .copyable-field__content {
        font-size: 10px;
        margin: 0 0 10px;
      }
    }
  }
}

// Withdrawal Modal

.withdrawal-modal {
  overflow-y: hidden;

  .modal__content {
    align-items: center;
    display: flex;
    justify-content: center;
    overflow-y: hidden;
  }
}

.withdrawal-confirmation {
  background-color: $white;
  max-width: 550px;
  overflow-y: hidden;
  width: 100%;

  &__header {
    border-bottom: 1px solid $mediumgray;
    font-size: 20px;
    font-weight: 300;
    padding: 15px 25px;
    text-align: center;
  }

  &__content {
    padding: 20px 30px 40px;
  }

  &__message {
    font-size: 18px;
    font-weight: 300;
    margin-bottom: 20px;
    text-align: center;
  }

  &__country-select {
    align-items: center;
    display: flex;
    margin: 0 auto 30px;
    min-width: 250px;
  }

  &__actions {
    align-items: center;
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }

  .button-container,
  .action {
    max-width: 200px;
    width: 100%;

    &:not(:last-child) {
      margin-right: 10px;
    }
  }

  &__input-error {
    color: $red;
    font-size: 10px;
    text-align: center;
    width: 100%;
  }

  &__inputs {
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 20px auto;
    max-width: 350px;
    position: relative;

    .withdrawal-confirmation__input-error {
      bottom: -20px;
      position: absolute;
      text-align: left;
      width: 100%;
    }
  }

  &__price-input {
    border: 1px solid $mediumgray;
    border-radius: 3px;
    font-size: 20px;
    height: 50px;
    max-width: 290px;
    padding: 0 15px;
    width: 100%;

    &-error {
      box-shadow: 0 0 3px $red;
    }
  }

  &__price-input-label {
    font-weight: bold;
    margin-left: 25px;
    text-align: center;
  }

  &__details {
    padding: 10px 0 20px;
  }

  &__detail {
    display: flex;
    height: 30px;
    justify-content: space-between;
  }

  &__detail-separator {
    border-bottom: 2px solid $mediumgray;
    margin-bottom: 15px;
    padding-top: 15px;
    width: 100%;
  }

  &__detail-faded {
    * {
      color: $gray;
    }
  }

  &__error {
    color: $red;
    font-size: 12px;
    margin: 20px 0;
    text-align: center;
    width: 100%;
  }

  .loader {
    height: 40px;
  }

  .action-primary {
    background-color: $blue;
    border: 1px solid $blue;
    color: $white;
  }

  @media screen and (max-width: $mobile-breakpoint) {
    margin: 0 20px;

    &__message {
      font-size: 16px;
    }

    .action {
      min-width: 125px;
    }
  }
}

.setup-complete {
  align-items: center;
  display: flex;

  height: 100%;
  justify-content: center;
  width: 100%;

  &__message {
    font-size: 24px;
    margin-bottom: 15%;
  }
}

.dark {
  .profile-page {
    &__section-header {
      color: $mediumgray;
    }

    &__address-field {
      .copyable-field__content {
        background-color: $darkergray;
      }
    }

    &__message {
      color: $darkgray;

      a {
        color: $gray;
      }
    }

    &__section-box {
      background-color: $darkestgray;
    }

    &__balance-highlight {
      color: lighten($blue, 10%);
    }
  }

  .withdrawal-confirmation {
    background-color: $black;
    border: 1px solid $darkergray;
    color: $white;

    &__header {
      border-bottom: 1px solid $darkgray;
    }

    &__price-input {
      background-color: $black;
      border: 1px solid $darkgray;
    }

    &__error {
      color: $red;
    }

    &__detail-faded {
      * {
        color: $gray;
      }
    }

    &__detail-separator {
      border-bottom: 2px solid $darkgray;
    }
  }
}
