.profile-page {
  display: flex;
  flex-direction: column;
  padding: 20px 30px 100px;

  &__section {
    @include component;
    margin: 0 auto 10px;
    max-width: 700px;
    padding: 20px 10px;
    width: 100%;

    &-actions,
    &-message {
      align-items: flex-end;
      display: flex;
      flex: 1 1 100%;
      justify-content: center;
    }

    &-message {
      align-items: center;
      flex-direction: column;
      justify-content: flex-end;
      padding-bottom: 100px;
    }

    &-box {
      padding: 20px;
    }

    &-wallet-connect {
      align-items: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }

  .wallet-connect {
    margin-top: 20px;
  }

  &__header {
    color: var(--color-component-text-highlight);
    font: var(--font-component-misc);
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 10px;
    text-align: center;
    text-transform: uppercase;
  }

  &__section-header {
    color: var(--color-component-text-highlight);
    font: var(--font-component-header);
    font-size: 18px;
    margin-bottom: 10px;
    text-align: center;
  }

  &__account-info {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 20px;

    svg {
      height: 25px;
    }

    &__message {
      color: var(--color-component-text-secondary);
    }

    &__account {
      margin: 10px 0;

      &--custodial {
        align-items: center;
        display: flex;
        padding-right: 10px;

        svg {
          margin-right: 10px;
        }
      }

      &--external {
        margin-top: 10px;

        svg,
        img {
          height: 60px;
        }
      }
    }
  }

  &__balance {
    align-items: center;
    display: flex;
    font: var(--font-component-header);
    font-size: 24px;
    font-weight: 500;
    justify-content: center;
    text-transform: uppercase;
  }

  &__address-header {
    color: var(--color-component-text-highlight);
    margin-top: 20px;
    text-align: center;
    width: 100%;
  }

  &__address {
    margin: 0 auto;
    width: max-content;
  }

  &__address-field {
    .copyable-field__content {
      background-color: var(--color-component-bg-secondary);
      border-radius: var(--border-radius-component);
      color: var(--color-component-text-primary);
      font-size: 14px;
      font-weight: 300;
      margin-right: 10px;
      max-width: unset;
      padding: 3px 10px;
    }
  }

  &__message {
    color: var(--color-component-text-secondary);
    font-size: 12px;
    margin-top: 10px;
    text-align: center;

    a {
      color: var(--color-component-text-primary);
      font-size: 12px;
    }
  }

  &__wallet-message {
    align-items: center;
    display: flex;
    font-weight: 300;
    margin: 30px auto 0;
    width: max-content;

    img,
    svg {
      height: 25px;
      margin-right: 10px;
      width: 25px;
    }
  }

  &__actions {
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 20px auto;
    padding: 0;
    width: 100%;
  }

  &__sign-out {
    margin: 20px 0 0;
  }

  .action {
    max-width: 240px;
    width: 100%;
  }

  .address {
    font-size: 10px;
    letter-spacing: 0.01em;
  }

  &__withdrawal-setup-message {
    font-size: 14px;
    margin: 30px auto 0;
    max-width: 500px;
    text-align: center;
  }

  .profile-page__pending-transactions-table {
    margin: 20px 0;

    .transfer-table__table {
      max-height: 300px;
    }
  }

  &__transactions-link {
    display: block;
    font-size: 14px;
    margin: 30px auto 0;
    text-align: center;
    text-decoration: underline;
    width: max-content;
  }

  @media screen and (max-width: $mobile-breakpoint) {
    padding: 0;

    &__address-field {
      .copyable-field__content {
        font-size: 9px;
      }
    }
  }
}

// Withdrawal Modal

.withdrawal-modal {
  .modal__content {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
    overflow-y: hidden;
  }
}

.username-modal,
.withdrawal-confirmation {
  @include modal;
  max-width: 550px;
  width: 100%;

  &__header {
    border-bottom: var(--border-component-primary);
    font: var(--font-component-header);
    font-size: 20px;
    font-weight: 300;
    padding: 15px 25px;
    text-align: center;
  }

  &__content {
    padding: 20px 30px 40px;

    .loader {
      min-height: 200px;
    }
  }

  &__message {
    font-size: 18px;
    font-weight: 300;
    margin-bottom: 20px;
    text-align: center;
  }

  &__country-select {
    height: $action-height;
    margin: 0 auto 30px;
    max-width: 410px;

    .styled-select__button,
    .styled-select__option {
      height: $action-height;
    }
  }

  &__actions {
    align-items: center;
    display: flex;
    justify-content: center;
    margin-top: 40px;
  }

  .action {
    max-width: 200px;
    width: 100%;

    &:not(:last-child) {
      margin-right: 10px;
    }
  }

  &__input-error {
    align-items: center;
    color: var(--color-text-error);
    display: flex;
    font-size: 12px;
    margin: 10px auto;
    padding-left: 100px;
    text-align: center;
    width: 100%;

    * {
      color: var(--color-text-error);
    }
  }

  &__inputs {
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 20px auto;
    max-width: 350px;
    position: relative;

    .withdrawal-confirmation__input-error {
      bottom: -20px;
      position: absolute;
      text-align: left;
      width: 100%;
    }
  }

  input,
  &__price-input {
    &:not([type="checkbox"]) {
      font-size: 20px;
      height: 50px;
      max-width: 290px;
      padding: 0 15px;
      width: 100%;
    }

    &-error {
      box-shadow: 0 0 3px var(--color-text-error);
    }
  }

  &__price-input-label {
    font-weight: bold;
    margin-left: 15px;
    text-align: center;
  }

  &__detail {
    display: flex;
    height: 30px;
    justify-content: space-between;
  }

  &__detail-separator {
    border-bottom: var(--border-component-secondary);
    margin-bottom: 25px;
    padding-top: 25px;
    width: 100%;
  }

  &__detail-faded {
    * {
      color: var(--color-component-text-secondary);
    }
  }

  &__error {
    color: var(--color-text-error);
    font-size: 12px;
    margin: 20px 0;
    text-align: center;
    width: 100%;
  }

  .loader {
    height: $action-height;
  }

  &__amount-selection {
    margin-bottom: 40px;
  }

  &__form {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
  }

  .labelled-input {
    align-items: center;
    display: flex;
    width: 100%;

    label {
      min-width: 100px;
      width: 100px;
    }

    input {
      max-width: unset;
      width: 100%;
    }

    .styled-select,
    .styled-select__button {
      height: 50px;
      width: 100%;
    }
  }

  @media screen and (max-width: $mobile-breakpoint) {
    margin: 0 20px;

    &__message {
      font-size: 16px;
    }

    .action {
      min-width: 125px;
    }
  }
}

.accept-popup {
  @include component;
  border: 0;

  &,
  &__box {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    width: 100%;
  }

  &__box {
    @include component;
    max-width: 400px;
    padding: 30px;
  }

  &__logo-container {
    max-width: 300px;
  }

  &__text {
    margin: 50px 0 20px;
  }

  &__requestor,
  &__requested-action {
    font-size: 18px;
    text-align: center;
  }

  &__requestor {
    font-size: 14px;
    margin-bottom: 20px;
  }

  &__requested-action {
    font-size: 20px;
  }

  .loader {
    margin-bottom: 20px;
  }

  &__trust {
    align-items: center;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    width: 100%;

    label {
      cursor: pointer;
      font-size: 12px;
      margin-left: 5px;
      text-align: center;
    }
  }

  &__actions {
    align-items: center;
    display: flex;
    width: 100%;
  }

  .action {
    max-width: unset;
    width: 100%;
  }

  @media screen and (max-width: $mobile-breakpoint) {
    &__box {
      border: 0;
      justify-content: space-evenly;
      max-width: 100%;
      min-height: 100vh;
      padding-bottom: 200px;
    }
  }
}
