.transfer-table {
  background-color: $white;
  border: 1px solid $lightgray;
  border-radius: 3px;
  margin: 20px 0;
  overflow-y: auto;
  position: relative;

  &.active-listings {
    .transfer-table__table__header {
      border-top: 0;

      .transfer-table__table__cell {
        border: 1px solid $mediumgray;

        &:not(:last-child) {
          border-right: 0;
        }
      }
    }

    .transfer-table__table__header,
    .transfer-table__table__row {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }

  &__header {
    padding: 20px;
  }

  &__table__header {
    background-color: $white;
    border-bottom: 1px solid $mediumgray;
    border-top: 1px solid $mediumgray;
    position: sticky;
    text-transform: uppercase;
    top: 0;
    z-index: 1;

    &-sortable {
      cursor: pointer;
      user-select: none;

      .transfer-table__table__cell {
        display: flex;
        justify-content: space-between;
      }
    }

    .transfer-table__table__cell {
      border-radius: 0;
    }
  }

  &__table__header,
  &__table__row {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  }

  &__table__row {
    &:nth-child(2n) {
      background-color: $lightergray;
    }

    &-selectable {
      cursor: pointer;
    }

    &-selected {
      // Specificity to override nth-child color above
      &:nth-child(n) {
        background-color: $blue;

        * {
          color: $white;
        }
      }
    }
  }

  &__content-rows {
    * {
      z-index: 0;
    }
  }

  &__table__cell {
    font-size: 12px;
    padding: 10px 20px;
  }

  &__loader {
    margin: 20px 0;
  }

  &__empty {
    align-items: center;
    color: $darkgray;
    display: flex;
    justify-content: center;
    padding: 30px 0;
  }

  @media screen and (max-width: 800px) {
    &__table__header,
    &__table__row {
      grid-template-columns: 1fr 1fr 1fr;
    }

    .no-mobile {
      display: none;
    }

    &__table__cell {
      font-size: 10px;
    }

    &.active-listings {
      .transfer-table__table__header,
      .transfer-table__table__row {
        grid-template-columns: 1fr 1fr;
      }
    }
  }
}

.dark {
  .transfer-table {
    background-color: $black;
    border: 1px solid $darkergray;

    &.active-listings {
      .transfer-table__table__header {
        border-top: 0;

        .transfer-table__table__cell {
          background-color: darken($darkestgray, 5%);
          border: 1px solid $darkestgray;

          &:not(:last-child) {
            border-right: 0;
          }
        }
      }
    }

    &__table__header {
      background-color: $darkestgray;
      border-bottom: 1px solid $darkergray;
      border-top: 1px solid $darkergray;

      * {
        color: $mediumgray;
      }
    }

    &__table__row {
      &:nth-child(2n + 1) {
        background-color: $darkestgray;
      }

      &:nth-child(2n) {
        background-color: darken($darkestgray, 5%);
      }

      &:hover {
        background-color: $darkergray;
      }

      &-selected {
        // Specificity to override nth-child color above
        &:nth-child(n) {
          background-color: $mediumgray;

          * {
            color: $black;
          }
        }
      }
    }

    &__empty {
      color: $mediumgray;
    }
  }
}
