.transfer-table {
  background: var(--background-table);
  border: var(--border-table-primary);
  border-radius: var(--border-radius-table);
  box-shadow: var(--box-shadow-table);
  font: var(--font-table);
  overflow-y: hidden;
  position: relative;

  &--leaderboard {
    margin: auto;
    max-width: 1000px;

    .transfer-table__table__row {
      min-height: 50px;
    }
  }

  &--active-listings {
    .transfer-table__table__header {
      border: 0;

      .transfer-table__table__cell {
        &:not(:first-child) {
          border-left: var(--border-table-secondary);
        }
      }
    }

    .transfer-table__table__cell {
      justify-content: flex-start;
      text-align: left;
    }
  }

  &__page-controls {
    &:last-child {
      margin-bottom: 50px;
    }
  }

  &__header {
    align-items: center;
    display: flex;
    font: var(--font-table-header);
    font-size: 18px;
    justify-content: center;
    letter-spacing: 0.03em;
    padding: 15px 10px 10px;
    text-align: center;
    text-transform: uppercase;
  }

  &__header__icon,
  &__header__icon-placeholder {
    height: 20px;
    margin-right: 12px;
    width: 20px;
  }

  &__pagination-message {
    align-items: center;
    display: flex;
    font-size: 12px;
    font-weight: 500;
    justify-content: center;
    padding: 0 20px 10px;
    text-align: center;

    &--highlight {
      color: var(--color-table-highlight-text);
      margin: 0 5px;
    }
  }

  &__table {
    height: 100%;
    overflow-y: auto;

    &--none,
    &--infinite {
      max-height: 350px;
      overscroll-behavior-y: contain; // sass-lint:disable-line no-misspelled-properties
    }
  }

  &__table__header {
    background: var(--background-table-header-row);
    border-bottom: var(--border-table-secondary);
    border-top: var(--border-table-secondary);
    position: sticky;
    top: 0;
    z-index: 1;

    * {
      color: var(--color-table-header-row-text);
    }

    &-sortable {
      cursor: pointer;
      user-select: none;

      .transfer-table__table__cell {
        display: flex;
        justify-content: space-between;
      }
    }

    .transfer-table__table__cell {
      border-radius: 0;
      font-weight: 500;
      text-transform: uppercase;
    }
  }

  &__table__header,
  &__table__row {
    display: grid;
    grid-auto-columns: 1fr;
    grid-auto-flow: column;
    width: 100%;
  }

  &__table__row {
    align-items: center;
    border: 2px solid transparent;
    width: 100%;

    &--no-click {
      cursor: auto;
    }

    &:nth-child(2n + 1) {
      background-color: var(--color-table-odd-row-bg);

      * {
        color: var(--color-table-odd-row-text);
      }
    }

    &:nth-child(2n) {
      background-color: var(--color-table-even-row-bg);

      * {
        color: var(--color-table-even-row-text);
      }
    }

    &-disabled {
      opacity: 0.4;
    }

    &-selectable {
      cursor: pointer;
    }

    &-initial {
      // Specificity to override nth-child color above
      &:nth-child(n) {
        div {
          color: var(--color-table-highlight-text);
        }
      }
    }

    &-selected {
      // Specificity to override nth-child color above
      &:nth-child(n) {
        background-color: var(--color-table-selected-row-bg);
        border: var(--border-table-row-selected);

        div {
          color: var(--color-table-selected-row-text);
        }
      }
    }
  }

  &__content-rows {
    position: relative;

    * {
      z-index: 0;
    }

    &__loader {
      height: 100%;
      position: absolute;
      top: 0;
      width: 100%;
      z-index: 100;
    }
  }

  &__table__cell {
    align-items: center;
    display: flex;
    font-size: 12px;
    justify-content: center;
    overflow: hidden;
    padding: 10px 15px;
    text-align: center;

    .formatted-price {
      gap: 0 5px; // sass-lint:disable-line no-misspelled-properties

      &--vertical {
        margin: 0 auto;
      }
    }

    em {
      margin-left: 5px;
      opacity: 0.75;
    }

    &__icon {
      height: 16px;
      margin-right: 5px;
      width: 16px;
    }

    &--with-image {
      align-items: center;
      display: flex;
      justify-content: center;
    }

    &__image {
      background: var(--background-component-secondary);
      border-radius: 100%;
      height: 50px;
      margin-right: 10px;
      object-fit: cover;
      object-position: center;
      width: 50px;
    }
  }

  &__badge {
    border-radius: var(--border-radius-table-badge);
    font-weight: 300;
    padding: 5px 15px;
    text-align: center;
    width: 100px;

    &.transfer-table__badge-active {
      background-color: var(--color-table-badge-active-bg);
      color: var(--color-table-badge-active-text);
    }

    &.transfer-table__badge-inactive {
      background-color: var(--color-table-badge-inactive-bg);
      color: var(--color-table-badge-inactive-text);
    }
  }

  &__sort-icon {
    height: 20px;
    width: auto;
  }

  &__loader {
    margin: 20px 0;
  }

  &__empty {
    align-items: center;
    color: var(--color-text-secondary);
    display: flex;
    justify-content: center;
    padding: 40px 0;
  }

  @media screen and (max-width: $breakpoint) {
    .no-tablet {
      display: none;
    }

    &.user-transfer-table {
      .transfer-table__table__header,
      .transfer-table__table__row {
        grid-auto-columns: 1fr 1fr 150px 150px 150px;
      }
    }
  }

  @media screen and (max-width: $intermediate-breakpoint) {
    .no-tablet {
      display: none;
    }
  }

  @media screen and (max-width: $tablet-breakpoint) {
    &__header {
      font-size: 12px;
    }

    &__pagination {
      font-size: 10px;
    }

    .no-mobile {
      display: none;
    }

    &__table__cell {
      font-size: 10px;
      padding: 10px;

      em {
        margin: 0;
      }
    }

    &.user-transfer-table {
      .transfer-table__table__header,
      .transfer-table__table__row {
        grid-auto-columns: 1fr 1fr 120px;
      }
    }
  }
}

.modal {
  .transfer-table {
    &__table__header {
      z-index: 101;
    }
  }
}
