.transfer-table {
  background: var(--background-table);
  border: var(--border-table-primary);
  border-radius: var(--border-radius-table);
  box-shadow: var(--box-shadow-table);
  font: var(--font-table);
  overflow-y: hidden;
  position: relative;

  &.active-listings {
    .transfer-table__table__header {
      border-top: 0;

      .transfer-table__table__cell {
        &:not(:first-child) {
          border-left: var(--border-table-secondary);
        }
      }
    }
  }

  &.pending-payments-table {
    .transfer-table__table__header,
    .transfer-table__table__row {
      grid-auto-columns: 1fr 120px 100px 100px;
    }
  }

  &.user-transfer-table {
    .transfer-table__table__header,
    .transfer-table__table__row {
      grid-auto-columns: 1fr 1fr 150px 1fr 150px 150px;
    }
  }

  &__header {
    align-items: center;
    display: flex;
    font: var(--font-table-header);
    font-size: 18px;
    letter-spacing: 0.03em;
    padding: 15px 0 10px;
    text-transform: uppercase;
    justify-content: center;
  }

  &__header__icon,
  &__header__icon-placeholder {
    height: 20px;
    margin-right: 12px;
    width: 20px;
  }

  &__pagination {
    font-size: 12px;
    padding: 0 20px 10px;
    text-align: center;
  }

  &__table {
    height: 100%;
    max-height: 420px;
    overflow-y: auto;
  }

  &__table__header {
    background: var(--background-table-header-row);
    border-bottom: var(--border-table-secondary);
    border-top: var(--border-table-secondary);
    position: sticky;
    top: 0;
    z-index: 1;

    * {
      color: var(--color-table-header-row-text);
    }

    &-sortable {
      cursor: pointer;
      user-select: none;

      .transfer-table__table__cell {
        display: flex;
        justify-content: space-between;
      }
    }

    .transfer-table__table__cell {
      border-radius: 0;
      text-transform: uppercase;
      font-weight: 500;
    }
  }

  &__table__header,
  &__table__row {
    display: grid;
    grid-auto-columns: 1fr;
    grid-auto-flow: column;
  }

  &__table__row {
    border: 2px solid transparent;

    &--no-click {
      cursor: auto;
    }

    &:nth-child(2n + 1) {
      background-color: var(--color-table-odd-row-bg);

      * {
        color: var(--color-table-odd-row-text);
      }
    }

    &:nth-child(2n) {
      background-color: var(--color-table-even-row-bg);

      * {
        color: var(--color-table-even-row-text);
      }
    }

    &-disabled {
      opacity: 0.4;
    }

    &-selectable {
      cursor: pointer;
    }

    &-initial {
      // Specificity to override nth-child color above
      &:nth-child(n) {
        div {
          color: var(--color-table-highlight-text);
        }
      }
    }

    &-selected {
      // Specificity to override nth-child color above
      &:nth-child(n) {
        background-color: var(--color-table-selected-row-bg);
        border: var(--border-table-row-selected);

        div {
          color: var(--color-table-selected-row-text);
        }
      }
    }
  }

  &__content-rows {
    * {
      z-index: 0;
    }
  }

  &__table__cell {
    align-items: center;
    display: flex;
    font-size: 12px;
    overflow: hidden;
    padding: 10px 15px;
    justify-content: center;
    text-align: center;

    em {
      margin-left: 5px;
      opacity: 0.75;
    }

    &__icon {
      height: 16px;
      margin-right: 5px;
      width: 16px;
    }
  }

  &__badge {
    border-radius: var(--border-radius-table-badge);
    font-weight: 300;
    padding: 5px 15px;
    text-align: center;
    width: 100px;

    &.transfer-table__badge-active {
      background-color: var(--color-table-badge-active-bg);
      color: var(--color-table-badge-active-text);
    }

    &.transfer-table__badge-inactive {
      background-color: var(--color-table-badge-inactive-bg);
      color: var(--color-table-badge-inactive-text);
    }
  }

  &__sort-icon {
    height: 20px;
    width: auto;
  }

  &__loader {
    margin: 20px 0;
  }

  &__empty {
    align-items: center;
    color: var(--color-text-secondary);
    display: flex;
    justify-content: center;
    padding: 30px 0;
  }

  @media screen and (max-width: $breakpoint) {
    .no-tablet {
      display: none;
    }

    &.user-transfer-table {
      .transfer-table__table__header,
      .transfer-table__table__row {
        grid-auto-columns: 1fr 1fr 150px 150px 150px;
      }
    }
  }

  @media screen and (max-width: $intermediate-breakpoint) {
    .no-tablet {
      display: none;
    }
  }

  @media screen and (max-width: $tablet-breakpoint) {
    &__header {
      font-size: 12px;
    }

    &__pagination {
      font-size: 10px;
    }

    .no-mobile {
      display: none;
    }

    &__table__cell {
      font-size: 10px;
      padding: 10px;

      em {
        margin: 0;
      }
    }

    &.user-transfer-table {
      .transfer-table__table__header,
      .transfer-table__table__row {
        grid-auto-columns: 1fr 1fr 120px;
      }
    }
  }
}
