.transfer-table {
  background-color: $white;
  border: 1px solid $lightgray;
  border-radius: 3px;
  margin: 20px 0;
  overflow-y: scroll;
  position: relative;

  &.active-listings {
    .transfer-table__table__header {
      border: 0;

      .transfer-table__table__cell {
        border: 1px solid $mediumgray;

        &:not(:last-child) {
          border-right: 0;
        }
      }
    }

    .transfer-table__table__header,
    .transfer-table__table__row {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }

  &__header {
    padding: 20px;
  }

  &__table__header {
    background-color: $white;
    border-bottom: 1px solid $mediumgray;
    border-top: 1px solid $mediumgray;
    position: sticky;
    text-transform: uppercase;
    top: 0;
    z-index: 1;

    &-sortable {
      cursor: pointer;
      user-select: none;

      .transfer-table__table__cell {
        display: flex;
        justify-content: space-between;
      }
    }

    .transfer-table__table__cell {
      border-radius: 0;
    }
  }

  &__table__header,
  &__table__row {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  }

  &__table__row {
    &:nth-child(2n) {
      background-color: $lightergray;
    }

    &:hover {
      background-color: $white;
    }
  }

  &__content-rows {
    * {
      z-index: 0;
    }
  }

  &__table__cell {
    font-size: 12px;
    padding: 10px 20px;
  }

  &__loader {
    margin: 20px 0;
  }

  &__empty {
    align-items: center;
    color: $darkgray;
    display: flex;
    justify-content: center;
    padding: 30px 0;
  }

  @media screen and (max-width: 800px) {
    &__table__header,
    &__table__row {
      grid-template-columns: 1fr 1fr 1fr;
    }

    .no-mobile {
      display: none;
    }

    &__table__cell {
      font-size: 10px;
    }
  }
}

.dark {
  .transfer-table {
    background-color: $darkestgray;
    border: 0;

    &.active-listings {
      .transfer-table__table__header {
        border: 0;

        .transfer-table__table__cell {
          background-color: darken($darkestgray, 5%);
          border: 1px solid $darkestgray;

          &:not(:last-child) {
            border-right: 0;
          }
        }
      }
    }

    &__table__header {
      background-color: $darkestgray;
      border-bottom: 1px solid $darkgray;
      border-top: 1px solid $darkgray;

      * {
        color: $mediumgray;
      }
    }

    &__table__row {
      &:nth-child(2n) {
        background-color: darken($darkestgray, 5%);
      }

      &:hover {
        background-color: $darkergray;
      }
    }

    &__empty {
      color: $mediumgray;
    }
  }
}
