// sass-lint:disable function-name-format

.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.scroll-text {
  display: inline-block;
  min-width: 100%;
  overflow: hidden;
  white-space: nowrap;
  width: max-content;

  span {
    min-width: 100%;
    cursor: pointer;
  }

  &:not(:hover) {
    text-overflow: ellipsis;
  }

  &:hover,
  &:focus {
    span {
      animation: scroll-text 5s linear 0s 2 normal;
      display: inline-block;
    }
  }

  @keyframes scroll-text {
    0% {
      transform: translateX(0);
    }

    100% {
      transform: translateX(-100%);
    }
  }
}

.expandable-section {
  font-size: 14px;
  margin: 10px auto;
  position: relative;

  &.expandable-section-hidden {
    box-shadow: none;
  }

  &.expandable-section-shown {
    .expandable-section__header {
      border-bottom: 1px solid $lightergray;
    }
  }

  &__header,
  &__content {
    padding: 17px 24px;
  }

  &.no-padding {
    .expandable-section__content {
      padding: 0 0 17px;
    }
  }

  &__header {
    align-items: center;
    cursor: pointer;
    display: flex;
    user-select: none;
  }

  &__header__icon {
    filter: invert(100%);
    height: auto;
    margin-right: 12px;
    width: 15px;
  }

  &__content-row {
    border-bottom: 1px solid $lightgray;
    padding: 7px 24px;

    * {
      color: $blue;
    }
  }

  &__actions {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 20px 10px;

    + .expandable-section__actions {
      border-top: 1px solid $lightgray;
    }
  }
}

.copyable-field {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
  max-width: 100%;

  &__content {
    color: $blue;
    font-size: 12px;
    max-width: calc(100% - 50px);
    padding-right: 10px;
  }

  a {
    color: $blue;

    &:hover {
      color: $blue;
    }
  }

  &__button {
    background-color: $blue;
    border: 0;
    border-radius: 10px;
    cursor: pointer;
    height: 25px;
    padding: 5px;
    width: 35px;

    svg {
      height: 100%;

      * {
        stroke: $white;
      }
    }
  }
}


.info-modal-container {
  height: 100%;
  max-height: 100%;
  overflow-y: hidden;
  width: 100%;
  z-index: 101;

  .modal__content {
    align-items: center;
    display: flex;
    justify-content: center;
    overflow-y: hidden;
    width: auto;
  }

  @media screen and (max-width: $tablet-breakpoint) {
    .modal__content {
      height: 100%;
      width: 100%;
    }
  }
}

.info-modal {
  background-color: $white;
  background-position: center;
  background-size: cover;
  color: $black;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  max-height: MIN(90vh, 800px);
  max-width: 600px;
  min-height: MIN(50vh, 800px);
  min-width: 600px;
  width: 100%;

  * {
    color: $black;
  }

  &__content {
    align-items: center;
    display: flex;
    flex: 1 1 100%;
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 30px 50px;

    &.no-padding {
      padding: 0;
    }
  }

  &__image {
    margin: 25px;
    max-height: 300px;
    object-fit: contain;
    padding: 0;
    width: 100%;

    &.no-padding {
      padding: 0;
    }
  }

  &__message {
    * {
      text-align: center;
    }

    h1 {
      font-size: 34px;
    }

    h1,
    h2,
    h3,
    h4 {
      font-weight: 500;
      margin-bottom: 10px;
    }

    p {
      font-size: 16px;
      font-weight: 300;
      line-height: 1.5em;
    }
  }

  &__actions {
    align-items: flex-end;
    display: flex;
    height: 140px;
    justify-content: center;
    padding-bottom: 10px;
  }

  &__button {
    align-items: center;
    background: transparent;
    border-radius: 3px;
    color: $black;
    cursor: pointer;
    display: flex;
    font-size: 16px;
    height: 50px;
    justify-content: center;
    letter-spacing: 2px;
    padding: 5px;
    text-transform: uppercase;
    width: 250px;
  }

  @media only screen and (max-width: $intermediate-breakpoint) {
    height: 100%;
    max-height: 100%;
    max-width: 100%;
    min-height: 100%;
    min-width: 100%;
    width: 100%;

    &__content {
      height: 100%;
      padding: 75px 30px 30px;
    }

    &__actions {
      height: 200px;

      button {
        margin-bottom: 30px;
        margin-top: 15px;
      }
    }
  }
}

.confirm-modal {
  overflow-y: hidden;

  .modal__content {
    align-items: center;
    display: flex;
    justify-content: center;
    overflow-y: hidden;
  }
}

.confirm {
  background-color: $white;
  max-width: 550px;
  overflow-y: hidden;
  padding: 40px 30px;
  width: 100%;

  &__message {
    font-size: 18px;
    margin-bottom: 25px;
    text-align: center;
  }

  .actions-container {
    align-items: center;
    display: flex;
    justify-content: center;
  }

  .action {
    height: 40px;
    min-width: 150px;

    &:not(:last-child) {
      margin-right: 10px;
    }
  }

  .loader {
    height: 40px;
  }

  .action-primary {
    background-color: $blue;
    border: 1px solid $blue;
    color: $white;
  }

  @media screen and (max-width: $mobile-breakpoint) {
    margin: 0 20px;

    &__message {
      font-size: 16px;
    }

    .action {
      min-width: 125px;
    }
  }
}

.autocomplete {
  position: relative;
  z-index: 2;

  &__clear-button {
    padding: 10px;
    position: absolute;
    right: 0;

    svg {
      height: 100%;
      width: auto;
    }
  }

  &__input {
    border: 1px solid $mediumgray;
    border-radius: 3px;
    height: 35px;
    overflow: hidden;
    padding: 0 15px;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &__options {
    background-color: $white;
    border: 1px solid $mediumgray;
    max-height: 200px;
    overflow-y: auto;
    position: absolute;
    top: 38px;
    width: 100%;

    &:not(.autocomplete__options-visible) {
      display: none;
    }
  }

  &__option {
    align-items: center;
    cursor: pointer;
    display: block;
    height: 35px;
    padding: 5px 15px;

    &:not(.autocomplete__option-selected) {
      &:hover {
        background-color: $lightgray;
      }
    }
  }

  &__option-selected {
    background-color: $blue;
    color: $white;
  }
}

.dark {
  .expandable-section {
    &__content-row {
      border-bottom: 1px solid $darkgray;

      * {
        color: $blue;
      }
    }

    .expandable-section__header__icon {
      filter: none;
    }

    &.expandable-section-shown {
      .expandable-section__header {
        border-bottom: 1px solid $darkgray;
      }
    }

    &__actions {
      + .expandable-section__actions {
        border-top: 1px solid $darkgray;
      }
    }
  }

  .copyable-field {
    &__button {
      background-color: $darkgray;
    }
  }

  .info-modal {
    background-color: $black;

    * {
      color: $white;
    }

    &__button {
      color: $white;
    }
  }

  .confirm {
    background-color: $black;
    border: 1px solid $darkergray;
    color: $white;
  }

  .autocomplete {
    &__input {
      background-color: $black;
      border: 1px solid $darkergray;
    }

    &__options {
      background-color: $black;
      border: 1px solid $darkergray;
    }

    &__option {
      &:hover {
        &:not(.autocomplete__option-selected) {
          background-color: $darkergray;
        }
      }
    }
  }
}
