// sass-lint:disable function-name-format

.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.page-controls {
  align-items: center;
  display: flex;
  height: 50px;
  justify-content: center;

  &__button,
  &__page {
    border-radius: 100%;
    cursor: pointer;
    font-size: 14px;
    height: 2em;
    margin: 0 5px;
    text-align: center;
    width: 2em;

    &--current {
      background: var(--background-table-header-row);
      color: var(--color-text-background-highlight);
    }
  }
}

.scroll-text {
  display: inline-block;
  min-width: 100%;
  overflow: hidden;
  white-space: nowrap;
  width: max-content;

  span {
    cursor: pointer;
    min-width: 100%;
  }

  &:not(:hover) {
    text-overflow: ellipsis;
  }

  &:hover,
  &:focus {
    span {
      animation: scroll-text 5s linear 0s 2 normal;
      display: inline-block;
    }
  }

  @keyframes scroll-text {
    0% {
      transform: translateX(0);
    }

    100% {
      transform: translateX(-100%);
    }
  }
}

.expandable-section {
  @include component;
  box-shadow: var(--box-shadow-component);
  font-size: 14px;
  margin: 10px auto;
  position: relative;

  &.expandable-section-shown {
    .expandable-section__header {
      border-bottom: var(--border-component-secondary);
    }
  }

  &__header,
  &__content {
    color: var(--color-component-text-primary);
    padding: 15px;
  }

  &.no-padding {
    .expandable-section__content {
      padding: 0 0 17px;
    }
  }

  &__header {
    align-items: center;
    cursor: pointer;
    display: flex;
    font-weight: 500;
    text-transform: uppercase;
    user-select: none;
    width: 100%;
  }

  &__header__icon {
    height: 20px;
    margin-right: 12px;
    width: 20px;
  }

  &__content-row {
    border-bottom: var(--border-component-secondary);
    padding: 7px 24px;
  }

  &__details {
    padding: 20px 30px;
    text-align: center;
  }

  &__actions {
    align-items: center;
    border: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 20px 10px;

    + .expandable-section__actions {
      border-top: var(--border-component-secondary);
    }
  }
}

.copyable-field {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
  max-width: 100%;

  &__content {
    color: var(--color-component-text-highlight);
    font-size: 12px;
    max-width: calc(100% - 50px);
    padding-right: 10px;

    * {
      font-size: 12px;
    }
  }

  a {
    color: var(--color-component-text-highlight);

    &:hover {
      color: var(--color-component-text-highlight);
    }
  }

  &__button {
    align-items: center;
    background: var(--background-button-secondary);
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    height: 25px;
    justify-content: center;
    padding: 5px;
    width: 35px;

    svg {
      height: 100%;
      width: 100%;

      * {
        color: var(--color-button-secondary-text);
      }
    }
  }
}

.confirm-modal {
  overflow-y: hidden;

  .modal__content {
    align-items: center;
    display: flex;
    justify-content: center;
    overflow-y: hidden;
  }
}

.confirm {
  @include modal;
  max-width: 550px;
  overflow-y: hidden;
  padding: 40px 30px;
  width: 100%;

  &__message {
    font: var(--font-component-text);
    font-size: 18px;
    margin-bottom: 35px;
    text-align: center;
  }

  .actions-container {
    align-items: center;
    display: flex;
    justify-content: center;
  }

  .action {
    height: $action-height;
    min-width: 150px;

    &:not(:last-child) {
      margin-right: 10px;
    }
  }

  .loader {
    height: $action-height;
  }

  @media screen and (max-width: $mobile-breakpoint) {
    margin: 0 20px;

    &__message {
      font-size: 16px;
    }

    .action {
      min-width: 125px;
    }
  }
}

.autocomplete {
  align-items: center;
  display: flex;
  position: relative;

  &__clear-button {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
    padding: 8px;
    position: absolute;
    right: 0;
    width: auto;

    svg {
      height: 100%;
      width: auto;

      * {
        color: var(--color-input-text);
      }
    }
  }

  &__input {
    border: var(--border-input);
    border-radius: var(--border-radius-input);
    height: 35px;
    overflow: hidden;
    padding: 0 15px;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &__options {
    background: var(--color-input-bg-solid);
    border: var(--border-input);
    max-height: 200px;
    opacity: 1;
    overflow-y: auto;
    position: absolute;
    top: 38px;
    width: 100%;
    z-index: 1;

    &:not(.autocomplete__options-visible) {
      display: none;
    }
  }

  &__option {
    align-items: center;
    cursor: pointer;
    display: flex;
    height: 35px;
    padding: 5px 15px;

    &:not(.autocomplete__option-selected) {
      &:hover {
        background-color: var(--color-input-hover-bg);
      }
    }
  }

  &__option-selected {
    background-color: var(--color-input-highlight-bg);
    color: var(--color-input-highlight-text);
  }
}

.styled-select {
  display: block;
  position: relative;

  * {
    font: var(--font-input);
  }

  &__button {
    align-items: center;
    background: var(--background-input);
    border: var(--border-input);
    border-radius: var(--border-radius-input);
    cursor: pointer;
    display: block;
    overflow: hidden;
    padding: 0 30px 0 15px;
    position: relative;
    text-align: left;
    text-overflow: ellipsis;
    user-select: none;
    white-space: nowrap;
    width: 100%;

    * {
      color: var(--color-input-text);
    }

    &__icon-container {
      align-items: center;
      display: flex;
      height: 100%;
      position: absolute;
      right: 1em;
      top: 0;
      width: 12px;

      * {
        height: 12px;
        width: 12px;
      }
    }

    &--active {
      border: var(--outline-input-focus);
    }
  }

  &__menu {
    @include page-fade-in(0.25s, ease);
    background: var(--color-input-bg-solid);
    border: var(--border-input);
    border-radius: var(--border-radius-input);
    max-height: 300px;
    overflow: auto;
    position: absolute;
    top: calc(100% + 3px);
    width: 100%;
    z-index: 2;

    &__option {
      align-items: center;
      cursor: pointer;
      display: flex;
      padding: 0 15px;
      position: relative;
      width: 100%;

      &--selected {
        background: var(--color-input-highlight-bg);
        color: var(--color-input-highlight-text);
      }
    }
  }
}

.formatted-price {
  align-items: center;
  display: flex;

  &__icon {
    height: 20px;
    width: auto;

    & + .formatted-price__icon {
      margin-left: 5px;
    }
  }

  &__value {
    margin: 0 5px;
  }
}
