.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.expandable-section {
  font-size: 14px;
  margin: 10px auto;

  &.expandable-section-hidden {
    box-shadow: none;
  }

  &.expandable-section-shown {
    .expandable-section__header {
      border-bottom: 1px solid $lightergray;
    }
  }

  &__header,
  &__content {
    padding: 17px 24px;
  }

  &.no-padding {
    .expandable-section__content {
      padding: 0 0 17px;
    }
  }

  &__header {
    align-items: center;
    cursor: pointer;
    display: flex;
    user-select: none;
  }

  &__header__icon {
    filter: invert(100%);
    height: auto;
    margin-right: 12px;
    width: 15px;
  }

  &__content-row {
    border-bottom: 1px solid $lightgray;
    padding: 7px 24px;

    * {
      color: $blue;
    }
  }
}

.copyable-field {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
  max-width: 100%;

  &__content {
    color: $blue;
    font-size: 12px;
    max-width: calc(100% - 50px);
    padding-right: 10px;
  }

  &__button {
    background-color: $blue;
    border: 0;
    border-radius: 17.5px;
    cursor: pointer;
    height: 25px;
    padding: 5px;
    width: 35px;

    svg {
      height: 100%;

      * {
        stroke: $white;
      }
    }
  }
}

.dark {
  .expandable-section {
    &__content-row {
      border-bottom: 1px solid $darkgray;

      * {
        color: $blue;
      }
    }

    .expandable-section__header__icon {
      filter: none;
    }

    &.expandable-section-shown {
      .expandable-section__header {
        border-bottom: 1px solid $darkgray;
      }
    }
  }

  .copyable-field {
    &__button {
      background-color: $darkgray;
    }
  }
}
