.user {
  &__profile {
    align-items: center;
    display: flex;
    position: relative;

    &__image-container {
      height: 120px;
      margin-right: 30px;
      width: 120px;
    }

    &__image-button,
    &__image {
      background: var(--background-component-secondary);
      border: 0;
      border-radius: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
      outline: 0;
      width: 100%;

      &--placeholder {
        border: var(--border-component-primary);
      }
    }

    &__name {
      align-items: center;
      display: flex;
      font: var(--font-component-header);
      font-size: 24px;
      margin-bottom: 10px;

      &__edit-button {
        align-items: center;
        display: flex;
        height: 30px;
        margin-left: 10px;
        min-width: unset;
        padding: 6px;
        width: 30px;

        svg {
          height: 100%;
          width: 100%;
        }
      }
    }

    &__address-container {
      align-items: center;
      display: flex;
      height: 30px;
    }

    &__address {
      @include component;
      align-items: center;
      border: 0;
      display: flex;
      font-size: 12px;
      height: 100%;
      justify-content: center;
      padding: 0 10px;
    }

    &__address-copy {
      @include component;
      align-items: center;
      border: 0;
      display: flex;
      height: 30px;
      justify-content: center;
      margin-left: 5px;
      min-height: 30px;
      min-width: 30px;
      padding: 7px;
      width: 30px;

      svg {
        height: 100%;
        width: 100%;
      }
    }

    &__message {
      bottom: 0;
      color: var(--color-text-highlight);
      font-size: 12px;
      margin-left: 5px;
      position: absolute;
    }
  }


  &__badges {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    // sass-lint:disable no-misspelled-properties
    gap: 15px;
    // sass-lint:enable no-misspelled-properties
    margin-top: 25px;
  }

  &__badge {
    @include component;
    align-items: center;
    border: 0;
    display: flex;
    font-size: 16px;
    padding: 20px;

    &__label {
      margin-right: 30px;
    }
  }

  &__nav {
    justify-content: flex-start;
    margin: 25px 0 50px;

    &__link {
      margin: 0 30px 0 0;
      padding: 0;
    }
  }

  @media screen and (max-width: $tablet-breakpoint) {
    &__profile {
      flex-direction: column;
      margin: 0 auto;
      max-width: 400px;
      width: 100%;

      &__image-container {
        height: 150px;
        margin: 0 0 20px;
        width: 150px;
      }

      &__details {
        width: 100%;
      }

      &__name {
        justify-content: center;
        margin-bottom: 20px;
      }

      &__address-container {
        width: 100%;
      }

      &__address {
        flex: 1 1 0;
        width: 0;
      }
    }

    &__badges {
      // sass-lint:disable no-misspelled-properties
      gap: 10px;
      // sass-lint:enable no-misspelled-properties
      justify-content: center;
      margin: 10px auto;
      max-width: 400px;
    }

    &__badge {
      font-size: 14px;
      justify-content: space-around;
      padding: 15px;
      width: 100%;
    }

    &__nav {
      justify-content: center;
      margin: 40px 0 20px;
    }
  }
}

.username-modal-container {
  .modal__content {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
    overflow-y: hidden;
  }
}

.username-modal {
  &__inputs {
    margin: 20px auto 10px;
  }

  input {
    max-width: unset;
  }

  &__error-message {
    color: var(--color-text-error);
    margin-bottom: 10px;
    min-height: 30px;
    text-align: center;
    width: 100%;
  }
}
