.user {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  &__profile {
    align-items: center;
    display: flex;
    position: relative;
    width: max-content;

    &__image-container {
      border: 4px solid var(--color-component-bg-primary);
      border-radius: 100%;
      height: 150px;
      margin-right: 30px;
      overflow: hidden;
      width: 150px;
    }

    &__image-button,
    &__image {
      background: var(--color-user-profile-bg-secondary);
      border: 0;
      border-radius: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
      outline: 0;
      overflow: hidden;
      width: 100%;

      &--placeholder {
        border: var(--border-component-primary);
      }

      * {
        color: var(--color-component-text-secondary);
      }
    }

    &__name {
      align-items: center;
      display: flex;
      font: var(--font-component-header);
      font-size: 24px;
      margin-bottom: 10px;

      &__edit-button {
        align-items: center;
        display: flex;
        height: 30px;
        margin-left: 10px;
        min-height: 30px;
        min-width: 30px;
        padding: 6px;
        width: 30px;

        svg {
          height: 100%;
          width: 100%;
        }
      }
    }

    &__address-container {
      align-items: center;
      display: flex;
      height: 30px;
    }

    &__address {
      @include component;
      align-items: center;
      background: var(--color-user-profile-bg-secondary);
      border: 0;
      display: flex;
      font-size: 12px;
      height: 100%;
      justify-content: center;
      padding: 0 10px;

      * {
        color: var(--color-component-text-highlight);
      }
    }

    &__address-copy {
      @include component;
      align-items: center;
      background: var(--color-user-profile-bg-secondary);
      border: 0;
      display: flex;
      height: 30px;
      justify-content: center;
      margin-left: 5px;
      min-height: 30px;
      min-width: 30px;
      padding: 7px;
      width: 30px;

      svg {
        height: 100%;
        width: 100%;
      }
    }

    &__message {
      bottom: 0;
      color: var(--color-text-highlight);
      font-size: 12px;
      margin: 10px 0 0 5px;
    }
  }

  &__badges {
    align-items: center;
    display: flex;
    height: 60px;
    width: max-content;

    &__separator {
      background: var(--color-component-bg-highlight);
      height: 100%;
      margin: 0 25px;
      width: 3px;
    }
  }

  &__badge {
    text-align: center;

    &__label {
      color: var(--color-component-text-secondary);
      font: var(--font-component-misc);
      font-size: 16px;
      letter-spacing: 0.75px;
      padding-bottom: 5px;
    }

    &__value {
      color: var(--color-component-text-primary);
      font: var(--font-component-header);
      font-size: 24px;
    }
  }

  &__nav {
    justify-content: flex-start;
    margin: 25px 0;

    &__link {
      margin: 0;
      padding: 0;

      &:not(:last-child) {
        margin-right: 30px;
      }
    }
  }

  @media screen and (max-width: $tablet-breakpoint) {
    flex-direction: column;

    &__profile {
      flex-direction: column;
      margin: 0 auto;
      max-width: 400px;
      width: 100%;

      &__image-container {
        height: 150px;
        margin: 0 0 20px;
        width: 150px;
      }

      &__details {
        width: 100%;
      }

      &__name {
        font-size: 18px;
        justify-content: center;
        margin-bottom: 20px;
      }

      &__address-container {
        width: 100%;
      }

      &__address {
        flex: 1 1 0;
        width: 0;
      }

      &__message {
        text-align: center;
      }
    }

    &__badges {
      margin-top: 30px;
    }

    &__nav {
      justify-content: center;
      margin: 40px 0;
      display: flex;

      &__link {
        font-size: 12px;

        &:not(:last-child) {
          margin-right: 20px;
        }
      }
    }
  }
}

.username-modal-container {
  .modal__content {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
    overflow-y: hidden;
  }
}

.username-modal {
  &__inputs {
    margin: 20px auto 10px;
  }

  input {
    max-width: unset;
  }

  &__error-message {
    color: var(--color-text-error);
    margin-bottom: 10px;
    min-height: 30px;
    text-align: center;
    width: 100%;
  }
}
