$white: #fff;
$black: #000;
$lightergray: #f3f3f3;
$lightgray: #eee;
$mediumgray: #ccc;
$gray: #888;
$darkgray: #555;

$content-background: #fafafa;

$blue: #0885fb;


$breakpoint: 1000px;


@keyframes BackgroundGradient {
  0% {
    background-position: 0 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0 50%;
  }
}

@mixin background-gradient-loader {
  animation: BackgroundGradient 15s ease-in-out infinite;
  background: linear-gradient(-75deg, $lightgray, $white, $lightgray, $white, $lightgray);
  background-size: 400% 400%;
}
