$breakpoint: 1350px;
$intermediate-breakpoint: 1000px;
$tablet-breakpoint: 850px;
$mobile-breakpoint: 600px;

$black: #000000;
$white: #FFFFFF;

$action-height: 50px;

@mixin component {
  background: var(--background-component-primary);
  border: var(--border-component-primary);
  border-radius: var(--border-radius-component);
  color: var(--color-component-text-primary);
  font: var(--font-component-text);
}

@mixin modal {
  border: var(--border-modal-primary);
  background: var(--background-modal-primary);
  border-radius: var(--border-radius-modal);
}

@mixin aspect-ratio-sized($vwMax, $vhMax, $ratioWidth: 16, $ratioHeight: 9) {
  max-height: MIN(#{$vwMax} * #{$ratioHeight} / #{$ratioWidth}, #{$vhMax});
  max-width: MIN(#{$vwMax}, calc(#{$vhMax} * #{$ratioWidth} / #{$ratioHeight}));
  min-height: MIN(#{$vwMax} * #{$ratioHeight} / #{$ratioWidth}, #{$vhMax});
  min-width: MIN(#{$vwMax}, calc(#{$vhMax} * #{$ratioWidth} / #{$ratioHeight}));
}

@keyframes BackgroundGradient {
  0% {
    background-position: 0 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0 50%;
  }
}

@keyframes fadein {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes fadeout {
  from { opacity: 1; }
  to { opacity: 0; }
}

@mixin page-fade-in($duration: 0.5s, $animation: ease-in) {
  animation: $duration fadein $animation;
}

@mixin page-fade-out {
  animation: 0.5s fadeout ease-in;
}
