:root {
  --font-family-primary: 'Inter', sans-serif;
  --font-family-secondary: 'Inter', sans-serif;
  --font-family-tertiary: 'Inter', sans-serif;
}

@supports (font-variation-settings: normal) {
  :root {
    --font-family-primary: 'Inter var', sans-serif;
    --font-family-secondary: 'Inter var', sans-serif;
    --font-family-tertiary: 'Inter var', sans-serif;
  }
}
